Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

.circleci/config.yml:

version: 2.1

setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            kedro-telemetry/.* run-build-kedro-telemetry true
            kedro-docker/.* run-build-kedro-docker true
            kedro-airflow/.* run-build-kedro-airflow true
            kedro-datasets/.* run-build-kedro-datasets false
          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

adjust heap parameter
  kedro-datasets/docs/source/_templates/layout.html
Due: run-build-kedro-datasets=false

docs(datasets): fix spelling error in release notes
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

feat(datasets): support Polars lazy evaluation (#350)
  kedro-datasets/RELEASE.md
  kedro-datasets/docs/source/kedro_datasets.rst
  kedro-datasets/kedro_datasets/polars/__init__.py
  kedro-datasets/kedro_datasets/polars/eager_polars_dataset.py
  kedro-datasets/kedro_datasets/polars/lazy_polars_dataset.py
  kedro-datasets/pyproject.toml
  kedro-datasets/setup.py
  kedro-datasets/tests/polars/test_eager_polars_dataset.py
  kedro-datasets/tests/polars/test_lazy_polars_dataset.py
Due: run-build-kedro-datasets=false

Bump version
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/__init__.py
  kedro-datasets/tests/polars/test_lazy_polars_dataset.py
Due: run-build-kedro-datasets=false

build(datasets): Release `1.8.0` (#406)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/__init__.py
  kedro-datasets/tests/polars/test_lazy_polars_dataset.py
Due: run-build-kedro-datasets=false

bump version
  kedro-airflow/RELEASE.md
  kedro-airflow/kedro_airflow/__init__.py
Due: run-build-kedro-airflow

Update release notes
  kedro-airflow/RELEASE.md
Due: run-build-kedro-airflow

Bump version
  kedro-telemetry/RELEASE.md
  kedro-telemetry/kedro_telemetry/__init__.py
Due: run-build-kedro-telemetry

Bump version
  kedro-docker/RELEASE.md
  kedro-docker/kedro_docker/__init__.py
Due: run-build-kedro-docker

build(airflow): Release 0.7.0 (#407)
  kedro-airflow/RELEASE.md
  kedro-airflow/kedro_airflow/__init__.py
Due: run-build-kedro-airflow

build(telemetry): Release 0.3.0 (#408)
  kedro-telemetry/RELEASE.md
  kedro-telemetry/kedro_telemetry/__init__.py
Due: run-build-kedro-telemetry

fixes TF model load failure when model is saved as a TensorFlow Saved Model format
  kedro-datasets/kedro_datasets/tensorflow/tensorflow_model_dataset.py
Due: run-build-kedro-datasets=false

build(docker): Release 0.4.0 (#409)
  kedro-docker/RELEASE.md
  kedro-docker/kedro_docker/__init__.py
Due: run-build-kedro-docker

chore(datasets): lazily load `partitions` classes
  kedro-datasets/kedro_datasets/partitions/__init__.py
Due: run-build-kedro-datasets=false

Fix Lazy Polars dataset to use the new-style base class
  kedro-datasets/kedro_datasets/polars/lazy_polars_dataset.py
Due: run-build-kedro-datasets=false

Fix missing jQuery
  kedro-datasets/docs/source/conf.py
Due: run-build-kedro-datasets=false

test(datasets): run doctests to check examples run
  Makefile
Due: none

test(datasets): keep running tests amidst failures
  Makefile
Due: none

docs(datasets): format ManagedTableDataset example
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
Due: run-build-kedro-datasets=false

chore(datasets): ignore breaking mods for doctests
  Makefile
Due: none

style(airflow): black code in Kedro-Airflow README
  kedro-airflow/README.md
Due: run-build-kedro-airflow

docs(datasets): fix example syntax, and autoformat
  kedro-datasets/kedro_datasets/partitions/incremental_dataset.py
  kedro-datasets/kedro_datasets/partitions/partitioned_dataset.py
  kedro-datasets/kedro_datasets/polars/lazy_polars_dataset.py
Due: run-build-kedro-datasets=false

docs(datasets): remove `kedro.extras.datasets` ref
  kedro-datasets/kedro_datasets/dask/parquet_dataset.py
Due: run-build-kedro-datasets=false

docs(datasets): remove `>>> ` prefix for YAML code
  kedro-datasets/kedro_datasets/pandas/gbq_dataset.py
Due: run-build-kedro-datasets=false

docs(datasets): remove `kedro.extras.datasets` ref
  kedro-datasets/kedro_datasets/geopandas/geojson_dataset.py
  kedro-datasets/kedro_datasets/spark/deltatable_dataset.py
Due: run-build-kedro-datasets=false

docs(datasets): replace `data_set`s with `dataset`s
  kedro-datasets/kedro_datasets/partitions/incremental_dataset.py
  kedro-datasets/kedro_datasets/polars/lazy_polars_dataset.py
Due: run-build-kedro-datasets=false

chore(datasets): undo changes for running doctests
  Makefile
Due: none

revert(datasets): undo lazily load `partitions` classes
  kedro-datasets/kedro_datasets/partitions/__init__.py
Due: run-build-kedro-datasets=false

revert(airflow): undo black code in Kedro-Airflow README
  kedro-airflow/README.md
Due: run-build-kedro-airflow

Update kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
Due: run-build-kedro-datasets=false

style(airflow): blacken README.md of Kedro-Airflow
  kedro-airflow/README.md
Due: run-build-kedro-airflow

refactor(datasets): run doctests separately
  Makefile
Due: none

Drop support for Python 3.7 on kedro-datasets
  kedro-datasets/README.md
  kedro-datasets/RELEASE.md
  kedro-datasets/pyproject.toml
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

fixes code formatting
  kedro-datasets/kedro_datasets/tensorflow/tensorflow_model_dataset.py
Due: run-build-kedro-datasets=false

style(airflow): blacken README.md of Kedro-Airflow (#418)
  kedro-airflow/README.md
Due: run-build-kedro-airflow

fix(datasets): Fix missing jQuery (#414)
  kedro-datasets/docs/source/conf.py
Due: run-build-kedro-datasets=false

Update release notes
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

fix(datasets): Fix Lazy Polars dataset to use the new-style base class (#413)
  kedro-datasets/kedro_datasets/polars/lazy_polars_dataset.py
Due: run-build-kedro-datasets=false

chore(datasets): lazily load `partitions` classes (#411)
  kedro-datasets/kedro_datasets/partitions/__init__.py
Due: run-build-kedro-datasets=false

separate dataset-doctests
  Makefile
Due: none
