Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

fix(datasets): use kwarg for Ibis `read_*` methods (#1005)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/ibis/file_dataset.py
Due: run-build-kedro-datasets=false

build(datasets): pin PyArrow until `19.0.1` is out (#1006)
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

build(datasets): update list of extras for Ibis 10 (#1003)
  kedro-datasets/RELEASE.md
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

chore: remove internal devtools from release notes (#1004)
  kedro-airflow/RELEASE.md
  kedro-datasets/RELEASE.md
  kedro-docker/RELEASE.md
  kedro-telemetry/RELEASE.md
Due: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

998: Changelog
  kedro-airflow/RELEASE.md
Due: run-build-kedro-airflow

998: Tests to ensure that MemoryDatasets are passed in mocked data catalog
  kedro-airflow/tests/test_node_grouping.py
Due: run-build-kedro-airflow

998: Fixed case where MemoryDatasets in catalog wouldn't trigger `_is_memory_dataset`
  kedro-airflow/kedro_airflow/grouping.py
Due: run-build-kedro-airflow

998: Linting fixes
  kedro-airflow/tests/test_node_grouping.py
Due: run-build-kedro-airflow

build(datasets): update list of extras for Ibis 10 (#1003)
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

chore: remove internal devtools from release notes (#1004)
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

998: Changed function according to PR comments
  kedro-airflow/kedro_airflow/grouping.py
Due: run-build-kedro-airflow

998: Tweaked release
  kedro-airflow/RELEASE.md
Due: run-build-kedro-airflow

Create Enhancing Kedro Documentation: Running SQL Queries with Ibis
  Enhancing Kedro Documentation: Running SQL Queries with Ibis
Due: none

Update RELEASE.md
  kedro-airflow/RELEASE.md
Due: run-build-kedro-airflow

fix(airflow): fixed issue with _is_memory_dataset (#1011)
  kedro-airflow/RELEASE.md
  kedro-airflow/kedro_airflow/grouping.py
  kedro-airflow/tests/test_node_grouping.py
Due: run-build-kedro-airflow

fix ruff formatting
  kedro-datasets/kedro_datasets/spark/spark_gbq_dataset.py
  kedro-datasets/tests/spark/test_spark_gbq_dataset.py
Due: run-build-kedro-datasets=false

add spark_gbq dataset in ignore list for tests requiring cloud setups
  Makefile
Due: none

fix _fs_protocol attr
  kedro-datasets/kedro_datasets/spark/spark_gbq_dataset.py
Due: run-build-kedro-datasets=false

add tests for raising error based on sql or filepath args
  kedro-datasets/tests/spark/test_spark_gbq_dataset.py
Due: run-build-kedro-datasets=false

add tests for sql filepath load
  kedro-datasets/kedro_datasets/spark/spark_gbq_dataset.py
  kedro-datasets/tests/spark/test_spark_gbq_dataset.py
Due: run-build-kedro-datasets=false

fix ruff format
  kedro-datasets/tests/spark/test_spark_gbq_dataset.py
Due: run-build-kedro-datasets=false

get coverage to 100% - add tests for viewsEnabled Py4JJavaError
  kedro-datasets/tests/spark/test_spark_gbq_dataset.py
Due: run-build-kedro-datasets=false

fix mypy issue
  kedro-datasets/kedro_datasets/spark/spark_gbq_dataset.py
  kedro-datasets/tests/spark/test_spark_gbq_dataset.py
Due: run-build-kedro-datasets=false

Add StudyDataset
  kedro-datasets/kedro_datasets/optuna/__init__.py
  kedro-datasets/kedro_datasets/optuna/study_dataset.py
  kedro-datasets/pyproject.toml
  kedro-datasets/tests/optuna/__init__.py
Due: run-build-kedro-datasets=false

Lint
  kedro-datasets/kedro_datasets/optuna/__init__.py
  kedro-datasets/kedro_datasets/optuna/study_dataset.py
Due: run-build-kedro-datasets=false

Improve docs and add it to API ref and IDE validation schema
  kedro-datasets/docs/source/api/kedro_datasets.rst
  kedro-datasets/kedro_datasets/optuna/study_dataset.py
  kedro-datasets/static/jsonschema/kedro-catalog-0.19.json
Due: run-build-kedro-datasets=false

Move to experimental
  kedro-datasets/docs/source/api/kedro_datasets.rst
  kedro-datasets/docs/source/api/kedro_datasets_experimental.rst
  kedro-datasets/kedro_datasets_experimental/optuna/__init__.py
  kedro-datasets/kedro_datasets_experimental/optuna/study_dataset.py
  kedro-datasets/kedro_datasets_experimental/tests/optuna/__init__.py
Due: run-build-kedro-datasets=false

Remove _VERBOSE
  kedro-docker/kedro_docker/plugin.py
Due: run-build-kedro-docker

Update RELEASE.md
  kedro-docker/RELEASE.md
Due: run-build-kedro-docker

rename and deprecate old matplotlib_writer
  kedro-datasets/kedro_datasets/matplotlib/__init__.py
  kedro-datasets/kedro_datasets/matplotlib/matplotlib_dataset.py
  kedro-datasets/kedro_datasets/matplotlib/matplotlib_writer.py
Due: run-build-kedro-datasets=false

Update test_matplotlib_dataset.py
  kedro-datasets/tests/matplotlib/test_matplotlib_dataset.py
Due: run-build-kedro-datasets=false

lint
  kedro-datasets/kedro_datasets/matplotlib/__init__.py
  kedro-datasets/kedro_datasets/matplotlib/matplotlib_writer.py
  kedro-datasets/tests/matplotlib/test_matplotlib_dataset.py
Due: run-build-kedro-datasets=false

chore: Remove `_VERBOSE` from kedro-docker (#1026)
  kedro-docker/RELEASE.md
  kedro-docker/kedro_docker/plugin.py
Due: run-build-kedro-docker

fix docs
  kedro-datasets/docs/source/api/kedro_datasets.rst
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

secrets allowlist
  kedro-datasets/tests/matplotlib/test_matplotlib_dataset.py
Due: run-build-kedro-datasets=false

Path conditions:
  run-build-kedro-telemetry: any of: kedro-telemetry/.*
  run-build-kedro-docker: any of: kedro-docker/.*
  run-build-kedro-airflow: any of: kedro-airflow/.*
  run-build-kedro-datasets=false: any of: kedro-datasets/.*
