Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

.circleci/config.yml:

version: 2.1

setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            kedro-telemetry/.* run-build-kedro-telemetry true
            kedro-docker/.* run-build-kedro-docker true
            kedro-airflow/.* run-build-kedro-airflow true
            kedro-datasets/.* run-build-kedro-datasets false
          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

chore(datasets): Normalise optional requirements names and move them to `pyproject.toml` (#570)
  kedro-datasets/RELEASE.md
  kedro-datasets/pyproject.toml
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

Upgrade to latest version of uv
  .github/workflows/e2e-tests.yml
  .github/workflows/kedro-datasets.yml
  .github/workflows/lint.yml
  .github/workflows/unit-tests.yml
Due: none

Fix pyproject.toml
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Make docs check plugin-specific
  .github/workflows/kedro-datasets.yml
  Makefile
Due: none

Fix e2e test
  kedro-docker/features/docker.feature
Due: run-build-kedro-docker

ci(datasets): Accelerate CI using `uv` (#569)
  .github/workflows/e2e-tests.yml
  .github/workflows/kedro-datasets.yml
  .github/workflows/lint.yml
  .github/workflows/unit-tests.yml
  Makefile
  kedro-datasets/kedro_datasets/huggingface/hugging_face_dataset.py
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

build(datasets): fix typos in definition of extras
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

ci(docker): Only run one pipeline with the `ParallelRunner` in the e2e test (#591)
  kedro-docker/features/docker.feature
Due: run-build-kedro-docker

fix(datasets): sql_dataset load_args:params must be a tuple (MSSQL only) (#556)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
  kedro-datasets/tests/pandas/test_sql_dataset.py
Due: run-build-kedro-datasets=false

Separate pandas-sqldataset and pandas-gbldataset
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Extend preview to Parquet
  kedro-datasets/kedro_datasets/pandas/parquet_dataset.py
Due: run-build-kedro-datasets=false

build(datasets): fix typos in definition of extras (#593)
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Fix incorrect node names + switch e2e tests to spaceflights-pandas
  kedro-airflow/features/airflow.feature
  kedro-airflow/features/steps/cli_steps.py
  kedro-airflow/kedro_airflow/airflow_dag_template.j2
Due: run-build-kedro-airflow

Not switch e2e tests starters for now
  kedro-airflow/kedro_airflow/airflow_dag_template.j2
Due: run-build-kedro-airflow

Revert changes to e2e tests
  kedro-airflow/features/airflow.feature
  kedro-airflow/features/steps/cli_steps.py
  kedro-airflow/kedro_airflow/airflow_dag_template.j2
Due: run-build-kedro-airflow

chore(datasets): updated & standardized RELEASE.md
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

test(datasets): implement save and reload for Ibis
  kedro-datasets/pyproject.toml
  kedro-datasets/tests/ibis/__init__.py
  kedro-datasets/tests/ibis/test_table_dataset.py
Due: run-build-kedro-datasets=false

feat(datasets): add dataset to load/save with Ibis
  kedro-datasets/kedro_datasets/ibis/__init__.py
  kedro-datasets/kedro_datasets/ibis/table_dataset.py
Due: run-build-kedro-datasets=false

build(datasets): include Ibis backend requirements
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

test(datasets): test extra load and save args work
  kedro-datasets/tests/ibis/test_table_dataset.py
Due: run-build-kedro-datasets=false

test(datasets): verify config and materializations
  kedro-datasets/tests/ibis/test_table_dataset.py
Due: run-build-kedro-datasets=false

test(datasets): check `ibis.TableDataset.exists()`
  kedro-datasets/tests/ibis/test_table_dataset.py
Due: run-build-kedro-datasets=false

fix(airflow): Fix incorrect node names (#594)
  kedro-airflow/kedro_airflow/airflow_dag_template.j2
Due: run-build-kedro-airflow

Change to unique uuid
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/pyproject.toml
Due: run-build-kedro-telemetry

Update sql_dataset.py
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
Due: run-build-kedro-datasets=false

Fix tests
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

fix tests and empty value
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

fix lint
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Reformat _get_or_create_uuid to not be entirely inside the try block
  MagicMock/user_config_dir()/140095031570448/telemetry.conf
Due: none

Reformat _get_or_create_uuid to not be entirely inside the try block
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Remove incorrectly sent file
  MagicMock/user_config_dir()/140095031570448/telemetry.conf
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Update RELEASE.md
  kedro-telemetry/RELEASE.md
Due: run-build-kedro-telemetry

Fixed attribute name typo in HFDataset's _load() method, now correctly accessing self._dataset_kwargs instead of self._pipeline_kwargs.
  kedro-datasets/kedro_datasets/huggingface/hugging_face_dataset.py
Due: run-build-kedro-datasets=false

corrections after applying the `make plugin=kedro-datasets lint`
  kedro-datasets/kedro_datasets/netcdf/__init__.py
  kedro-datasets/kedro_datasets/netcdf/netcdf_dataset.py
Due: run-build-kedro-datasets=false

dtypes support when reading csv files into Polars
  kedro-datasets/kedro_datasets/polars/csv_dataset.py
  kedro-datasets/kedro_datasets/polars/eager_polars_dataset.py
  kedro-datasets/kedro_datasets/polars/lazy_polars_dataset.py
Due: run-build-kedro-datasets=false

Remove bootstrap_project
  kedro-airflow/kedro_airflow/plugin.py
Due: run-build-kedro-airflow

Refactor
  kedro-airflow/kedro_airflow/plugin.py
Due: run-build-kedro-airflow

update preview method for parquetdataset
  kedro-datasets/kedro_datasets/pandas/parquet_dataset.py
Due: run-build-kedro-datasets=false
