Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

.circleci/config.yml:

version: 2.1

setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            kedro-telemetry/.* run-build-kedro-telemetry true
            kedro-docker/.* run-build-kedro-docker true
            kedro-airflow/.* run-build-kedro-airflow true
            kedro-datasets/.* run-build-kedro-datasets false
          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

Avoid GPL dependency (unidecode)
  .circleci/continue_config.yml
Due: none

Update continue_config.yml
  .circleci/continue_config.yml
Due: none

Force install GPL dependency (unidecode)
  .circleci/continue_config.yml
Due: none

Unbound `python-slugify` for Airflow compatibility
  kedro-airflow/requirements.txt
Due: run-build-kedro-airflow

Drop the `sqlalchemy` bound from test requirements
  kedro-airflow/test_requirements.txt
Due: run-build-kedro-airflow

Change imports to local from package
  kedro-datasets/kedro/datasets/spark/deltatable_dataset.py
  kedro-datasets/kedro/datasets/tracking/__init__.py
  kedro-datasets/kedro/datasets/tracking/json_dataset.py
  kedro-datasets/kedro/datasets/tracking/metrics_dataset.py
Due: run-build-kedro-datasets=false

Use relative imports to force local import
  kedro-datasets/tests/api/test_api_dataset.py
  kedro-datasets/tests/bioinformatics/test_biosequence_dataset.py
  kedro-datasets/tests/dask/test_parquet_dataset.py
  kedro-datasets/tests/email/test_message_dataset.py
  kedro-datasets/tests/geojson/test_geojson_dataset.py
  kedro-datasets/tests/holoviews/test_holoviews_writer.py
  kedro-datasets/tests/json/test_json_dataset.py
  kedro-datasets/tests/matplotlib/test_matplotlib_writer.py
  kedro-datasets/tests/networkx/test_gml_dataset.py
  kedro-datasets/tests/networkx/test_graphml_dataset.py
  kedro-datasets/tests/networkx/test_json_dataset.py
  kedro-datasets/tests/pandas/test_csv_dataset.py
  kedro-datasets/tests/pandas/test_excel_dataset.py
  kedro-datasets/tests/pandas/test_feather_dataset.py
  kedro-datasets/tests/pandas/test_gbq_dataset.py
  kedro-datasets/tests/pandas/test_generic_dataset.py
  kedro-datasets/tests/pandas/test_hdf_dataset.py
  kedro-datasets/tests/pandas/test_json_dataset.py
  kedro-datasets/tests/pandas/test_parquet_dataset.py
  kedro-datasets/tests/pandas/test_sql_dataset.py
  kedro-datasets/tests/pandas/test_xml_dataset.py
  kedro-datasets/tests/pickle/test_pickle_dataset.py
  kedro-datasets/tests/pillow/test_image_dataset.py
  kedro-datasets/tests/plotly/test_json_dataset.py
  kedro-datasets/tests/plotly/test_plotly_dataset.py
  kedro-datasets/tests/redis/test_redis_dataset.py
  kedro-datasets/tests/spark/test_deltatable_dataset.py
  kedro-datasets/tests/spark/test_spark_dataset.py
  kedro-datasets/tests/spark/test_spark_hive_dataset.py
  kedro-datasets/tests/spark/test_spark_jdbc_dataset.py
  kedro-datasets/tests/tensorflow/test_tensorflow_model_dataset.py
  kedro-datasets/tests/text/test_text_dataset.py
  kedro-datasets/tests/tracking/test_json_dataset.py
  kedro-datasets/tests/tracking/test_metrics_dataset.py
  kedro-datasets/tests/yaml/test_yaml_dataset.py
Due: run-build-kedro-datasets=false

Remove identity field in case no username can be found
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Fix failing unit test
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Add timeout to heap post request
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Add gdrive to CLOUD_PROTOCOLS list (#1708)
  kedro/io/core.py
Due: none

Add entry to RELEASE.md
  kedro-telemetry/RELEASE.md
Due: run-build-kedro-telemetry

Feat/replace identity in kedro telemetry with unique username (#58)
  .circleci/continue_config.yml
  kedro-telemetry/RELEASE.md
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Update release note
  kedro-telemetry/RELEASE.md
Due: run-build-kedro-telemetry

Update Error message for `VersionNotFoundError` to handle Permission related issues better (#1881)
  kedro/io/core.py
Due: none

1st go to send event to HEAP
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/setup.py
Due: run-build-kedro-telemetry

Refactor hash functions
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Add statistics to kedro-telemetry
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Re-organize the order of the hooks
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Fix the unit tests
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

add test
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Fix typo ...
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Fix Linting
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Fix docstrings
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Fix docs a bit
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Refactor the test fixture a bit
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Support non CLI kedro run workflow and add test
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Some refactoring work according to the comments
  kedro-telemetry/RELEASE.md
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/setup.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Kill the global project_properties and fix tests
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Fix typo - too many of them...
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

typo
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Update kedro-docker/kedro_docker/plugin.py
  kedro-docker/kedro_docker/plugin.py
Due: run-build-kedro-docker

remove unused imports
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Expand telemetry to better understand size of kedro projects in the wild (#62)
  kedro-telemetry/RELEASE.md
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/setup.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Remove redundant `resolve_load_version` call (#1911)
  kedro/io/core.py
Due: none

Sync tests from kedro to make sure tests doesn't fail
  kedro-datasets/tests/holoviews/test_holoviews_writer.py
  kedro-datasets/tests/matplotlib/test_matplotlib_writer.py
Due: run-build-kedro-datasets=false

Linting
  kedro-datasets/kedro_datasets/spark/deltatable_dataset.py
  kedro-datasets/tests/pandas/test_gbq_dataset.py
  kedro-datasets/tests/pandas/test_sql_dataset.py
  kedro-datasets/tests/spark/test_spark_dataset.py
  kedro-datasets/tests/spark/test_spark_jdbc_dataset.py
Due: run-build-kedro-datasets=false
