Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

.circleci/config.yml:

version: 2.1

setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            kedro-telemetry/.* run-build-kedro-telemetry true
            kedro-docker/.* run-build-kedro-docker true
            kedro-airflow/.* run-build-kedro-airflow true
            kedro-datasets/.* run-build-kedro-datasets false
          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

Update automated mypy check 2
  .github/workflows/lint.yml
Due: none

build(telemetry): Release 0.4.0 (#648)
  kedro-telemetry/RELEASE.md
  kedro-telemetry/kedro_telemetry/__init__.py
Due: run-build-kedro-telemetry

Bump version
  kedro-docker/RELEASE.md
  kedro-docker/kedro_docker/__init__.py
Due: run-build-kedro-docker

build(docker): Release 0.6.0 (#659)
  kedro-docker/RELEASE.md
  kedro-docker/kedro_docker/__init__.py
Due: run-build-kedro-docker

docs(datasets): upgrade `sphinx-autodoc-typehints`
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

docs(datasets): include `ibis.TableDatset` in docs
  kedro-datasets/docs/source/api/kedro_datasets.rst
Due: run-build-kedro-datasets=false

revert(datasets): remove the `TYPE_CHECKING` guard
  kedro-datasets/docs/source/conf.py
  kedro-datasets/kedro_datasets/huggingface/transformer_pipeline_dataset.py
  kedro-datasets/kedro_datasets/ibis/table_dataset.py
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

docs(datasets): add `BaseBackend` to Sphinx config
  kedro-datasets/docs/source/conf.py
  kedro-datasets/kedro_datasets/ibis/table_dataset.py
Due: run-build-kedro-datasets=false

docs(datasets): add `ibis.TableDataset` to toctree (#657)
  kedro-datasets/docs/source/api/kedro_datasets.rst
  kedro-datasets/docs/source/conf.py
  kedro-datasets/kedro_datasets/huggingface/transformer_pipeline_dataset.py
Due: run-build-kedro-datasets=false

Update makefile command
  Makefile
Due: none

some more changes
  kedro-datasets/kedro_datasets/_typing.py
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
  kedro-datasets/kedro_datasets/pandas/deltatable_dataset.py
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Try fixng unit tests
  kedro-datasets/kedro_datasets/_typing.py
  kedro-datasets/tests/json/test_json_dataset.py
  kedro-datasets/tests/matplotlib/test_matplotlib_writer.py
  kedro-datasets/tests/pandas/test_csv_dataset.py
  kedro-datasets/tests/pandas/test_excel_dataset.py
  kedro-datasets/tests/pandas/test_json_dataset.py
  kedro-datasets/tests/pandas/test_parquet_dataset.py
  kedro-datasets/tests/plotly/test_json_dataset.py
  kedro-datasets/tests/plotly/test_plotly_dataset.py
Due: run-build-kedro-datasets=false

Fix tests
  kedro-datasets/tests/pandas/test_json_dataset.py
Due: run-build-kedro-datasets=false

More errors
  kedro-datasets/kedro_datasets/_typing.py
  kedro-datasets/kedro_datasets/json/json_dataset.py
  kedro-datasets/kedro_datasets/matplotlib/matplotlib_writer.py
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_streaming_dataset.py
  kedro-datasets/kedro_datasets/tracking/json_dataset.py
  kedro-datasets/kedro_datasets/tracking/metrics_dataset.py
  kedro-datasets/kedro_datasets/video/video_dataset.py
Due: run-build-kedro-datasets=false

More fixes
  kedro-datasets/kedro_datasets/netcdf/netcdf_dataset.py
  kedro-datasets/kedro_datasets/pandas/deltatable_dataset.py
  kedro-datasets/tests/pandas/test_deltatable_dataset.py
Due: run-build-kedro-datasets=false

fix tests
  kedro-datasets/tests/pandas/test_deltatable_dataset.py
Due: run-build-kedro-datasets=false

fix tests
  .coverage
  coverage.xml
  kedro-datasets/kedro_datasets/pandas/deltatable_dataset.py
Due: run-build-kedro-datasets=false

fix tests
  kedro-datasets/kedro_datasets/api/api_dataset.py
  kedro-datasets/kedro_datasets/netcdf/netcdf_dataset.py
Due: run-build-kedro-datasets=false

fix tests
  kedro-datasets/kedro_datasets/netcdf/netcdf_dataset.py
Due: run-build-kedro-datasets=false

bump docs build
  kedro-datasets/kedro_datasets/netcdf/netcdf_dataset.py
Due: run-build-kedro-datasets=false

bump docs build
  .github/workflows/kedro-datasets.yml
Due: none

bump docs build
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

unbump docs build
  .github/workflows/kedro-datasets.yml
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Delete coverage.xml
  coverage.xml
Due: none

cleanup
  .coverage
  mypy.ini
Due: none

Get rid of union
  kedro-datasets/kedro_datasets/matplotlib/matplotlib_writer.py
  kedro-datasets/kedro_datasets/pandas/deltatable_dataset.py
Due: run-build-kedro-datasets=false

RTD build
  kedro-datasets/.readthedocs.yaml
Due: run-build-kedro-datasets=false

fix test
  .coverage
  kedro-datasets/kedro_datasets/matplotlib/matplotlib_writer.py
Due: run-build-kedro-datasets=false

Update memory dataset checking
  kedro-airflow/kedro_airflow/grouping.py
Due: run-build-kedro-airflow

Clean up python example.
  kedro-datasets/kedro_datasets/langchain/_cohere.py
Due: run-build-kedro-datasets=false

Built adjacency matrix
  kedro-airflow/kedro_airflow/grouping.py
Due: run-build-kedro-airflow

Implemented connectivity components search
  kedro-airflow/kedro_airflow/grouping.py
Due: run-build-kedro-airflow

Replaced sort with topological order
  kedro-airflow/kedro_airflow/plugin.py
Due: run-build-kedro-airflow

Removed debug output
  kedro-airflow/kedro_airflow/grouping.py
  kedro-airflow/kedro_airflow/plugin.py
Due: run-build-kedro-airflow

Fixed pre-commit errors
  kedro-airflow/kedro_airflow/grouping.py
  kedro-datasets/kedro_datasets/huggingface/transformer_pipeline_dataset.py
Due: run-build-kedro-airflow, run-build-kedro-datasets=false

Updated unit tests for node grouping
  kedro-airflow/tests/test_node_grouping.py
Due: run-build-kedro-airflow

Refactored grouping function
  kedro-airflow/kedro_airflow/grouping.py
  kedro-airflow/tests/test_plugin.py
Due: run-build-kedro-airflow

Added clarification comments
  kedro-airflow/kedro_airflow/grouping.py
Due: run-build-kedro-airflow

Updated unit test
  kedro-airflow/tests/test_plugin.py
Due: run-build-kedro-airflow
