Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

.circleci/config.yml:

version: 2.1

setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            kedro-telemetry/.* run-build-kedro-telemetry true
            kedro-docker/.* run-build-kedro-docker true
            kedro-airflow/.* run-build-kedro-airflow true
            kedro-datasets/.* run-build-kedro-datasets false
          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

fix lint issue
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/test_masking.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

update class documentation
  kedro-datasets/kedro_datasets/spark/spark_streaming_dataset.py
Due: run-build-kedro-datasets=false

Remove metadata from non-dataset classes
  kedro-datasets/kedro_datasets/video/video_dataset.py
Due: run-build-kedro-datasets=false

Add SVMLightDataSet init docstring
  kedro-datasets/kedro_datasets/svmlight/svmlight_dataset.py
Due: run-build-kedro-datasets=false

Lint
  kedro-datasets/kedro_datasets/svmlight/svmlight_dataset.py
Due: run-build-kedro-datasets=false

release script
  .github/workflows/check-release.yml
  .github/workflows/kedro-datasets.yml
Due: none

new
  .github/workflows/check-release.yml
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

test pypi
  .github/workflows/check-release.yml
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

pypi release test
  .github/workflows/check-release.yml
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

Update check-release.yml
  .github/workflows/check-release.yml
Due: none

Update __init__.py
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

package path
  .github/workflows/check-release.yml
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

echo
  .github/workflows/check-release.yml
Due: none

remove echo on package
  .github/workflows/check-release.yml
Due: none

add build
  .github/workflows/check-release.yml
Due: none

push test
  .github/workflows/check-release.yml
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

existing version on pypi
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

check if true
  .github/workflows/check-release.yml
Due: none

fix conditional
  .github/workflows/check-release.yml
Due: none

test release
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

fix error
  .github/workflows/check-release.yml
Due: none

test push with existing version
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

test conditional
  .github/workflows/check-release.yml
Due: none

test conditional with new release version
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

test conditional again with new version
  .github/workflows/check-release.yml
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

existing version
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

ADD GITHUB release workflow
  .github/workflows/check-release.yml
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

make env variables strings
  .github/workflows/check-release.yml
Due: none

use v6 and do new release
  .github/workflows/check-release.yml
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

release telemetry
  kedro-telemetry/kedro_telemetry/__init__.py
Due: run-build-kedro-telemetry

Update __init__.py
  kedro-telemetry/kedro_telemetry/__init__.py
Due: run-build-kedro-telemetry

revert kedro-datasets release
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

airflow release
  .github/workflows/check-release.yml
  kedro-airflow/kedro_airflow/__init__.py
  kedro-telemetry/kedro_telemetry/__init__.py
Due: run-build-kedro-telemetry, run-build-kedro-airflow

Update __init__.py
  kedro-airflow/kedro_airflow/__init__.py
Due: run-build-kedro-airflow
