Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

added a val func to check if location is provided if table does not exist
  kedro-datasets/kedro_datasets/databricks/_base_table_dataset.py
  kedro-datasets/kedro_datasets/databricks/external_table_dataset.py
Due: run-build-kedro-datasets=false

extended the _validate_write_mode() func to include formats
  kedro-datasets/kedro_datasets/databricks/_base_table_dataset.py
Due: run-build-kedro-datasets=false

introduced a location attr for creating ext tables
  kedro-datasets/kedro_datasets/databricks/_base_table_dataset.py
Due: run-build-kedro-datasets=false

refactored ManagedTable using BaseTable
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
Due: run-build-kedro-datasets=false

updated the base and managed datasets with all attrs
  kedro-datasets/kedro_datasets/databricks/_base_table_dataset.py
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
Due: run-build-kedro-datasets=false

moved the val func for checking if write_mode supported to ExternalTable
  kedro-datasets/kedro_datasets/databricks/_base_table_dataset.py
  kedro-datasets/kedro_datasets/databricks/external_table_dataset.py
Due: run-build-kedro-datasets=false

added a val func to check for format when using upsert mode
  kedro-datasets/kedro_datasets/databricks/_base_table_dataset.py
Due: run-build-kedro-datasets=false

updated the format attrs of ManagedTable
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
Due: run-build-kedro-datasets=false

added the version attr to BaseTableDataset and updated load()
  kedro-datasets/kedro_datasets/databricks/_base_table_dataset.py
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
Due: run-build-kedro-datasets=false

reverted the default write_mode back to None
  kedro-datasets/kedro_datasets/databricks/_base_table_dataset.py
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
Due: run-build-kedro-datasets=false

added a base table implementation
  kedro-datasets/kedro_datasets/databricks/base_table_dataset.py
Due: run-build-kedro-datasets=false

fix(telemetry): Avoid eager loading the whole KedroCLI for masking (#824)
  kedro-telemetry/kedro_telemetry/masking.py
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/test_masking.py
Due: run-build-kedro-telemetry

fix(datasets): Cleanup of dependency (#822)
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Set default identity
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Updated test_before_command_run_anonymous
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Fix lint
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

fix(telemetry): Set default identity value (#830)
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

replace newtype with typedDict
  kedro-datasets/kedro_datasets/_typing.py
Due: run-build-kedro-datasets=false

remove mocked_consent_check_call assert
  kedro-telemetry/tests/integration/test_telemetry.py
Due: run-build-kedro-telemetry

feat(datasets): add pandas.DeltaSharingDataset
  kedro-datasets/kedro_datasets_experimental/pandas/__init__.py
  kedro-datasets/kedro_datasets_experimental/pandas/delta_sharing_dataset.py
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

remove csv from catalog
  kedro-telemetry/tests/integration/dummy-project/conf/base/catalog.yml
  kedro-telemetry/tests/integration/dummy-project/src/dummy_project/pipelines/data_processing/pipeline.py
Due: run-build-kedro-telemetry

remove csv from catalog
  kedro-telemetry/tests/integration/dummy-project/src/dummy_project/pipelines/data_processing/pipeline.py
Due: run-build-kedro-telemetry

Clean from csv
  kedro-telemetry/tests/integration/dummy-project/data/01_raw/.gitkeep
  kedro-telemetry/tests/integration/dummy-project/data/01_raw/dummy.csv
  kedro-telemetry/tests/integration/test_telemetry.py
Due: run-build-kedro-telemetry

Remove consent check assert
  kedro-telemetry/tests/integration/test_telemetry.py
Due: run-build-kedro-telemetry

add an obvious fail case, but still pass
  kedro-telemetry/tests/integration/test_telemetry.py
Due: run-build-kedro-telemetry

fix test
  kedro-telemetry/tests/integration/test_telemetry.py
Due: run-build-kedro-telemetry

Update Lazy Polars to support streaming and in-built parquet support
  kedro-datasets/kedro_datasets/polars/lazy_polars_dataset.py
Due: run-build-kedro-datasets=false

Modify tests to fail
  kedro-telemetry/tests/integration/test_telemetry.py
Due: run-build-kedro-telemetry

Remove excess files
  kedro-telemetry/tests/integration/dummy-project/README.md
  kedro-telemetry/tests/integration/dummy-project/stats.json
Due: run-build-kedro-telemetry

added a validation check for overwrites on ext tables
  kedro-datasets/kedro_datasets/databricks/external_table_dataset.py
Due: run-build-kedro-datasets=false

removed mentions of a default write mode
  kedro-datasets/kedro_datasets/databricks/_base_table_dataset.py
  kedro-datasets/kedro_datasets/databricks/external_table_dataset.py
Due: run-build-kedro-datasets=false

removed the func for adding options to writer for better readability
  kedro-datasets/kedro_datasets/databricks/_base_table_dataset.py
Due: run-build-kedro-datasets=false

implemented the _save_overwrite() func for ext tables
  kedro-datasets/kedro_datasets/databricks/external_table_dataset.py
Due: run-build-kedro-datasets=false

improved the docstrings
  kedro-datasets/kedro_datasets/databricks/_base_table_dataset.py
  kedro-datasets/kedro_datasets/databricks/external_table_dataset.py
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
Due: run-build-kedro-datasets=false

fixed lint issues
  kedro-datasets/kedro_datasets/databricks/_base_table_dataset.py
  kedro-datasets/kedro_datasets/databricks/external_table_dataset.py
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
Due: run-build-kedro-datasets=false

fix(datasets): Use `put()` and `get()` instead of `copy` in `TensorFlowModelDataset`'s `_save` and `_load` methods.
  kedro-datasets/kedro_datasets/tensorflow/tensorflow_model_dataset.py
Due: run-build-kedro-datasets=false

fixed a couple of bugs in the Table classes
  kedro-datasets/kedro_datasets/databricks/_base_table_dataset.py
  kedro-datasets/kedro_datasets/databricks/external_table_dataset.py
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
Due: run-build-kedro-datasets=false

updated the _save_overwrite() logic for ext tables
  kedro-datasets/kedro_datasets/databricks/external_table_dataset.py
Due: run-build-kedro-datasets=false

Replace type checking with CatalogProtocol
  kedro-airflow/kedro_airflow/grouping.py
Due: run-build-kedro-airflow

Remove last test
  kedro-telemetry/tests/integration/test_telemetry.py
Due: run-build-kedro-telemetry

Path conditions:
  run-build-kedro-telemetry: any of: kedro-telemetry/.*
  run-build-kedro-docker: any of: kedro-docker/.*
  run-build-kedro-airflow: any of: kedro-airflow/.*
  run-build-kedro-datasets=false: any of: kedro-datasets/.*
