Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

lint
  kedro-datasets/tests/json/test_json_dataset.py
  kedro-datasets/tests/pandas/test_parquet_dataset.py
Due: run-build-kedro-datasets=false

feat(telemetry): Unique User IDs in kedro-telemetry - merge only for kedro-telemetry release 0.4.0 (#596)
  kedro-telemetry/RELEASE.md
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/pyproject.toml
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Add python 3.12 support for airflow
  .github/workflows/kedro-airflow.yml
  kedro-airflow/RELEASE.md
Due: run-build-kedro-airflow

Add python 3.12 support for kedro-telemetry
  .github/workflows/kedro-telemetry.yml
  kedro-telemetry/RELEASE.md
Due: run-build-kedro-telemetry

Add 3.12 support kedro-docker
  .github/workflows/kedro-docker.yml
  kedro-docker/RELEASE.md
Due: run-build-kedro-docker

Add support for Python 3.12
  .github/workflows/kedro-datasets.yml
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

Fix release notes.
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

Resolve merge conflict.
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

Apply linters.
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
Due: run-build-kedro-datasets=false

Make `connection_args` optional when calling `create_connection()` in `sql_dataset.py`.
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
Due: run-build-kedro-datasets=false

Fix comments
  kedro-airflow/kedro_airflow/plugin.py
  kedro-airflow/tests/conftest.py
  kedro-airflow/tests/test_plugin.py
Due: run-build-kedro-airflow

Increase timeout UV
  .github/workflows/e2e-tests.yml
  .github/workflows/kedro-datasets.yml
  .github/workflows/lint.yml
  .github/workflows/unit-tests.yml
Due: none

Add whitespaces
  kedro-airflow/tests/test_plugin.py
Due: run-build-kedro-airflow

Increase timeout for docs build
  kedro-datasets/.readthedocs.yaml
Due: run-build-kedro-datasets=false

Add env
  kedro-airflow/tests/test_plugin.py
Due: run-build-kedro-airflow

build(telemetry): Add python 3.12 support (#615)
  .github/workflows/e2e-tests.yml
  .github/workflows/kedro-datasets.yml
  .github/workflows/kedro-telemetry.yml
  .github/workflows/lint.yml
  .github/workflows/unit-tests.yml
  kedro-datasets/.readthedocs.yaml
  kedro-telemetry/RELEASE.md
Due: run-build-kedro-telemetry, run-build-kedro-datasets=false

Bump pyodbc
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Apply suggestions from code review
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
Due: run-build-kedro-datasets=false

Add missing import.
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
Due: run-build-kedro-datasets=false

Formatting.
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
Due: run-build-kedro-datasets=false

Use lazy sink instead of collecting data
  kedro-datasets/kedro_datasets/polars/lazy_polars_dataset.py
Due: run-build-kedro-datasets=false

feat(airflow): add --tags option for node filtering in airflow create (#607)
  kedro-airflow/kedro_airflow/plugin.py
  kedro-airflow/tests/conftest.py
  kedro-airflow/tests/test_plugin.py
Due: run-build-kedro-airflow

fix(datasets): make connection_args optional (#586)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
Due: run-build-kedro-datasets=false

relax test requirements
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Revert "relax test requirements"
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

temp: update gitpod
  .gitpod.yml
Due: none

Update gitpod
  .gitpod.yml
Due: none

change requirements
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Remove dummy e2e test
  .github/workflows/kedro-telemetry.yml
  kedro-telemetry/features/__init__.py
  kedro-telemetry/features/steps/dummy.feature
  kedro-telemetry/pyproject.toml
Due: run-build-kedro-telemetry

Increase timeout for RTD
  kedro-datasets/.readthedocs.yaml
Due: run-build-kedro-datasets=false

rem pickle fix docstring
  kedro-datasets/kedro_datasets/json/json_dataset.py
  kedro-datasets/kedro_datasets/pickle/pickle_dataset.py
Due: run-build-kedro-datasets=false

Update tests
  kedro-airflow/tests/test_plugin.py
Due: run-build-kedro-airflow

chore(telemetry): Remove dummy e2e test (#622)
  .github/workflows/kedro-telemetry.yml
  kedro-telemetry/features/__init__.py
  kedro-telemetry/features/steps/dummy.feature
  kedro-telemetry/pyproject.toml
Due: run-build-kedro-telemetry

Update cli steps:
  .gitpod.yml
  kedro-docker/features/steps/cli_steps.py
Due: run-build-kedro-docker

refactor(airflow): Remove `bootstrap_project` (#599)
  kedro-airflow/kedro_airflow/plugin.py
  kedro-airflow/tests/conftest.py
  kedro-airflow/tests/test_plugin.py
Due: run-build-kedro-airflow

Fix parquet test
  kedro-datasets/kedro_datasets/pandas/parquet_dataset.py
  kedro-datasets/tests/pandas/test_parquet_dataset.py
Due: run-build-kedro-datasets=false

Path conditions:
  run-build-kedro-telemetry: any of: kedro-telemetry/.*
  run-build-kedro-docker: any of: kedro-docker/.*
  run-build-kedro-airflow: any of: kedro-airflow/.*
  run-build-kedro-datasets=false: any of: kedro-datasets/.*
