Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

.circleci/config.yml:

version: 2.1

setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            kedro-telemetry/.* run-build-kedro-telemetry true
            kedro-docker/.* run-build-kedro-docker true
            kedro-airflow/.* run-build-kedro-airflow true
            kedro-datasets/.* run-build-kedro-datasets false
          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

test
  kedro-airflow/tests/conftest.py
Due: run-build-kedro-airflow

chore(datasets): Update partitioned dataset docstring (#502)
  kedro-datasets/kedro_datasets/partitions/partitioned_dataset.py
Due: run-build-kedro-datasets=false

Fix GeotiffDataset import + casing
  kedro-datasets/kedro_datasets/xarray/geotiff_dataset.py
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

Remove outdated config key
  kedro-airflow/tests/conftest.py
  kedro-docker/features/steps/cli_steps.py
Due: run-build-kedro-docker, run-build-kedro-airflow

Fix lint
  kedro-datasets/kedro_datasets/xarray/geotiff_dataset.py
Due: run-build-kedro-datasets=false

Apply suggestions from code review
  kedro-datasets/RELEASE.md
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

Update kedro-datasets/setup.py
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

fix(datasets): Relax pandas.HDFDataSet dependencies which are broken on Windows (#426)
  kedro-datasets/RELEASE.md
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

Use kedro new instead of cookiecutter
  kedro-airflow/tests/conftest.py
Due: run-build-kedro-airflow

fix: airflow metadata (#498)
  kedro-airflow/tests/conftest.py
  kedro-docker/features/steps/cli_steps.py
Due: run-build-kedro-docker, run-build-kedro-airflow

test
  kedro-datasets/kedro_datasets/matplotlib/matplotlib_writer.py
  kedro-datasets/kedro_datasets/pandas/csv_dataset.py
  kedro-datasets/kedro_datasets/pandas/excel_dataset.py
  kedro-datasets/kedro_datasets/plotly/json_dataset.py
  kedro-datasets/kedro_datasets/plotly/plotly_dataset.py
  kedro-datasets/kedro_datasets/tracking/json_dataset.py
  kedro-datasets/kedro_datasets/tracking/metrics_dataset.py
Due: run-build-kedro-datasets=false

Added neo4j reading support
  kedro-datasets/docs/source/kedro_datasets.rst
  kedro-datasets/kedro_datasets/neo4j/__init__.py
  kedro-datasets/kedro_datasets/neo4j/neo4j_dataset.py
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

done
  kedro-datasets/kedro_datasets/matplotlib/matplotlib_writer.py
  kedro-datasets/kedro_datasets/pandas/csv_dataset.py
  kedro-datasets/kedro_datasets/pandas/excel_dataset.py
  kedro-datasets/kedro_datasets/plotly/json_dataset.py
  kedro-datasets/kedro_datasets/plotly/plotly_dataset.py
  kedro-datasets/kedro_datasets/tracking/json_dataset.py
  kedro-datasets/kedro_datasets/tracking/metrics_dataset.py
Due: run-build-kedro-datasets=false

Bump apache airflow
  kedro-airflow/pyproject.toml
Due: run-build-kedro-airflow

Change starter
  kedro-airflow/features/airflow.feature
  kedro-airflow/features/steps/cli_steps.py
Due: run-build-kedro-airflow

Update e2e test steps
  kedro-airflow/features/airflow.feature
Due: run-build-kedro-airflow

simplify setup
  .gitpod.Dockerfile
Due: none

add patch for supporting http/https
  kedro-datasets/kedro_datasets/netcdf/netcdf_dataset.py
Due: run-build-kedro-datasets=false

chore(airflow): Bump `apache-airflow` version (#511)
  kedro-airflow/features/airflow.feature
  kedro-airflow/features/steps/cli_steps.py
  kedro-airflow/pyproject.toml
Due: run-build-kedro-airflow

fix(datasets): Don't warn for SparkDataset on Databricks when using s3 (#341)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/spark/spark_dataset.py
  kedro-datasets/tests/spark/test_spark_dataset.py
Due: run-build-kedro-datasets=false

perf(datasets): don't create connection until need (#281)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/__init__.py
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
  kedro-datasets/kedro_datasets/snowflake/snowpark_dataset.py
  kedro-datasets/pyproject.toml
  kedro-datasets/tests/pandas/test_sql_dataset.py
Due: run-build-kedro-datasets=false

chore: Pin pip version temporarily (#398)
  .github/workflows/kedro-datasets.yml
  .github/workflows/lint.yml
  .github/workflows/unit-tests.yml
  Makefile
  kedro-datasets/pyproject.toml
  kedro-datasets/tests/spark/test_spark_hive_dataset.py
Due: run-build-kedro-datasets=false

fix: backwards compatibility for `kedro-airflow` (#381)
  kedro-airflow/RELEASE.md
  kedro-airflow/kedro_airflow/plugin.py
  kedro-airflow/tests/test_plugin.py
Due: run-build-kedro-airflow

build(airflow): Release 0.7.0 (#407)
  kedro-airflow/RELEASE.md
  kedro-airflow/kedro_airflow/__init__.py
Due: run-build-kedro-airflow

build(docker): Release 0.4.0 (#409)
  kedro-docker/RELEASE.md
  kedro-docker/kedro_docker/__init__.py
Due: run-build-kedro-docker

style(airflow): blacken README.md of Kedro-Airflow (#418)
  kedro-airflow/README.md
Due: run-build-kedro-airflow

chore: Hot fix for RTD due to bad pip version (#396)
  kedro-datasets/.readthedocs.yaml
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

build(telemetry): Release 0.3.0 (#408)
  kedro-telemetry/RELEASE.md
  kedro-telemetry/kedro_telemetry/__init__.py
Due: run-build-kedro-telemetry

build(datasets): Release `1.8.0` (#406)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/__init__.py
  kedro-datasets/tests/polars/test_lazy_polars_dataset.py
Due: run-build-kedro-datasets=false

chore: Drop Python 3.7 support for kedro-plugins (#392)
  .github/workflows/kedro-airflow.yml
  .github/workflows/kedro-datasets.yml
  .github/workflows/kedro-docker.yml
  .github/workflows/kedro-telemetry.yml
  kedro-airflow/README.md
  kedro-airflow/RELEASE.md
  kedro-airflow/pyproject.toml
  kedro-docker/README.md
  kedro-docker/RELEASE.md
  kedro-docker/pyproject.toml
  kedro-telemetry/README.md
  kedro-telemetry/RELEASE.md
  kedro-telemetry/pyproject.toml
Due: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow

feat(datasets): support Polars lazy evaluation (#350)
  kedro-datasets/RELEASE.md
  kedro-datasets/docs/source/kedro_datasets.rst
  kedro-datasets/kedro_datasets/polars/__init__.py
  kedro-datasets/kedro_datasets/polars/eager_polars_dataset.py
  kedro-datasets/kedro_datasets/polars/lazy_polars_dataset.py
  kedro-datasets/pyproject.toml
  kedro-datasets/setup.py
  kedro-datasets/tests/polars/test_eager_polars_dataset.py
  kedro-datasets/tests/polars/test_lazy_polars_dataset.py
Due: run-build-kedro-datasets=false

feat(datasets): Migrated `PartitionedDataSet` and `IncrementalDataSet` from main repository to kedro-datasets (#253)
  kedro-datasets/RELEASE.md
  kedro-datasets/docs/source/kedro_datasets.rst
  kedro-datasets/kedro_datasets/partitions/__init__.py
  kedro-datasets/kedro_datasets/partitions/incremental_dataset.py
  kedro-datasets/kedro_datasets/partitions/partitioned_dataset.py
  kedro-datasets/tests/partitions/__init__.py
  kedro-datasets/tests/partitions/test_incremental_dataset.py
  kedro-datasets/tests/partitions/test_partitioned_dataset.py
Due: run-build-kedro-datasets=false

Point before pull request.
  kedro-datasets/kedro_datasets/matlab/__init__.py
  kedro-datasets/kedro_datasets/pickle/__init__.py
Due: run-build-kedro-datasets=false

docs: Add python version support policy to plugin `README.md`s (#425)
  kedro-airflow/README.md
  kedro-airflow/pyproject.toml
  kedro-datasets/README.md
  kedro-docker/README.md
  kedro-telemetry/README.md
Due: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

fix(datasets): Fix missing jQuery (#414)
  kedro-datasets/docs/source/conf.py
Due: run-build-kedro-datasets=false

docs(airflow): Use new docs link (#393)
  kedro-airflow/README.md
Due: run-build-kedro-airflow

docs(datasets): fix code blocks and `data_set` use (#417)
  kedro-datasets/kedro_datasets/dask/parquet_dataset.py
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
  kedro-datasets/kedro_datasets/geopandas/geojson_dataset.py
  kedro-datasets/kedro_datasets/pandas/gbq_dataset.py
  kedro-datasets/kedro_datasets/partitions/incremental_dataset.py
  kedro-datasets/kedro_datasets/partitions/partitioned_dataset.py
  kedro-datasets/kedro_datasets/polars/lazy_polars_dataset.py
  kedro-datasets/kedro_datasets/spark/deltatable_dataset.py
Due: run-build-kedro-datasets=false
