Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

Release notes
  kedro-telemetry/RELEASE.md
Due: run-build-kedro-telemetry

Updated version
  kedro-telemetry/kedro_telemetry/__init__.py
Due: run-build-kedro-telemetry

build(telemetry): Release 0.8.0 (#1411)
  kedro-telemetry/RELEASE.md
  kedro-telemetry/kedro_telemetry/__init__.py
Due: run-build-kedro-telemetry

feat(datasets): support creds across Ibis datasets (#1406)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/ibis/file_dataset.py
  kedro-datasets/kedro_datasets/ibis/table_dataset.py
  kedro-datasets/static/jsonschema/kedro-catalog-1.0.0.json
  kedro-datasets/tests/ibis/test_file_dataset.py
Due: run-build-kedro-datasets=false

fix(datasets): correct GBQ PathLike doc formatting
  kedro-datasets/kedro_datasets/pandas/gbq_dataset.py
Due: run-build-kedro-datasets=false

fix(datasets): support PathLike in Pandas json dataset
  kedro-datasets/kedro_datasets/pandas/json_dataset.py
  kedro-datasets/tests/pandas/test_json_dataset.py
Due: run-build-kedro-datasets=false

fix(datasets): support PathLike in Pandas sql dataset
  .secrets.baseline
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
  kedro-datasets/tests/pandas/test_sql_dataset.py
Due: run-build-kedro-datasets=false

fix(datasets): document PathLike support in pandas datasets
  kedro-datasets/kedro_datasets/pandas/deltatable_dataset.py
  kedro-datasets/kedro_datasets/pandas/generic_dataset.py
  kedro-datasets/kedro_datasets/pandas/parquet_dataset.py
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
Due: run-build-kedro-datasets=false

fix(datasets): support PathLike in Pandas hdf dataset
  kedro-datasets/kedro_datasets/pandas/hdf_dataset.py
  kedro-datasets/tests/pandas/test_hdf_dataset.py
Due: run-build-kedro-datasets=false

fix(datasets): support PathLike in Pandas generic dataset
  kedro-datasets/kedro_datasets/pandas/generic_dataset.py
  kedro-datasets/tests/pandas/test_generic_dataset.py
Due: run-build-kedro-datasets=false

fix(datasets): support PathLike in Pandas parquet dataset
  kedro-datasets/kedro_datasets/pandas/parquet_dataset.py
  kedro-datasets/tests/pandas/test_parquet_dataset.py
Due: run-build-kedro-datasets=false

fix(datasets): support PathLike in Pandas Excel dataset
  kedro-datasets/kedro_datasets/pandas/excel_dataset.py
  kedro-datasets/tests/pandas/test_excel_dataset.py
Due: run-build-kedro-datasets=false

fix(datasets): support PathLike in Pandas xml dataset
  kedro-datasets/kedro_datasets/pandas/xml_dataset.py
  kedro-datasets/tests/pandas/test_xml_dataset.py
Due: run-build-kedro-datasets=false

fix(datasets): support PathLike in Pandas gbq dataset
  kedro-datasets/kedro_datasets/pandas/gbq_dataset.py
  kedro-datasets/tests/pandas/test_gbq_dataset.py
Due: run-build-kedro-datasets=false

fix(datasets): support PathLike in Pandas feather dataset
  kedro-datasets/kedro_datasets/pandas/feather_dataset.py
  kedro-datasets/tests/pandas/test_feather_dataset.py
Due: run-build-kedro-datasets=false

fix(datasets): support PathLike in pandas CSV dataset
  .secrets.baseline
  kedro-datasets/kedro_datasets/pandas/csv_dataset.py
  kedro-datasets/tests/pandas/test_csv_dataset.py
Due: run-build-kedro-datasets=false

fix(datasets): support PathLike in Pandas deltatable dataset
  kedro-datasets/kedro_datasets/pandas/deltatable_dataset.py
  kedro-datasets/tests/pandas/test_deltatable_dataset.py
Due: run-build-kedro-datasets=false

fix(datasets): add pandas PathLike release note
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

docs: clarify MatplotlibDataset filepath type is str | os.PathLike
  kedro-datasets/kedro_datasets/matplotlib/matplotlib_dataset.py
  kedro-datasets/tests/matplotlib/test_matplotlib_dataset.py
Due: run-build-kedro-datasets=false

docs(kedro-datasets): note MatplotlibDataset PathLike support in RELEASE.md
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

chore(datasets): use 'anon' token in gcs mock of lazy polars dataset
  kedro-datasets/tests/polars/test_lazy_polars_dataset.py
Due: run-build-kedro-datasets=false

docs: clarify MatplotlibDataset filepath type is str | os.PathLike (#1407)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/matplotlib/matplotlib_dataset.py
  kedro-datasets/tests/matplotlib/test_matplotlib_dataset.py
Due: run-build-kedro-datasets=false

Release notes
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

fix(datasets): support PathLike in pandas datasets (#1404)
  .secrets.baseline
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/pandas/csv_dataset.py
  kedro-datasets/kedro_datasets/pandas/deltatable_dataset.py
  kedro-datasets/kedro_datasets/pandas/excel_dataset.py
  kedro-datasets/kedro_datasets/pandas/feather_dataset.py
  kedro-datasets/kedro_datasets/pandas/gbq_dataset.py
  kedro-datasets/kedro_datasets/pandas/generic_dataset.py
  kedro-datasets/kedro_datasets/pandas/hdf_dataset.py
  kedro-datasets/kedro_datasets/pandas/json_dataset.py
  kedro-datasets/kedro_datasets/pandas/parquet_dataset.py
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
  kedro-datasets/kedro_datasets/pandas/xml_dataset.py
  kedro-datasets/tests/pandas/test_csv_dataset.py
  kedro-datasets/tests/pandas/test_deltatable_dataset.py
  kedro-datasets/tests/pandas/test_excel_dataset.py
  kedro-datasets/tests/pandas/test_feather_dataset.py
  kedro-datasets/tests/pandas/test_gbq_dataset.py
  kedro-datasets/tests/pandas/test_generic_dataset.py
  kedro-datasets/tests/pandas/test_hdf_dataset.py
  kedro-datasets/tests/pandas/test_json_dataset.py
  kedro-datasets/tests/pandas/test_parquet_dataset.py
  kedro-datasets/tests/pandas/test_sql_dataset.py
  kedro-datasets/tests/pandas/test_xml_dataset.py
Due: run-build-kedro-datasets=false

Add path to workflow
  .github/workflows/kedro-datasets-experimental.yml
Due: none

Add server command in the list
  kedro-telemetry/tests/test_masking.py
Due: run-build-kedro-telemetry

chore(telemetry): Add server command back (#1412)
  kedro-telemetry/tests/test_masking.py
Due: run-build-kedro-telemetry

release notes
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

fix(datasets): bump opencv-python to ~=4.13.0.92 for Python 3.14 (#1408)
  .github/workflows/kedro-datasets-experimental.yml
  kedro-datasets/RELEASE.md
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

feat(datasets): Release kedro-datasets v9.4.0 (#1390)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

fix(bench): make asv config monorepo friendly
  kedro-datasets/asv.conf.json
  kedro-datasets/kedro_datasets_benchmarks/__init__.py
Due: run-build-kedro-datasets=false

feat(datasets): update LazyPolarsDataset to handle load/save with deltalake format
  kedro-datasets/kedro_datasets/polars/lazy_polars_dataset.py
  kedro-datasets/tests/polars/test_lazy_polars_dataset.py
Due: run-build-kedro-datasets=false

Add tests to check for airflow sdk imports, schedule= template var
  kedro-airflow/README.md
  kedro-airflow/tests/test_plugin.py
Due: run-build-kedro-airflow

Run python 3.14 on CI
  .github/workflows/kedro-airflow.yml
  kedro-airflow/RELEASE.md
Due: run-build-kedro-airflow

Fix test config params
  kedro-airflow/tests/test_plugin.py
Due: run-build-kedro-airflow

feat(docker): Add support for Python 3.14 (#1389)
  .github/workflows/kedro-docker.yml
  kedro-docker/README.md
  kedro-docker/RELEASE.md
  kedro-docker/features/steps/cli_steps.py
Due: run-build-kedro-docker

fix(datasets): remove legacy Heap loader so CMP gates analytics
  kedro-datasets/docs/hooks.py
Due: run-build-kedro-datasets=false

fix(datasets): remove legacy Heap loader so CMP gates analytics
  kedro-datasets/docs/overrides/main.html
  kedro-datasets/mkdocs.yml
Due: run-build-kedro-datasets=false

fix(bench): add asv build command and ignore cache
  kedro-datasets/.gitignore
  kedro-datasets/asv.conf.json
Due: run-build-kedro-datasets=false

conform opikdatasets to tolorate extra credentials
  kedro-datasets/kedro_datasets_experimental/opik/_common.py
  kedro-datasets/kedro_datasets_experimental/opik/evaluation_dataset.py
  kedro-datasets/kedro_datasets_experimental/opik/prompt_dataset.py
  kedro-datasets/kedro_datasets_experimental/tests/opik/test_evaluation_dataset.py
  kedro-datasets/kedro_datasets_experimental/tests/opik/test_prompt_dataset.py
Due: run-build-kedro-datasets=false

Path conditions:
  run-build-kedro-telemetry: any of: kedro-telemetry/.*
  run-build-kedro-docker: any of: kedro-docker/.*
  run-build-kedro-airflow: any of: kedro-airflow/.*
  run-build-kedro-datasets=false: any of: kedro-datasets/.*
