Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

chore: Hot fix for RTD due to bad pip version (#396)
  kedro-datasets/.readthedocs.yaml
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

fix(datasets): Don't warn for SparkDataset on Databricks when using s3 (#341)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/spark/spark_dataset.py
  kedro-datasets/tests/spark/test_spark_dataset.py
Due: run-build-kedro-datasets=false

perf(datasets): don't create connection until need (#281)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/__init__.py
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
  kedro-datasets/kedro_datasets/snowflake/snowpark_dataset.py
  kedro-datasets/pyproject.toml
  kedro-datasets/tests/pandas/test_sql_dataset.py
Due: run-build-kedro-datasets=false

build(datasets): Release `1.8.0` (#406)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/__init__.py
  kedro-datasets/tests/polars/test_lazy_polars_dataset.py
Due: run-build-kedro-datasets=false

feat(datasets): support Polars lazy evaluation (#350)
  kedro-datasets/RELEASE.md
  kedro-datasets/docs/source/kedro_datasets.rst
  kedro-datasets/kedro_datasets/polars/__init__.py
  kedro-datasets/kedro_datasets/polars/eager_polars_dataset.py
  kedro-datasets/kedro_datasets/polars/lazy_polars_dataset.py
  kedro-datasets/pyproject.toml
  kedro-datasets/setup.py
  kedro-datasets/tests/polars/test_eager_polars_dataset.py
  kedro-datasets/tests/polars/test_lazy_polars_dataset.py
Due: run-build-kedro-datasets=false

chore: Drop Python 3.7 support for kedro-plugins (#392)
  .github/workflows/kedro-airflow.yml
  .github/workflows/kedro-datasets.yml
  .github/workflows/kedro-docker.yml
  .github/workflows/kedro-telemetry.yml
  kedro-airflow/README.md
  kedro-airflow/RELEASE.md
  kedro-airflow/pyproject.toml
  kedro-docker/README.md
  kedro-docker/RELEASE.md
  kedro-docker/pyproject.toml
  kedro-telemetry/README.md
  kedro-telemetry/RELEASE.md
  kedro-telemetry/pyproject.toml
Due: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow

fix(datasets): Fix Lazy Polars dataset to use the new-style base class (#413)
  kedro-datasets/kedro_datasets/polars/lazy_polars_dataset.py
Due: run-build-kedro-datasets=false

fix(datasets): Fix missing jQuery (#414)
  kedro-datasets/docs/source/conf.py
Due: run-build-kedro-datasets=false

build(docker): Release 0.4.0 (#409)
  kedro-docker/RELEASE.md
  kedro-docker/kedro_docker/__init__.py
Due: run-build-kedro-docker

build(airflow): Release 0.7.0 (#407)
  kedro-airflow/RELEASE.md
  kedro-airflow/kedro_airflow/__init__.py
Due: run-build-kedro-airflow

build(telemetry): Release 0.3.0 (#408)
  kedro-telemetry/RELEASE.md
  kedro-telemetry/kedro_telemetry/__init__.py
Due: run-build-kedro-telemetry

style(airflow): blacken README.md of Kedro-Airflow (#418)
  kedro-airflow/README.md
Due: run-build-kedro-airflow

fix: TF model load failure when model is saved as a TensorFlow Saved Model format (#410)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/tensorflow/tensorflow_model_dataset.py
Due: run-build-kedro-datasets=false

chore(datasets): lazily load `partitions` classes (#411)
  kedro-datasets/kedro_datasets/partitions/__init__.py
Due: run-build-kedro-datasets=false

docs(datasets): fix code blocks and `data_set` use (#417)
  kedro-datasets/kedro_datasets/dask/parquet_dataset.py
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
  kedro-datasets/kedro_datasets/geopandas/geojson_dataset.py
  kedro-datasets/kedro_datasets/pandas/gbq_dataset.py
  kedro-datasets/kedro_datasets/partitions/incremental_dataset.py
  kedro-datasets/kedro_datasets/partitions/partitioned_dataset.py
  kedro-datasets/kedro_datasets/polars/lazy_polars_dataset.py
  kedro-datasets/kedro_datasets/spark/deltatable_dataset.py
Due: run-build-kedro-datasets=false

docs: Add python version support policy to plugin `README.md`s (#425)
  kedro-airflow/README.md
  kedro-airflow/pyproject.toml
  kedro-datasets/README.md
  kedro-docker/README.md
  kedro-telemetry/README.md
Due: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

chore: Drop support for Python 3.7 on kedro-datasets (#419)
  kedro-datasets/README.md
  kedro-datasets/RELEASE.md
  kedro-datasets/pyproject.toml
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

feat(datasets): Add support for `databricks-connect>=13.0` (#352)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
  kedro-datasets/kedro_datasets/spark/deltatable_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_hive_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_jdbc_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_streaming_dataset.py
  kedro-datasets/tests/spark/test_deltatable_dataset.py
  kedro-datasets/tests/spark/test_spark_dataset.py
  kedro-datasets/tests/spark/test_spark_jdbc_dataset.py
  kedro-datasets/tests/spark/test_spark_streaming_dataset.py
Due: run-build-kedro-datasets=false

test(datasets): run doctests to check examples run (#416)
  Makefile
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
  kedro-datasets/kedro_datasets/polars/__init__.py
Due: run-build-kedro-datasets=false

fix(telemetry): remove double execution by moving to after catalog created hook (#422)
  kedro-telemetry/RELEASE.md
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

docs(airflow): Use new docs link (#393)
  kedro-airflow/README.md
Due: run-build-kedro-airflow

feat(datasets): Add Hugging Face datasets (#344)
  kedro-datasets/docs/source/conf.py
  kedro-datasets/docs/source/kedro_datasets.rst
  kedro-datasets/kedro_datasets/huggingface/__init__.py
  kedro-datasets/kedro_datasets/huggingface/hugging_face_dataset.py
  kedro-datasets/kedro_datasets/huggingface/transformer_pipeline_dataset.py
  kedro-datasets/setup.py
  kedro-datasets/tests/huggingface/__init__.py
  kedro-datasets/tests/huggingface/conftest.py
  kedro-datasets/tests/huggingface/test_hugging_face_dataset.py
  kedro-datasets/tests/huggingface/test_transformer_pipeline_dataset.py
Due: run-build-kedro-datasets=false

test(datasets): fix `dask.ParquetDataset` doctests (#439)
  Makefile
  kedro-datasets/MANIFEST.in
  kedro-datasets/kedro_datasets/conftest.py
  kedro-datasets/kedro_datasets/dask/parquet_dataset.py
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

style: Add shared CSS and meganav to datasets docs (#400)
  kedro-datasets/docs/source/_templates/layout.html
  kedro-datasets/docs/source/conf.py
Due: run-build-kedro-datasets=false

chore(datasets): Fix `pandas.GenericDataset` doctest (#445)
  Makefile
  kedro-datasets/kedro_datasets/pandas/generic_dataset.py
Due: run-build-kedro-datasets=false

test(datasets): make `api.APIDataset` doctests run (#448)
  Makefile
  kedro-datasets/kedro_datasets/api/api_dataset.py
Due: run-build-kedro-datasets=false

chore(datasets): replace "Pyspark" with "PySpark" (#423)
  kedro-datasets/kedro_datasets/spark/README.md
Due: run-build-kedro-datasets=false

test(datasets): add outputs to matplotlib doctests (#449)
  Makefile
  kedro-datasets/kedro_datasets/matplotlib/matplotlib_writer.py
Due: run-build-kedro-datasets=false

chore(datasets): Fix more doctest issues (#451)
  Makefile
  kedro-datasets/kedro_datasets/partitions/incremental_dataset.py
  kedro-datasets/kedro_datasets/pillow/image_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_jdbc_dataset.py
  kedro-datasets/kedro_datasets/video/video_dataset.py
Due: run-build-kedro-datasets=false

build(datasets): Bump s3fs (#463)
  kedro-datasets/RELEASE.md
  kedro-datasets/setup.py
  kedro-datasets/tests/conftest.py
  kedro-datasets/tests/dask/test_parquet_dataset.py
  kedro-datasets/tests/spark/test_spark_dataset.py
Due: run-build-kedro-datasets=false

feat: Add tools to heap event (#430)
  kedro-telemetry/RELEASE.md
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

ci(datasets): install deps in single `pip install` (#454)
  .github/workflows/kedro-datasets.yml
Due: none

chore(datasets): fix accidental reference to NumPy (#450)
  kedro-datasets/kedro_datasets/conftest.py
Due: run-build-kedro-datasets=false

test(datasets): fix failing doctests in Windows CI (#457)
  Makefile
  kedro-datasets/kedro_datasets/pillow/image_dataset.py
  kedro-datasets/kedro_datasets/video/video_dataset.py
Due: run-build-kedro-datasets=false

chore(datasets): don't pollute dev env in doctests (#452)
  kedro-datasets/kedro_datasets/biosequence/biosequence_dataset.py
  kedro-datasets/kedro_datasets/email/message_dataset.py
  kedro-datasets/kedro_datasets/geopandas/geojson_dataset.py
  kedro-datasets/kedro_datasets/holoviews/holoviews_writer.py
  kedro-datasets/kedro_datasets/json/json_dataset.py
  kedro-datasets/kedro_datasets/networkx/gml_dataset.py
  kedro-datasets/kedro_datasets/networkx/graphml_dataset.py
  kedro-datasets/kedro_datasets/networkx/json_dataset.py
  kedro-datasets/kedro_datasets/pandas/csv_dataset.py
  kedro-datasets/kedro_datasets/pandas/deltatable_dataset.py
  kedro-datasets/kedro_datasets/pandas/excel_dataset.py
  kedro-datasets/kedro_datasets/pandas/feather_dataset.py
  kedro-datasets/kedro_datasets/pandas/generic_dataset.py
  kedro-datasets/kedro_datasets/pandas/hdf_dataset.py
  kedro-datasets/kedro_datasets/pandas/json_dataset.py
  kedro-datasets/kedro_datasets/pandas/parquet_dataset.py
  kedro-datasets/kedro_datasets/pandas/xml_dataset.py
  kedro-datasets/kedro_datasets/partitions/partitioned_dataset.py
  kedro-datasets/kedro_datasets/pickle/pickle_dataset.py
  kedro-datasets/kedro_datasets/plotly/json_dataset.py
  kedro-datasets/kedro_datasets/plotly/plotly_dataset.py
  kedro-datasets/kedro_datasets/polars/csv_dataset.py
  kedro-datasets/kedro_datasets/polars/eager_polars_dataset.py
  kedro-datasets/kedro_datasets/polars/lazy_polars_dataset.py
  kedro-datasets/kedro_datasets/spark/deltatable_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_dataset.py
  kedro-datasets/kedro_datasets/svmlight/svmlight_dataset.py
  kedro-datasets/kedro_datasets/tensorflow/tensorflow_model_dataset.py
  kedro-datasets/kedro_datasets/text/text_dataset.py
  kedro-datasets/kedro_datasets/tracking/json_dataset.py
  kedro-datasets/kedro_datasets/tracking/metrics_dataset.py
  kedro-datasets/kedro_datasets/video/video_dataset.py
  kedro-datasets/kedro_datasets/yaml/yaml_dataset.py
Due: run-build-kedro-datasets=false

chore: Update scikit-learn version (#469)
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

chore: Update datasets to be arguments keyword only (#466)
  kedro-datasets/kedro_datasets/huggingface/hugging_face_dataset.py
  kedro-datasets/kedro_datasets/huggingface/transformer_pipeline_dataset.py
  kedro-datasets/kedro_datasets/partitions/partitioned_dataset.py
  kedro-datasets/tests/partitions/test_partitioned_dataset.py
Due: run-build-kedro-datasets=false

Path conditions:
  run-build-kedro-telemetry: any of: kedro-telemetry/.*
  run-build-kedro-docker: any of: kedro-docker/.*
  run-build-kedro-airflow: any of: kedro-airflow/.*
  run-build-kedro-datasets=false: any of: kedro-datasets/.*
