Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

.circleci/config.yml:

version: 2.1

setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            kedro-telemetry/.* run-build-kedro-telemetry true
            kedro-docker/.* run-build-kedro-docker true
            kedro-airflow/.* run-build-kedro-airflow true
            kedro-datasets/.* run-build-kedro-datasets false
          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

build(datasets): add the missing `snowflake` extra (#148)
  kedro-datasets/kedro_datasets/spark/spark_dataset.py
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

Update matplotlib_writer.py
  kedro-datasets/kedro_datasets/matplotlib/matplotlib_writer.py
Due: run-build-kedro-datasets=false

Add unit tests/e2e/lint test for plugins
  .github/workflows/airflow-ci.yml
  .github/workflows/datasets-ci.yml
  .github/workflows/docker-ci.yml
  .github/workflows/telemetry-ci.yml
  .github/workflows/unit-test.yml
Due: none

Add trigger tests on PR
  .github/workflows/airflow-ci.yml
  .github/workflows/datasets-ci.yml
  .github/workflows/docker-ci.yml
  .github/workflows/telemetry-ci.yml
  trufflehog-ignore.txt
Due: none

fix typo
  .github/workflows/airflow-ci.yml
  .github/workflows/datasets-ci.yml
  .github/workflows/docker-ci.yml
  .github/workflows/telemetry-ci.yml
Due: none

remove pull request trigger
  .github/workflows/airflow-ci.yml
  .github/workflows/datasets-ci.yml
  .github/workflows/docker-ci.yml
  .github/workflows/telemetry-ci.yml
  trufflehog-ignore.txt
Due: none

Add PR trigger to workflows
  .github/workflows/datasets-ci.yml
  .github/workflows/docker-ci.yml
  .github/workflows/telemetry-ci.yml
Due: none

trigger datasets tests
  kedro-datasets/kedro_datasets/matplotlib/matplotlib_writer.py
Due: run-build-kedro-datasets=false

Fix SnowparkTableDataSet docstrings
  kedro-datasets/kedro_datasets/snowflake/snowpark_dataset.py
Due: run-build-kedro-datasets=false

removing changes made on spark dataset
  kedro-datasets/kedro_datasets/spark/deltatable_dataset.py
  kedro-datasets/test_requirements.txt
  kedro-datasets/tests/spark/test_deltatable_dataset.py
Due: run-build-kedro-datasets=false

Fixed release file
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

fix release diff
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

Fix SnowparkTableDataSet docstrings (#152)
  kedro-datasets/kedro_datasets/snowflake/snowpark_dataset.py
Due: run-build-kedro-datasets=false

Add unit test + lint test on GA
  .github/workflows/airflow-ci.yml
  .github/workflows/datasets-ci.yml
  .github/workflows/docker-ci.yml
  .github/workflows/telemetry-ci.yml
  .github/workflows/unit-test.yml
  trufflehog-ignore.txt
Due: none

trigger GA - will revert
  kedro-airflow/README.md
  kedro-datasets/README.md
  kedro-docker/README.md
  kedro-telemetry/README.md
Due: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

Fix lint
  .github/workflows/airflow-ci.yml
  .github/workflows/datasets-ci.yml
  .github/workflows/docker-ci.yml
  .github/workflows/telemetry-ci.yml
  .github/workflows/unit-test.yml
  trufflehog-ignore.txt
Due: none

Unleash the pandas :panda:
  kedro-datasets/test_requirements.txt
Due: run-build-kedro-datasets=false

Check whether SQLAlchemy 2.0.x will break stuff TM
  kedro-datasets/test_requirements.txt
Due: run-build-kedro-datasets=false

fix telemetry bug
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Update RELEASE.md
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

Use `Inspector.has_table` instead of deprecated `Engine.table_name``
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
  kedro-datasets/tests/pandas/test_sql_dataset.py
Due: run-build-kedro-datasets=false

chore: "sort" requirements?
  kedro-datasets/test_requirements.txt
Due: run-build-kedro-datasets=false

chore: clean up relaxation of SQLAlchemy to 2.0.x
  kedro-datasets/setup.py
  kedro-datasets/test_requirements.txt
  kedro-datasets/tests/pandas/test_sql_dataset.py
Due: run-build-kedro-datasets=false

docs(datasets): update docstrings to reference latest SQLAlchemy
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
Due: run-build-kedro-datasets=false

docs(datasets): always point to latet SQLAlchemy docs
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
Due: run-build-kedro-datasets=false

chore(datasets): relax pandas req to support 2.0.0 (#123)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
  kedro-datasets/setup.py
  kedro-datasets/test_requirements.txt
  kedro-datasets/tests/dask/test_parquet_dataset.py
  kedro-datasets/tests/geojson/test_geojson_dataset.py
  kedro-datasets/tests/pandas/test_sql_dataset.py
Due: run-build-kedro-datasets=false

update release note
  kedro-telemetry/RELEASE.md
Due: run-build-kedro-telemetry

Added in table showing what was collected
  kedro-telemetry/RELEASE.md
Due: run-build-kedro-telemetry

Update RELEASE.md
  kedro-telemetry/RELEASE.md
Due: run-build-kedro-telemetry

Fix telemetry bug - add checking for project statistics (#156)
  kedro-telemetry/RELEASE.md
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Update __init__.py
  kedro-telemetry/kedro_telemetry/__init__.py
Due: run-build-kedro-telemetry

Linting on release notes
  kedro-telemetry/RELEASE.md
Due: run-build-kedro-telemetry

Kedro-Telemetry release 0.2.4 (#157)
  kedro-telemetry/RELEASE.md
  kedro-telemetry/kedro_telemetry/__init__.py
Due: run-build-kedro-telemetry

if release is failed, it return exit code and fail the CI
  tools/circleci/circleci_release.py
Due: none

added backticks to catalog
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
  kedro-datasets/tests/databricks/test_managed_table_dataset.py
Due: run-build-kedro-datasets=false

Update setup.py
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

Update releases notes
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

Add end to end tests
  .github/workflows/unit-test.yml
Due: none

Sync delta-spark requirements (#160)
  kedro-datasets/RELEASE.md
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

Fix links on GitHub issue templates
  .github/ISSUE_TEMPLATE/config.yml
Due: none
