Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

.circleci/config.yml:

version: 2.1

setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            kedro-telemetry/.* run-build-kedro-telemetry true
            kedro-docker/.* run-build-kedro-docker true
            kedro-airflow/.* run-build-kedro-airflow true
            kedro-datasets/.* run-build-kedro-datasets false
          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

Added missed return types
  kedro-airflow/kedro_airflow/grouping.py
Due: run-build-kedro-airflow

Linter errors fix
  kedro-airflow/kedro_airflow/grouping.py
  kedro-airflow/kedro_airflow/plugin.py
  kedro-airflow/tests/test_node_grouping.py
Due: run-build-kedro-airflow

Fixed mypy errors
  kedro-airflow/kedro_airflow/grouping.py
  kedro-airflow/tests/conftest.py
  kedro-airflow/tests/test_node_grouping.py
Due: run-build-kedro-airflow

Fixing docs build
  kedro-datasets/docs/source/conf.py
Due: run-build-kedro-datasets=false

chore: delete accidentally-committed coverage file
  .coverage
Due: none

build: use new `exclude_also` over `exclude_lines`
  kedro-airflow/pyproject.toml
  kedro-datasets/pyproject.toml
  kedro-docker/pyproject.toml
Due: run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

docs(datasets): remove older type target reference
  kedro-datasets/docs/source/conf.py
Due: run-build-kedro-datasets=false

docs(datasets): add `ibis.base.BaseBackend` target
  kedro-datasets/docs/source/conf.py
Due: run-build-kedro-datasets=false

docs(datasets): update config for Ibis 9.0 changes (#667)
  kedro-datasets/docs/source/conf.py
Due: run-build-kedro-datasets=false

chore: delete accidentally-committed coverage file (#665)
  .coverage
Due: none

build(datasets): remove arbitrary bound for `s3fs`
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Update RELEASE.md
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

docs(datasets): add the extra install instructions
  kedro-datasets/README.md
Due: run-build-kedro-datasets=false

Use kedro-sphinx-theme
  kedro-datasets/docs/source/conf.py
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

remove layout.html
  kedro-datasets/docs/source/_templates/layout.html
Due: run-build-kedro-datasets=false

revert ignore databricks test and coverage
  Makefile
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Update managed_table_dataset.py
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
Due: run-build-kedro-datasets=false

docs(datasets): Use `kedro-sphinx-theme` (#670)
  kedro-datasets/docs/source/_templates/layout.html
  kedro-datasets/docs/source/conf.py
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Renamed parent dictionary
  kedro-airflow/kedro_airflow/grouping.py
Due: run-build-kedro-airflow

Added comments to clarify the resulting order nodes
  kedro-airflow/kedro_airflow/plugin.py
Due: run-build-kedro-airflow

Renamed matrix -> list
  kedro-airflow/kedro_airflow/grouping.py
Due: run-build-kedro-airflow

Applied suggested change
  kedro-airflow/kedro_airflow/grouping.py
Due: run-build-kedro-airflow

build: use new `exclude_also` over `exclude_lines` (#666)
  kedro-airflow/pyproject.toml
  kedro-datasets/pyproject.toml
  kedro-docker/pyproject.toml
Due: run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

Added missed renamings
  kedro-airflow/kedro_airflow/grouping.py
Due: run-build-kedro-airflow

fix(airflow): Fix nodes grouping (#664)
  kedro-airflow/kedro_airflow/grouping.py
  kedro-airflow/kedro_airflow/plugin.py
  kedro-airflow/tests/conftest.py
  kedro-airflow/tests/test_node_grouping.py
  kedro-airflow/tests/test_plugin.py
Due: run-build-kedro-airflow

docs(datasets): apply suggestions from code review
  kedro-datasets/README.md
Due: run-build-kedro-datasets=false

build(datasets): remove arbitrary bound for `s3fs` (#668)
  kedro-datasets/RELEASE.md
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

attempt a fix
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
Due: run-build-kedro-datasets=false

Update contributing guide to mention new dir name
  kedro-datasets/CONTRIBUTING.md
Due: run-build-kedro-datasets=false

build(datasets): Make sure experimental datasets are packaged as part of `kedro-datasets` (#654)
  kedro-datasets/CONTRIBUTING.md
  kedro-datasets/kedro_datasets_experimental/README.md
  kedro-datasets/kedro_datasets_experimental/__init__.py
Due: run-build-kedro-datasets=false

docs(datasets): add the extra install instructions (#669)
  kedro-datasets/README.md
Due: run-build-kedro-datasets=false

Change NetCDFDataset to use a temporary file for remote filesystems, to allow other to_netcdf engines
  kedro-datasets/kedro_datasets/netcdf/netcdf_dataset.py
Due: run-build-kedro-datasets=false

Update unit test to include save engine for NetCDFDataset
  kedro-datasets/pyproject.toml
  kedro-datasets/tests/netcdf/test_netcdf_dataset.py
Due: run-build-kedro-datasets=false

Try with tmp path
  kedro-datasets/kedro_datasets/netcdf/netcdf_dataset.py
Due: run-build-kedro-datasets=false

Try provide engine
  kedro-datasets/kedro_datasets/netcdf/netcdf_dataset.py
Due: run-build-kedro-datasets=false

Try
  kedro-datasets/kedro_datasets/netcdf/netcdf_dataset.py
Due: run-build-kedro-datasets=false

Try file instead of path
  kedro-datasets/kedro_datasets/netcdf/netcdf_dataset.py
Due: run-build-kedro-datasets=false

Try remove engine arg
  kedro-datasets/kedro_datasets/netcdf/netcdf_dataset.py
Due: run-build-kedro-datasets=false
