Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

docs: Update APIDataset docs and refactor (#217)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/api/api_dataset.py
Due: run-build-kedro-datasets=false

Update kedro-datasets/kedro_datasets/spark/spark_streaming_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_streaming_dataset.py
Due: run-build-kedro-datasets=false

Update kedro-datasets/tests/spark/test_spark_streaming_dataset.py
  kedro-datasets/tests/spark/test_spark_streaming_dataset.py
Due: run-build-kedro-datasets=false

Update kedro-datasets/setup.py
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

feat: Add ManagedTableDataset for managed Delta Lake tables in Databricks (#206)
  Makefile
  kedro-datasets/.gitignore
  kedro-datasets/kedro_datasets/databricks/__init__.py
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
  kedro-datasets/setup.py
  kedro-datasets/test_requirements.txt
  kedro-datasets/tests/databricks/__init__.py
  kedro-datasets/tests/databricks/conftest.py
  kedro-datasets/tests/databricks/test_managed_table_dataset.py
Due: run-build-kedro-datasets=false

docs: Fix APIDataSet docstring (#220)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/api/api_dataset.py
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

feat: Release `kedro-datasets` version `1.3.0` (#219)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

Update __init__.py
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

Fix RELEASE.md
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

fix linting issue
  kedro-datasets/kedro_datasets/spark/spark_streaming_dataset.py
Due: run-build-kedro-datasets=false

feat(datasets): add `SparkStreamingDataSet` (#198)
  kedro-datasets/kedro_datasets/spark/README.md
  kedro-datasets/kedro_datasets/spark/__init__.py
  kedro-datasets/kedro_datasets/spark/spark_streaming_dataset.py
  kedro-datasets/setup.py
  kedro-datasets/tests/spark/test_spark_streaming_dataset.py
Due: run-build-kedro-datasets=false

Amend to release 1.4.0 and update release notes
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

Update __init__.py (#222)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

Direct users to awesome-kedro for community content
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Direct users to awesome-kedro for community content (#223)
  .github/ISSUE_TEMPLATE/config.yml
Due: none

refactor: remove unused imports
  kedro-airflow/kedro_airflow/airflow_dag_template.j2
Due: run-build-kedro-airflow

Trigger CI: will revert
  kedro-airflow/README.md
Due: run-build-kedro-airflow

Revert "Trigger CI: will revert"
  kedro-airflow/README.md
Due: run-build-kedro-airflow

refactor: remove unused imports (#227)
  kedro-airflow/kedro_airflow/airflow_dag_template.j2
Due: run-build-kedro-airflow

fix(datasets): use `side_effect`, not `side_effct`
  kedro-datasets/tests/tensorflow/test_tensorflow_model_dataset.py
Due: run-build-kedro-datasets=false

fix(datasets): use `side_effect`, not `side_effct` (#228)
  kedro-datasets/tests/tensorflow/test_tensorflow_model_dataset.py
Due: run-build-kedro-datasets=false

Create CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

fix missing pickle extras
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

update release note
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

fix(datasets): Fix missing pickle setup in `kedro-datasets` (#234)
  kedro-datasets/RELEASE.md
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

Release 1.4.1
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

fix malform docstring in SparkStreamingDataSet
  kedro-datasets/kedro_datasets/spark/spark_streaming_dataset.py
Due: run-build-kedro-datasets=false

change indent
  kedro-datasets/kedro_datasets/spark/spark_streaming_dataset.py
Due: run-build-kedro-datasets=false

Test without docstring
  kedro-datasets/kedro_datasets/spark/spark_streaming_dataset.py
Due: run-build-kedro-datasets=false

Release 1.4.1 (#237)
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

Add back docstring
  kedro-datasets/kedro_datasets/spark/spark_streaming_dataset.py
Due: run-build-kedro-datasets=false

Format docstring
  kedro-datasets/kedro_datasets/spark/spark_streaming_dataset.py
Due: run-build-kedro-datasets=false

Fix typo
  kedro-datasets/kedro_datasets/spark/spark_streaming_dataset.py
Due: run-build-kedro-datasets=false

Lint
  kedro-datasets/kedro_datasets/spark/spark_streaming_dataset.py
Due: run-build-kedro-datasets=false

fix(datasets): fix `SparkStreamingDataSet` docstring (#236)
  kedro-datasets/kedro_datasets/spark/spark_streaming_dataset.py
Due: run-build-kedro-datasets=false

Update setup.py
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

docs(datasets): fix a ref to `GeoJSONLocalDataset`
  kedro-datasets/kedro_datasets/geopandas/__init__.py
Due: run-build-kedro-datasets=false

Install Kedro from `refactor/rename-data-set` instead of `main`
  .github/workflows/check-plugin.yml
Due: none

fix(datasets): user correct error message in tests
  kedro-datasets/tests/email/test_message_dataset.py
  kedro-datasets/tests/geojson/test_geojson_dataset.py
  kedro-datasets/tests/holoviews/test_holoviews_writer.py
  kedro-datasets/tests/json/test_json_dataset.py
  kedro-datasets/tests/libsvm/test_svmlight_dataset.py
  kedro-datasets/tests/matplotlib/test_matplotlib_writer.py
  kedro-datasets/tests/pandas/test_csv_dataset.py
  kedro-datasets/tests/pandas/test_excel_dataset.py
  kedro-datasets/tests/pandas/test_feather_dataset.py
  kedro-datasets/tests/pandas/test_hdf_dataset.py
  kedro-datasets/tests/pandas/test_json_dataset.py
  kedro-datasets/tests/pandas/test_parquet_dataset.py
  kedro-datasets/tests/pandas/test_xml_dataset.py
  kedro-datasets/tests/pickle/test_pickle_dataset.py
  kedro-datasets/tests/pillow/test_image_dataset.py
  kedro-datasets/tests/polars/test_csv_dataset.py
  kedro-datasets/tests/tensorflow/test_tensorflow_model_dataset.py
  kedro-datasets/tests/text/test_text_dataset.py
  kedro-datasets/tests/tracking/test_json_dataset.py
  kedro-datasets/tests/tracking/test_metrics_dataset.py
  kedro-datasets/tests/yaml/test_yaml_dataset.py
Due: run-build-kedro-datasets=false

Path conditions:
  run-build-kedro-telemetry: any of: kedro-telemetry/.*
  run-build-kedro-docker: any of: kedro-docker/.*
  run-build-kedro-airflow: any of: kedro-airflow/.*
  run-build-kedro-datasets=false: any of: kedro-datasets/.*
