Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

Temporary: change indent on __init__ fn docstring
  kedro-datasets/kedro_datasets/pandas/deltatable_dataset.py
Due: run-build-kedro-datasets=false

Temporary: change indent on metadata
  kedro-datasets/kedro_datasets/pandas/deltatable_dataset.py
Due: run-build-kedro-datasets=false

yaml api?
  kedro-datasets/kedro_datasets/pandas/deltatable_dataset.py
Due: run-build-kedro-datasets=false

attempt to fix refs
  kedro-datasets/kedro_datasets/pandas/deltatable_dataset.py
Due: run-build-kedro-datasets=false

remove docstring temporarily to isolate faults
  kedro-datasets/kedro_datasets/pandas/deltatable_dataset.py
Due: run-build-kedro-datasets=false

Fix indentation errors
  kedro-datasets/kedro_datasets/pandas/deltatable_dataset.py
Due: run-build-kedro-datasets=false

Fix lint
  kedro-datasets/kedro_datasets/pandas/deltatable_dataset.py
Due: run-build-kedro-datasets=false

build(airflow): Release 0.6.0 (#287)
  kedro-airflow/RELEASE.md
  kedro-airflow/kedro_airflow/__init__.py
Due: run-build-kedro-airflow

chore(datasets): Fix indentation errors for `DeltaTableDataSet` (#288)
  kedro-datasets/kedro_datasets/pandas/deltatable_dataset.py
Due: run-build-kedro-datasets=false

Bump version to 1.5.1
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

build(datasets): Release 1.5.1 (#289)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

Open bound for telemetry
  kedro-telemetry/RELEASE.md
  kedro-telemetry/kedro_telemetry/__init__.py
  kedro-telemetry/pyproject.toml
Due: run-build-kedro-telemetry

make telemetry openbound
  kedro-telemetry/pyproject.toml
Due: run-build-kedro-telemetry

undo open-bound
  kedro-telemetry/pyproject.toml
Due: run-build-kedro-telemetry

chore: Make kedro-telemetry open-bound (#292)
  kedro-telemetry/pyproject.toml
Due: run-build-kedro-telemetry

build(telemetry): Release 0.2.5 (#291)
  kedro-telemetry/RELEASE.md
  kedro-telemetry/kedro_telemetry/__init__.py
Due: run-build-kedro-telemetry

Add 3.11 tests to CI
  .github/workflows/check-plugin.yml
Due: none

update dependencies
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Try adding docs rtd check on kedro datasets
  .github/workflows/check-plugin.yml
  .github/workflows/run-docs-build.yml
  Makefile
  kedro-datasets/docs/build-docs.sh
  kedro-datasets/docs/source/_static/css/qb1-sphinx-rtd.css
  kedro-datasets/docs/source/_static/css/theme-overrides.css
  kedro-datasets/docs/source/_templates/autosummary/base.rst
  kedro-datasets/docs/source/_templates/autosummary/class.rst
  kedro-datasets/docs/source/_templates/autosummary/module.rst
  kedro-datasets/docs/source/_templates/breadcrumbs.html
  kedro-datasets/docs/source/_templates/layout.html
  kedro-datasets/docs/source/conf.py
  kedro-datasets/docs/source/index.rst
  kedro-datasets/docs/source/kedro_datasets.rst
  kedro-datasets/docs/source/puppeteer-config.json
  kedro-datasets/docs/source/robots.txt
Due: run-build-kedro-datasets=false

Fix setup
  .github/workflows/check-plugin.yml
  .github/workflows/run-docs-build.yml
Due: none

Add runs-on
  .github/workflows/check-plugin.yml
Due: none

Fix matrix
  .github/workflows/check-plugin.yml
Due: none

Fix cd
  .github/workflows/check-plugin.yml
Due: none

Add more setup
  .github/workflows/check-plugin.yml
Due: none

also install test reqs
  .github/workflows/check-plugin.yml
Due: none

fix(datasets): do not double encode the data as json when saving an APIDataSet
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/api/api_dataset.py
  kedro-datasets/tests/api/test_api_dataset.py
Due: run-build-kedro-datasets=false

chore(lint): make pyling happy
  kedro-datasets/tests/api/test_api_dataset.py
  kedro-datasets/tests/databricks/test_managed_table_dataset.py
  kedro-datasets/tests/pandas/test_hdf_dataset.py
Due: run-build-kedro-datasets=false

Remove unnessary doc files
  kedro-datasets/docs/build-docs.sh
  kedro-datasets/docs/source/conf.py
  kedro-datasets/docs/source/puppeteer-config.json
  kedro-datasets/docs/source/robots.txt
Due: run-build-kedro-datasets=false

Remove static files
  kedro-datasets/docs/source/_static/css/qb1-sphinx-rtd.css
  kedro-datasets/docs/source/_static/css/theme-overrides.css
Due: run-build-kedro-datasets=false

Remove unnecessary stuff from conf.py + lint
  kedro-datasets/docs/source/conf.py
Due: run-build-kedro-datasets=false

Add back snowparkdataset
  kedro-datasets/docs/source/kedro_datasets.rst
Due: run-build-kedro-datasets=false

Use python 3.8 for RTD build
  .github/workflows/check-plugin.yml
Due: none

Remove matrix build setup
  .github/workflows/check-plugin.yml
Due: none

Fix pyproject.toml syntax for optional dependencies
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

3.11 should only run on kedro-datasets
  .github/workflows/check-plugin.yml
Due: none

update setup matrix
  .github/workflows/check-plugin.yml
Due: none

refine setup matrix
  .github/workflows/check-plugin.yml
Due: none

use steps
  .github/workflows/check-plugin.yml
Due: none

refacor out the base dependencies
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Path conditions:
  run-build-kedro-telemetry: any of: kedro-telemetry/.*
  run-build-kedro-docker: any of: kedro-docker/.*
  run-build-kedro-airflow: any of: kedro-airflow/.*
  run-build-kedro-datasets=false: any of: kedro-datasets/.*
