Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

Change GHA
  .github/workflows/kedro-datasets.yml
Due: none

replace dc with kdc
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/integration/dummy-project/src/dummy_project/settings.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Modify GHA
  .github/workflows/kedro-datasets.yml
Due: none

Fix docstring
  kedro-datasets/kedro_datasets/pandas/gbq_dataset.py
Due: run-build-kedro-datasets=false

Remove docstring
  kedro-datasets/kedro_datasets/pandas/gbq_dataset.py
Due: run-build-kedro-datasets=false

Return docstring and simplify
  .github/workflows/kedro-datasets.yml
  kedro-datasets/kedro_datasets/pandas/gbq_dataset.py
Due: run-build-kedro-datasets=false

Update intersphinx_mapping
  kedro-datasets/docs/source/conf.py
Due: run-build-kedro-datasets=false

Return credential docstring
  kedro-datasets/kedro_datasets/pandas/gbq_dataset.py
Due: run-build-kedro-datasets=false

Update release.md
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

fix(datasets): Fix credentials handling in pandas GBQ datasets (#1047)
  kedro-datasets/RELEASE.md
  kedro-datasets/docs/source/conf.py
  kedro-datasets/kedro_datasets/pandas/gbq_dataset.py
  kedro-datasets/tests/pandas/test_gbq_dataset.py
Due: run-build-kedro-datasets=false

Reverse DAG order in group_memory_nodes
  kedro-airflow/kedro_airflow/grouping.py
  kedro-airflow/tests/test_node_grouping.py
Due: run-build-kedro-airflow

feat(airflow): Airflow namespace grouping alternate (#1056)
  kedro-airflow/RELEASE.md
  kedro-airflow/kedro_airflow/airflow_dag_template.j2
  kedro-airflow/kedro_airflow/grouping.py
  kedro-airflow/kedro_airflow/plugin.py
  kedro-airflow/tests/test_node_grouping.py
  kedro-airflow/tests/test_plugin.py
Due: run-build-kedro-airflow

CR Fix
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Remove Sphinx cap
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

feat(datasets): Add DartsTorchModelDataset (#1048)
  kedro-datasets/RELEASE.md
  kedro-datasets/docs/source/api/kedro_datasets_experimental.rst
  kedro-datasets/docs/source/conf.py
  kedro-datasets/kedro_datasets_experimental/darts/__init__.py
  kedro-datasets/kedro_datasets_experimental/darts/darts_torch_model_dataset.py
  kedro-datasets/kedro_datasets_experimental/tests/darts/__init__.py
  kedro-datasets/kedro_datasets_experimental/tests/darts/test_darts_torch_model_dataset.py
  kedro-datasets/pyproject.toml
  tools/github_actions/github_actions_release.py
Due: run-build-kedro-datasets=false

feat(datasets): Added optuna.StudyDataset (#1021)
  kedro-datasets/RELEASE.md
  kedro-datasets/docs/source/api/kedro_datasets_experimental.rst
  kedro-datasets/docs/source/conf.py
  kedro-datasets/kedro_datasets_experimental/optuna/__init__.py
  kedro-datasets/kedro_datasets_experimental/optuna/study_dataset.py
  kedro-datasets/kedro_datasets_experimental/tests/optuna/__init__.py
  kedro-datasets/kedro_datasets_experimental/tests/optuna/test_study_dataset.py
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

build(datasets): make Kedro-Datasets 7.0.0 release
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

build(datasets): make Kedro-Datasets 5.1.0 release
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

chore(datasets): un-capitalize "changes" in header
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

docs(datasets): create template for upcoming notes
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

docs(datasets): revert one mistaken capitalization
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

build(datasets): make Kedro-Datasets 7.0.0 release (#1064)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

Add test and fix
  .secrets.baseline
  kedro-datasets/kedro_datasets/polars/lazy_polars_dataset.py
  kedro-datasets/tests/polars/test_lazy_polars_dataset.py
Due: run-build-kedro-datasets=false

revert(datasets): unpin Polars given bug was fixed
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

fix partition dataset
  kedro-datasets/kedro_datasets/partitions/partitioned_dataset.py
  kedro-datasets/tests/partitions/test_partitioned_dataset.py
Due: run-build-kedro-datasets=false

feat(datasets): add encoding parameter on SQLQueryDataset
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
Due: run-build-kedro-datasets=false

feat(datasets): add test on the added encoding parameter
  kedro-datasets/tests/pandas/test_sql_dataset.py
Due: run-build-kedro-datasets=false

fix: delete test in error
  kedro-datasets/tests/pandas/test_sql_dataset.py
Due: run-build-kedro-datasets=false

Use modifyed group_by_namespaces API results
  kedro-airflow/.gitignore
  kedro-airflow/kedro_airflow/airflow_dag_template.j2
  kedro-airflow/kedro_airflow/grouping.py
  kedro-airflow/kedro_airflow/plugin.py
  kedro-airflow/tests/test_node_grouping.py
Due: run-build-kedro-airflow

force refresh on load
  kedro-datasets/kedro_datasets/partitions/partitioned_dataset.py
Due: run-build-kedro-datasets=false

update load()
  kedro-datasets/kedro_datasets/partitions/partitioned_dataset.py
  kedro-datasets/tests/partitions/test_partitioned_dataset.py
Due: run-build-kedro-datasets=false

Update test_partitioned_dataset.py
  kedro-datasets/tests/partitions/test_partitioned_dataset.py
Due: run-build-kedro-datasets=false

Update .secrets.baseline
  .secrets.baseline
Due: none

revert(datasets): unpin Polars given bug was fixed (#1051)
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Update RELEASE.md
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

fix docker tests
  kedro-docker/features/steps/cli_steps.py
Due: run-build-kedro-docker

feat(datasets): Fix `PartitionedDataset` caching conflicts in a parallel environment (#1070)
  .secrets.baseline
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/partitions/partitioned_dataset.py
  kedro-datasets/tests/partitions/test_partitioned_dataset.py
  kedro-docker/features/steps/cli_steps.py
Due: run-build-kedro-docker, run-build-kedro-datasets=false

Updated telemetry to support both catalogs
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Added unit tests to check old/new catalog cases
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Fix linter errors
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Path conditions:
  run-build-kedro-telemetry: any of: kedro-telemetry/.*
  run-build-kedro-docker: any of: kedro-docker/.*
  run-build-kedro-airflow: any of: kedro-airflow/.*
  run-build-kedro-datasets=false: any of: kedro-datasets/.*
