Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

.circleci/config.yml:

version: 2.1

setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            kedro-telemetry/.* run-build-kedro-telemetry true
            kedro-docker/.* run-build-kedro-docker true
            kedro-airflow/.* run-build-kedro-airflow true
            kedro-datasets/.* run-build-kedro-datasets false
          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

(Try) Fix CI Build pt7
  .circleci/continue_config.yml
Due: none

(Try) Fix CI Build pt8
  .circleci/continue_config.yml
Due: none

Fix linting pt n
  .circleci/continue_config.yml
Due: none

(Try) Fix CI Build pt9 Windows edition
  .circleci/continue_config.yml
Due: none

Fix linting pt n+1
  .circleci/continue_config.yml
Due: none

Remove use of deprecated `test_requires` in `setup.py`
  kedro-docker/setup.py
Due: run-build-kedro-docker

Update setup.py
  kedro-docker/setup.py
Due: run-build-kedro-docker

Update setup.py
  kedro-airflow/setup.py
Due: run-build-kedro-airflow

Update setup.py
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

Apply suggestions from code review
  kedro-airflow/setup.py
  kedro-docker/setup.py
Due: run-build-kedro-docker, run-build-kedro-airflow

remove tests_require from setup.py because its deprecated
  kedro-airflow/setup.py
Due: run-build-kedro-airflow

Create identity using username instead of computer name
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Update tests for switch to username-based identity
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Remove deprecated `tests_require` from `setup.py` in Kedro-Airflow (#55)
  kedro-airflow/setup.py
Due: run-build-kedro-airflow

Undo changes outside Kedro-Docker
  kedro-airflow/setup.py
  kedro-datasets/setup.py
Due: run-build-kedro-airflow, run-build-kedro-datasets=false

Update kedro-airflow/setup.py
  kedro-airflow/setup.py
Due: run-build-kedro-airflow

Undo changes outside Kedro-Airflow
  kedro-docker/kedro_docker/plugin.py
Due: run-build-kedro-docker

Keep Kedro-Docker plugin docstring from appearing in `kedro -h`
  kedro-docker/kedro_docker/plugin.py
Due: run-build-kedro-docker

Update kedro-docker/kedro_docker/plugin.py
  kedro-docker/kedro_docker/plugin.py
Due: run-build-kedro-docker

Prefix Docker plugin name with "Kedro-" in usage message
  kedro-docker/kedro_docker/plugin.py
Due: run-build-kedro-docker

Remove duplicated finding and hashing username
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Remove same-line implicit string concatenation
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Create hexdigest of hashed_username on instantiation
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Change test for getpass.getuser approach
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Remove anonymous username test
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Remove testing comment
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Sort imports and break up line
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Remove unused import
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Set default username of 'anonymous'
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Adapt test_before_command_run_get_username_failed
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

dummy
  kedro-datasets/tests/datasets/dummy
Due: run-build-kedro-datasets=false

Fix window test logic
  .circleci/continue_config.yml
Due: none

modify to a nested condition
  .circleci/continue_config.yml
Due: none

Remove trailing whitespace
  .circleci/continue_config.yml
Due: none

Remove trailing whitespace for real
  .circleci/continue_config.yml
Due: none
