Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

.circleci/config.yml:

version: 2.1

setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            kedro-telemetry/.* run-build-kedro-telemetry true
            kedro-docker/.* run-build-kedro-docker true
            kedro-airflow/.* run-build-kedro-airflow true
            kedro-datasets/.* run-build-kedro-datasets false
          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

Fix links on GitHub issue templates (#150)
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Include missing requirements files in sdist
  kedro-datasets/MANIFEST.in
Due: run-build-kedro-datasets=false

fixing regex to allow hyphens
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
Due: run-build-kedro-datasets=false

Add cache key
  .github/workflows/airflow-ci.yml
  .github/workflows/datasets-ci.yml
  .github/workflows/docker-ci.yml
  .github/workflows/telemetry-ci.yml
  .github/workflows/unit-test.yml
Due: none

Add cache action
  .github/workflows/unit-test.yml
Due: none

Rename workflow files
  .github/workflows/check-plugin.yml
  .github/workflows/kedro-airflow.yml
  .github/workflows/kedro-datasets.yml
  .github/workflows/kedro-docker.yml
  .github/workflows/kedro-telemetry.yml
Due: none

Lint + add comment + default bash
  .github/workflows/check-plugin.yml
  .github/workflows/kedro-docker.yml
Due: none

Migrate most project metadata to `pyproject.toml`
  Makefile
  kedro-datasets/pyproject.toml
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

Move requirements to `pyproject.toml`
  kedro-datasets/MANIFEST.in
  kedro-datasets/pyproject.toml
  kedro-datasets/requirements.txt
Due: run-build-kedro-datasets=false

Migrate most of `kedro-datasets` metadata to `pyproject.toml` (#161)
  Makefile
  kedro-datasets/pyproject.toml
  kedro-datasets/requirements.txt
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

add spark_stream_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_stream_dataset.py
Due: run-build-kedro-datasets=false

build(datasets): upgrade to newer, CalVered `s3fs`
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

Update test_requirements.txt
  kedro-datasets/test_requirements.txt
Due: run-build-kedro-datasets=false

Upgrade Polars
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

Update Polars to 0.17.x
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

Upgrade Polars (#171)
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

if release is failed, it return exit code and fail the CI (#158)
  tools/circleci/circleci_release.py
Due: none

Add explicit PEP 518 build requirements for kedro-datasets
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Migrate kedro-airflow to static metadata
  kedro-airflow/MANIFEST.in
  kedro-airflow/pyproject.toml
  kedro-airflow/requirements.txt
  kedro-airflow/setup.cfg
  kedro-airflow/setup.py
Due: run-build-kedro-airflow

Typos
  kedro-airflow/pyproject.toml
Due: run-build-kedro-airflow

Remove dangling reference to requirements.txt
  kedro-airflow/test_requirements.txt
Due: run-build-kedro-airflow

[FEAT] add save method to APIDataset
  kedro-datasets/kedro_datasets/api/api_dataset.py
  kedro-datasets/tests/api/test_api_dataset.py
Due: run-build-kedro-datasets=false

Migrate kedro-telemetry to static metadata
  kedro-telemetry/pyproject.toml
  kedro-telemetry/requirements.txt
  kedro-telemetry/setup.py
  kedro-telemetry/test_requirements.txt
Due: run-build-kedro-telemetry

Add release notes
  kedro-airflow/RELEASE.md
Due: run-build-kedro-airflow

Trigger CI
  kedro-docker/setup.py
Due: run-build-kedro-docker

[ENH] create save_args parameter for api_dataset
  kedro-datasets/kedro_datasets/api/api_dataset.py
Due: run-build-kedro-datasets=false

[ENH] add tests for socket + http errors
  kedro-datasets/kedro_datasets/api/api_dataset.py
  kedro-datasets/tests/api/test_api_dataset.py
Due: run-build-kedro-datasets=false

Add release notes
  kedro-telemetry/RELEASE.md
Due: run-build-kedro-telemetry

Migrate `kedro-airflow` to static metadata (#172)
  kedro-airflow/MANIFEST.in
  kedro-airflow/RELEASE.md
  kedro-airflow/pyproject.toml
  kedro-airflow/requirements.txt
  kedro-airflow/setup.cfg
  kedro-airflow/setup.py
  kedro-airflow/test_requirements.txt
  kedro-datasets/pyproject.toml
Due: run-build-kedro-airflow, run-build-kedro-datasets=false

Migrate `kedro-telemetry` to static metadata (#174)
  kedro-telemetry/RELEASE.md
  kedro-telemetry/pyproject.toml
  kedro-telemetry/requirements.txt
  kedro-telemetry/setup.py
  kedro-telemetry/test_requirements.txt
Due: run-build-kedro-telemetry

[ENH] check save data is json
  kedro-datasets/kedro_datasets/api/api_dataset.py
  kedro-datasets/tests/api/test_api_dataset.py
Due: run-build-kedro-datasets=false

attempt a fix
  .circleci/continue_config.yml
Due: none

Add windows test
  .github/workflows/check-plugin.yml
Due: none

Revert "attempt a fix"
  .circleci/continue_config.yml
Due: none

Update workflow name + revert changes to READMEs
  .github/workflows/check-plugin.yml
  kedro-airflow/README.md
  kedro-datasets/README.md
  kedro-docker/README.md
  kedro-telemetry/README.md
Due: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

Add kedro-telemetry/RELEASE.md to trufflehog ignore
  trufflehog-ignore.txt
Due: none

Add pytables to test_requirements remove from workflow
  .github/workflows/check-plugin.yml
  kedro-datasets/test_requirements.txt
Due: run-build-kedro-datasets=false

Revert "Add pytables to test_requirements remove from workflow"
  .github/workflows/check-plugin.yml
  kedro-datasets/test_requirements.txt
Due: run-build-kedro-datasets=false

Separate pip freeze step
  .github/workflows/check-plugin.yml
Due: none

ci: port lint, unit test, and e2e tests to Actions (#155)
  .github/workflows/check-plugin.yml
  .github/workflows/kedro-airflow.yml
  .github/workflows/kedro-datasets.yml
  .github/workflows/kedro-docker.yml
  .github/workflows/kedro-telemetry.yml
  trufflehog-ignore.txt
Due: none
