Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

feat(telemetry): Introduce `DO_NO_TRACK` and `KEDRO_DISABLE_TELEMETRY` (#762)
  kedro-telemetry/README.md
  kedro-telemetry/RELEASE.md
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Modify telemetry and tests
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/integration/test_telemetry.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Fix heap name and linting
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/integration/dummy-project/stats.json
Due: run-build-kedro-telemetry

Fix integration tests
  kedro-telemetry/tests/integration/test_telemetry.py
Due: run-build-kedro-telemetry

Draft integration tests
  kedro-telemetry/tests/integration/dummy-project/.gitignore
  kedro-telemetry/tests/integration/dummy-project/README.md
  kedro-telemetry/tests/integration/dummy-project/conf/README.md
  kedro-telemetry/tests/integration/dummy-project/conf/base/catalog.yml
  kedro-telemetry/tests/integration/dummy-project/conf/base/parameters.yml
  kedro-telemetry/tests/integration/dummy-project/conf/local/.gitkeep
  kedro-telemetry/tests/integration/dummy-project/data/01_raw/.gitkeep
  kedro-telemetry/tests/integration/dummy-project/data/01_raw/dummy.csv
  kedro-telemetry/tests/integration/dummy-project/pyproject.toml
  kedro-telemetry/tests/integration/dummy-project/requirements.txt
  kedro-telemetry/tests/integration/dummy-project/src/dummy_project/__init__.py
  kedro-telemetry/tests/integration/dummy-project/src/dummy_project/__main__.py
  kedro-telemetry/tests/integration/dummy-project/src/dummy_project/pipeline_registry.py
  kedro-telemetry/tests/integration/dummy-project/src/dummy_project/pipelines/__init__.py
  kedro-telemetry/tests/integration/dummy-project/src/dummy_project/pipelines/data_processing/__init__.py
  kedro-telemetry/tests/integration/dummy-project/src/dummy_project/pipelines/data_processing/pipeline.py
  kedro-telemetry/tests/integration/dummy-project/src/dummy_project/settings.py
  kedro-telemetry/tests/integration/dummy-project/stats.json
  kedro-telemetry/tests/integration/test_telemetry.py
Due: run-build-kedro-telemetry

Remove integration tests
  kedro-telemetry/tests/integration/dummy-project/.gitignore
  kedro-telemetry/tests/integration/dummy-project/README.md
  kedro-telemetry/tests/integration/dummy-project/conf/README.md
  kedro-telemetry/tests/integration/dummy-project/conf/base/catalog.yml
  kedro-telemetry/tests/integration/dummy-project/conf/base/parameters.yml
  kedro-telemetry/tests/integration/dummy-project/conf/local/.gitkeep
  kedro-telemetry/tests/integration/dummy-project/data/01_raw/.gitkeep
  kedro-telemetry/tests/integration/dummy-project/data/01_raw/dummy.csv
  kedro-telemetry/tests/integration/dummy-project/pyproject.toml
  kedro-telemetry/tests/integration/dummy-project/requirements.txt
  kedro-telemetry/tests/integration/dummy-project/src/dummy_project/__init__.py
  kedro-telemetry/tests/integration/dummy-project/src/dummy_project/__main__.py
  kedro-telemetry/tests/integration/dummy-project/src/dummy_project/pipeline_registry.py
  kedro-telemetry/tests/integration/dummy-project/src/dummy_project/pipelines/__init__.py
  kedro-telemetry/tests/integration/dummy-project/src/dummy_project/pipelines/data_processing/__init__.py
  kedro-telemetry/tests/integration/dummy-project/src/dummy_project/pipelines/data_processing/pipeline.py
  kedro-telemetry/tests/integration/dummy-project/src/dummy_project/settings.py
  kedro-telemetry/tests/integration/dummy-project/stats.json
  kedro-telemetry/tests/integration/test_telemetry.py
Due: run-build-kedro-telemetry

Fix command_args to use masking
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Switch to private names
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

feat(telemetry): Combine Telemetry hook to send heap event once (#766)
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/pyproject.toml
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

feat(telemetry): Combine Telemetry hook to send heap event once (#766)
  kedro-datasets/tests/spark/conftest.py
  kedro-datasets/tests/spark/test_deltatable_dataset.py
  kedro-datasets/tests/spark/test_memory_dataset.py
  kedro-datasets/tests/spark/test_spark_dataset.py
  kedro-datasets/tests/spark/test_spark_hive_dataset.py
  kedro-datasets/tests/spark/test_spark_streaming_dataset.py
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/pyproject.toml
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry, run-build-kedro-datasets=false

fix(datasets): Fix spark tests
  kedro-datasets/tests/spark/conftest.py
  kedro-datasets/tests/spark/test_deltatable_dataset.py
  kedro-datasets/tests/spark/test_memory_dataset.py
  kedro-datasets/tests/spark/test_spark_dataset.py
  kedro-datasets/tests/spark/test_spark_hive_dataset.py
  kedro-datasets/tests/spark/test_spark_streaming_dataset.py
Due: run-build-kedro-datasets=false

fix(datasets): Unpin delta-spark
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Run telemetry outside of kedro projects
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

chore: Update deprecated ruff API .pre-commit-config.yaml (#745)
  .pre-commit-config.yaml
Due: none

fix(datasets): Unpin pandas gbq
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Implemented __repr__
  kedro-datasets/kedro_datasets/partitions/partitioned_dataset.py
Due: run-build-kedro-datasets=false

Added dummy object creation needed for class __repr__
  kedro-datasets/kedro_datasets/partitions/partitioned_dataset.py
Due: run-build-kedro-datasets=false

Updated RELEASE.md
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

Implemented test for repr
  kedro-datasets/tests/partitions/test_partitioned_dataset.py
Due: run-build-kedro-datasets=false

Debug output
  kedro-datasets/tests/partitions/test_partitioned_dataset.py
Due: run-build-kedro-datasets=false

Updated filepath
  kedro-datasets/tests/partitions/test_partitioned_dataset.py
Due: run-build-kedro-datasets=false

Fixed lint
  kedro-datasets/tests/partitions/test_partitioned_dataset.py
Due: run-build-kedro-datasets=false

Removed redundant function call
  kedro-datasets/kedro_datasets/partitions/partitioned_dataset.py
Due: run-build-kedro-datasets=false

mask credentials
  kedro-datasets/kedro_datasets/ibis/table_dataset.py
Due: run-build-kedro-datasets=false

Implement `plotly.HTMLDataset`
  kedro-datasets/RELEASE.md
  kedro-datasets/docs/source/api/kedro_datasets.rst
  kedro-datasets/kedro_datasets/plotly/__init__.py
  kedro-datasets/kedro_datasets/plotly/html_dataset.py
  kedro-datasets/pyproject.toml
  kedro-datasets/tests/plotly/test_html_dataset.py
Due: run-build-kedro-datasets=false

Fix type hint
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Update readme.md after opt-out
  kedro-telemetry/README.md
Due: run-build-kedro-telemetry

Always set self._consent
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Lint
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Update kedro-telemetry/README.md
  kedro-telemetry/README.md
Due: run-build-kedro-telemetry

feat(datasets): Update `__repr__` for `PartitionedDataset` (#782)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/partitions/partitioned_dataset.py
  kedro-datasets/tests/partitions/test_partitioned_dataset.py
Due: run-build-kedro-datasets=false

Address review comments
  kedro-telemetry/README.md
Due: run-build-kedro-telemetry

Change readme according to kedro docs
  kedro-telemetry/README.md
Due: run-build-kedro-telemetry

update describe method
  kedro-datasets/kedro_datasets/ibis/table_dataset.py
Due: run-build-kedro-datasets=false

release note
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

remove telemetry opt-out notifications
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Remove tests for opt-out notifications
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

feat(telemetry): Remove telemetry opt-out notifications (#792)
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Remove opt out notification
  kedro-telemetry/README.md
Due: run-build-kedro-telemetry

Path conditions:
  run-build-kedro-telemetry: any of: kedro-telemetry/.*
  run-build-kedro-docker: any of: kedro-docker/.*
  run-build-kedro-airflow: any of: kedro-airflow/.*
  run-build-kedro-datasets=false: any of: kedro-datasets/.*
