Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

.circleci/config.yml:

version: 2.1

setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            kedro-telemetry/.* run-build-kedro-telemetry true
            kedro-docker/.* run-build-kedro-docker true
            kedro-airflow/.* run-build-kedro-airflow true
            kedro-datasets/.* run-build-kedro-datasets false
          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

Use mocking for AWS responses
  kedro-datasets/setup.py
  kedro-datasets/tests/conftest.py
  kedro-datasets/tests/dask/test_parquet_dataset.py
  kedro-datasets/tests/spark/test_spark_dataset.py
Due: run-build-kedro-datasets=false

Add change to release notes
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

Update release notes
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

Use pytest xfail instead of commenting out test
  kedro-datasets/tests/dask/test_parquet_dataset.py
  kedro-datasets/tests/spark/test_spark_dataset.py
Due: run-build-kedro-datasets=false

switch to Dockerfile, same configuration as the kedro branch.
  .gitpod.Dockerfile
  .gitpod.yml
Due: none

build(datasets): Bump s3fs (#463)
  kedro-datasets/RELEASE.md
  kedro-datasets/setup.py
  kedro-datasets/tests/conftest.py
  kedro-datasets/tests/dask/test_parquet_dataset.py
  kedro-datasets/tests/spark/test_spark_dataset.py
Due: run-build-kedro-datasets=false

test(datasets): make SQL dataset examples runnable (#455)
  Makefile
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
Due: run-build-kedro-datasets=false

fix(datasets): correct pandas-gbq as py311 dependency (#460)
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

Clean up code for old dataset syntax compabitility
  kedro-datasets/kedro_datasets/_io.py
  kedro-datasets/tests/test_io.py
Due: run-build-kedro-datasets=false

Update datasets to be arguments keyword only
  kedro-datasets/kedro_datasets/huggingface/hugging_face_dataset.py
  kedro-datasets/kedro_datasets/huggingface/transformer_pipeline_dataset.py
  kedro-datasets/kedro_datasets/partitions/partitioned_dataset.py
Due: run-build-kedro-datasets=false

Update partitioned dataset tests
  kedro-datasets/tests/partitions/test_partitioned_dataset.py
Due: run-build-kedro-datasets=false

Document IncrementalDataset
  kedro-datasets/docs/source/kedro_datasets.rst
Due: run-build-kedro-datasets=false

Update scikit-learn version
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

docs(datasets): Document `IncrementalDataset` (#468)
  kedro-datasets/docs/source/kedro_datasets.rst
Due: run-build-kedro-datasets=false

chore: Update datasets to be arguments keyword only (#466)
  kedro-datasets/kedro_datasets/huggingface/hugging_face_dataset.py
  kedro-datasets/kedro_datasets/huggingface/transformer_pipeline_dataset.py
  kedro-datasets/kedro_datasets/partitions/partitioned_dataset.py
  kedro-datasets/tests/partitions/test_partitioned_dataset.py
Due: run-build-kedro-datasets=false

chore: Update scikit-learn version (#469)
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

Fix test
  kedro-datasets/tests/partitions/test_partitioned_dataset.py
Due: run-build-kedro-datasets=false

feat(datasets): support versioning data partitions (#447)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/partitions/incremental_dataset.py
  kedro-datasets/kedro_datasets/partitions/partitioned_dataset.py
  kedro-datasets/tests/partitions/test_incremental_dataset.py
  kedro-datasets/tests/partitions/test_partitioned_dataset.py
Due: run-build-kedro-datasets=false

Rework documentation index
  kedro-datasets/README.md
  kedro-datasets/docs/source/api/kedro_datasets.rst
  kedro-datasets/docs/source/conf.py
  kedro-datasets/docs/source/index.md
  kedro-datasets/docs/source/index.rst
Due: run-build-kedro-datasets=false

docs(datasets): Improve documentation index (#428)
  kedro-datasets/README.md
  kedro-datasets/docs/source/api/kedro_datasets.rst
  kedro-datasets/docs/source/conf.py
  kedro-datasets/docs/source/index.md
  kedro-datasets/docs/source/index.rst
Due: run-build-kedro-datasets=false

docs(datasets): update wrong docstring about `con` (#461)
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
Due: run-build-kedro-datasets=false

Bump version and update release notes
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

Update kedro-datasets/RELEASE.md
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

build(datasets): Release `2.0.0` (#472)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

bump version to 0.5.0
  kedro-telemetry/kedro_telemetry/__init__.py
Due: run-build-kedro-telemetry

bump version to 0.5.0
  kedro-docker/kedro_docker/__init__.py
Due: run-build-kedro-docker

Pin PyYaml
  kedro-telemetry/pyproject.toml
Due: run-build-kedro-telemetry

ci(telemetry): Pin `PyYAML` (#474)
  kedro-telemetry/pyproject.toml
Due: run-build-kedro-telemetry

bump
  kedro-telemetry/RELEASE.md
  kedro-telemetry/kedro_telemetry/__init__.py
Due: run-build-kedro-telemetry

unbound kedro
  kedro-telemetry/RELEASE.md
  kedro-telemetry/kedro_telemetry/__init__.py
  kedro-telemetry/pyproject.toml
Due: run-build-kedro-telemetry

remove outdated commands
  kedro-telemetry/tests/test_masking.py
Due: run-build-kedro-telemetry

chore(datasets): replace more "data_set" instances
  kedro-datasets/kedro_datasets/geopandas/README.md
  kedro-datasets/kedro_datasets/tensorflow/README.md
  kedro-datasets/tests/polars/test_lazy_polars_dataset.py
  kedro-datasets/tests/redis/test_redis_dataset.py
  kedro-datasets/tests/spark/test_spark_dataset.py
Due: run-build-kedro-datasets=false

add missing commands
  kedro-telemetry/tests/test_masking.py
Due: run-build-kedro-telemetry

build(telemetry): Release 0.3.1 (#475)
  kedro-telemetry/RELEASE.md
  kedro-telemetry/kedro_telemetry/__init__.py
  kedro-telemetry/pyproject.toml
  kedro-telemetry/tests/test_masking.py
Due: run-build-kedro-telemetry

Fix broken links in README
  kedro-datasets/README.md
Due: run-build-kedro-datasets=false

docs(datasets): Fix broken links in README (#477)
  kedro-datasets/README.md
Due: run-build-kedro-datasets=false

update e2e tests to use new starters
  kedro-docker/features/docker.feature
Due: run-build-kedro-docker

bump version
  kedro-airflow/kedro_airflow/__init__.py
Due: run-build-kedro-airflow
