Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

[kedro-docker] Layers size optimization (#92)
  kedro-docker/.coveragerc
  kedro-docker/.pre-commit-config.yaml
  kedro-docker/RELEASE.md
  kedro-docker/features/docker.feature
  kedro-docker/features/docker_with_spark.feature
  kedro-docker/features/steps/cli_steps.py
  kedro-docker/kedro_docker/plugin.py
  kedro-docker/kedro_docker/template/Dockerfile.simple
  kedro-docker/kedro_docker/template/Dockerfile.spark
  kedro-docker/test_requirements.txt
Due: run-build-kedro-docker

Add release notes for kedro-docker 0.3.1
  kedro-docker/RELEASE.md
Due: run-build-kedro-docker

Update version in kedro_docker module
  kedro-docker/kedro_docker/__init__.py
Due: run-build-kedro-docker

Release Kedro-Docker 0.3.1 (#94)
  kedro-docker/RELEASE.md
  kedro-docker/kedro_docker/__init__.py
Due: run-build-kedro-docker

Documentation and removal of warehouse param from dataset (#3)
  kedro-datasets/kedro_datasets/snowflake/snowpark_dataset.py
  kedro-datasets/tests/snowflake/README.md
Due: run-build-kedro-datasets=false

Bump version and update release notes
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

Bump version and update release notes (#96)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

Update pyarrow
  kedro-datasets/test_requirements.txt
Due: run-build-kedro-datasets=false

Add support for Azure Data Lake Storage Gen2 URIs (#2190)
  kedro/io/core.py
Due: none

Fix an error in docstring of MetricsDataSet
  kedro-datasets/kedro_datasets/tracking/metrics_dataset.py
Due: run-build-kedro-datasets=false

Add python version 3.8 marker for snowpark
  kedro-datasets/setup.py
  kedro-datasets/test_requirements.txt
Due: run-build-kedro-datasets=false

Implement lint suggestions
  kedro-datasets/kedro_datasets/snowflake/snowpark_dataset.py
  kedro-datasets/tests/snowflake/README.md
  kedro-datasets/tests/snowflake/test_snowpark_dataset.py
Due: run-build-kedro-datasets=false

Omit snowflake tests on pyproject.toml
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Add Makefile final line
  Makefile
Due: none

Fix for tests on different python version
  kedro-datasets/kedro_datasets/snowflake/snowpark_dataset.py
  kedro-datasets/pyproject.toml
  kedro-datasets/tests/snowflake/test_snowpark_dataset.py
Due: run-build-kedro-datasets=false

Remove snowpark tests from cov report
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Add non-spark related test changes Replace kedro.pipeline.Pipeline with kedro.pipeline.modular_pipeline.pipeline factory. This is for symmetry with changes made to the main kedro library.
  kedro-airflow/tests/test_plugin.py
Due: run-build-kedro-airflow

Bump relax pyarrow version to work the same way as Pandas
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

Updated release notes
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

Fix an error in docstring of MetricsDataSet (#98)
  kedro-datasets/kedro_datasets/tracking/metrics_dataset.py
Due: run-build-kedro-datasets=false

Bump relax pyarrow version to work the same way as Pandas (#100)
  kedro-datasets/RELEASE.md
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

Add spark related test changes
  kedro-datasets/tests/spark/test_deltatable_dataset.py
  kedro-datasets/tests/spark/test_spark_dataset.py
Due: run-build-kedro-datasets=false

Add change logs to relevant RELEASE.md files
  kedro-airflow/RELEASE.md
  kedro-datasets/RELEASE.md
Due: run-build-kedro-airflow, run-build-kedro-datasets=false

Add Pillow to airflow test_requirements.txt
  kedro-airflow/test_requirements.txt
Due: run-build-kedro-airflow

Fix linter errors
  kedro-airflow/test_requirements.txt
Due: run-build-kedro-airflow

Remove Pillow from airflow plugin requirements
  kedro-airflow/test_requirements.txt
Due: run-build-kedro-airflow

Replace test-no-spark hardcoded kedro-dataset
  Makefile
Due: none

Replace pipeline object for modular_pipeline
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Re-hardcode the kedro-dataset into test-no-spark
  Makefile
Due: none

bump package version and release
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

polars csvdataset
  kedro-datasets/kedro_datasets/polars/__init__.py
  kedro-datasets/kedro_datasets/polars/csv_dataset.py
  kedro-datasets/kedro_datasets/polars/ipc_dataset.py
  kedro-datasets/kedro_datasets/polars/parquet_dataset.py
  kedro-datasets/test_requirements.txt
  kedro-datasets/tests/polars/__init__.py
  kedro-datasets/tests/polars/test_csv_dataset.py
Due: run-build-kedro-datasets=false

workaoround since boto3 cant store encoded bytesio or .encode Body
  kedro-datasets/tests/polars/test_csv_dataset.py
Due: run-build-kedro-datasets=false

updated docstrings and polars version
  kedro-datasets/kedro_datasets/polars/csv_dataset.py
  kedro-datasets/kedro_datasets/polars/ipc_dataset.py
  kedro-datasets/kedro_datasets/polars/parquet_dataset.py
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

Polars setup.py
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

Bump version and update release notes (#96)
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

Snowpark dataset implementation
  Makefile
  kedro-datasets/kedro_datasets/snowflake/__init__.py
  kedro-datasets/kedro_datasets/snowflake/snowpark_dataset.py
  kedro-datasets/pyproject.toml
  kedro-datasets/setup.py
  kedro-datasets/test_requirements.txt
  kedro-datasets/tests/snowflake/README.md
  kedro-datasets/tests/snowflake/__init__.py
  kedro-datasets/tests/snowflake/conftest.py
  kedro-datasets/tests/snowflake/test_snowpark_dataset.py
Due: run-build-kedro-datasets=false

Update formatting
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Change check to check on plugin name
  .circleci/continue_config.yml
Due: none

Path conditions:
  run-build-kedro-telemetry: any of: kedro-telemetry/.*
  run-build-kedro-docker: any of: kedro-docker/.*
  run-build-kedro-airflow: any of: kedro-airflow/.*
  run-build-kedro-datasets=false: any of: kedro-datasets/.*
