Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

.circleci/config.yml:

version: 2.1

setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            kedro-telemetry/.* run-build-kedro-telemetry true
            kedro-docker/.* run-build-kedro-docker true
            kedro-airflow/.* run-build-kedro-airflow true
            kedro-datasets/.* run-build-kedro-datasets false
          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

Update kedro-airflow/kedro_airflow/grouping.py
  kedro-airflow/kedro_airflow/grouping.py
Due: run-build-kedro-airflow

Update kedro-airflow/README.md
  kedro-airflow/README.md
Due: run-build-kedro-airflow

fix: tests
  kedro-airflow/tests/test_node_grouping.py
Due: run-build-kedro-airflow

Bump minimum kedro version
  kedro-airflow/pyproject.toml
Due: run-build-kedro-airflow

fixes
  kedro-airflow/kedro_airflow/grouping.py
Due: run-build-kedro-airflow

feat: `kedro-airflow` group in memory nodes (#241)
  kedro-airflow/README.md
  kedro-airflow/RELEASE.md
  kedro-airflow/kedro_airflow/airflow_dag_template.j2
  kedro-airflow/kedro_airflow/grouping.py
  kedro-airflow/kedro_airflow/plugin.py
  kedro-airflow/pyproject.toml
  kedro-airflow/tests/test_node_grouping.py
  kedro-airflow/tests/test_plugin.py
Due: run-build-kedro-airflow

feat: include environment name in DAG file
  kedro-airflow/kedro_airflow/plugin.py
  kedro-airflow/tests/test_plugin.py
Due: run-build-kedro-airflow

doc: add update to release notes
  kedro-airflow/RELEASE.md
Due: run-build-kedro-airflow

ci(datasets): Update pyproject.toml to pin Kedro 0.19 for kedro-datasets (#526)
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

fix lint and tests
  kedro-datasets/kedro_datasets/constants.py
  kedro-datasets/kedro_datasets/matplotlib/matplotlib_writer.py
  kedro-datasets/kedro_datasets/pandas/csv_dataset.py
  kedro-datasets/kedro_datasets/pandas/excel_dataset.py
  kedro-datasets/kedro_datasets/plotly/json_dataset.py
  kedro-datasets/kedro_datasets/plotly/plotly_dataset.py
  kedro-datasets/kedro_datasets/tracking/json_dataset.py
  kedro-datasets/kedro_datasets/tracking/metrics_dataset.py
  kedro-datasets/tests/matplotlib/test_matplotlib_writer.py
  kedro-datasets/tests/pandas/test_csv_dataset.py
  kedro-datasets/tests/pandas/test_excel_dataset.py
  kedro-datasets/tests/plotly/test_json_dataset.py
  kedro-datasets/tests/plotly/test_plotly_dataset.py
  kedro-datasets/tests/tracking/test_json_dataset.py
  kedro-datasets/tests/tracking/test_metrics_dataset.py
Due: run-build-kedro-datasets=false

feat(airflow): include environment name in DAG filename (#492)
  kedro-airflow/RELEASE.md
  kedro-airflow/kedro_airflow/plugin.py
  kedro-airflow/tests/test_plugin.py
Due: run-build-kedro-airflow

added docstrings
  kedro-datasets/kedro_datasets/matplotlib/matplotlib_writer.py
  kedro-datasets/kedro_datasets/pandas/csv_dataset.py
  kedro-datasets/kedro_datasets/pandas/excel_dataset.py
  kedro-datasets/kedro_datasets/plotly/json_dataset.py
  kedro-datasets/kedro_datasets/plotly/plotly_dataset.py
Due: run-build-kedro-datasets=false

rtd fix
  kedro-datasets/kedro_datasets/pandas/csv_dataset.py
  kedro-datasets/kedro_datasets/pandas/excel_dataset.py
Due: run-build-kedro-datasets=false

rtd fix
  kedro-datasets/kedro_datasets/tracking/json_dataset.py
  kedro-datasets/kedro_datasets/tracking/metrics_dataset.py
Due: run-build-kedro-datasets=false

fix rtd
  kedro-datasets/kedro_datasets/tracking/json_dataset.py
  kedro-datasets/kedro_datasets/tracking/metrics_dataset.py
Due: run-build-kedro-datasets=false

Update plugin.py in order to be able to pass the spark configurations to the airflow template
  kedro-airflow/kedro_airflow/plugin.py
Due: run-build-kedro-airflow

add spark configs to the rendered template
  kedro-airflow/kedro_airflow/plugin.py
Due: run-build-kedro-airflow

change function name to _load_spark_config
  kedro-airflow/kedro_airflow/plugin.py
Due: run-build-kedro-airflow

fix rtd - pls"
  kedro-datasets/docs/source/conf.py
Due: run-build-kedro-datasets=false

add nitpick ignore
  kedro-datasets/docs/source/conf.py
Due: run-build-kedro-datasets=false

test again
  kedro-datasets/docs/source/conf.py
Due: run-build-kedro-datasets=false

move tracking datasets to constant
  kedro-datasets/docs/source/conf.py
  kedro-datasets/kedro_datasets/constants.py
  kedro-datasets/kedro_datasets/tracking/json_dataset.py
  kedro-datasets/kedro_datasets/tracking/metrics_dataset.py
Due: run-build-kedro-datasets=false

remove comma
  kedro-datasets/docs/source/conf.py
Due: run-build-kedro-datasets=false

remove Newtype from json_dataset"
  kedro-datasets/kedro_datasets/tracking/json_dataset.py
  kedro-datasets/test.pkl
  kedro-datasets/test.xlsx
Due: run-build-kedro-datasets=false

pls work
  kedro-datasets/docs/source/conf.py
  kedro-datasets/kedro_datasets/tracking/json_dataset.py
Due: run-build-kedro-datasets=false

Small fixes post-merge
  kedro-datasets/RELEASE.md
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

Lint
  kedro-datasets/kedro_datasets/netcdf/netcdf_dataset.py
Due: run-build-kedro-datasets=false

done
  kedro-datasets/docs/source/_templates/layout.html
Due: run-build-kedro-datasets=false

confirm rtd works locally
  kedro-datasets/docs/source/conf.py
Due: run-build-kedro-datasets=false

Fix import
  kedro-datasets/tests/netcdf/test_netcdf_dataset.py
Due: run-build-kedro-datasets=false

juanlu's fix
  kedro-datasets/docs/source/conf.py
Due: run-build-kedro-datasets=false

fix lint
  kedro-datasets/docs/source/_templates/layout.html
Due: run-build-kedro-datasets=false

fix tests
  kedro-datasets/tests/tracking/test_json_dataset.py
  kedro-datasets/tests/tracking/test_metrics_dataset.py
Due: run-build-kedro-datasets=false

feat(datasets): Enable search-as-you type on Kedro-datasets docs (#532)
  kedro-datasets/docs/source/_templates/layout.html
Due: run-build-kedro-datasets=false

debug nightly
  kedro-docker/features/docker.feature
  kedro-docker/kedro_docker/template/Dockerfile.simple
Due: run-build-kedro-docker

remove unnecessary stuff from conf.py
  kedro-datasets/docs/source/conf.py
Due: run-build-kedro-datasets=false

Update pyproject.toml
  kedro-docker/pyproject.toml
Due: run-build-kedro-docker
