Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

.circleci/config.yml:

version: 2.1

setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            kedro-telemetry/.* run-build-kedro-telemetry true
            kedro-docker/.* run-build-kedro-docker true
            kedro-airflow/.* run-build-kedro-airflow true
            kedro-datasets/.* run-build-kedro-datasets false
          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

feat(datasets): Add limited `langchain` support for Anthropic, Cohere, and OpenAI models (#434)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets_experimental/langchain/__init__.py
  kedro-datasets/kedro_datasets_experimental/langchain/_anthropic.py
  kedro-datasets/kedro_datasets_experimental/langchain/_cohere.py
  kedro-datasets/kedro_datasets_experimental/langchain/_openai.py
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Add lanchain datasets to API docs
  kedro-datasets/docs/source/api/kedro_datasets_experimental.rst
  kedro-datasets/kedro_datasets_experimental/langchain/_anthropic.py
  kedro-datasets/kedro_datasets_experimental/langchain/_cohere.py
  kedro-datasets/kedro_datasets_experimental/langchain/_openai.py
Due: run-build-kedro-datasets=false

Fix docs build
  kedro-datasets/docs/source/conf.py
Due: run-build-kedro-datasets=false

revert
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
Due: run-build-kedro-datasets=false

revert test
  kedro-datasets/tests/databricks/test_managed_table_dataset.py
Due: run-build-kedro-datasets=false

Add --conf-source to kedro-airflow
  kedro-airflow/kedro_airflow/airflow_dag_template.j2
  kedro-airflow/kedro_airflow/plugin.py
  kedro-airflow/tests/test_plugin.py
Due: run-build-kedro-airflow

Add conf_source to operator
  kedro-airflow/kedro_airflow/airflow_dag_template.j2
Due: run-build-kedro-airflow

Make temperature float everywhere
  kedro-datasets/kedro_datasets_experimental/langchain/_cohere.py
  kedro-datasets/kedro_datasets_experimental/langchain/_openai.py
Due: run-build-kedro-datasets=false

docs(datasets): Add langchain datasets to API docs (#711)
  kedro-datasets/docs/source/api/kedro_datasets_experimental.rst
  kedro-datasets/docs/source/conf.py
  kedro-datasets/kedro_datasets_experimental/langchain/_anthropic.py
  kedro-datasets/kedro_datasets_experimental/langchain/_cohere.py
  kedro-datasets/kedro_datasets_experimental/langchain/_openai.py
Due: run-build-kedro-datasets=false

Fixed unit test
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

fix(telemetry): Single project identifier (#701)
  kedro-telemetry/RELEASE.md
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Set default behavour
  kedro-airflow/kedro_airflow/airflow_dag_template.j2
  kedro-airflow/kedro_airflow/plugin.py
Due: run-build-kedro-airflow

fix tests
  kedro-airflow/kedro_airflow/airflow_dag_template.j2
  kedro-airflow/tests/test_plugin.py
Due: run-build-kedro-airflow

fix tests
  kedro-airflow/tests/test_plugin.py
Due: run-build-kedro-airflow

Release notes + remove print
  kedro-airflow/RELEASE.md
  kedro-airflow/tests/test_plugin.py
Due: run-build-kedro-airflow

Turn of path exist check
  kedro-airflow/kedro_airflow/plugin.py
Due: run-build-kedro-airflow

add compatability
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
Due: run-build-kedro-datasets=false

Update test_managed_table_dataset.py
  kedro-datasets/tests/databricks/test_managed_table_dataset.py
Due: run-build-kedro-datasets=false

Update managed_table_dataset.py
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
Due: run-build-kedro-datasets=false

Turn of path resolving
  kedro-airflow/kedro_airflow/plugin.py
  kedro-airflow/tests/test_plugin.py
Due: run-build-kedro-airflow

debugging
  kedro-datasets/tests/databricks/test_managed_table_dataset.py
Due: run-build-kedro-datasets=false

update tests and save method
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
  kedro-datasets/tests/databricks/test_managed_table_dataset.py
Due: run-build-kedro-datasets=false

lint
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
  kedro-datasets/tests/databricks/test_managed_table_dataset.py
Due: run-build-kedro-datasets=false

fix mypy
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
Due: run-build-kedro-datasets=false

renamed to xarray
  kedro-datasets/docs/source/kedro_datasets.rst
  kedro-datasets/kedro_datasets/geotiff/geotiff_dataset.py
  kedro-datasets/kedro_datasets/xarray/__init__.py
  kedro-datasets/kedro_datasets/xarray/geotiff_dataset.py
Due: run-build-kedro-datasets=false

renamed to xarray
  kedro-datasets/docs/source/kedro_datasets.rst
Due: run-build-kedro-datasets=false

added empty test
  kedro-datasets/tests/xarray/__init__.py
  kedro-datasets/tests/xarray/test_geotiff_dataset.py
Due: run-build-kedro-datasets=false

added load and self args
  kedro-datasets/kedro_datasets/xarray/geotiff_dataset.py
Due: run-build-kedro-datasets=false

only local files
  kedro-datasets/kedro_datasets/xarray/geotiff_dataset.py
Due: run-build-kedro-datasets=false

added basic code for geotiff
  kedro-datasets/kedro_datasets/geotiff/__init__.py
  kedro-datasets/kedro_datasets/geotiff/geotiff_dataset.py
Due: run-build-kedro-datasets=false

reformat with black
  kedro-datasets/tests/xarray/test_geotiff_dataset.py
Due: run-build-kedro-datasets=false

rioxarray 0.14
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

added test data
  kedro-datasets/kedro_datasets/xarray/__init__.py
  kedro-datasets/tests/xarray/cog.tif
  kedro-datasets/tests/xarray/test_geotiff_dataset.py
Due: run-build-kedro-datasets=false

rioxarray 0.9
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

rioxarray 0.12
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

rioxarray 0.15
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false
