Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

chore: remove support for python 3.9
  kedro-datasets/CONTRIBUTING.md
  kedro-datasets/README.md
  kedro-datasets/docs/source/conf.py
  kedro-datasets/pyproject.toml
  kedro-datasets/tests/spark/conftest.py
Due: run-build-kedro-datasets=false

chore: remove environment markers for python 3.9
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

chore: remove Union in favor of | operator
  kedro-datasets/docs/source/conf.py
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
  kedro-datasets/kedro_datasets/geopandas/geojson_dataset.py
  kedro-datasets/kedro_datasets/matplotlib/matplotlib_writer.py
  kedro-datasets/kedro_datasets/pandas/excel_dataset.py
  kedro-datasets/kedro_datasets/plotly/html_dataset.py
  kedro-datasets/kedro_datasets/plotly/json_dataset.py
  kedro-datasets/kedro_datasets/polars/lazy_polars_dataset.py
  kedro-datasets/kedro_datasets/svmlight/svmlight_dataset.py
Due: run-build-kedro-datasets=false

chore: use collections.abc.Callable instead of typing.Callable
  kedro-datasets/kedro_datasets/partitions/incremental_dataset.py
  kedro-datasets/kedro_datasets/partitions/partitioned_dataset.py
  kedro-datasets/tests/conftest.py
Due: run-build-kedro-datasets=false

chore: use `|` in favor of tuples for isinstance checks
  kedro-datasets/kedro_datasets/matplotlib/matplotlib_writer.py
  kedro-datasets/tests/spark/conftest.py
Due: run-build-kedro-datasets=false

chore: remove python 3.9 from CI
  .github/workflows/kedro-datasets.yml
Due: none

chore: run formatter
  kedro-datasets/kedro_datasets/plotly/html_dataset.py
  kedro-datasets/kedro_datasets/plotly/json_dataset.py
Due: run-build-kedro-datasets=false

build(datasets): relax bounds for holoviews, scipy
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

chore(datasets): bump pillow
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Apply suggestions from code review
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

chore: remove python 3.8 support for kedro-docker
  .github/workflows/kedro-docker.yml
  .pre-commit-config.yaml
  kedro-docker/features/steps/sh_run.py
  kedro-docker/features/steps/util.py
  kedro-docker/kedro_docker/helpers.py
  kedro-docker/kedro_docker/plugin.py
  kedro-docker/pyproject.toml
Due: run-build-kedro-docker

docs: update release notes
  kedro-docker/RELEASE.md
Due: run-build-kedro-docker

chore: removed support for python 3.8 for kedro-airflow
  .github/workflows/kedro-airflow.yml
  .pre-commit-config.yaml
  kedro-airflow/RELEASE.md
  kedro-airflow/features/steps/sh_run.py
  kedro-airflow/pyproject.toml
Due: run-build-kedro-airflow

chore: remove support for python 3.8 for kedro-telemetry
  .github/workflows/kedro-telemetry.yml
  .pre-commit-config.yaml
  kedro-telemetry/RELEASE.md
  kedro-telemetry/kedro_telemetry/masking.py
  kedro-telemetry/pyproject.toml
  kedro-telemetry/tests/integration/dummy-project/src/dummy_project/__main__.py
  kedro-telemetry/tests/integration/dummy-project/src/dummy_project/pipeline_registry.py
Due: run-build-kedro-telemetry

ci: remove python 3.8 from airflow and docker
  .github/workflows/kedro-airflow.yml
  .github/workflows/kedro-docker.yml
Due: none

ci: remove python 3.8 from airflow and telemetry
  .github/workflows/kedro-airflow.yml
  .github/workflows/kedro-telemetry.yml
Due: none

ci: remove python 3.8 from docker and telemetry
  .github/workflows/kedro-docker.yml
  .github/workflows/kedro-telemetry.yml
Due: none

build(datasets): relax bounds for holoviews, scipy (#868)
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

docs: remove python 3.8 from readme badge
  kedro-telemetry/README.md
Due: run-build-kedro-telemetry

docs: remove python 3.8 from readme badge
  kedro-airflow/README.md
Due: run-build-kedro-airflow

docs: remove Python3.8 from README
  kedro-docker/README.md
Due: run-build-kedro-docker

chore(datasets): bump `pillow` (#871)
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

chore: remove support for python 3.8 for kedro-telemetry (#878)
  .github/workflows/kedro-airflow.yml
  .github/workflows/kedro-docker.yml
  .github/workflows/kedro-telemetry.yml
  .pre-commit-config.yaml
  kedro-telemetry/README.md
  kedro-telemetry/RELEASE.md
  kedro-telemetry/kedro_telemetry/masking.py
  kedro-telemetry/pyproject.toml
  kedro-telemetry/tests/integration/dummy-project/src/dummy_project/__main__.py
  kedro-telemetry/tests/integration/dummy-project/src/dummy_project/pipeline_registry.py
Due: run-build-kedro-telemetry

chore: remove support for python 3.8 for kedro-airflow (#877)
  .pre-commit-config.yaml
  kedro-airflow/README.md
  kedro-airflow/RELEASE.md
  kedro-airflow/features/steps/sh_run.py
  kedro-airflow/pyproject.toml
Due: run-build-kedro-airflow

feat(datasets): implement `FileDataset` versioning
  kedro-datasets/kedro_datasets/ibis/file_dataset.py
  kedro-datasets/tests/ibis/test_file_dataset.py
Due: run-build-kedro-datasets=false

docs(datasets): add example of Polars `read_delta`
  kedro-datasets/kedro_datasets/ibis/file_dataset.py
Due: run-build-kedro-datasets=false

style(datasets): run prettier on the release notes
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

chore(datasets): add docstring for `hashable` func
  kedro-datasets/kedro_datasets/ibis/table_dataset.py
Due: run-build-kedro-datasets=false

docs(datasets): add `FileDataset` to release notes
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

chore(datasets): remove second filepath assignment
  kedro-datasets/kedro_datasets/ibis/file_dataset.py
Due: run-build-kedro-datasets=false

revert(datasets): use pathlib, ignore Windows test
  kedro-datasets/kedro_datasets/ibis/file_dataset.py
  kedro-datasets/tests/ibis/test_file_dataset.py
Due: run-build-kedro-datasets=false

docs(datasets): add docstring for the `connection`
  kedro-datasets/kedro_datasets/ibis/file_dataset.py
  kedro-datasets/kedro_datasets/ibis/table_dataset.py
Due: run-build-kedro-datasets=false

docs(datasets): add `ibis.FileDataset` to contents
  kedro-datasets/docs/source/api/kedro_datasets.rst
Due: run-build-kedro-datasets=false

chore(datasets): default to writing a Parquet file
  kedro-datasets/kedro_datasets/ibis/file_dataset.py
Due: run-build-kedro-datasets=false

chore(datasets): add docstring for `hashable` func
  kedro-datasets/kedro_datasets/ibis/file_dataset.py
Due: run-build-kedro-datasets=false

feat(datasets)!: expose `load` and `save` publicly
  kedro-datasets/kedro_datasets/ibis/file_dataset.py
Due: run-build-kedro-datasets=false

chore(datasets): try `os.path.exists`, for Windows
  kedro-datasets/kedro_datasets/ibis/file_dataset.py
Due: run-build-kedro-datasets=false

chore(datasets): deprecate `TableDataset` file I/O
  kedro-datasets/kedro_datasets/ibis/table_dataset.py
Due: run-build-kedro-datasets=false

feat(datasets): create separate `ibis.FileDataset`
  kedro-datasets/kedro_datasets/ibis/__init__.py
  kedro-datasets/kedro_datasets/ibis/file_dataset.py
  kedro-datasets/tests/ibis/test_file_dataset.py
Due: run-build-kedro-datasets=false

chore: remove python 3.8 support for kedro-docker (#876)
  .pre-commit-config.yaml
  kedro-docker/README.md
  kedro-docker/RELEASE.md
  kedro-docker/features/steps/sh_run.py
  kedro-docker/features/steps/util.py
  kedro-docker/kedro_docker/helpers.py
  kedro-docker/kedro_docker/plugin.py
  kedro-docker/pyproject.toml
Due: run-build-kedro-docker

Path conditions:
  run-build-kedro-telemetry: any of: kedro-telemetry/.*
  run-build-kedro-docker: any of: kedro-docker/.*
  run-build-kedro-airflow: any of: kedro-airflow/.*
  run-build-kedro-datasets=false: any of: kedro-datasets/.*
