Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

Fix wrong CI config
  .circleci/continue_config.yml
Due: none

Trigger CI
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

Fixing precommit config
  kedro-datasets/.pre-commit-config.yaml
Due: run-build-kedro-datasets=false

Fix coverage to ignore kedro
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

fix coverage
  .circleci/continue_config.yml
  kedro-datasets/.coveragerc
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Update kedro-datasets/kedro_datasets/datasets/README.md
  kedro-datasets/kedro_datasets/datasets/README.md
Due: run-build-kedro-datasets=false

Apply comments
  .circleci/continue_config.yml
  kedro-datasets/README.md
  kedro-datasets/kedro_datasets/datasets/README.md
  kedro-datasets/setup.cfg
Due: run-build-kedro-datasets=false

Fix test coverage
  Makefile
Due: none

fix CI config
  .circleci/continue_config.yml
Due: none

Fixing coverage
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Fix Test Coverage
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

change CI config
  .circleci/continue_config.yml
Due: none

apply comments
  .circleci/continue_config.yml
  kedro-datasets/setup.py
  kedro-datasets/tests/logging/__init__.py
  kedro-datasets/tests/logging/test_color_logger.py
Due: run-build-kedro-datasets=false

better docstring
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

add extra_requires
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

put back the circle ci config
  .circleci/continue_config.yml
Due: none

initial setup for datasets cI
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

Add window config
  .circleci/continue_config.yml
Due: none

Revert CI config to last commit
  .circleci/continue_config.yml
Due: none

dummy changes to trigger CI
  kedro-datasets/tests/datasets/api/__init__.py
Due: run-build-kedro-datasets=false

Bug fix the path-filtering, wrong repository
  .circleci/config.yml
Due: none

Revert CI config to last commit (#41)
  .circleci/continue_config.yml
Due: none

More attempts to fix CI - wish I can test locally
  .circleci/continue_config.yml
Due: none

Need to cd to the plugins directory before install
  .circleci/continue_config.yml
Due: none

Add window setup for tensorflow test
  .circleci/continue_config.yml
Due: none

fixing Spark related test
  .circleci/continue_config.yml
  Makefile
Due: none

Fix config
  .circleci/continue_config.yml
Due: none

Trigger CI
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

reverse the boolean condition...
  .circleci/continue_config.yml
Due: none

fix conda env
  .circleci/continue_config.yml
Due: none

Loosen requests requirement
  kedro-telemetry/requirements.txt
Due: run-build-kedro-telemetry

Fix Window Test and some linting
  .circleci/config.yml
  .circleci/continue_config.yml
  Makefile
  kedro-datasets/kedro_datasets/__init__.py
  kedro-datasets/tests/datasets/api/__init__.py
Due: run-build-kedro-datasets=false

fix coverage issue
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

add snippets to check env variable
  .circleci/continue_config.yml
  env.py
Due: none

Comment out invalid release config for testing
  .circleci/continue_config.yml
Due: none

testing
  .circleci/continue_config.yml
Due: none

use older python syntax
  env.py
Due: none

Path conditions:
  run-build-kedro-telemetry: any of: kedro-telemetry/.*
  run-build-kedro-docker: any of: kedro-docker/.*
  run-build-kedro-airflow: any of: kedro-airflow/.*
  run-build-kedro-datasets=false: any of: kedro-datasets/.*
