Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

.circleci/config.yml:

version: 2.1

setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            kedro-telemetry/.* run-build-kedro-telemetry true
            kedro-docker/.* run-build-kedro-docker true
            kedro-airflow/.* run-build-kedro-airflow true
            kedro-datasets/.* run-build-kedro-datasets false
          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

add python3.13 support on datasets
  .github/workflows/kedro-datasets.yml
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

add python3.13 for airflow
  .github/workflows/kedro-airflow.yml
  kedro-airflow/RELEASE.md
Due: run-build-kedro-airflow

test kedro docker with latest kedro on main
  kedro-docker/features/environment.py
Due: run-build-kedro-docker

fix lint
  kedro-docker/features/environment.py
Due: run-build-kedro-docker

revert kedro main test
  kedro-docker/features/environment.py
Due: run-build-kedro-docker

update readme
  kedro-telemetry/README.md
Due: run-build-kedro-telemetry

Update to release note
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

bump release version to 0.9.2
  kedro-airflow/RELEASE.md
  kedro-airflow/kedro_airflow/__init__.py
Due: run-build-kedro-airflow

Created a v1 of testing, does not test catalog at all
  kedro-datasets/kedro_datasets/ibis/table_dataset.py
  kedro-datasets/tests/conftest.py
  kedro-datasets/tests/ibis/test_table_dataset.py
Due: run-build-kedro-datasets=false

build(telemetry): Add official support for python 3.13 (#936)
  .github/workflows/kedro-telemetry.yml
  kedro-telemetry/README.md
  kedro-telemetry/RELEASE.md
Due: run-build-kedro-telemetry

bump telemetry version to 0.6.2
  kedro-telemetry/RELEASE.md
  kedro-telemetry/kedro_telemetry/__init__.py
Due: run-build-kedro-telemetry

add py3.13 to readme
  kedro-docker/README.md
Due: run-build-kedro-docker

bump kedro docker for 0.6.2
  kedro-docker/RELEASE.md
  kedro-docker/kedro_docker/__init__.py
Due: run-build-kedro-docker

build(docker): Add official support for python 3.13 (#937)
  .github/workflows/kedro-docker.yml
  kedro-docker/README.md
  kedro-docker/RELEASE.md
Due: run-build-kedro-docker

build(airflow): Release 0.9.2 (#946)
  kedro-airflow/RELEASE.md
  kedro-airflow/kedro_airflow/__init__.py
Due: run-build-kedro-airflow

build(telemetry): Release 0.6.2 (#947)
  kedro-telemetry/RELEASE.md
  kedro-telemetry/kedro_telemetry/__init__.py
Due: run-build-kedro-telemetry

build(docker): Release 0.6.2 (#948)
  kedro-docker/RELEASE.md
  kedro-docker/kedro_docker/__init__.py
Due: run-build-kedro-docker

updated the docstring for the class
  kedro-datasets/kedro_datasets_experimental/safetensors/safetensors_dataset.py
Due: run-build-kedro-datasets=false

changed the default backend to numpy
  kedro-datasets/kedro_datasets_experimental/safetensors/safetensors_dataset.py
Due: run-build-kedro-datasets=false

added numpy to the list of dependencies
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

fixed the assert statement in the docstring
  kedro-datasets/kedro_datasets_experimental/safetensors/safetensors_dataset.py
Due: run-build-kedro-datasets=false

Fixed duplcated def in testing
  kedro-datasets/tests/ibis/test_table_dataset.py
Due: run-build-kedro-datasets=false

fixed syntax error in example in docstring
  kedro-datasets/kedro_datasets_experimental/safetensors/safetensors_dataset.py
Due: run-build-kedro-datasets=false

Fix typo in load
  kedro-datasets/kedro_datasets/ibis/table_dataset.py
Due: run-build-kedro-datasets=false

updated the examples in the docs to use a numpy backend
  kedro-datasets/kedro_datasets_experimental/safetensors/safetensors_dataset.py
Due: run-build-kedro-datasets=false

feat(datasets): Added the Experimental SafetensorsDataset (#898)
  kedro-datasets/RELEASE.md
  kedro-datasets/docs/source/api/kedro_datasets_experimental.rst
  kedro-datasets/kedro_datasets_experimental/safetensors/__init__.py
  kedro-datasets/kedro_datasets_experimental/safetensors/safetensors_dataset.py
  kedro-datasets/kedro_datasets_experimental/tests/safetensors/__init__.py
  kedro-datasets/kedro_datasets_experimental/tests/safetensors/test_safetensors_dataset.py
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

skip tensorflow for py313
  kedro-datasets/pyproject.toml
  kedro-datasets/tests/tensorflow/test_tensorflow_model_dataset.py
Due: run-build-kedro-datasets=false

skip tensorfolow for py313 (#951)
  kedro-datasets/pyproject.toml
  kedro-datasets/tests/tensorflow/test_tensorflow_model_dataset.py
Due: run-build-kedro-datasets=false

build(datasets): add workaround for bad dependency
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

build(datasets): fix rioxarray dependency spelling
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

build(datasets): add workaround for bad dependency (#949)
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

chore(datasets): don't count connect stub coverage
  kedro-datasets/kedro_datasets/_utils/connection_mixin.py
Due: run-build-kedro-datasets=false

chore(datasets): define required attrs and methods
  kedro-datasets/kedro_datasets/_utils/connection_mixin.py
Due: run-build-kedro-datasets=false

fix(datasets): share the cache of Ibis connections
  kedro-datasets/kedro_datasets/_utils/__init__.py
  kedro-datasets/kedro_datasets/_utils/connection_mixin.py
  kedro-datasets/kedro_datasets/ibis/file_dataset.py
  kedro-datasets/kedro_datasets/ibis/table_dataset.py
  kedro-datasets/tests/ibis/test_file_dataset.py
  kedro-datasets/tests/ibis/test_table_dataset.py
Due: run-build-kedro-datasets=false

fix dependencies, networkx and import-linter both depends on grimp
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

relax more dependencies
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Move kedro-catalog JSON schema to kedro-datasets #4258
  kedro-datasets/static/jsonschema/kedro-catalog-0.15.9.json
  kedro-datasets/static/jsonschema/kedro-catalog-0.16.json
  kedro-datasets/static/jsonschema/kedro-catalog-0.17.json
  kedro-datasets/static/jsonschema/kedro-catalog-0.18.json
  kedro-datasets/static/jsonschema/kedro-catalog-0.19.json
Due: run-build-kedro-datasets=false

#4258 Update PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Trim trailing whitespace with pre-commit
  kedro-datasets/static/jsonschema/kedro-catalog-0.15.9.json
  kedro-datasets/static/jsonschema/kedro-catalog-0.16.json
  kedro-datasets/static/jsonschema/kedro-catalog-0.17.json
  kedro-datasets/static/jsonschema/kedro-catalog-0.18.json
  kedro-datasets/static/jsonschema/kedro-catalog-0.19.json
Due: run-build-kedro-datasets=false
