Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

Added test for boolean column display.
  kedro-datasets/tests/pandas/test_csv_dataset.py
Due: run-build-kedro-datasets=false

Fix docstring
  kedro-datasets/kedro_datasets_experimental/polars/polars_database_dataset.py
Due: run-build-kedro-datasets=false

ignore test credential
  kedro-datasets/kedro_datasets_experimental/polars/polars_database_dataset.py
Due: run-build-kedro-datasets=false

Try bump HF datasets version
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Try bump gcsfs
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Try fix HF doctest
  kedro-datasets/kedro_datasets/huggingface/hugging_face_dataset.py
Due: run-build-kedro-datasets=false

Update kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Move import to aiobotocore endpoint
  kedro-datasets/tests/conftest.py
Due: run-build-kedro-datasets=false

Try move aitobotcore endpoint
  kedro-datasets/tests/conftest.py
Due: run-build-kedro-datasets=false

Try fix aiobotocore issues
  kedro-datasets/tests/conftest.py
Due: run-build-kedro-datasets=false

Revert stuff
  kedro-datasets/pyproject.toml
  kedro-datasets/tests/conftest.py
Due: run-build-kedro-datasets=false

tiny bump
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Fix lint
  kedro-datasets/tests/conftest.py
Due: run-build-kedro-datasets=false

build(datasets): bump test dependencies (#1153)
  kedro-datasets/kedro_datasets/huggingface/hugging_face_dataset.py
  kedro-datasets/pyproject.toml
  kedro-datasets/tests/conftest.py
Due: run-build-kedro-datasets=false

Update release notes
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

feat(datasets): Added the Experimental PolarsDatabaseDataset (#990)
  kedro-datasets/RELEASE.md
  kedro-datasets/docs/api/kedro_datasets_experimental/index.md
  kedro-datasets/docs/api/kedro_datasets_experimental/polars.PolarsDatabaseDataset.md
  kedro-datasets/kedro_datasets_experimental/polars/__init__.py
  kedro-datasets/kedro_datasets_experimental/polars/polars_database_dataset.py
  kedro-datasets/mkdocs.yml
Due: run-build-kedro-datasets=false

fix tests
  kedro-datasets/tests/databricks/test_base_table_dataset.py
Due: run-build-kedro-datasets=false

adjust doc strings
  kedro-datasets/kedro_datasets/databricks/_base_table_dataset.py
Due: run-build-kedro-datasets=false

add fallback for non unity catalog
  kedro-datasets/kedro_datasets/databricks/_base_table_dataset.py
Due: run-build-kedro-datasets=false

Update expected error messages in `test_plugin.py`
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

feat(telemetry): don't warn if consent is explicit (#1151)
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Use tomllib, if available, else fall back to tomli
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/pyproject.toml
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Update some workflows
  .github/workflows/detect-secrets.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/lint.yml
Due: none

Try unit test
  .github/workflows/unit-tests.yml
Due: none

address PR comments
  kedro-datasets/kedro_datasets/databricks/_base_table_dataset.py
  kedro-datasets/tests/databricks/test_base_table_dataset.py
Due: run-build-kedro-datasets=false

address PR comments
  kedro-datasets/kedro_datasets/databricks/_base_table_dataset.py
Due: run-build-kedro-datasets=false

fix pytests
  kedro-datasets/tests/ibis/test_table_dataset.py
Due: run-build-kedro-datasets=false

fixing pytest
  kedro-datasets/tests/databricks/test_base_table_dataset.py
Due: run-build-kedro-datasets=false

update pytests
  kedro-datasets/tests/databricks/test_base_table_dataset.py
Due: run-build-kedro-datasets=false

address copilot comments
  kedro-datasets/kedro_datasets/databricks/_base_table_dataset.py
Due: run-build-kedro-datasets=false

Path conditions:
  run-build-kedro-telemetry: any of: kedro-telemetry/.*
  run-build-kedro-docker: any of: kedro-docker/.*
  run-build-kedro-airflow: any of: kedro-airflow/.*
  run-build-kedro-datasets=false: any of: kedro-datasets/.*
