Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

.circleci/config.yml:

version: 2.1

setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            kedro-telemetry/.* run-build-kedro-telemetry true
            kedro-docker/.* run-build-kedro-docker true
            kedro-airflow/.* run-build-kedro-airflow true
            kedro-datasets/.* run-build-kedro-datasets false
          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

CI fix
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

ci(datasets): pin `accelerate` (#751)
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

feat(telemetry): Remove consent confirmation prompt for `kedro-telemetry` (#744)
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

feat(datasets): Add rioxarray and RasterDataset (#355)
  kedro-datasets/RELEASE.md
  kedro-datasets/docs/source/api/kedro_datasets_experimental.rst
  kedro-datasets/kedro_datasets_experimental/rioxarray/__init__.py
  kedro-datasets/kedro_datasets_experimental/rioxarray/geotiff_dataset.py
  kedro-datasets/kedro_datasets_experimental/tests/rioxarray/__init__.py
  kedro-datasets/kedro_datasets_experimental/tests/rioxarray/cog.tif
  kedro-datasets/kedro_datasets_experimental/tests/rioxarray/test_geotiff_dataset.py
  kedro-datasets/kedro_datasets_experimental/tests/rioxarray/test_multi1.tif
  kedro-datasets/kedro_datasets_experimental/tests/rioxarray/test_multi2.tif
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

bump 4.0.0
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

format
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

Upgrade uv in CI
  .github/workflows/e2e-tests.yml
  .github/workflows/kedro-datasets.yml
  .github/workflows/lint.yml
  .github/workflows/unit-tests.yml
Due: none

build(datasets): 4.0.0 (#753)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

Add line to spark conf
  kedro-datasets/tests/spark/test_spark_hive_dataset.py
Due: run-build-kedro-datasets=false

ci: Upgrade `uv` to avoid timeouts (#749)
  .github/workflows/e2e-tests.yml
  .github/workflows/kedro-datasets.yml
  .github/workflows/lint.yml
  .github/workflows/unit-tests.yml
Due: none

Try .enableHiveSupport
  kedro-datasets/tests/spark/test_spark_hive_dataset.py
Due: run-build-kedro-datasets=false

Unpin pandas-gbq
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Implement telemetry message notification
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

add env var to skip telemetry
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

release note
  kedro-telemetry/RELEASE.md
Due: run-build-kedro-telemetry

update README
  kedro-telemetry/README.md
Due: run-build-kedro-telemetry

fix test
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Set logging on a package level
  kedro-telemetry/kedro_telemetry/__init__.py
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Change constant to tuple to avoid random test error
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

linting
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Fix telemetry masking test
  kedro-telemetry/tests/test_masking.py
Due: run-build-kedro-telemetry

fix typo
  kedro-telemetry/RELEASE.md
Due: run-build-kedro-telemetry

Change docs to stable
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

merge hooks
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/pyproject.toml
Due: run-build-kedro-telemetry

Update kedro-datasets/pyproject.toml
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

combine hook and fix test
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/pyproject.toml
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

add integration test
  kedro-telemetry/tests/integration/dummy-project/.gitignore
  kedro-telemetry/tests/integration/dummy-project/README.md
  kedro-telemetry/tests/integration/dummy-project/conf/README.md
  kedro-telemetry/tests/integration/dummy-project/conf/base/catalog.yml
  kedro-telemetry/tests/integration/dummy-project/conf/local/.gitkeep
  kedro-telemetry/tests/integration/dummy-project/data/01_raw/.gitkeep
  kedro-telemetry/tests/integration/dummy-project/data/01_raw/dummy.csv
  kedro-telemetry/tests/integration/dummy-project/pyproject.toml
  kedro-telemetry/tests/integration/dummy-project/requirements.txt
  kedro-telemetry/tests/integration/dummy-project/src/dummy_project/__init__.py
  kedro-telemetry/tests/integration/dummy-project/src/dummy_project/__main__.py
  kedro-telemetry/tests/integration/dummy-project/src/dummy_project/pipeline_registry.py
  kedro-telemetry/tests/integration/dummy-project/src/dummy_project/pipelines/__init__.py
  kedro-telemetry/tests/integration/dummy-project/src/dummy_project/pipelines/data_processing/__init__.py
  kedro-telemetry/tests/integration/dummy-project/src/dummy_project/pipelines/data_processing/pipeline.py
  kedro-telemetry/tests/integration/dummy-project/src/dummy_project/settings.py
  kedro-telemetry/tests/integration/dummy-project/stats.json
  kedro-telemetry/tests/integration/test_telemetry.py
Due: run-build-kedro-telemetry

remove redundant evenT
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

fix test and telemetry to send once only
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/integration/dummy-project/data/01_raw/dummy.csv
  kedro-telemetry/tests/integration/test_telemetry.py
Due: run-build-kedro-telemetry

fix bug
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/integration/dummy-project/conf/base/parameters.yml
  kedro-telemetry/tests/integration/dummy-project/src/dummy_project/pipelines/data_processing/pipeline.py
  kedro-telemetry/tests/integration/dummy-project/src/dummy_project/settings.py
  kedro-telemetry/tests/integration/test_telemetry.py
Due: run-build-kedro-telemetry

fix test, partially
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/integration/test_telemetry.py
Due: run-build-kedro-telemetry

fix(telemetry): Masking test (#764)
  kedro-telemetry/tests/test_masking.py
Due: run-build-kedro-telemetry

Fix docs
  kedro-datasets/docs/source/api/kedro_datasets.rst
Due: run-build-kedro-datasets=false

Fix docs
  kedro-datasets/docs/source/api/kedro_datasets_experimental.rst
Due: run-build-kedro-datasets=false

Fix Spark enable Hive support
  kedro-datasets/tests/databricks/conftest.py
Due: run-build-kedro-datasets=false

Fix docs
  kedro-datasets/docs/source/api/kedro_datasets.rst
  kedro-datasets/docs/source/api/kedro_datasets_experimental.rst
Due: run-build-kedro-datasets=false

revert Hive support
  kedro-datasets/tests/databricks/conftest.py
Due: run-build-kedro-datasets=false

feat(telemetry): Implement telemetry message notification (#760)
  kedro-datasets/docs/source/api/kedro_datasets.rst
  kedro-datasets/docs/source/api/kedro_datasets_experimental.rst
  kedro-telemetry/kedro_telemetry/__init__.py
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry, run-build-kedro-datasets=false
