Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

Update spark_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_dataset.py
Due: run-build-kedro-datasets=false

Update type hint Optional[Any] -> Any
  kedro-datasets/kedro_datasets/spark/spark_dataset.py
Due: run-build-kedro-datasets=false

Remove unused import
  kedro-datasets/kedro_datasets/spark/spark_dataset.py
Due: run-build-kedro-datasets=false

Remove unused import
  kedro-datasets/kedro_datasets/partitions/partitioned_dataset.py
Due: run-build-kedro-datasets=false

chore(datasets): use keyword arguments when needed
  kedro-datasets/tests/partitions/test_incremental_dataset.py
Due: run-build-kedro-datasets=false

test(datasets): skip hanging doctest in Windows CI
  kedro-datasets/kedro_datasets/pillow/image_dataset.py
Due: run-build-kedro-datasets=false

ci(datasets): download, use native Hadoop binaries
  .github/workflows/unit-tests.yml
Due: none

Fix GitHub Actions workflow
  .github/workflows/unit-tests.yml
Due: none

Update unit-tests.yml
  .github/workflows/unit-tests.yml
Due: none

Test remapping env var
  .github/workflows/unit-tests.yml
Due: none

Try a simpler approach
  .github/workflows/unit-tests.yml
Due: none

Fix getting path
  .github/workflows/unit-tests.yml
Due: none

Add `$HADOOP_HOME/bin` to path
  .github/workflows/unit-tests.yml
Due: none

Set env vars
  .github/workflows/unit-tests.yml
Due: none

Lint?
  .github/workflows/unit-tests.yml
Due: none

Try again
  .github/workflows/unit-tests.yml
Due: none

Add to GITHUB_PATH
  .github/workflows/unit-tests.yml
Due: none

try settingn path powershell way
  .github/workflows/unit-tests.yml
Due: none

Add-Content not found?
  .github/workflows/unit-tests.yml
Due: none

Try bash now
  .github/workflows/unit-tests.yml
Due: none

Revert "Add-Content not found?"
  .github/workflows/unit-tests.yml
Due: none

bunch of substitution magic
  .github/workflows/unit-tests.yml
Due: none

split it up
  .github/workflows/unit-tests.yml
Due: none

Don't \\ instead of \
  .github/workflows/unit-tests.yml
Due: none

I tried so hard, and got so far, but in the end, it didn't even matter...
  Makefile
Due: none

Give up on making Spark tests work on windows
  .github/workflows/unit-tests.yml
Due: none

clean up makefile and stuff
  Makefile
Due: none

Remove assertion in video dataset doctest
  kedro-datasets/kedro_datasets/video/video_dataset.py
Due: run-build-kedro-datasets=false

Specify bash shell on Linux
  .github/workflows/unit-tests.yml
  Makefile
Due: none

Don't use bashisms
  Makefile
Due: none

fix makefile?
  Makefile
Due: none

remove bash shell explicit
  .github/workflows/unit-tests.yml
Due: none

so hacky
  Makefile
Due: none

Add patching for AWSResponse to make moto and aiobotocore work
  kedro-datasets/tests/partitions/conftest.py
Due: run-build-kedro-datasets=false

Fix lint
  kedro-datasets/tests/dask/test_parquet_dataset.py
  kedro-datasets/tests/partitions/conftest.py
  kedro-datasets/tests/video/test_video_dataset.py
Due: run-build-kedro-datasets=false

Add AWS mocking to lazy polars dataset test + temporarily ignore spark tests
  Makefile
  kedro-datasets/tests/polars/test_lazy_polars_dataset.py
Due: run-build-kedro-datasets=false

Try use same moto for all python versions
  kedro-datasets/setup.py
  kedro-datasets/tests/polars/test_lazy_polars_dataset.py
Due: run-build-kedro-datasets=false

test(datasets): fix failing doctests in Windows CI (#457)
  Makefile
  kedro-datasets/kedro_datasets/pillow/image_dataset.py
  kedro-datasets/kedro_datasets/video/video_dataset.py
Due: run-build-kedro-datasets=false

Update Makefile
  Makefile
Due: none

Update rename to tools
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Path conditions:
  run-build-kedro-telemetry: any of: kedro-telemetry/.*
  run-build-kedro-docker: any of: kedro-docker/.*
  run-build-kedro-airflow: any of: kedro-airflow/.*
  run-build-kedro-datasets=false: any of: kedro-datasets/.*
