Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

combined makefile
  .gitpod.yml
Due: none

Change exit code
  kedro-docker/features/docker.feature
Due: run-build-kedro-docker

Error message
  kedro-docker/features/steps/cli_steps.py
Due: run-build-kedro-docker

ci(docker): Update error code on e2e tests (#813)
  kedro-docker/features/docker.feature
  kedro-docker/features/steps/cli_steps.py
Due: run-build-kedro-docker

ci: Clean up of Makefile and Gitpod setup (#464)
  .gitpod.yml
  Makefile
Due: none

Update dependencies
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Change logging level to debug
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Tests
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

First pass: only load command that was called
  kedro-telemetry/kedro_telemetry/masking.py
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Try to make it work with help and invalud commands
  kedro-telemetry/kedro_telemetry/masking.py
Due: run-build-kedro-telemetry

Fix tests
  kedro-telemetry/kedro_telemetry/masking.py
Due: run-build-kedro-telemetry

Add back message tests
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Change logging level for pytest
  kedro-telemetry/kedro_telemetry/__init__.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

chore(telemetry): Change logging level to `DEBUG` for most messages (#823)
  kedro-telemetry/kedro_telemetry/__init__.py
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Fix masking tests
  kedro-telemetry/tests/test_masking.py
Due: run-build-kedro-telemetry

Unpin tables
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Remove unused function and add argument name and type
  kedro-telemetry/kedro_telemetry/masking.py
  kedro-telemetry/tests/test_masking.py
Due: run-build-kedro-telemetry

fix:use_pd_gbq
  kedro-datasets/kedro_datasets/pandas/gbq_dataset.py
Due: run-build-kedro-datasets=false

fix:updated_readme
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

fix:updated_args
  kedro-datasets/kedro_datasets/pandas/gbq_dataset.py
Due: run-build-kedro-datasets=false

fix:updated_args_in_test
  kedro-datasets/tests/pandas/test_gbq_dataset.py
Due: run-build-kedro-datasets=false

fix:linting
  kedro-datasets/tests/pandas/test_gbq_dataset.py
Due: run-build-kedro-datasets=false

added a base table dataset implementation
  kedro-datasets/kedro_datasets/databricks/base_table_dataset.py
Due: run-build-kedro-datasets=false

updated the save methods to incorporate partition columns
  kedro-datasets/kedro_datasets/databricks/_base_table_dataset.py
Due: run-build-kedro-datasets=false

removed primary_key attr from BaseTable
  kedro-datasets/kedro_datasets/databricks/_base_table_dataset.py
Due: run-build-kedro-datasets=false

added external table and external table dataset implementations
  kedro-datasets/kedro_datasets/databricks/external_table_dataset.py
Due: run-build-kedro-datasets=false

moved the func to check if table exists to BaseTable
  kedro-datasets/kedro_datasets/databricks/_base_table_dataset.py
Due: run-build-kedro-datasets=false

implemented create_table() in ManagedTableDataset
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
Due: run-build-kedro-datasets=false

improved the docstrings in the code
  kedro-datasets/kedro_datasets/databricks/_base_table_dataset.py
  kedro-datasets/kedro_datasets/databricks/external_table_dataset.py
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
Due: run-build-kedro-datasets=false

imported the ExternalTableDataset into the main pkg
  kedro-datasets/kedro_datasets/databricks/__init__.py
Due: run-build-kedro-datasets=false

implemented the _load() method of ManagedTableDataset
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
Due: run-build-kedro-datasets=false

renamed the module with the base classes
  kedro-datasets/kedro_datasets/databricks/_base_table_dataset.py
Due: run-build-kedro-datasets=false

reorganized the attrs of BaseTable
  kedro-datasets/kedro_datasets/databricks/_base_table_dataset.py
Due: run-build-kedro-datasets=false

updated the save funcs to incorporate the locations attr
  kedro-datasets/kedro_datasets/databricks/_base_table_dataset.py
Due: run-build-kedro-datasets=false

updated the save() logic to work with single or multiple partition cols
  kedro-datasets/kedro_datasets/databricks/_base_table_dataset.py
Due: run-build-kedro-datasets=false

added format to the _describe()
  kedro-datasets/kedro_datasets/databricks/_base_table_dataset.py
Due: run-build-kedro-datasets=false

updated the docstrings for the datasets with missing attrs
  kedro-datasets/kedro_datasets/databricks/_base_table_dataset.py
  kedro-datasets/kedro_datasets/databricks/external_table_dataset.py
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
Due: run-build-kedro-datasets=false

removed unnecessary imports
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
Due: run-build-kedro-datasets=false

refactored ManagedTableDataset using BaseTableDataset
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
Due: run-build-kedro-datasets=false

updated the supported formats
  kedro-datasets/kedro_datasets/databricks/_base_table_dataset.py
Due: run-build-kedro-datasets=false

Path conditions:
  run-build-kedro-telemetry: any of: kedro-telemetry/.*
  run-build-kedro-docker: any of: kedro-docker/.*
  run-build-kedro-airflow: any of: kedro-airflow/.*
  run-build-kedro-datasets=false: any of: kedro-datasets/.*
