Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

Update __init__.py
  kedro-docker/kedro_docker/__init__.py
Due: run-build-kedro-docker

Update pyproject.toml
  kedro-docker/pyproject.toml
Due: run-build-kedro-docker

revert simple.dockerfile
  kedro-docker/kedro_docker/template/Dockerfile.simple
Due: run-build-kedro-docker

test some stuff
  kedro-docker/pyproject.toml
Due: run-build-kedro-docker

fixes based on review
  kedro-datasets/kedro_datasets/constants.py
  kedro-datasets/test.pkl
  kedro-datasets/test.xlsx
Due: run-build-kedro-datasets=false

FIX(kedro-airflow): grouping with fork
  kedro-airflow/kedro_airflow/grouping.py
Due: run-build-kedro-airflow

FIX(kedro-airflow): grouping
  kedro-airflow/kedro_airflow/grouping.py
Due: run-build-kedro-airflow

Update setup.py moto dependency
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

Free pyarrow req
  kedro-datasets/setup.py
  kedro-datasets/tests/pandas/test_deltatable_dataset.py
Due: run-build-kedro-datasets=false

Unpin pip and bump actions versions
  .github/workflows/check-release.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/kedro-datasets.yml
  .github/workflows/lint.yml
  .github/workflows/unit-tests.yml
Due: none

changes based on review
  kedro-datasets/kedro_datasets/_typing.py
  kedro-datasets/kedro_datasets/matplotlib/matplotlib_writer.py
  kedro-datasets/kedro_datasets/pandas/csv_dataset.py
  kedro-datasets/kedro_datasets/pandas/excel_dataset.py
  kedro-datasets/kedro_datasets/plotly/json_dataset.py
  kedro-datasets/kedro_datasets/plotly/plotly_dataset.py
  kedro-datasets/kedro_datasets/tracking/json_dataset.py
  kedro-datasets/kedro_datasets/tracking/metrics_dataset.py
Due: run-build-kedro-datasets=false

fix tests
  kedro-datasets/tests/pandas/test_csv_dataset.py
  kedro-datasets/tests/pandas/test_excel_dataset.py
  kedro-datasets/tests/plotly/test_json_dataset.py
  kedro-datasets/tests/plotly/test_plotly_dataset.py
Due: run-build-kedro-datasets=false

remove version
  .github/workflows/kedro-datasets.yml
  .github/workflows/lint.yml
  .github/workflows/unit-tests.yml
Due: none

add suffix Preview
  kedro-datasets/kedro_datasets/_typing.py
  kedro-datasets/kedro_datasets/pandas/csv_dataset.py
  kedro-datasets/kedro_datasets/pandas/excel_dataset.py
  kedro-datasets/kedro_datasets/plotly/json_dataset.py
  kedro-datasets/kedro_datasets/plotly/plotly_dataset.py
  kedro-datasets/kedro_datasets/tracking/json_dataset.py
  kedro-datasets/kedro_datasets/tracking/metrics_dataset.py
  kedro-datasets/tests/pandas/test_csv_dataset.py
  kedro-datasets/tests/pandas/test_excel_dataset.py
  kedro-datasets/tests/plotly/test_json_dataset.py
  kedro-datasets/tests/plotly/test_plotly_dataset.py
  kedro-datasets/tests/tracking/test_json_dataset.py
  kedro-datasets/tests/tracking/test_metrics_dataset.py
Due: run-build-kedro-datasets=false

change img return type to bytes
  kedro-datasets/kedro_datasets/_typing.py
Due: run-build-kedro-datasets=false

fix tests
  kedro-datasets/kedro_datasets/matplotlib/matplotlib_writer.py
  kedro-datasets/tests/matplotlib/test_matplotlib_writer.py
Due: run-build-kedro-datasets=false

pin deltalake
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

Update kedro-datasets/setup.py
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

Update setup.py
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

Update data being collected
  kedro-telemetry/README.md
Due: run-build-kedro-telemetry

sort order and compare
  kedro-datasets/tests/pandas/test_deltatable_dataset.py
Due: run-build-kedro-datasets=false

Fix links
  kedro-telemetry/README.md
Due: run-build-kedro-telemetry

lint
  kedro-datasets/tests/pandas/test_deltatable_dataset.py
Due: run-build-kedro-datasets=false

Update kedro-telemetry/README.md
  kedro-telemetry/README.md
Due: run-build-kedro-telemetry

update release note
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

fix lint
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

pin deltalake
  kedro-datasets/setup.py
  kedro-datasets/tests/pandas/test_deltatable_dataset.py
Due: run-build-kedro-datasets=false

Pin psutil
  kedro-docker/pyproject.toml
Due: run-build-kedro-docker

add comment to pin
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

fix(datasets): Debug and fix `kedro-datasets` nightly build failures (#541)
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

feat(datasets): Dataset Preview Refactor (#504)
  kedro-datasets/RELEASE.md
  kedro-datasets/docs/source/conf.py
  kedro-datasets/kedro_datasets/_typing.py
  kedro-datasets/kedro_datasets/matplotlib/matplotlib_writer.py
  kedro-datasets/kedro_datasets/pandas/csv_dataset.py
  kedro-datasets/kedro_datasets/pandas/excel_dataset.py
  kedro-datasets/kedro_datasets/plotly/json_dataset.py
  kedro-datasets/kedro_datasets/plotly/plotly_dataset.py
  kedro-datasets/kedro_datasets/tracking/json_dataset.py
  kedro-datasets/kedro_datasets/tracking/metrics_dataset.py
  kedro-datasets/tests/matplotlib/test_matplotlib_writer.py
  kedro-datasets/tests/pandas/test_csv_dataset.py
  kedro-datasets/tests/pandas/test_excel_dataset.py
  kedro-datasets/tests/plotly/test_json_dataset.py
  kedro-datasets/tests/plotly/test_plotly_dataset.py
  kedro-datasets/tests/tracking/test_json_dataset.py
  kedro-datasets/tests/tracking/test_metrics_dataset.py
Due: run-build-kedro-datasets=false

Free pyarrow req
  kedro-datasets/tests/pandas/test_deltatable_dataset.py
Due: run-build-kedro-datasets=false

Add no capture to test
  Makefile
Due: none

Update pip version
  Makefile
  kedro-docker/features/steps/cli_steps.py
Due: run-build-kedro-docker

Update call
  kedro-docker/features/steps/cli_steps.py
Due: run-build-kedro-docker

Update pip
  kedro-docker/features/steps/cli_steps.py
Due: run-build-kedro-docker

Update string checked in test
  kedro-docker/features/docker.feature
Due: run-build-kedro-docker

Path conditions:
  run-build-kedro-telemetry: any of: kedro-telemetry/.*
  run-build-kedro-docker: any of: kedro-docker/.*
  run-build-kedro-airflow: any of: kedro-airflow/.*
  run-build-kedro-datasets=false: any of: kedro-datasets/.*
