Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

First chunk of SnowParkDataSet tests (#2)
  Makefile
  kedro-datasets/kedro_datasets/snowflake/snowpark_dataset.py
  kedro-datasets/tests/snowflake/conftest.py
  kedro-datasets/tests/snowflake/test_snowpark_dataset.py
Due: run-build-kedro-datasets=false

fix lint in test_video_dataset.py
  kedro-datasets/tests/video/test_video_dataset.py
Due: run-build-kedro-datasets=false

Sync datasets and release a new version (#69)
  kedro-datasets/kedro_datasets/dask/parquet_dataset.py
  kedro-datasets/kedro_datasets/geopandas/README.md
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
  kedro-datasets/kedro_datasets/plotly/json_dataset.py
  kedro-datasets/kedro_datasets/plotly/plotly_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_jdbc_dataset.py
  kedro-datasets/kedro_datasets/svmlight/__init__.py
  kedro-datasets/kedro_datasets/svmlight/svmlight_dataset.py
  kedro-datasets/kedro_datasets/tensorflow/README.md
  kedro-datasets/kedro_datasets/text/text_dataset.py
  kedro-datasets/kedro_datasets/video/__init__.py
  kedro-datasets/kedro_datasets/video/video_dataset.py
  kedro-datasets/pyproject.toml
  kedro-datasets/setup.py
  kedro-datasets/test_requirements.txt
  kedro-datasets/tests/dask/test_parquet_dataset.py
  kedro-datasets/tests/libsvm/__init__.py
  kedro-datasets/tests/libsvm/test_svmlight_dataset.py
  kedro-datasets/tests/pandas/test_sql_dataset.py
  kedro-datasets/tests/video/conftest.py
  kedro-datasets/tests/video/data/color_video.mp4
  kedro-datasets/tests/video/data/video.mjpeg
  kedro-datasets/tests/video/data/video.mkv
  kedro-datasets/tests/video/data/video.mp4
  kedro-datasets/tests/video/test_sliced_video.py
  kedro-datasets/tests/video/test_video_dataset.py
  kedro-datasets/tests/video/test_video_objects.py
  kedro-datasets/tests/video/utils.py
Due: run-build-kedro-datasets=false

Update __init__.py
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

Update __init__.py (#87)
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

Update parquet_dataset.py
  kedro-datasets/kedro_datasets/pandas/parquet_dataset.py
Due: run-build-kedro-datasets=false

update tests
  kedro-datasets/kedro_datasets/pandas/parquet_dataset.py
  kedro-datasets/tests/pandas/test_parquet_dataset.py
Due: run-build-kedro-datasets=false

lint
  kedro-datasets/tests/pandas/test_parquet_dataset.py
Due: run-build-kedro-datasets=false

Change `ParquetDataSet` to load using pandas instead of parquet (#89)
  kedro-datasets/kedro_datasets/pandas/parquet_dataset.py
  kedro-datasets/tests/pandas/test_parquet_dataset.py
Due: run-build-kedro-datasets=false

release kedro-datasets 1.0.0
  kedro-datasets/kedro_datasets/__init__.py
  kedro-datasets/requirements.txt
Due: run-build-kedro-datasets=false

Update requirements.txt
  kedro-datasets/requirements.txt
Due: run-build-kedro-datasets=false

Update README + release notes
  README.md
  kedro-datasets/README.md
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

Fix lint
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

Release `kedro-datasets 1.0.0` (#90)
  README.md
  kedro-datasets/README.md
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/__init__.py
  kedro-datasets/requirements.txt
Due: run-build-kedro-datasets=false

Fix `kedro-telemetry` dependency breaking packaged projects without `pyproject.toml` (#84)
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Fix tense
  kedro-telemetry/RELEASE.md
Due: run-build-kedro-telemetry

Update version to 0.2.3
  kedro-telemetry/kedro_telemetry/__init__.py
Due: run-build-kedro-telemetry

Update RELEASE.md for changes in #84
  kedro-telemetry/RELEASE.md
Due: run-build-kedro-telemetry

[kedro-docker] Layers size optimization
  kedro-docker/RELEASE.md
  kedro-docker/kedro_docker/template/Dockerfile.simple
  kedro-docker/kedro_docker/template/Dockerfile.spark
Due: run-build-kedro-docker

Adjust test requirements
  kedro-docker/test_requirements.txt
Due: run-build-kedro-docker

Skip coverage check on tests dir (some do not execute on Windows)
  kedro-docker/pyproject.toml
Due: run-build-kedro-docker

Update .coveragerc with the setup
  kedro-docker/.coveragerc
  kedro-docker/pyproject.toml
Due: run-build-kedro-docker

Fix bandit so it does not scan kedro-datasets
  kedro-docker/.pre-commit-config.yaml
  kedro-docker/features/steps/cli_steps.py
Due: run-build-kedro-docker

Fixed existence test
  kedro-docker/features/steps/cli_steps.py
Due: run-build-kedro-docker

Check why dir is not created
  kedro-docker/features/steps/cli_steps.py
Due: run-build-kedro-docker

Kedro starters are fixed now
  kedro-docker/features/steps/cli_steps.py
Due: run-build-kedro-docker

Increased no-output-timeout for long spark image build
  .circleci/continue_config.yml
  kedro-docker/test_requirements.txt
Due: run-build-kedro-docker

Release Kedro-Telemetry 0.2.3 (#91)
  kedro-telemetry/RELEASE.md
  kedro-telemetry/kedro_telemetry/__init__.py
Due: run-build-kedro-telemetry

Spark image optimized
  .circleci/continue_config.yml
  kedro-docker/RELEASE.md
  kedro-docker/features/docker.feature
  kedro-docker/features/docker_with_spark.feature
  kedro-docker/features/steps/cli_steps.py
  kedro-docker/kedro_docker/template/Dockerfile.simple
  kedro-docker/kedro_docker/template/Dockerfile.spark
Due: run-build-kedro-docker

Linting
  kedro-docker/features/steps/cli_steps.py
Due: run-build-kedro-docker

Switch to slim image always
  kedro-docker/kedro_docker/plugin.py
  kedro-docker/kedro_docker/template/Dockerfile.spark
Due: run-build-kedro-docker

Use textwrap.dedent for nicer indentation
  kedro-docker/features/steps/cli_steps.py
Due: run-build-kedro-docker

Revert "Use textwrap.dedent for nicer indentation"
  kedro-docker/features/steps/cli_steps.py
Due: run-build-kedro-docker

Revert "Revert "Use textwrap.dedent for nicer indentation""
  kedro-docker/features/steps/cli_steps.py
Due: run-build-kedro-docker

Make tests read more lines (to skip all deprecation warnings)
  kedro-docker/features/steps/cli_steps.py
Due: run-build-kedro-docker

Fix video dataset docstring
  kedro-datasets/kedro_datasets/video/video_dataset.py
Due: run-build-kedro-datasets=false

Fix dataset docs (#93)
  kedro-datasets/kedro_datasets/video/video_dataset.py
Due: run-build-kedro-datasets=false

Path conditions:
  run-build-kedro-telemetry: any of: kedro-telemetry/.*
  run-build-kedro-docker: any of: kedro-docker/.*
  run-build-kedro-airflow: any of: kedro-airflow/.*
  run-build-kedro-datasets=false: any of: kedro-datasets/.*
