Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

.circleci/config.yml:

version: 2.1

setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            kedro-telemetry/.* run-build-kedro-telemetry true
            kedro-docker/.* run-build-kedro-docker true
            kedro-airflow/.* run-build-kedro-airflow true
            kedro-datasets/.* run-build-kedro-datasets false
          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

fix(datasets): correct pandas-gbq as py311 dependency (#460)
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

chore: Update scikit-learn version (#469)
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

build(telemetry): Release 0.3.1 (#475)
  kedro-telemetry/RELEASE.md
Due: run-build-kedro-telemetry

docs(datasets): Fix broken links in README (#477)
  kedro-datasets/README.md
Due: run-build-kedro-datasets=false

chore(datasets): replace more "data_set" instances (#476)
  kedro-datasets/kedro_datasets/geopandas/README.md
  kedro-datasets/kedro_datasets/tensorflow/README.md
Due: run-build-kedro-datasets=false

Refork and commit kedro matlab datasets
  kedro-datasets/kedro_datasets/matlab/__init__.py
  kedro-datasets/kedro_datasets/matlab/matlab_dataset.py
  kedro-datasets/tests/matlab/__init__.py
  kedro-datasets/tests/matlab/test_matlab_dataset.py
Due: run-build-kedro-datasets=false

Fix lint, add to docs
  kedro-datasets/docs/source/api/kedro_datasets.rst
  kedro-datasets/kedro_datasets/matlab/matlab_dataset.py
  kedro-datasets/tests/matlab/test_matlab_dataset.py
Due: run-build-kedro-datasets=false

Try fixing docstring
  kedro-datasets/kedro_datasets/matlab/matlab_dataset.py
Due: run-build-kedro-datasets=false

Try fixing save
  kedro-datasets/kedro_datasets/matlab/matlab_dataset.py
Due: run-build-kedro-datasets=false

Try fix docstest
  kedro-datasets/kedro_datasets/matlab/matlab_dataset.py
Due: run-build-kedro-datasets=false

Fix unit tests
  kedro-datasets/kedro_datasets/matlab/__init__.py
  kedro-datasets/kedro_datasets/matlab/matlab_dataset.py
  kedro-datasets/setup.py
  kedro-datasets/tests/matlab/test_matlab_dataset.py
Due: run-build-kedro-datasets=false

Update release notes:
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

change from _preview to preview
  kedro-datasets/kedro_datasets/matplotlib/matplotlib_writer.py
  kedro-datasets/kedro_datasets/pandas/csv_dataset.py
  kedro-datasets/kedro_datasets/pandas/excel_dataset.py
  kedro-datasets/kedro_datasets/plotly/json_dataset.py
  kedro-datasets/kedro_datasets/plotly/plotly_dataset.py
  kedro-datasets/kedro_datasets/tracking/json_dataset.py
  kedro-datasets/kedro_datasets/tracking/metrics_dataset.py
  kedro-datasets/tests/pandas/test_csv_dataset.py
  kedro-datasets/tests/pandas/test_excel_dataset.py
Due: run-build-kedro-datasets=false

Not hardcode load mode
  kedro-datasets/kedro_datasets/matlab/matlab_dataset.py
Due: run-build-kedro-datasets=false

Restrict pendulum version
  kedro-airflow/pyproject.toml
Due: run-build-kedro-airflow

Unpin dask
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

Update doctest
  kedro-datasets/kedro_datasets/dask/parquet_dataset.py
Due: run-build-kedro-datasets=false

Update kedro-datasets/setup.py
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

Update airflow init step
  kedro-airflow/features/steps/cli_steps.py
Due: run-build-kedro-airflow

Remove pendulum pin
  kedro-airflow/features/steps/cli_steps.py
  kedro-airflow/pyproject.toml
Due: run-build-kedro-airflow

Update create connections step
  kedro-airflow/features/steps/cli_steps.py
Due: run-build-kedro-airflow

ci(datasets): Unpin dask (#522)
  kedro-datasets/kedro_datasets/dask/parquet_dataset.py
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

feat(datasets): Add `MatlabDataset` to `kedro-datasets` (#515)
  kedro-datasets/RELEASE.md
  kedro-datasets/docs/source/api/kedro_datasets.rst
  kedro-datasets/kedro_datasets/matlab/__init__.py
  kedro-datasets/kedro_datasets/matlab/matlab_dataset.py
  kedro-datasets/setup.py
  kedro-datasets/tests/matlab/__init__.py
  kedro-datasets/tests/matlab/test_matlab_dataset.py
Due: run-build-kedro-datasets=false

Pin flask session
  kedro-airflow/features/steps/cli_steps.py
  kedro-airflow/pyproject.toml
Due: run-build-kedro-airflow

Add comment
  kedro-airflow/pyproject.toml
Due: run-build-kedro-airflow

ci(airflow): Pin `Flask-Session` version (#521)
  kedro-airflow/features/steps/cli_steps.py
  kedro-airflow/pyproject.toml
Due: run-build-kedro-airflow

sort dags dictionary
  kedro-airflow/kedro_airflow/plugin.py
Due: run-build-kedro-airflow

update release note
  kedro-airflow/RELEASE.md
Due: run-build-kedro-airflow

Update pyproject.toml
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Change intersphinx mapping temporarily
  kedro-datasets/docs/source/conf.py
Due: run-build-kedro-datasets=false

Update kedro-airflow/tests/test_node_grouping.py
  kedro-airflow/tests/test_node_grouping.py
Due: run-build-kedro-airflow

fix: MemoryDataset
  kedro-airflow/kedro_airflow/grouping.py
Due: run-build-kedro-airflow

Update kedro-airflow/README.md
  kedro-airflow/README.md
Due: run-build-kedro-airflow

Update kedro-airflow/RELEASE.md
  kedro-airflow/RELEASE.md
Due: run-build-kedro-airflow

Update kedro-airflow/kedro_airflow/plugin.py
  kedro-airflow/kedro_airflow/plugin.py
Due: run-build-kedro-airflow

feat: option to group in-memory nodes
  kedro-airflow/README.md
  kedro-airflow/RELEASE.md
  kedro-airflow/kedro_airflow/airflow_dag_template.j2
  kedro-airflow/kedro_airflow/grouping.py
  kedro-airflow/kedro_airflow/plugin.py
  kedro-airflow/tests/test_node_grouping.py
  kedro-airflow/tests/test_plugin.py
Due: run-build-kedro-airflow
