Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

Add `pytest-xdist` to `test_requirements.txt` files
  kedro-airflow/test_requirements.txt
Due: run-build-kedro-airflow

Fix missing semicolon in bash export statement
  .circleci/continue_config.yml
Due: none

Update formatting in the expected loading messages
  kedro-airflow/features/airflow.feature
Due: run-build-kedro-airflow

Add a minimum version requirement for apache-airflow in test_requirements.txt to support 3.7 and above
  kedro-airflow/test_requirements.txt
Due: run-build-kedro-airflow

Add bandit exclusion for kedro-datasets
  kedro-airflow/.pre-commit-config.yaml
Due: run-build-kedro-airflow

Always do `win_setup_env` and `choco install make`
  .circleci/continue_config.yml
Due: none

Move `pylint: disable=unused-argument` inside func
  kedro-airflow/features/environment.py
Due: run-build-kedro-airflow

Remove spurious #pylint disable directive
  kedro-airflow/features/environment.py
Due: run-build-kedro-airflow

Ensure `kedro-datasets` tests do not run otherwise
  .circleci/continue_config.yml
Due: none

Update and standardize Kedro-Airflow release notes
  kedro-airflow/RELEASE.md
Due: run-build-kedro-airflow

Avoid GPL dependency (unidecode)
  .circleci/continue_config.yml
Due: none

Update __init__.py
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

Add support for Airflow>=2.3.0 to the Kedro plugin (#52)
  .circleci/continue_config.yml
  kedro-airflow/.pre-commit-config.yaml
  kedro-airflow/RELEASE.md
  kedro-airflow/features/airflow.feature
  kedro-airflow/features/environment.py
  kedro-airflow/kedro_airflow/plugin.py
  kedro-airflow/requirements.txt
  kedro-airflow/test_requirements.txt
Due: run-build-kedro-airflow

Modify version number to 0.5.1
  kedro-airflow/kedro_airflow/__init__.py
Due: run-build-kedro-airflow

Add section for upcoming release 0.5.2
  kedro-airflow/RELEASE.md
Due: run-build-kedro-airflow

Remove spurious whitespace
  kedro-airflow/kedro_airflow/plugin.py
Due: run-build-kedro-airflow

Update RELEASE.md
  kedro-airflow/RELEASE.md
Due: run-build-kedro-airflow

Prefix Airflow plugin name with "Kedro-" in usage message (#51)
  kedro-airflow/RELEASE.md
  kedro-airflow/kedro_airflow/plugin.py
Due: run-build-kedro-airflow

Release Kedro-Airflow 0.5.1 (#82)
  kedro-airflow/RELEASE.md
  kedro-airflow/kedro_airflow/__init__.py
Due: run-build-kedro-airflow

revert
  .circleci/continue_config.yml
Due: none

Add RuntimeError handling to _get_project_metadata call and downstream dependencies
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Modify value assignment if project_metadata=None
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Adjust pyarrow version for snowpark
  kedro-datasets/setup.py
  kedro-datasets/test_requirements.txt
Due: run-build-kedro-datasets=false

Adjust session creation method and use saveargs
  kedro-datasets/kedro_datasets/snowflake/snowpark_dataset.py
Due: run-build-kedro-datasets=false

Modify process for finding package_name, project_version and remove project_name
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Noks change to fix CI
  kedro-datasets/setup.py
  kedro-datasets/test_requirements.txt
Due: run-build-kedro-datasets=false

noks fix for CI
  kedro-datasets/setup.py
  kedro-datasets/test_requirements.txt
Due: run-build-kedro-datasets=false

fix error
  kedro-datasets/test_requirements.txt
Due: run-build-kedro-datasets=false

Release kedro-datasets 0.0.6 (#81)
  kedro-datasets/kedro_datasets/__init__.py
  kedro-datasets/setup.py
  kedro-datasets/test_requirements.txt
Due: run-build-kedro-datasets=false

Add patch for kedro_telemetry.plugin.PACKAGE_NAME
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Add default value for hashed_package_name if PACKAGE_NAME could not be imported
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Fix lint
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

made credentials work with SSO again reuse database and warehouse from credentials if not provided with dataset
  kedro-datasets/kedro_datasets/snowflake/snowpark_dataset.py
Due: run-build-kedro-datasets=false

Sync datasets in kedro_datasets with kedro.extras.datasets
  kedro-datasets/kedro_datasets/api/api_dataset.py
  kedro-datasets/kedro_datasets/dask/parquet_dataset.py
  kedro-datasets/kedro_datasets/email/message_dataset.py
  kedro-datasets/kedro_datasets/geopandas/geojson_dataset.py
  kedro-datasets/kedro_datasets/json/json_dataset.py
  kedro-datasets/kedro_datasets/pandas/csv_dataset.py
  kedro-datasets/kedro_datasets/pandas/excel_dataset.py
  kedro-datasets/kedro_datasets/pandas/feather_dataset.py
  kedro-datasets/kedro_datasets/pandas/generic_dataset.py
  kedro-datasets/kedro_datasets/pandas/hdf_dataset.py
  kedro-datasets/kedro_datasets/pandas/json_dataset.py
  kedro-datasets/kedro_datasets/pandas/parquet_dataset.py
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
  kedro-datasets/kedro_datasets/pandas/xml_dataset.py
  kedro-datasets/kedro_datasets/pickle/pickle_dataset.py
  kedro-datasets/kedro_datasets/pillow/image_dataset.py
  kedro-datasets/kedro_datasets/plotly/json_dataset.py
  kedro-datasets/kedro_datasets/plotly/plotly_dataset.py
  kedro-datasets/kedro_datasets/redis/redis_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_jdbc_dataset.py
  kedro-datasets/kedro_datasets/svmlight/__init__.py
  kedro-datasets/kedro_datasets/svmlight/svmlight_dataset.py
  kedro-datasets/kedro_datasets/tensorflow/tensorflow_model_dataset.py
  kedro-datasets/kedro_datasets/text/text_dataset.py
  kedro-datasets/kedro_datasets/tracking/json_dataset.py
  kedro-datasets/kedro_datasets/tracking/metrics_dataset.py
  kedro-datasets/kedro_datasets/video/__init__.py
  kedro-datasets/kedro_datasets/video/video_dataset.py
  kedro-datasets/kedro_datasets/yaml/yaml_dataset.py
Due: run-build-kedro-datasets=false

Merge main + sync dataset tests
  kedro-datasets/tests/dask/test_parquet_dataset.py
  kedro-datasets/tests/libsvm/__init__.py
  kedro-datasets/tests/libsvm/test_svmlight_dataset.py
  kedro-datasets/tests/pandas/test_sql_dataset.py
  kedro-datasets/tests/video/conftest.py
  kedro-datasets/tests/video/data/color_video.mp4
  kedro-datasets/tests/video/data/video.mjpeg
  kedro-datasets/tests/video/data/video.mkv
  kedro-datasets/tests/video/data/video.mp4
  kedro-datasets/tests/video/test_sliced_video.py
  kedro-datasets/tests/video/test_video_dataset.py
  kedro-datasets/tests/video/test_video_objects.py
  kedro-datasets/tests/video/utils.py
Due: run-build-kedro-datasets=false

fix linting + missing imports + requirements
  kedro-datasets/kedro_datasets/api/api_dataset.py
  kedro-datasets/kedro_datasets/dask/parquet_dataset.py
  kedro-datasets/kedro_datasets/email/message_dataset.py
  kedro-datasets/kedro_datasets/svmlight/svmlight_dataset.py
  kedro-datasets/kedro_datasets/video/video_dataset.py
  kedro-datasets/setup.py
  kedro-datasets/test_requirements.txt
  kedro-datasets/tests/dask/test_parquet_dataset.py
  kedro-datasets/tests/libsvm/test_svmlight_dataset.py
  kedro-datasets/tests/pandas/test_sql_dataset.py
  kedro-datasets/tests/video/conftest.py
  kedro-datasets/tests/video/test_video_dataset.py
  kedro-datasets/tests/video/test_video_objects.py
Due: run-build-kedro-datasets=false

Fix typo in plotly/json_dataset.py
  kedro-datasets/kedro_datasets/plotly/json_dataset.py
Due: run-build-kedro-datasets=false

Update test_video_dataset.py
  kedro-datasets/tests/video/test_video_dataset.py
Due: run-build-kedro-datasets=false

fix lint tests
  kedro-datasets/pyproject.toml
  kedro-datasets/tests/video/test_video_dataset.py
Due: run-build-kedro-datasets=false

First chunk of SnowParkDataSet tests
  Makefile
  kedro-datasets/kedro_datasets/snowflake/snowpark_dataset.py
  kedro-datasets/tests/snowflake/conftest.py
  kedro-datasets/tests/snowflake/test_snowpark_dataset.py
Due: run-build-kedro-datasets=false

Path conditions:
  run-build-kedro-telemetry: any of: kedro-telemetry/.*
  run-build-kedro-docker: any of: kedro-docker/.*
  run-build-kedro-airflow: any of: kedro-airflow/.*
  run-build-kedro-datasets=false: any of: kedro-datasets/.*
