Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

chore(datasets): do not override `sys.warnoptions`
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

test(datasets): skip `tensorflow` tests on Windows
  kedro-datasets/tests/tensorflow/test_tensorflow_model_dataset.py
Due: run-build-kedro-datasets=false

docs(datasets): add note about DataSet deprecation (#357)
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

Changed logic to check dbcoonnect
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_hive_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_jdbc_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_streaming_dataset.py
Due: run-build-kedro-datasets=false

Add change to release notes + lint
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/partitions/incremental_dataset.py
  kedro-datasets/kedro_datasets/partitions/partitioned_dataset.py
  kedro-datasets/tests/partitions/test_incremental_dataset.py
Due: run-build-kedro-datasets=false

Fix links
  kedro-datasets/kedro_datasets/partitions/partitioned_dataset.py
Due: run-build-kedro-datasets=false

test(datasets): skip `tensorflow` tests on Windows (#363)
  kedro-datasets/tests/tensorflow/test_tensorflow_model_dataset.py
Due: run-build-kedro-datasets=false

Fix tests
  kedro-datasets/tests/partitions/test_partitioned_dataset.py
Due: run-build-kedro-datasets=false

improve testing WIP
  kedro-datasets/tests/xarray/test_geotiff_dataset.py
Due: run-build-kedro-datasets=false

basic test success
  kedro-datasets/kedro_datasets/xarray/geotiff_dataset.py
  kedro-datasets/tests/xarray/test_geotiff_dataset.py
Due: run-build-kedro-datasets=false

test reloaded
  kedro-datasets/kedro_datasets/xarray/geotiff_dataset.py
  kedro-datasets/tests/xarray/test_geotiff_dataset.py
Due: run-build-kedro-datasets=false

test exists
  kedro-datasets/tests/xarray/test_geotiff_dataset.py
Due: run-build-kedro-datasets=false

added version
  kedro-datasets/kedro_datasets/xarray/geotiff_dataset.py
Due: run-build-kedro-datasets=false

basic test suite
  kedro-datasets/tests/xarray/test_geotiff_dataset.py
Due: run-build-kedro-datasets=false

run black
  kedro-datasets/kedro_datasets/xarray/geotiff_dataset.py
Due: run-build-kedro-datasets=false

Pin tables version
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

Also fix kedro-airflow
  kedro-airflow/features/steps/cli_steps.py
Due: run-build-kedro-airflow

Revert trying to fix airflow
  kedro-airflow/features/steps/cli_steps.py
Due: run-build-kedro-airflow

ci: Pin `tables` version (#370)
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

Trigger builds for datasets
  kedro-datasets/kedro_datasets/tensorflow/tensorflow_model_dataset.py
Due: run-build-kedro-datasets=false

Revert "Trigger builds for datasets"
  kedro-datasets/kedro_datasets/tensorflow/tensorflow_model_dataset.py
Due: run-build-kedro-datasets=false

Add partitioned and incremental datasets to repo
  kedro-datasets/RELEASE.md
  kedro-datasets/docs/source/kedro_datasets.rst
  kedro-datasets/kedro_datasets/partitions/__init__.py
  kedro-datasets/kedro_datasets/partitions/incremental_dataset.py
  kedro-datasets/kedro_datasets/partitions/partitioned_dataset.py
  kedro-datasets/tests/partitions/__init__.py
  kedro-datasets/tests/partitions/test_incremental_dataset.py
  kedro-datasets/tests/partitions/test_partitioned_dataset.py
Due: run-build-kedro-datasets=false

Run only tensorflow tests
  .github/workflows/unit-tests.yml
Due: none

Run only tensorflow tests
  .github/workflows/unit-tests.yml
  Makefile
Due: none

Run tensorflow datasets separately
  .github/workflows/unit-tests.yml
  Makefile
Due: none

Ignore tensorflow tests in coverage
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Don't check coverage for only tensorflow tests
  Makefile
Due: none

Remove new datasets again, to keep this PR to build changes only
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/partitions/__init__.py
  kedro-datasets/kedro_datasets/partitions/incremental_dataset.py
  kedro-datasets/kedro_datasets/partitions/partitioned_dataset.py
  kedro-datasets/tests/partitions/__init__.py
  kedro-datasets/tests/partitions/test_incremental_dataset.py
  kedro-datasets/tests/partitions/test_partitioned_dataset.py
Due: run-build-kedro-datasets=false

Clean up
  kedro-datasets/docs/source/kedro_datasets.rst
Due: run-build-kedro-datasets=false

Update dbconnect comment
  kedro-datasets/kedro_datasets/spark/spark_dataset.py
Due: run-build-kedro-datasets=false

Fix spark typo
  kedro-datasets/kedro_datasets/spark/spark_dataset.py
Due: run-build-kedro-datasets=false

Bump version + update release notes
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

Update CONTRIBUTING.md + add one for kedro-datasets
  CONTRIBUTING.md
  Makefile
  kedro-airflow/CONTRIBUTING.md
  kedro-datasets/CONTRIBUTING.md
Due: run-build-kedro-airflow, run-build-kedro-datasets=false

build(datasets): Release `1.7.1` (#378)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

docs: Update CONTRIBUTING.md and add one for `kedro-datasets` (#379)
  CONTRIBUTING.md
  Makefile
  kedro-airflow/CONTRIBUTING.md
  kedro-datasets/CONTRIBUTING.md
Due: run-build-kedro-airflow, run-build-kedro-datasets=false

Add comment to explain why tensorflow tests are run separately
  Makefile
Due: none

ci(datasets): Run tensorflow tests separately from other dataset tests (#377)
  .github/workflows/unit-tests.yml
  Makefile
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Path conditions:
  run-build-kedro-telemetry: any of: kedro-telemetry/.*
  run-build-kedro-docker: any of: kedro-docker/.*
  run-build-kedro-airflow: any of: kedro-airflow/.*
  run-build-kedro-datasets=false: any of: kedro-datasets/.*
