Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

Temp:comment fn
  kedro-docker/features/steps/util.py
Due: run-build-kedro-docker

pointing kedro develop to 1.0.0rc1
  kedro-datasets/mkdocs.yml
Due: run-build-kedro-datasets=false

docs: update kedro doc to 1.0.0rc1 (#1113)
  kedro-datasets/mkdocs.yml
Due: run-build-kedro-datasets=false

chore(datasets): Make `kedro-datasets` compatible with 1.0.0 (#1109)
  .secrets.baseline
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/partitions/incremental_dataset.py
  kedro-datasets/kedro_datasets/partitions/partitioned_dataset.py
  kedro-datasets/tests/partitions/test_incremental_dataset.py
  kedro-datasets/tests/partitions/test_partitioned_dataset.py
  kedro-datasets/tests/spark/test_deltatable_dataset.py
  kedro-datasets/tests/spark/test_spark_dataset.py
Due: run-build-kedro-datasets=false

Telemetry flag in e2e
  kedro-docker/features/steps/cli_steps.py
Due: run-build-kedro-docker

telemetry flag
  kedro-docker/features/steps/cli_steps.py
Due: run-build-kedro-docker

revert logging
  kedro-docker/features/steps/cli_steps.py
Due: run-build-kedro-docker

remove dead code
  kedro-docker/features/steps/cli_steps.py
  kedro-docker/features/steps/util.py
Due: run-build-kedro-docker

build(docker): Update tests to work with rc 1.0 (#1112)
  kedro-docker/features/steps/cli_steps.py
  kedro-docker/features/steps/util.py
Due: run-build-kedro-docker

build(telemetry): Update to work with 1.0 rc (#1108)
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/integration/dummy-project/pyproject.toml
  kedro-telemetry/tests/test_masking.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

update kedro dependency
  kedro-airflow/pyproject.toml
Due: run-build-kedro-airflow

Remove deprecated MatplotlibWriter
  kedro-datasets/RELEASE.md
  kedro-datasets/docs/api/kedro_datasets/matplotlib.MatplotlibWriter.md
  kedro-datasets/docs/index.md
  kedro-datasets/kedro_datasets/matplotlib/__init__.py
  kedro-datasets/kedro_datasets/matplotlib/matplotlib_writer.py
  kedro-datasets/mkdocs.yml
  kedro-datasets/pyproject.toml
  kedro-datasets/tests/matplotlib/test_matplotlib_dataset.py
Due: run-build-kedro-datasets=false

Linter
  kedro-airflow/kedro_airflow/grouping.py
Due: run-build-kedro-airflow

Linter
  kedro-airflow/kedro_airflow/plugin.py
Due: run-build-kedro-airflow

chore(datasets): Remove deprecated `matplotlib.MatplotlibWriter` (#1115)
  kedro-datasets/RELEASE.md
  kedro-datasets/docs/api/kedro_datasets/matplotlib.MatplotlibWriter.md
  kedro-datasets/docs/index.md
  kedro-datasets/kedro_datasets/matplotlib/__init__.py
  kedro-datasets/kedro_datasets/matplotlib/matplotlib_writer.py
  kedro-datasets/mkdocs.yml
  kedro-datasets/pyproject.toml
  kedro-datasets/tests/matplotlib/test_matplotlib_dataset.py
Due: run-build-kedro-datasets=false

docs: add import Document to docstring
  kedro-datasets/kedro_datasets/docx/docx_dataset.py
Due: run-build-kedro-datasets=false

docs: fix var name in docstring
  kedro-datasets/kedro_datasets/docx/docx_dataset.py
Due: run-build-kedro-datasets=false

docs: fix RELEASE.md
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

docs: add class in index.md
  kedro-datasets/docs/index.md
Due: run-build-kedro-datasets=false

chore: fix path in mkdocs.yml
  kedro-datasets/mkdocs.yml
Due: run-build-kedro-datasets=false

docs: apply Prettier formatting to CONTRIBUTING.md
  kedro-datasets/CONTRIBUTING.md
Due: run-build-kedro-datasets=false

docs(datasets): use `Examples:` everywhere in docs
  kedro-datasets/kedro_datasets/biosequence/biosequence_dataset.py
  kedro-datasets/kedro_datasets/email/message_dataset.py
  kedro-datasets/kedro_datasets/geopandas/generic_dataset.py
  kedro-datasets/kedro_datasets/holoviews/holoviews_writer.py
  kedro-datasets/kedro_datasets/networkx/gml_dataset.py
  kedro-datasets/kedro_datasets/networkx/graphml_dataset.py
  kedro-datasets/kedro_datasets/networkx/json_dataset.py
  kedro-datasets/kedro_datasets/pandas/xml_dataset.py
  kedro-datasets/kedro_datasets/partitions/incremental_dataset.py
Due: run-build-kedro-datasets=false

docs(datasets): prevent copying of `>>>` and `...`
  kedro-datasets/docs/javascript/code-select.js
  kedro-datasets/docs/stylesheets/code-select.css
  kedro-datasets/mkdocs.yml
Due: run-build-kedro-datasets=false

update mkdocs.yml
  kedro-datasets/mkdocs.yml
Due: run-build-kedro-datasets=false

remove members: true so it doesnt overiride the filters settings
  kedro-datasets/docs/api/kedro_datasets/matplotlib.MatplotlibDataset.md
Due: run-build-kedro-datasets=false

Update Release.md
  kedro-airflow/RELEASE.md
Due: run-build-kedro-airflow

feat(airflow): Update kedro-airflow to support kedro 1.0.0 (#1072)
  kedro-airflow/.gitignore
  kedro-airflow/RELEASE.md
  kedro-airflow/features/steps/util.py
  kedro-airflow/kedro_airflow/airflow_dag_template.j2
  kedro-airflow/kedro_airflow/grouping.py
  kedro-airflow/kedro_airflow/plugin.py
  kedro-airflow/pyproject.toml
  kedro-airflow/tests/test_node_grouping.py
Due: run-build-kedro-airflow

Fix rendering
  kedro-datasets/kedro_datasets/geopandas/generic_dataset.py
  kedro-datasets/kedro_datasets/pickle/pickle_dataset.py
  kedro-datasets/kedro_datasets/redis/redis_dataset.py
Due: run-build-kedro-datasets=false

Bump ruff version in all plugins
  kedro-airflow/pyproject.toml
  kedro-datasets/pyproject.toml
  kedro-docker/pyproject.toml
  kedro-telemetry/pyproject.toml
Due: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

Fix linting after bumping ruff
  kedro-datasets/kedro_datasets/_utils/databricks_utils.py
  kedro-datasets/kedro_datasets/_utils/spark_utils.py
  kedro-datasets/kedro_datasets/ibis/file_dataset.py
  kedro-datasets/kedro_datasets/ibis/table_dataset.py
  kedro-datasets/kedro_datasets/pandas/parquet_dataset.py
  kedro-datasets/kedro_datasets/partitions/partitioned_dataset.py
  kedro-datasets/tests/spark/test_spark_hive_dataset.py
  kedro-datasets/tests/tensorflow/test_tensorflow_model_dataset.py
  kedro-telemetry/pyproject.toml
  kedro-telemetry/tests/integration/dummy-project/src/dummy_project/__main__.py
  kedro-telemetry/tests/integration/test_telemetry.py
Due: run-build-kedro-telemetry, run-build-kedro-datasets=false

chore: Bump `ruff` to latest in all plugins (#1121)
  kedro-airflow/pyproject.toml
  kedro-datasets/kedro_datasets/_utils/databricks_utils.py
  kedro-datasets/kedro_datasets/_utils/spark_utils.py
  kedro-datasets/kedro_datasets/ibis/file_dataset.py
  kedro-datasets/kedro_datasets/ibis/table_dataset.py
  kedro-datasets/kedro_datasets/pandas/parquet_dataset.py
  kedro-datasets/kedro_datasets/partitions/partitioned_dataset.py
  kedro-datasets/pyproject.toml
  kedro-datasets/tests/spark/test_spark_hive_dataset.py
  kedro-datasets/tests/tensorflow/test_tensorflow_model_dataset.py
  kedro-docker/pyproject.toml
  kedro-telemetry/pyproject.toml
  kedro-telemetry/tests/integration/dummy-project/src/dummy_project/__main__.py
  kedro-telemetry/tests/integration/test_telemetry.py
Due: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

refactor: docx to openxml
  kedro-datasets/RELEASE.md
  kedro-datasets/docs/api/kedro_datasets/openxml.DocxDataset.md
  kedro-datasets/docs/index.md
  kedro-datasets/kedro_datasets/openxml/__init__.py
  kedro-datasets/kedro_datasets/openxml/docx_dataset.py
  kedro-datasets/mkdocs.yml
  kedro-datasets/pyproject.toml
  kedro-datasets/tests/openxml/__init__.py
  kedro-datasets/tests/openxml/test_docx_dataset.py
Due: run-build-kedro-datasets=false

docs: fix missing file extension
  kedro-datasets/docs/index.md
Due: run-build-kedro-datasets=false

chore(datasets): Cleanup small layout rendering issues (#1120)
  kedro-datasets/kedro_datasets/geopandas/generic_dataset.py
  kedro-datasets/kedro_datasets/pickle/pickle_dataset.py
  kedro-datasets/kedro_datasets/redis/redis_dataset.py
Due: run-build-kedro-datasets=false

docs(datasets): fix YAML indentation in an example
  kedro-datasets/kedro_datasets/snowflake/snowpark_dataset.py
Due: run-build-kedro-datasets=false

Path conditions:
  run-build-kedro-telemetry: any of: kedro-telemetry/.*
  run-build-kedro-docker: any of: kedro-docker/.*
  run-build-kedro-airflow: any of: kedro-airflow/.*
  run-build-kedro-datasets=false: any of: kedro-datasets/.*
