Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

fix config
  .circleci/continue_config.yml
  Makefile
Due: none

add dummy e2etest
  kedro-datasets/features/steps/dummy.feature
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

add comments
  kedro-datasets/features/steps/dummy.feature
Due: run-build-kedro-datasets=false

fix lint
  kedro-datasets/features/steps/dummy.feature
Due: run-build-kedro-datasets=false

format nicer
  tools/circleci/circleci_release.py
  tools/circleci/utils/check_no_version_pypi.py
Due: none

Clean up for review
  .circleci/continue_config.yml
  kedro-datasets/kedro_datasets/__init__.py
  tools/circleci/circleci_release.py
  tools/circleci/github_release.py
  tools/circleci/utils/package_version.py
Due: run-build-kedro-datasets=false

apply review comments
  .circleci/continue_config.yml
  kedro-datasets/kedro_datasets/__init__.py
  tools/circleci/circleci_release.py
Due: run-build-kedro-datasets=false

Setup the new auto-release CircleCI Release (#43)
  .circleci/config.yml
  .circleci/continue_config.yml
  Makefile
  kedro-datasets/features/steps/dummy.feature
  kedro-datasets/kedro_datasets/__init__.py
  kedro-datasets/pyproject.toml
  tools/circleci/circleci_release.py
  tools/circleci/github_release.py
  tools/circleci/utils/check_no_version_pypi.py
  tools/circleci/utils/package_version.py
Due: run-build-kedro-datasets=false

Namespace kedro-datasets as kedro.datasets
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

Fix lint 2
  kedro-datasets/tests/pandas/test_gbq_dataset.py
  kedro-datasets/tests/pandas/test_sql_dataset.py
  kedro-datasets/tests/spark/test_spark_dataset.py
  kedro-datasets/tests/spark/test_spark_jdbc_dataset.py
Due: run-build-kedro-datasets=false

Fix lint
  kedro-datasets/kedro_datasets/spark/deltatable_dataset.py
  kedro-datasets/tests/spark/test_spark_dataset.py
Due: run-build-kedro-datasets=false

Revert "Fix lint 2"
  kedro-datasets/tests/kedro/datasets/pandas/test_gbq_dataset.py
  kedro-datasets/tests/kedro/datasets/pandas/test_sql_dataset.py
  kedro-datasets/tests/kedro/datasets/spark/test_spark_dataset.py
  kedro-datasets/tests/kedro/datasets/spark/test_spark_jdbc_dataset.py
Due: run-build-kedro-datasets=false

Fix test paths pt2
  kedro-datasets/tests/pandas/test_gbq_dataset.py
  kedro-datasets/tests/pandas/test_sql_dataset.py
  kedro-datasets/tests/pickle/test_pickle_dataset.py
  kedro-datasets/tests/redis/test_redis_dataset.py
  kedro-datasets/tests/spark/test_spark_dataset.py
  kedro-datasets/tests/spark/test_spark_jdbc_dataset.py
Due: run-build-kedro-datasets=false

Ignore file causing false positive during lint
  trufflehog-ignore.txt
Due: none

Update RELEASE.md
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

Prefix plugin names with "Kedro-" in usage message
  kedro-airflow/kedro_airflow/plugin.py
  kedro-docker/kedro_docker/plugin.py
Due: run-build-kedro-docker, run-build-kedro-airflow

Fix even more tests
  Makefile
Due: none

Keep plugin docstring from appearing in `kedro -h`
  kedro-airflow/kedro_airflow/plugin.py
Due: run-build-kedro-airflow

Keep plugin docstring from appearing in `kedro -h`
  kedro-docker/kedro_docker/plugin.py
Due: run-build-kedro-docker

Update plugin.py
  kedro-airflow/kedro_airflow/plugin.py
Due: run-build-kedro-airflow

Update plugin.py
  kedro-docker/kedro_docker/plugin.py
Due: run-build-kedro-docker

Add kedro as requirement
  kedro-datasets/requirements.txt
Due: run-build-kedro-datasets=false

Signed-off-by: Ahdra Merali <ahdra.merali@quantumblack.com>
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

Add pip install current directory to CI setup
  .circleci/continue_config.yml
Due: none

Fix YAML Syntax
  .circleci/continue_config.yml
Due: none

Fix CI Build
  .circleci/continue_config.yml
Due: none

(Try) Fix CI Build pt2
  .circleci/continue_config.yml
Due: none

(Try) Fix CI Build pt3
  .circleci/continue_config.yml
Due: none

(Try) Fix CI Build pt4
  .circleci/continue_config.yml
Due: none

(Try) Fix CI Build pt5
  .circleci/continue_config.yml
Due: none

(Try) Fix CI Build pt6
  .circleci/continue_config.yml
Due: none

Path conditions:
  run-build-kedro-telemetry: any of: kedro-telemetry/.*
  run-build-kedro-docker: any of: kedro-docker/.*
  run-build-kedro-airflow: any of: kedro-airflow/.*
  run-build-kedro-datasets=false: any of: kedro-datasets/.*
