Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

.circleci/config.yml:

version: 2.1

setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            kedro-telemetry/.* run-build-kedro-telemetry true
            kedro-docker/.* run-build-kedro-docker true
            kedro-airflow/.* run-build-kedro-airflow true
            kedro-datasets/.* run-build-kedro-datasets false
          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

fix pandas.json tests
  kedro-datasets/kedro_datasets/pandas/json_dataset.py
  kedro-datasets/tests/json/test_json_dataset.py
  kedro-datasets/tests/pandas/test_json_dataset.py
  kedro-datasets/tests/pandas/test_parquet_dataset.py
Due: run-build-kedro-datasets=false

add coverage for sqldataset
  kedro-datasets/tests/pandas/test_json_dataset.py
  kedro-datasets/tests/pandas/test_sql_dataset.py
Due: run-build-kedro-datasets=false

lint
  kedro-datasets/tests/pandas/test_json_dataset.py
  kedro-datasets/tests/pandas/test_sql_dataset.py
Due: run-build-kedro-datasets=false

coverage for sanitisation of sql
  kedro-datasets/tests/pandas/test_sql_dataset.py
Due: run-build-kedro-datasets=false

Add CSVDataset to dask module
  kedro-datasets/kedro_datasets/dask/__init__.py
  kedro-datasets/kedro_datasets/dask/csv_dataset.py
Due: run-build-kedro-datasets=false

Resolve path
  kedro-airflow/features/environment.py
Due: run-build-kedro-airflow

remove pins
  kedro-airflow/pyproject.toml
Due: run-build-kedro-airflow

Try bump apache
  kedro-airflow/pyproject.toml
Due: run-build-kedro-airflow

Revert airflow pin
  kedro-airflow/pyproject.toml
Due: run-build-kedro-airflow

Resolve tempdir path
  kedro-docker/features/environment.py
Due: run-build-kedro-docker

Show error
  kedro-docker/features/steps/cli_steps.py
Due: run-build-kedro-docker

comment
  kedro-docker/features/steps/cli_steps.py
Due: run-build-kedro-docker

install kedro from main
  kedro-docker/features/environment.py
Due: run-build-kedro-docker

Add kedro to test deps
  kedro-docker/pyproject.toml
Due: run-build-kedro-docker

install kedro from main
  kedro-docker/features/environment.py
  kedro-docker/features/steps/cli_steps.py
  kedro-docker/pyproject.toml
Due: run-build-kedro-docker

changes based on review
  kedro-datasets/kedro_datasets/pandas/json_dataset.py
  kedro-datasets/kedro_datasets/pandas/parquet_dataset.py
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
  kedro-datasets/tests/pandas/test_json_dataset.py
Due: run-build-kedro-datasets=false

Update gitpod
  .gitpod.yml
Due: none

Unpin reqs
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

pin pandas again
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

unpin some more
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

unpin pyarrow
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Add tests to dask.CSVDataset
  kedro-datasets/tests/dask/test_csv_dataset.py
Due: run-build-kedro-datasets=false

Fix formatting issues in example usage
  kedro-datasets/kedro_datasets/dask/csv_dataset.py
Due: run-build-kedro-datasets=false

Fix error in example usage that is causing test to fail
  kedro-datasets/kedro_datasets/dask/csv_dataset.py
Due: run-build-kedro-datasets=false

Remove arguments from example usage
  kedro-datasets/kedro_datasets/dask/csv_dataset.py
Due: run-build-kedro-datasets=false

Fix issue with folder used as path for CSV file
  kedro-datasets/kedro_datasets/dask/csv_dataset.py
Due: run-build-kedro-datasets=false

Change number of partitions to fix failing assertion
  kedro-datasets/kedro_datasets/dask/csv_dataset.py
Due: run-build-kedro-datasets=false

Add default save args
  kedro-datasets/kedro_datasets/dask/csv_dataset.py
Due: run-build-kedro-datasets=false

Remove temp path
  kedro-datasets/kedro_datasets/dask/csv_dataset.py
Due: run-build-kedro-datasets=false

Fix syntax issue
  kedro-datasets/kedro_datasets/dask/csv_dataset.py
Due: run-build-kedro-datasets=false

use pyarrow for parquet preview
  kedro-datasets/kedro_datasets/pandas/parquet_dataset.py
Due: run-build-kedro-datasets=false

Update uv
  .github/workflows/unit-tests.yml
Due: none

align jsondataset with spike
  kedro-datasets/kedro_datasets/pandas/json_dataset.py
  kedro-datasets/tests/pandas/test_json_dataset.py
Due: run-build-kedro-datasets=false

Bump pyarrow
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false
