Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

.circleci/config.yml:

version: 2.1

setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            kedro-telemetry/.* run-build-kedro-telemetry true
            kedro-docker/.* run-build-kedro-docker true
            kedro-airflow/.* run-build-kedro-airflow true
            kedro-datasets/.* run-build-kedro-datasets false
          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

Fixed test coverage for delta table dataset, also changed example test to parqquet from csv
  kedro-datasets/kedro_datasets/polars/generic_dataset.py
  kedro-datasets/kedro_datasets/spark/deltatable_dataset.py
Due: run-build-kedro-datasets=false

Remove pd interactions and add docs
  kedro-datasets/kedro_datasets/snowflake/snowpark_dataset.py
  kedro-datasets/tests/snowflake/test_snowpark_dataset.py
Due: run-build-kedro-datasets=false

Fix docs example
  kedro-datasets/kedro_datasets/snowflake/snowpark_dataset.py
Due: run-build-kedro-datasets=false

Keep Kedro-Docker plugin docstring from appearing in `kedro -h` (#56)
  kedro-docker/.pre-commit-config.yaml
  kedro-docker/kedro_docker/plugin.py
  kedro-docker/tests/test_helpers.py
Due: run-build-kedro-docker

Fix an error in docstring of MetricsDataSet (#98)
  kedro-datasets/kedro_datasets/tracking/metrics_dataset.py
Due: run-build-kedro-datasets=false

[FIX] Remove dict() in tests.
  kedro-datasets/tests/pandas/test_sql_dataset.py
Due: run-build-kedro-datasets=false

Add one more unit tests for adapt_mssql.
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
  kedro-datasets/tests/pandas/test_sql_dataset.py
Due: run-build-kedro-datasets=false

Set coverage in pyproject.toml (#105)
  kedro-airflow/.coveragerc
  kedro-airflow/pyproject.toml
Due: run-build-kedro-airflow

Add pyodbc dependency.
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

Bump pytest to 7.2 (#113)
  kedro-datasets/test_requirements.txt
Due: run-build-kedro-datasets=false

Mock connection as well.
  kedro-datasets/test_requirements.txt
  kedro-datasets/tests/pandas/test_sql_dataset.py
Due: run-build-kedro-datasets=false

[FIX] Add missing mocker from date test.
  kedro-datasets/tests/pandas/test_sql_dataset.py
Due: run-build-kedro-datasets=false

Make the SQLQueryDataSet compatible with mssql.
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

[FIX] Fix ds to data_set.
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
Due: run-build-kedro-datasets=false

Bump version and update release notes (#96)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

Fix outdated links in Kedro Datasets (#111)
  kedro-datasets/kedro_datasets/pickle/pickle_dataset.py
  kedro-datasets/kedro_datasets/redis/redis_dataset.py
Due: run-build-kedro-datasets=false

Replace kedro.pipeline with modular_pipeline.pipeline factory (#99)
  kedro-airflow/RELEASE.md
  kedro-airflow/tests/test_plugin.py
  kedro-datasets/RELEASE.md
  kedro-datasets/tests/spark/test_deltatable_dataset.py
  kedro-datasets/tests/spark/test_spark_dataset.py
  kedro-telemetry/RELEASE.md
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry, run-build-kedro-airflow, run-build-kedro-datasets=false

[kedro-datasets ] Add `Polars.CSVDataSet` (#95)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/polars/__init__.py
  kedro-datasets/kedro_datasets/polars/csv_dataset.py
  kedro-datasets/setup.py
  kedro-datasets/test_requirements.txt
  kedro-datasets/tests/polars/__init__.py
  kedro-datasets/tests/polars/test_csv_dataset.py
Due: run-build-kedro-datasets=false

Remove deprecated `test_requires` from `setup.py` in Kedro-Docker (#54)
  kedro-docker/setup.py
Due: run-build-kedro-docker

Change check to check on plugin name (#103)
  .circleci/continue_config.yml
Due: none

[TEST] Add a wrong input test.
  kedro-datasets/tests/pandas/test_sql_dataset.py
Due: run-build-kedro-datasets=false

Fix docs formatting and phrasing for some datasets (#107)
  kedro-datasets/kedro_datasets/api/api_dataset.py
  kedro-datasets/kedro_datasets/dask/parquet_dataset.py
  kedro-datasets/kedro_datasets/json/json_dataset.py
  kedro-datasets/kedro_datasets/matplotlib/matplotlib_writer.py
  kedro-datasets/kedro_datasets/pandas/csv_dataset.py
  kedro-datasets/kedro_datasets/pandas/excel_dataset.py
  kedro-datasets/kedro_datasets/pandas/feather_dataset.py
  kedro-datasets/kedro_datasets/pandas/gbq_dataset.py
  kedro-datasets/kedro_datasets/pandas/generic_dataset.py
  kedro-datasets/kedro_datasets/pandas/hdf_dataset.py
  kedro-datasets/kedro_datasets/pandas/json_dataset.py
  kedro-datasets/kedro_datasets/pandas/parquet_dataset.py
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
  kedro-datasets/kedro_datasets/pandas/xml_dataset.py
  kedro-datasets/kedro_datasets/pickle/pickle_dataset.py
  kedro-datasets/kedro_datasets/pillow/image_dataset.py
  kedro-datasets/kedro_datasets/plotly/json_dataset.py
  kedro-datasets/kedro_datasets/plotly/plotly_dataset.py
  kedro-datasets/kedro_datasets/redis/redis_dataset.py
  kedro-datasets/kedro_datasets/spark/deltatable_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_hive_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_jdbc_dataset.py
  kedro-datasets/kedro_datasets/svmlight/svmlight_dataset.py
  kedro-datasets/kedro_datasets/tensorflow/tensorflow_model_dataset.py
  kedro-datasets/kedro_datasets/text/text_dataset.py
  kedro-datasets/kedro_datasets/tracking/json_dataset.py
  kedro-datasets/kedro_datasets/tracking/metrics_dataset.py
  kedro-datasets/kedro_datasets/video/video_dataset.py
  kedro-datasets/kedro_datasets/yaml/yaml_dataset.py
Due: run-build-kedro-datasets=false

Add missing pyodbc for tests.
  kedro-datasets/test_requirements.txt
Due: run-build-kedro-datasets=false

Add more dates parsing for mssql backend (thanks to fgaudindelrieu@idmog.com)
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
Due: run-build-kedro-datasets=false

Add one test + update RELEASE.md.
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
  kedro-datasets/tests/pandas/test_sql_dataset.py
Due: run-build-kedro-datasets=false

Bump relax pyarrow version to work the same way as Pandas (#100)
  kedro-datasets/RELEASE.md
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

Release Kedro-Docker 0.3.1 (#94)
  kedro-docker/RELEASE.md
  kedro-docker/kedro_docker/__init__.py
Due: run-build-kedro-docker

[kedro-docker] Layers size optimization (#92)
  kedro-docker/.coveragerc
  kedro-docker/.pre-commit-config.yaml
  kedro-docker/RELEASE.md
  kedro-docker/features/docker.feature
  kedro-docker/features/docker_with_spark.feature
  kedro-docker/features/steps/cli_steps.py
  kedro-docker/kedro_docker/plugin.py
  kedro-docker/kedro_docker/template/Dockerfile.simple
  kedro-docker/kedro_docker/template/Dockerfile.spark
  kedro-docker/test_requirements.txt
Due: run-build-kedro-docker

Move coverage settings to pyproject.toml (#106)
  kedro-docker/.coveragerc
  kedro-docker/pyproject.toml
Due: run-build-kedro-docker

Add missing type in catalog example.
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
Due: run-build-kedro-datasets=false

Prefix Docker plugin name with "Kedro-" in usage message (#57)
  kedro-docker/kedro_docker/plugin.py
Due: run-build-kedro-docker

Release `kedro-datasets` `version 1.0.2` (#112)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/__init__.py
  kedro-datasets/kedro_datasets/api/api_dataset.py
  kedro-datasets/kedro_datasets/biosequence/biosequence_dataset.py
  kedro-datasets/kedro_datasets/dask/parquet_dataset.py
  kedro-datasets/kedro_datasets/email/message_dataset.py
  kedro-datasets/kedro_datasets/geopandas/geojson_dataset.py
  kedro-datasets/kedro_datasets/holoviews/holoviews_writer.py
  kedro-datasets/kedro_datasets/json/json_dataset.py
  kedro-datasets/kedro_datasets/matplotlib/matplotlib_writer.py
  kedro-datasets/kedro_datasets/networkx/gml_dataset.py
  kedro-datasets/kedro_datasets/networkx/graphml_dataset.py
  kedro-datasets/kedro_datasets/networkx/json_dataset.py
  kedro-datasets/kedro_datasets/pandas/csv_dataset.py
  kedro-datasets/kedro_datasets/pandas/excel_dataset.py
  kedro-datasets/kedro_datasets/pandas/feather_dataset.py
  kedro-datasets/kedro_datasets/pandas/gbq_dataset.py
  kedro-datasets/kedro_datasets/pandas/generic_dataset.py
  kedro-datasets/kedro_datasets/pandas/hdf_dataset.py
  kedro-datasets/kedro_datasets/pandas/json_dataset.py
  kedro-datasets/kedro_datasets/pandas/parquet_dataset.py
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
  kedro-datasets/kedro_datasets/pandas/xml_dataset.py
  kedro-datasets/kedro_datasets/pickle/pickle_dataset.py
  kedro-datasets/kedro_datasets/pillow/image_dataset.py
  kedro-datasets/kedro_datasets/plotly/json_dataset.py
  kedro-datasets/kedro_datasets/redis/redis_dataset.py
  kedro-datasets/kedro_datasets/spark/deltatable_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_hive_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_jdbc_dataset.py
  kedro-datasets/kedro_datasets/svmlight/svmlight_dataset.py
  kedro-datasets/kedro_datasets/tensorflow/tensorflow_model_dataset.py
  kedro-datasets/kedro_datasets/text/text_dataset.py
  kedro-datasets/kedro_datasets/video/video_dataset.py
  kedro-datasets/kedro_datasets/yaml/yaml_dataset.py
  kedro-datasets/tests/pandas/test_sql_dataset.py
Due: run-build-kedro-datasets=false

Fix `s3n` and `s3a` bug by adding them to CLOUD_PROTOCOLS (#2326)
  kedro/io/core.py
Due: none

Fix sp for other py versions
  kedro-datasets/kedro_datasets/snowflake/snowpark_dataset.py
  kedro-datasets/tests/snowflake/test_snowpark_dataset.py
Due: run-build-kedro-datasets=false

Make the SQLQueryDataSet compatible with mssql. (#101)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
  kedro-datasets/setup.py
  kedro-datasets/test_requirements.txt
  kedro-datasets/tests/pandas/test_sql_dataset.py
Due: run-build-kedro-datasets=false

Remove leftover TODO
  kedro-datasets/kedro_datasets/snowflake/snowpark_dataset.py
Due: run-build-kedro-datasets=false

Add warning when `SparkDataSet` is used on Databricks without a valid file path (#114)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/spark/spark_dataset.py
  kedro-datasets/tests/spark/test_spark_dataset.py
Due: run-build-kedro-datasets=false

[WIP] feat(datasets): add the option to use pandas 2.0.0
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

chore(datasets): add pandas<2.0.0 back to versions
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

Update test_requirements.txt
  kedro-datasets/test_requirements.txt
Due: run-build-kedro-datasets=false
