Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

.circleci/config.yml:

version: 2.1

setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            kedro-telemetry/.* run-build-kedro-telemetry true
            kedro-docker/.* run-build-kedro-docker true
            kedro-airflow/.* run-build-kedro-airflow true
            kedro-datasets/.* run-build-kedro-datasets false
          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

Add DartsTorchModelDataset
  kedro-datasets/RELEASE.md
  kedro-datasets/docs/source/api/kedro_datasets_experimental.rst
  kedro-datasets/kedro_datasets_experimental/darts/__init__.py
  kedro-datasets/kedro_datasets_experimental/darts/darts_torch_model_dataset.py
  kedro-datasets/kedro_datasets_experimental/tests/darts/__init__.py
  kedro-datasets/kedro_datasets_experimental/tests/darts/test_darts_torch_model_dataset.py
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

fix: pipeline checks
  kedro-datasets/docs/source/conf.py
  kedro-datasets/kedro_datasets_experimental/darts/darts_torch_model_dataset.py
  kedro-datasets/kedro_datasets_experimental/tests/darts/test_darts_torch_model_dataset.py
  tools/github_actions/github_actions_release.py
Due: run-build-kedro-datasets=false

add fsargs in example
  kedro-datasets/kedro_datasets/pandas/csv_dataset.py
Due: run-build-kedro-datasets=false

chore(dependencies): update Sphinx version
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Fix use os.makedirs instead of pathlib due to issues creating parent dirs
  kedro-datasets/kedro_datasets_experimental/darts/darts_torch_model_dataset.py
Due: run-build-kedro-datasets=false

Adjust node name output expectations
  kedro-airflow/tests/test_node_grouping.py
Due: run-build-kedro-airflow

Add default namespace to tests
  kedro-airflow/tests/test_node_grouping.py
Due: run-build-kedro-airflow

Add tests for group-by command
  kedro-airflow/tests/test_plugin.py
Due: run-build-kedro-airflow

Fix typo
  kedro-airflow/tests/test_node_grouping.py
Due: run-build-kedro-airflow

Make sure node dependencies are always sorted
  kedro-airflow/kedro_airflow/grouping.py
  kedro-airflow/tests/test_plugin.py
Due: run-build-kedro-airflow

Add group_by_namespace
  kedro-airflow/kedro_airflow/grouping.py
  kedro-airflow/kedro_airflow/plugin.py
  kedro-airflow/tests/test_node_grouping.py
Due: run-build-kedro-airflow

Attempt to fix dependency assignments
  kedro-airflow/kedro_airflow/grouping.py
Due: run-build-kedro-airflow

Add unit tests
  kedro-airflow/kedro_airflow/grouping.py
  kedro-airflow/tests/test_node_grouping.py
Due: run-build-kedro-airflow

Change group-by option
  kedro-airflow/kedro_airflow/plugin.py
  kedro-airflow/tests/test_plugin.py
Due: run-build-kedro-airflow

Add separate mock pipeline with namespaces
  kedro-airflow/tests/test_node_grouping.py
Due: run-build-kedro-airflow

Use lists instead of sets
  kedro-airflow/kedro_airflow/grouping.py
Due: run-build-kedro-airflow

Align text fixture with Pipeline.grouped_nodes_by_namespace behavior
  kedro-airflow/tests/test_node_grouping.py
Due: run-build-kedro-airflow

Change test fixtures for group-by namespace, align logic with Kedro API function
  kedro-airflow/kedro_airflow/grouping.py
  kedro-airflow/tests/test_node_grouping.py
  kedro-airflow/tests/test_plugin.py
Due: run-build-kedro-airflow

Change fixtures to make more sense
  kedro-airflow/tests/test_node_grouping.py
Due: run-build-kedro-airflow

Handle non-namespaced nodes
  kedro-airflow/kedro_airflow/grouping.py
Due: run-build-kedro-airflow

Lint
  kedro-airflow/kedro_airflow/grouping.py
Due: run-build-kedro-airflow

chore(datasets): Update csv usage example to include append mode (#1049)
  kedro-datasets/kedro_datasets/pandas/csv_dataset.py
Due: run-build-kedro-datasets=false

Change condition on group by dependencies to build dags in correct order
  kedro-airflow/kedro_airflow/grouping.py
Due: run-build-kedro-airflow

revert(datasets): unpin Polars given bug was fixed
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Update release notes
  kedro-airflow/RELEASE.md
Due: run-build-kedro-airflow

Fix error messages in dataset tests
  kedro-datasets/tests/partitions/test_partitioned_dataset.py
Due: run-build-kedro-datasets=false

Fix secrets
  .secrets.baseline
Due: none

fix(datasets): Modify test error messages with changes from PR #4580 (#1053)
  .secrets.baseline
  kedro-datasets/tests/partitions/test_partitioned_dataset.py
Due: run-build-kedro-datasets=false

Switch ways to collect dependencies from upstream to downstream
  kedro-airflow/kedro_airflow/grouping.py
  kedro-airflow/tests/test_node_grouping.py
Due: run-build-kedro-airflow

Change airflow dag template to use output from Kedro API
  kedro-airflow/kedro_airflow/airflow_dag_template.j2
  kedro-airflow/kedro_airflow/grouping.py
  kedro-airflow/kedro_airflow/plugin.py
Due: run-build-kedro-airflow

Fix formatting
  kedro-airflow/kedro_airflow/airflow_dag_template.j2
Due: run-build-kedro-airflow

Remove unused test
  kedro-airflow/kedro_airflow/plugin.py
  kedro-airflow/tests/test_node_grouping.py
Due: run-build-kedro-airflow

Alter group_by_memory
  kedro-airflow/kedro_airflow/grouping.py
  kedro-airflow/kedro_airflow/plugin.py
  kedro-airflow/tests/test_node_grouping.py
Due: run-build-kedro-airflow

Simplify base node_objs dict
  kedro-airflow/kedro_airflow/plugin.py
Due: run-build-kedro-airflow

Fix Sphinx error
  kedro-datasets/kedro_datasets/pandas/gbq_dataset.py
Due: run-build-kedro-datasets=false
