Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

.circleci/config.yml:

version: 2.1

setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            kedro-telemetry/.* run-build-kedro-telemetry true
            kedro-docker/.* run-build-kedro-docker true
            kedro-airflow/.* run-build-kedro-airflow true
            kedro-datasets/.* run-build-kedro-datasets false
          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

moved tests to the kedro_datasets_experimental pkg
  kedro-datasets/kedro_datasets_experimental/tests/databricks/__init__.py
  kedro-datasets/kedro_datasets_experimental/tests/databricks/conftest.py
  kedro-datasets/kedro_datasets_experimental/tests/databricks/test_external_table_dataset.py
Due: run-build-kedro-datasets=false

Update error code in e2e test
  kedro-docker/features/docker.feature
Due: run-build-kedro-docker

ci(docker): Update error code in e2e test (#888)
  kedro-docker/features/docker.feature
Due: run-build-kedro-docker

revert pyproject.toml
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

bump snowpark version
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

relax python version for snowpark
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

downgrade snowpark to 1.22
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

upgrade cloudpickle to 2.2.1
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

update docstring
  kedro-datasets/kedro_datasets/snowflake/snowpark_dataset.py
Due: run-build-kedro-datasets=false

Update PR template with checkbox for core dataset contribution
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

test ci/cd without python version 3.12
  .github/workflows/kedro-datasets.yml
Due: none

fix linting error
  kedro-datasets/kedro_datasets/snowflake/snowpark_dataset.py
Due: run-build-kedro-datasets=false

Update .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Fix lint
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

chore: Update PR template with checkbox for core dataset contribution (#891)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Fix lint
  kedro-datasets/kedro_datasets/ibis/file_dataset.py
  kedro-datasets/kedro_datasets/ibis/table_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_streaming_dataset.py
Due: run-build-kedro-datasets=false

lonkcheck
  kedro-datasets/CONTRIBUTING.md
  kedro-datasets/README.md
Due: run-build-kedro-datasets=false

linkcheck
  kedro-datasets/CONTRIBUTING.md
  kedro-datasets/README.md
Due: run-build-kedro-datasets=false

build(datasets): make Kedro-Datasets 5.1.0 release
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

Update kedro-datasets/kedro_datasets/snowflake/snowpark_dataset.py
  kedro-datasets/kedro_datasets/snowflake/snowpark_dataset.py
Due: run-build-kedro-datasets=false

Link to LICENSE.md
  kedro-datasets/CONTRIBUTING.md
  kedro-datasets/README.md
Due: run-build-kedro-datasets=false

ci(datasets): Fix mypy errors (#893)
  kedro-datasets/CONTRIBUTING.md
  kedro-datasets/README.md
  kedro-datasets/kedro_datasets/ibis/file_dataset.py
  kedro-datasets/kedro_datasets/ibis/table_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_streaming_dataset.py
Due: run-build-kedro-datasets=false

Add GH action for TSC votes
  .github/reviewers.json
  .github/workflows/check-tsc-vote.yml
Due: none

Add GH action to check for TSC votes on core dataset changes
  .github/reviewers.json
  .github/workflows/check-tsc-vote.yml
Due: none

Fix lint
  .github/reviewers.json
  .github/workflows/check-tsc-vote.yml
Due: none

Revert load
  kedro-datasets/kedro_datasets/partitions/partitioned_dataset.py
Due: run-build-kedro-datasets=false

Update docstring
  kedro-datasets/kedro_datasets/partitions/partitioned_dataset.py
Due: run-build-kedro-datasets=false

Update release
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

fix(datasets): default to DuckDB in in-memory mode
  kedro-datasets/kedro_datasets/ibis/file_dataset.py
  kedro-datasets/kedro_datasets/ibis/table_dataset.py
Due: run-build-kedro-datasets=false

Ignore TSC vote action in gatekeeper
  .github/workflows/merge-gatekeeper.yml
Due: none

Fix name for ignore in gatekeeper
  .github/workflows/merge-gatekeeper.yml
Due: none

test(datasets): use `object()` sentinel as default
  kedro-datasets/tests/ibis/test_file_dataset.py
  kedro-datasets/tests/ibis/test_table_dataset.py
Due: run-build-kedro-datasets=false

docs(datasets): add default database to RELEASE.md
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

fix(datasets): default to DuckDB in in-memory mode (#897)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/ibis/file_dataset.py
  kedro-datasets/kedro_datasets/ibis/table_dataset.py
  kedro-datasets/tests/ibis/test_file_dataset.py
  kedro-datasets/tests/ibis/test_table_dataset.py
Due: run-build-kedro-datasets=false

build(datasets): make Kedro-Datasets 5.1.0 release (#887)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

Trigger TSC vote action only on changes in core dataset
  .github/workflows/check-tsc-vote.yml
Due: none

Update filter
  .github/workflows/check-tsc-vote.yml
Due: none

ci: Add GH action to check for TSC votes on core dataset changes (#896)
  .github/reviewers.json
  .github/workflows/check-tsc-vote.yml
  .github/workflows/merge-gatekeeper.yml
Due: none

updated the release doc
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false
