Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

Added test_callable_save
  kedro-datasets/tests/partitions/test_partitioned_dataset.py
Due: run-build-kedro-datasets=false

Fixed lint
  kedro-datasets/tests/partitions/test_partitioned_dataset.py
Due: run-build-kedro-datasets=false

Fixed docs links
  kedro-datasets/kedro_datasets/dask/parquet_dataset.py
Due: run-build-kedro-datasets=false

Fixed all docs links
  kedro-datasets/kedro_datasets/dask/parquet_dataset.py
Due: run-build-kedro-datasets=false

Updated release notes
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

Fixed all docs links
  kedro-datasets/kedro_datasets/dask/csv_dataset.py
Due: run-build-kedro-datasets=false

Fixed typo
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

chore(datasets): Remove tracking datasets which are used in Kedro Viz Experiment Tracking (#969)
  kedro-datasets/RELEASE.md
  kedro-datasets/docs/source/api/kedro_datasets.rst
  kedro-datasets/kedro_datasets/_typing.py
  kedro-datasets/kedro_datasets/dask/csv_dataset.py
  kedro-datasets/kedro_datasets/dask/parquet_dataset.py
  kedro-datasets/kedro_datasets/tracking/__init__.py
  kedro-datasets/kedro_datasets/tracking/json_dataset.py
  kedro-datasets/kedro_datasets/tracking/metrics_dataset.py
  kedro-datasets/pyproject.toml
  kedro-datasets/static/jsonschema/kedro-catalog-0.18.json
  kedro-datasets/static/jsonschema/kedro-catalog-0.19.json
  kedro-datasets/tests/tracking/__init__.py
  kedro-datasets/tests/tracking/test_json_dataset.py
  kedro-datasets/tests/tracking/test_metrics_dataset.py
Due: run-build-kedro-datasets=false

test csv win
  kedro-datasets/tests/polars/test_csv_dataset.py
Due: run-build-kedro-datasets=false

change ci yaml for testing
  .github/workflows/kedro-datasets.yml
Due: none

add default encoding when opening file
  kedro-datasets/kedro_datasets/polars/csv_dataset.py
Due: run-build-kedro-datasets=false

revert workflow tests
  .github/workflows/kedro-datasets.yml
Due: none

fix lint
  kedro-datasets/kedro_datasets/polars/csv_dataset.py
Due: run-build-kedro-datasets=false

Add grouping for namespaces
  kedro-airflow/kedro_airflow/grouping.py
  kedro-airflow/kedro_airflow/plugin.py
Due: run-build-kedro-airflow

update release note
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

Removed trufflehog
  .pre-commit-config.yaml
  .secrets.baseline
  Makefile
  kedro-airflow/pyproject.toml
  kedro-datasets/pyproject.toml
  kedro-docker/pyproject.toml
  kedro-telemetry/pyproject.toml
  trufflehog-ignore.txt
Due: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

Updated github actions per plugin
  .github/workflows/detect-secrets.yml
  .github/workflows/kedro-airflow.yml
  .github/workflows/kedro-datasets.yml
  .github/workflows/kedro-docker.yml
  .github/workflows/kedro-telemetry.yml
Due: none

Updated release notes
  kedro-airflow/RELEASE.md
  kedro-datasets/RELEASE.md
  kedro-docker/RELEASE.md
  kedro-telemetry/RELEASE.md
Due: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

Updated validate-pr check scopes
  .github/workflows/kedro-airflow.yml
  .github/workflows/validate-pr-title.yaml
Due: none

Updated lint command
  Makefile
Due: none

Added key to trigger check
  kedro-airflow/kedro_airflow/grouping.py
Due: run-build-kedro-airflow

Updated GH action to track per plugin
  .github/workflows/detect-secrets.yml
Due: none

Removed secret
  kedro-airflow/kedro_airflow/grouping.py
Due: run-build-kedro-airflow

Updated GH for kedro-datasets
  .github/workflows/kedro-datasets.yml
Due: none

Move to linkcode extension
  kedro-datasets/docs/source/conf.py
Due: run-build-kedro-datasets=false

docs(datasets): Move to linkcode extension (#985)
  kedro-datasets/docs/source/conf.py
Due: run-build-kedro-datasets=false

fix(datasets): Fix polars.CSVDataset `save` on Windows (#979)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/polars/csv_dataset.py
  kedro-datasets/tests/polars/test_csv_dataset.py
Due: run-build-kedro-datasets=false

Updated secrets baseline
  .secrets.baseline
Due: none

feat(all): Replace trufflehog with detect-secrets (#983)
  .github/workflows/detect-secrets.yml
  .github/workflows/kedro-airflow.yml
  .github/workflows/kedro-datasets.yml
  .github/workflows/kedro-docker.yml
  .github/workflows/kedro-telemetry.yml
  .github/workflows/validate-pr-title.yaml
  .pre-commit-config.yaml
  .secrets.baseline
  Makefile
  kedro-airflow/RELEASE.md
  kedro-airflow/pyproject.toml
  kedro-datasets/RELEASE.md
  kedro-datasets/pyproject.toml
  kedro-docker/RELEASE.md
  kedro-docker/pyproject.toml
  kedro-telemetry/RELEASE.md
  kedro-telemetry/pyproject.toml
  trufflehog-ignore.txt
Due: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

Added argument to disable lazy saving
  kedro-datasets/kedro_datasets/partitions/partitioned_dataset.py
Due: run-build-kedro-datasets=false

updated the implementation by extending SQLQueryDataset
  kedro-datasets/kedro_datasets_experimental/polars/polars_database_dataset.py
Due: run-build-kedro-datasets=false

added the initial skeleton for the polars database dataset
  kedro-datasets/kedro_datasets_experimental/polars/__init__.py
  kedro-datasets/kedro_datasets_experimental/polars/polars_database_dataset.py
Due: run-build-kedro-datasets=false

Removed save function argument
  kedro-datasets/kedro_datasets/partitions/partitioned_dataset.py
Due: run-build-kedro-datasets=false

Updated unit test
  kedro-datasets/tests/partitions/test_partitioned_dataset.py
Due: run-build-kedro-datasets=false

build(datasets): use intersphinx over type_targets (#801)
  kedro-datasets/docs/source/conf.py
Due: run-build-kedro-datasets=false

Updated related docs
  kedro-datasets/kedro_datasets/partitions/partitioned_dataset.py
Due: run-build-kedro-datasets=false

Revert test changes
  kedro-datasets/tests/partitions/test_partitioned_dataset.py
Due: run-build-kedro-datasets=false

Path conditions:
  run-build-kedro-telemetry: any of: kedro-telemetry/.*
  run-build-kedro-docker: any of: kedro-docker/.*
  run-build-kedro-airflow: any of: kedro-airflow/.*
  run-build-kedro-datasets=false: any of: kedro-datasets/.*
