Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

.circleci/config.yml:

version: 2.1

setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            kedro-telemetry/.* run-build-kedro-telemetry true
            kedro-docker/.* run-build-kedro-docker true
            kedro-airflow/.* run-build-kedro-airflow true
            kedro-datasets/.* run-build-kedro-datasets false
          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

Update mkdocs.yml
  kedro-datasets/docs/api/kedro_datasets/langchain.ChatAnthropicDataset.md
  kedro-datasets/docs/api/kedro_datasets/langchain.ChatCohereDataset.md
  kedro-datasets/docs/api/kedro_datasets/langchain.ChatOpenAIDataset.md
Due: run-build-kedro-datasets=false

Update init
  kedro-datasets/kedro_datasets/langchain/__init__.py
Due: run-build-kedro-datasets=false

Update docstrings,
  kedro-datasets/kedro_datasets/langchain/chat_anthropic_dataset.py
  kedro-datasets/kedro_datasets/langchain/chat_cohere_dataset.py
  kedro-datasets/kedro_datasets/langchain/chat_openai_dataset.py
  kedro-datasets/kedro_datasets/langchain/openai_embeddings_dataset.py
Due: run-build-kedro-datasets=false

Update tests and docs
  kedro-datasets/docs/api/kedro_datasets/langchain.OpenAIEmbeddingsDataset.md
  kedro-datasets/tests/langchain/test_chat_anthropic_dataset.py
  kedro-datasets/tests/langchain/test_chat_cohere_dataset.py
  kedro-datasets/tests/langchain/test_openai_dataset.py
Due: run-build-kedro-datasets=false

Unpin deps and mypy fixes
  kedro-datasets/kedro_datasets/_utils/abstract_openai_dataset.py
  kedro-datasets/kedro_datasets/langchain/chat_anthropic_dataset.py
  kedro-datasets/kedro_datasets/langchain/chat_cohere_dataset.py
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Unpin deps
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

upgrade pyspark>=3.4
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Remove abstract class
  kedro-datasets/kedro_datasets/_utils/abstract_openai_dataset.py
  kedro-datasets/kedro_datasets/langchain/chat_openai_dataset.py
  kedro-datasets/kedro_datasets/langchain/openai_embeddings_dataset.py
  kedro-datasets/tests/langchain/test_openai_dataset.py
Due: run-build-kedro-datasets=false

Update kedro-datasets/tests/langchain/test_openai_dataset.py
  kedro-datasets/tests/langchain/test_openai_dataset.py
Due: run-build-kedro-datasets=false

remove duplicate
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

lint
  .idea/workspace.xml
  kedro-datasets/tests/spark/test_spark_dataset_v2.py
Due: run-build-kedro-datasets=false

Delete .idea/workspace.xml
  .idea/workspace.xml
Due: none

Fix tests for open ai datasets
  kedro-datasets/tests/langchain/test_openai_dataset.py
Due: run-build-kedro-datasets=false

refactor(datasets)!: graduate LangChain chat datasets (#1249)
  kedro-datasets/RELEASE.md
  kedro-datasets/docs/api/kedro_datasets/langchain.ChatAnthropicDataset.md
  kedro-datasets/docs/api/kedro_datasets/langchain.ChatCohereDataset.md
  kedro-datasets/docs/api/kedro_datasets/langchain.ChatOpenAIDataset.md
  kedro-datasets/docs/api/kedro_datasets/langchain.OpenAIEmbeddingsDataset.md
  kedro-datasets/docs/api/kedro_datasets_experimental/index.md
  kedro-datasets/docs/api/kedro_datasets_experimental/langchain.ChatAnthropicDataset.md
  kedro-datasets/docs/api/kedro_datasets_experimental/langchain.OpenAIEmbeddingsDataset.md
  kedro-datasets/docs/index.md
  kedro-datasets/kedro_datasets/langchain/__init__.py
  kedro-datasets/kedro_datasets/langchain/chat_anthropic_dataset.py
  kedro-datasets/kedro_datasets/langchain/chat_cohere_dataset.py
  kedro-datasets/kedro_datasets/langchain/chat_openai_dataset.py
  kedro-datasets/kedro_datasets/langchain/openai_embeddings_dataset.py
  kedro-datasets/kedro_datasets_experimental/langchain/__init__.py
  kedro-datasets/kedro_datasets_experimental/langchain/_openai.py
  kedro-datasets/kedro_datasets_experimental/tests/langchain/test_openai_dataset.py
  kedro-datasets/mkdocs.yml
  kedro-datasets/pyproject.toml
  kedro-datasets/tests/langchain/__init__.py
  kedro-datasets/tests/langchain/test_chat_anthropic_dataset.py
  kedro-datasets/tests/langchain/test_chat_cohere_dataset.py
  kedro-datasets/tests/langchain/test_openai_dataset.py
Due: run-build-kedro-datasets=false

Bump version
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

build(datasets): Release 9.0.0 (#1252)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

Update pyproject.toml
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Update __init__.py
  kedro-docker/kedro_docker/__init__.py
Due: run-build-kedro-docker

Update the link in the message
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Update test
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

chore(telemetry): Update the docs link in the message (#1255)
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

changes based on review
  kedro-datasets/kedro_datasets/_utils/databricks_utils.py
  kedro-datasets/kedro_datasets/spark/spark_dataset_v2.py
Due: run-build-kedro-datasets=false

Update telemetry to count dataset types
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Refactor + lint
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

lint
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Not mask starters argument
  kedro-telemetry/kedro_telemetry/masking.py
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Add test case for starters
  kedro-telemetry/tests/test_masking.py
Due: run-build-kedro-telemetry

Release notes + lint
  kedro-telemetry/RELEASE.md
  kedro-telemetry/tests/test_masking.py
Due: run-build-kedro-telemetry

Update with feedback
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Add experimental
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Add more test cases
  kedro-telemetry/kedro_telemetry/masking.py
  kedro-telemetry/tests/test_masking.py
Due: run-build-kedro-telemetry

Add test case for custom dataset
  kedro-telemetry/RELEASE.md
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

changes based on review
  kedro-datasets/kedro_datasets/spark/spark_dataset_v2.py
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

refactor(datasets): handle the exception of inexistent chroma collection
  kedro-datasets/kedro_datasets_experimental/chromadb/chromadb_dataset.py
Due: run-build-kedro-datasets=false

feat(datasets): add the possibility to query the db without loading it all
  kedro-datasets/kedro_datasets_experimental/chromadb/chromadb_dataset.py
  kedro-datasets/kedro_datasets_experimental/tests/chromadb/test_chromadb_dataset.py
Due: run-build-kedro-datasets=false

docs(datasets): clarify the create_if_missing return behavior
  kedro-datasets/kedro_datasets_experimental/chromadb/chromadb_dataset.py
Due: run-build-kedro-datasets=false

fix test 1
  kedro-datasets/kedro_datasets/_utils/databricks_utils.py
  kedro-datasets/kedro_datasets/spark/spark_dataset_v2.py
  kedro-datasets/tests/spark/test_spark_dataset_v2.py
Due: run-build-kedro-datasets=false

chore(datasets): add typing in chromadb class
  kedro-datasets/kedro_datasets_experimental/chromadb/chromadb_dataset.py
Due: run-build-kedro-datasets=false
