Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

.circleci/config.yml:

version: 2.1

setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            kedro-telemetry/.* run-build-kedro-telemetry true
            kedro-docker/.* run-build-kedro-docker true
            kedro-airflow/.* run-build-kedro-airflow true
            kedro-datasets/.* run-build-kedro-datasets false
          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

Introdcuing .gitpod.yml to kedro-plugins (#185)
  .gitpod.yml
Due: none

Migrate `kedro-airflow` to static metadata (#172)
  kedro-airflow/MANIFEST.in
  kedro-airflow/RELEASE.md
  kedro-airflow/pyproject.toml
  kedro-airflow/requirements.txt
  kedro-airflow/setup.cfg
  kedro-airflow/setup.py
  kedro-airflow/test_requirements.txt
  kedro-datasets/pyproject.toml
Due: run-build-kedro-airflow, run-build-kedro-datasets=false

ci: port lint, unit test, and e2e tests to Actions (#155)
  .github/workflows/check-plugin.yml
  .github/workflows/kedro-airflow.yml
  .github/workflows/kedro-datasets.yml
  .github/workflows/kedro-docker.yml
  .github/workflows/kedro-telemetry.yml
  trufflehog-ignore.txt
Due: none

Migrate `kedro-telemetry` to static metadata (#174)
  kedro-telemetry/RELEASE.md
  kedro-telemetry/pyproject.toml
  kedro-telemetry/requirements.txt
  kedro-telemetry/setup.py
  kedro-telemetry/test_requirements.txt
Due: run-build-kedro-telemetry

Migrate `kedro-docker` to static metadata (#173)
  .circleci/continue_config.yml
  kedro-docker/MANIFEST.in
  kedro-docker/RELEASE.md
  kedro-docker/features/environment.py
  kedro-docker/pyproject.toml
  kedro-docker/requirements.txt
  kedro-docker/setup.cfg
  kedro-docker/setup.py
  kedro-docker/test_requirements.txt
Due: run-build-kedro-docker

ci: ensure title matches Conventional Commits spec (#187)
  .github/workflows/validate-pr-title.yaml
Due: none

fix(datasets): Refactor TensorFlowModelDataset to DataSet (#186)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/tensorflow/README.md
  kedro-datasets/kedro_datasets/tensorflow/__init__.py
  kedro-datasets/kedro_datasets/tensorflow/tensorflow_model_dataset.py
  kedro-datasets/setup.py
  kedro-datasets/tests/tensorflow/test_tensorflow_model_dataset.py
Due: run-build-kedro-datasets=false

sync APIDataSet from kedro's `develop` (#184)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/api/api_dataset.py
  kedro-datasets/tests/api/test_api_dataset.py
Due: run-build-kedro-datasets=false

[kedro-datasets] Bump version of `tables` in `test_requirements.txt` (#182)
  .github/workflows/check-plugin.yml
  kedro-datasets/test_requirements.txt
Due: run-build-kedro-datasets=false

Use PEP 526 syntax for variable type annotations (#190)
  kedro-datasets/kedro_datasets/biosequence/biosequence_dataset.py
  kedro-datasets/kedro_datasets/dask/parquet_dataset.py
  kedro-datasets/kedro_datasets/email/message_dataset.py
  kedro-datasets/kedro_datasets/geopandas/geojson_dataset.py
  kedro-datasets/kedro_datasets/holoviews/holoviews_writer.py
  kedro-datasets/kedro_datasets/json/json_dataset.py
  kedro-datasets/kedro_datasets/matplotlib/matplotlib_writer.py
  kedro-datasets/kedro_datasets/networkx/gml_dataset.py
  kedro-datasets/kedro_datasets/networkx/graphml_dataset.py
  kedro-datasets/kedro_datasets/networkx/json_dataset.py
  kedro-datasets/kedro_datasets/pandas/csv_dataset.py
  kedro-datasets/kedro_datasets/pandas/feather_dataset.py
  kedro-datasets/kedro_datasets/pandas/gbq_dataset.py
  kedro-datasets/kedro_datasets/pandas/generic_dataset.py
  kedro-datasets/kedro_datasets/pandas/hdf_dataset.py
  kedro-datasets/kedro_datasets/pandas/json_dataset.py
  kedro-datasets/kedro_datasets/pandas/parquet_dataset.py
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
  kedro-datasets/kedro_datasets/pandas/xml_dataset.py
  kedro-datasets/kedro_datasets/pickle/pickle_dataset.py
  kedro-datasets/kedro_datasets/pillow/image_dataset.py
  kedro-datasets/kedro_datasets/plotly/json_dataset.py
  kedro-datasets/kedro_datasets/polars/csv_dataset.py
  kedro-datasets/kedro_datasets/redis/redis_dataset.py
  kedro-datasets/kedro_datasets/snowflake/snowpark_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_hive_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_jdbc_dataset.py
  kedro-datasets/kedro_datasets/svmlight/svmlight_dataset.py
  kedro-datasets/kedro_datasets/tensorflow/tensorflow_model_dataset.py
  kedro-datasets/kedro_datasets/yaml/yaml_dataset.py
Due: run-build-kedro-datasets=false

Update kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
Due: run-build-kedro-datasets=false

adding backticks to catalog
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
  kedro-datasets/tests/databricks/test_managed_table_dataset.py
Due: run-build-kedro-datasets=false

Add community contributions
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

Use newer link to docs
  kedro-datasets/kedro_datasets/README.md
Due: run-build-kedro-datasets=false

docs: Add community contributions (#199)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/README.md
Due: run-build-kedro-datasets=false

update test and remove redundacy
  kedro-datasets/kedro_datasets/spark/spark_streaming_dataset.py
  kedro-datasets/tests/spark/test_spark_streaming_dataset.py
Due: run-build-kedro-datasets=false

linting
  kedro-datasets/kedro_datasets/spark/spark_streaming_dataset.py
Due: run-build-kedro-datasets=false

release
  .github/workflows/check-release.yml
  .github/workflows/kedro-datasets.yml
Due: none

ignore
  .gitignore
  .idea/.gitignore
Due: none

Delete validate-pr-title.yaml
  .github/workflows/validate-pr-title.yaml
Due: none

Update __init__.py
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

Require pandas < 2.0 for compatibility with spark < 3.4
  kedro-datasets/.gitignore
  kedro-datasets/test_requirements.txt
Due: run-build-kedro-datasets=false

Replace use of walrus operator
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
Due: run-build-kedro-datasets=false

refactor file format
  kedro-datasets/kedro_datasets/spark/README.md
  kedro-datasets/kedro_datasets/spark/spark_streaming_dataset.py
Due: run-build-kedro-datasets=false

adding test for raise error
  kedro-datasets/tests/spark/test_spark_streaming_dataset.py
Due: run-build-kedro-datasets=false

fix read me file
  kedro-datasets/kedro_datasets/spark/README.md
Due: run-build-kedro-datasets=false

refactor file format
  kedro-datasets/kedro_datasets/spark/README.md
Due: run-build-kedro-datasets=false

fix readme
  kedro-datasets/kedro_datasets/spark/README.md
Due: run-build-kedro-datasets=false

fix readme file
  kedro-datasets/kedro_datasets/spark/README.md
Due: run-build-kedro-datasets=false

fix conflicts
  kedro-datasets/kedro_datasets/spark/spark_streaming_dataset.py
Due: run-build-kedro-datasets=false

fix ci erors
  kedro-datasets/kedro_datasets/spark/spark_streaming_dataset.py
  kedro-datasets/tests/spark/test_spark_streaming_dataset.py
Due: run-build-kedro-datasets=false

Add test coverage for validation methods
  kedro-datasets/tests/databricks/test_managed_table_dataset.py
Due: run-build-kedro-datasets=false

Remove unused versioning functions
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
Due: run-build-kedro-datasets=false

Fix exception catching for invalid schema, add test for invalid schema
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
  kedro-datasets/tests/databricks/test_managed_table_dataset.py
Due: run-build-kedro-datasets=false

Add pylint ignore
  kedro-datasets/tests/databricks/test_managed_table_dataset.py
Due: run-build-kedro-datasets=false
