Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

.circleci/config.yml:

version: 2.1

setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            kedro-telemetry/.* run-build-kedro-telemetry true
            kedro-docker/.* run-build-kedro-docker true
            kedro-airflow/.* run-build-kedro-airflow true
            kedro-datasets/.* run-build-kedro-datasets false
          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

fix test 2
  kedro-datasets/kedro_datasets/_utils/databricks_utils.py
  kedro-datasets/tests/spark/test_spark_dataset_v2.py
Due: run-build-kedro-datasets=false

Lint + update integration test project
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/integration/dummy-project/pyproject.toml
Due: run-build-kedro-telemetry

feat(telemetry): Collect dataset type information with telemetry (#1256)
  kedro-telemetry/RELEASE.md
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/integration/dummy-project/pyproject.toml
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Mask custom starters
  kedro-telemetry/kedro_telemetry/masking.py
  kedro-telemetry/tests/test_masking.py
Due: run-build-kedro-telemetry

Clean up release notes
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

address review comments
  kedro-datasets/kedro_datasets/_utils/databricks_utils.py
  kedro-datasets/kedro_datasets/_utils/spark_utils.py
  kedro-datasets/kedro_datasets/spark/spark_dataset_v2.py
  kedro-datasets/tests/spark/test_spark_dataset_v2.py
Due: run-build-kedro-datasets=false

secret fix
  kedro-datasets/tests/spark/test_spark_dataset_v2.py
Due: run-build-kedro-datasets=false

Fix networkx test after update
  kedro-datasets/tests/networkx/test_json_dataset.py
Due: run-build-kedro-datasets=false

undo changes and strict pin networkx
  kedro-datasets/pyproject.toml
  kedro-datasets/tests/networkx/test_json_dataset.py
Due: run-build-kedro-datasets=false

coverage
  kedro-datasets/kedro_datasets/spark/spark_dataset_v2.py
  kedro-datasets/tests/spark/test_spark_dataset_v2.py
Due: run-build-kedro-datasets=false

Add note about pinned test dependency
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Update test_spark_dataset_v2.py
  kedro-datasets/tests/spark/test_spark_dataset_v2.py
Due: run-build-kedro-datasets=false

chore: Clean up release notes (#1260)
  kedro-datasets/RELEASE.md
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

add SparkDatasetV2 windows tests
  Makefile
Due: none

clean tests and coverage
  kedro-datasets/tests/_utils/test_databricks_util.py
  kedro-datasets/tests/_utils/test_spark_util.py
  kedro-datasets/tests/spark/test_spark_dataset_v2.py
Due: run-build-kedro-datasets=false

coverage pt 2
  kedro-datasets/kedro_datasets/_utils/databricks_utils.py
  kedro-datasets/kedro_datasets/_utils/spark_utils.py
  kedro-datasets/tests/_utils/test_databricks_util.py
  kedro-datasets/tests/_utils/test_spark_util.py
Due: run-build-kedro-datasets=false

coverage
  kedro-datasets/kedro_datasets/_utils/databricks_utils.py
  kedro-datasets/tests/_utils/test_databricks_util.py
  kedro-datasets/tests/_utils/test_spark_util.py
Due: run-build-kedro-datasets=false

skip coverage for unreachable
  kedro-datasets/kedro_datasets/_utils/databricks_utils.py
  kedro-datasets/kedro_datasets/_utils/spark_utils.py
Due: run-build-kedro-datasets=false

feat(telemetry): Collect information about starters (#1257)
  kedro-telemetry/RELEASE.md
  kedro-telemetry/kedro_telemetry/masking.py
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/test_masking.py
Due: run-build-kedro-telemetry

enable spark windows tests
  .github/workflows/unit-tests.yml
  Makefile
Due: none

windows ci test with spark 4.0.1
  .github/workflows/unit-tests.yml
Due: none

Update unit-tests.yml
  .github/workflows/unit-tests.yml
Due: none

use java 11
  .github/workflows/unit-tests.yml
Due: none

please spark tests work!!
  .github/workflows/unit-tests.yml
Due: none

try fix spark test 2
  kedro-datasets/tests/spark/conftest.py
Due: run-build-kedro-datasets=false

attempt 3
  .github/workflows/unit-tests.yml
  kedro-datasets/tests/spark/conftest.py
Due: run-build-kedro-datasets=false

please work spark windows
  .github/workflows/unit-tests.yml
Due: none

spark potential fix
  .github/workflows/unit-tests.yml
  Makefile
  kedro-datasets/tests/spark/conftest.py
Due: run-build-kedro-datasets=false

update makefile
  Makefile
  kedro-datasets/tests/spark/conftest.py
Due: run-build-kedro-datasets=false

Update conftest.py
  kedro-datasets/tests/spark/conftest.py
Due: run-build-kedro-datasets=false

revert spark windows tests
  .github/workflows/unit-tests.yml
  Makefile
Due: none

Modify Databrics connect
  kedro-datasets/kedro_datasets/_utils/spark_utils.py
Due: run-build-kedro-datasets=false

check if DatabricksSession is None
  kedro-datasets/kedro_datasets/_utils/spark_utils.py
  kedro-datasets/tests/_utils/test_spark_util.py
Due: run-build-kedro-datasets=false

coverage
  kedro-datasets/tests/_utils/test_spark_util.py
Due: run-build-kedro-datasets=false
