Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

lint
  kedro-datasets/tests/spark/test_deltatable_dataset.py
  kedro-datasets/tests/spark/test_spark_dataset.py
  kedro-datasets/tests/spark/test_spark_streaming_dataset.py
Due: run-build-kedro-datasets=false

add empty stacktrace for AnalysisException
  kedro-datasets/tests/spark/test_deltatable_dataset.py
  kedro-datasets/tests/spark/test_spark_dataset.py
  kedro-datasets/tests/spark/test_spark_streaming_dataset.py
Due: run-build-kedro-datasets=false

revert
  kedro-datasets/tests/spark/test_deltatable_dataset.py
  kedro-datasets/tests/spark/test_spark_dataset.py
  kedro-datasets/tests/spark/test_spark_streaming_dataset.py
Due: run-build-kedro-datasets=false

lint with 3.11
  .github/workflows/check-plugin.yml
Due: none

update python version for linting
  .github/workflows/check-plugin.yml
Due: none

Remove setup matrix
  .github/workflows/check-plugin.yml
  .github/workflows/kedro-airflow.yml
  .github/workflows/kedro-datasets.yml
  .github/workflows/kedro-docker.yml
  .github/workflows/kedro-telemetry.yml
Due: none

Update check-plugin.yml
  .github/workflows/check-plugin.yml
Due: none

overhaul python version and os pass in
  .github/workflows/check-plugin.yml
  .github/workflows/kedro-airflow.yml
  .github/workflows/kedro-datasets.yml
  .github/workflows/kedro-docker.yml
  .github/workflows/kedro-telemetry.yml
Due: none

revert changes
  .github/workflows/check-plugin.yml
  .github/workflows/kedro-airflow.yml
  .github/workflows/kedro-datasets.yml
  .github/workflows/kedro-docker.yml
  .github/workflows/kedro-telemetry.yml
Due: none

rtd with 3.8
  .github/workflows/check-plugin.yml
Due: none

add snowflake-snowpark
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

remove repeated
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

release notes
  .github/workflows/check-plugin.yml
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

feat(datasets): Add Support Python 3.11 for kedro-datasets (#297)
  .github/workflows/check-plugin.yml
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/spark/deltatable_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_jdbc_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_streaming_dataset.py
  kedro-datasets/pyproject.toml
  kedro-datasets/setup.py
  kedro-datasets/tests/databricks/conftest.py
  kedro-datasets/tests/spark/test_deltatable_dataset.py
  kedro-datasets/tests/spark/test_spark_dataset.py
  kedro-datasets/tests/spark/test_spark_hive_dataset.py
  kedro-datasets/tests/spark/test_spark_jdbc_dataset.py
  kedro-datasets/tests/spark/test_spark_streaming_dataset.py
Due: run-build-kedro-datasets=false

Add new release
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

build(datasets): Release 1.6.0 (#318)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

Simplify logic
  kedro-datasets/kedro_datasets/polars/generic_dataset.py
Due: run-build-kedro-datasets=false

Lint
  kedro-datasets/kedro_datasets/polars/__init__.py
Due: run-build-kedro-datasets=false

Fix
  kedro-datasets/kedro_datasets/polars/__init__.py
Due: run-build-kedro-datasets=false

Make write calls more generic
  kedro-datasets/kedro_datasets/polars/generic_dataset.py
Due: run-build-kedro-datasets=false

Fix excel tests
  kedro-datasets/tests/polars/test_generic_dataset.py
Due: run-build-kedro-datasets=false

chore(datasets): kedro-datasets 1.4.2 (#258)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

chore(datasets): Fix `ManagedTableDataset` docstrings to valid RST (#257)
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

feat(datasets): bump dask version to the latest (#282)
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

docs: Minor docs tweaks (#266)
  kedro-docker/CONTRIBUTING.md
  kedro-telemetry/RELEASE.md
Due: run-build-kedro-telemetry, run-build-kedro-docker

docs: Instructions on custom Airflow Operators (#267)
  kedro-airflow/README.md
Due: run-build-kedro-airflow

chore(airflow): relax `semver` requirement bound (#270)
  kedro-airflow/pyproject.toml
Due: run-build-kedro-airflow

chore: Move test requirements to optional dependencies in pyproject.toml (#263)
  .github/workflows/check-plugin.yml
  .pre-commit-config.yaml
  Makefile
  kedro-airflow/CONTRIBUTING.md
  kedro-airflow/features/environment.py
  kedro-airflow/pyproject.toml
  kedro-airflow/test_requirements.txt
  kedro-datasets/pyproject.toml
  kedro-datasets/setup.py
  kedro-datasets/test_requirements.txt
  kedro-docker/CONTRIBUTING.md
  kedro-docker/pyproject.toml
  kedro-docker/test_requirements.txt
  kedro-telemetry/pyproject.toml
  kedro-telemetry/test_requirements.txt
Due: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

chore: Move pre-commit config to the top level of kedro-plugins (#259)
  .github/workflows/check-plugin.yml
  .pre-commit-config.yaml
  Makefile
  kedro-airflow/.pre-commit-config.yaml
  kedro-datasets/.pre-commit-config.yaml
  kedro-docker/.pre-commit-config.yaml
  kedro-telemetry/.pre-commit-config.yaml
Due: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

feat(datasets): Add format for ImageDataSet save (#77)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/pillow/image_dataset.py
  kedro-datasets/kedro_datasets/video/video_dataset.py
  kedro-datasets/tests/pillow/test_image_dataset.py
Due: run-build-kedro-datasets=false

feat(datasets): Added `DeltaTableDataSet` (#243)
  kedro-datasets/kedro_datasets/pandas/__init__.py
  kedro-datasets/kedro_datasets/pandas/deltatable_dataset.py
  kedro-datasets/pyproject.toml
  kedro-datasets/tests/pandas/test_deltatable_dataset.py
Due: run-build-kedro-datasets=false

chore: Add nightly build (#283)
  .github/workflows/kedro-airflow.yml
  .github/workflows/kedro-datasets.yml
  .github/workflows/kedro-docker.yml
  .github/workflows/kedro-telemetry.yml
Due: none

build(datasets): Release 1.5.0 (#285)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

chore: Make kedro-telemetry open-bound (#292)
  kedro-telemetry/pyproject.toml
Due: run-build-kedro-telemetry

chore(datasets): Fix indentation errors for `DeltaTableDataSet` (#288)
  kedro-datasets/kedro_datasets/pandas/deltatable_dataset.py
Due: run-build-kedro-datasets=false

build(datasets): Release/kedro datasets 1.5.3 (#312)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

Path conditions:
  run-build-kedro-telemetry: any of: kedro-telemetry/.*
  run-build-kedro-docker: any of: kedro-docker/.*
  run-build-kedro-airflow: any of: kedro-airflow/.*
  run-build-kedro-datasets=false: any of: kedro-datasets/.*
