Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

Return empty ID if the existing ID cannot be read
  kedro-telemetry/RELEASE.md
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

extend preview to JSONDataset
  kedro-datasets/kedro_datasets/pandas/json_dataset.py
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
Due: run-build-kedro-datasets=false

Extract new uuid generation to its own function
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Fix tests
  kedro-airflow/tests/conftest.py
  kedro-airflow/tests/test_plugin.py
Due: run-build-kedro-airflow

Convert .conf file to .toml
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Lint
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Remove redundant try/except block
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Print for debugging
  kedro-airflow/tests/conftest.py
Due: run-build-kedro-airflow

Add type hints, change variable names to be more descriptive
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

add resolve
  kedro-airflow/tests/conftest.py
Due: run-build-kedro-airflow

Update RELEASE.md
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

Pin dask test requirement as latest introduced installation issues
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

add json preview
  kedro-datasets/kedro_datasets/json/json_dataset.py
Due: run-build-kedro-datasets=false

Try reformatting docstring for tranformer huggingface
  kedro-datasets/kedro_datasets/huggingface/transformer_pipeline_dataset.py
Due: run-build-kedro-datasets=false

add preview for pickledataset
  kedro-datasets/kedro_datasets/json/json_dataset.py
  kedro-datasets/kedro_datasets/pickle/pickle_dataset.py
Due: run-build-kedro-datasets=false

Small fixes
  kedro-telemetry/RELEASE.md
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Make release note more explicit
  kedro-telemetry/RELEASE.md
Due: run-build-kedro-telemetry

Add tags filter to airflow create
  kedro-airflow/kedro_airflow/plugin.py
  kedro-airflow/tests/conftest.py
  kedro-airflow/tests/test_plugin.py
Due: run-build-kedro-airflow

Try pinning Dask in main requirements too
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Install PyTorch with transformers for testing
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Try to use uv on Read the Docs
  kedro-datasets/.readthedocs.yaml
Due: run-build-kedro-datasets=false

Use smaller model for Hugging Face doctest
  kedro-datasets/kedro_datasets/huggingface/transformer_pipeline_dataset.py
Due: run-build-kedro-datasets=false

More robust doctest for Hugging Face transformer
  kedro-datasets/kedro_datasets/huggingface/transformer_pipeline_dataset.py
Due: run-build-kedro-datasets=false

Whitespace fix
  kedro-datasets/kedro_datasets/tensorflow/tensorflow_model_dataset.py
Due: run-build-kedro-datasets=false

Add tests folder clerance
  kedro-airflow/tests/test_plugin.py
Due: run-build-kedro-airflow

Fix Ruff
  kedro-airflow/kedro_airflow/plugin.py
  kedro-airflow/tests/test_plugin.py
Due: run-build-kedro-airflow

Fix Tensorflow dataset for modern versions of Keras
  kedro-datasets/kedro_datasets/tensorflow/tensorflow_model_dataset.py
  kedro-datasets/tests/tensorflow/test_tensorflow_model_dataset.py
Due: run-build-kedro-datasets=false

Fix TensorFlow model loading and saving
  kedro-datasets/kedro_datasets/tensorflow/tensorflow_model_dataset.py
Due: run-build-kedro-datasets=false

Fix TensorFlow tests
  kedro-datasets/tests/tensorflow/test_tensorflow_model_dataset.py
Due: run-build-kedro-datasets=false

Update json_dataset.py
  kedro-datasets/kedro_datasets/json/json_dataset.py
Due: run-build-kedro-datasets=false

fix(datasets): Various fixes (#608)
  kedro-datasets/.readthedocs.yaml
  kedro-datasets/kedro_datasets/huggingface/transformer_pipeline_dataset.py
  kedro-datasets/kedro_datasets/tensorflow/tensorflow_model_dataset.py
  kedro-datasets/pyproject.toml
  kedro-datasets/tests/tensorflow/test_tensorflow_model_dataset.py
Due: run-build-kedro-datasets=false

WIP first commit to improved hf
  kedro-datasets/kedro_datasets/huggingface/hugging_face_dataset.py
  kedro-datasets/kedro_datasets/huggingface/transformer.py
Due: run-build-kedro-datasets=false

lint
  kedro-datasets/kedro_datasets/json/json_dataset.py
  kedro-datasets/kedro_datasets/pandas/json_dataset.py
  kedro-datasets/kedro_datasets/pandas/parquet_dataset.py
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
Due: run-build-kedro-datasets=false

add tests for parquet and json
  kedro-datasets/tests/json/test_json_dataset.py
  kedro-datasets/tests/pandas/test_parquet_dataset.py
Due: run-build-kedro-datasets=false

Path conditions:
  run-build-kedro-telemetry: any of: kedro-telemetry/.*
  run-build-kedro-docker: any of: kedro-docker/.*
  run-build-kedro-airflow: any of: kedro-airflow/.*
  run-build-kedro-datasets=false: any of: kedro-datasets/.*
