Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

.circleci/config.yml:

version: 2.1

setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            kedro-telemetry/.* run-build-kedro-telemetry true
            kedro-docker/.* run-build-kedro-docker true
            kedro-airflow/.* run-build-kedro-airflow true
            kedro-datasets/.* run-build-kedro-datasets false
          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

Fix indentation
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
Due: run-build-kedro-datasets=false

Modify myst-parser
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

Add newline
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
Due: run-build-kedro-datasets=false

Fix inconsistent extra["docs"] dependencies
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

Remove unnecessary type hints from doc string
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
Due: run-build-kedro-datasets=false

Prepare kedro-dataset 1.4.2
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

chore(datasets): Fix `ManagedTableDataset` docstrings to valid RST (#257)
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

Move release note to 1.4.2
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

chore(datasets): kedro-datasets 1.4.2 (#258)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

Create .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

remove pre-commit-config from each plugin
  kedro-airflow/.pre-commit-config.yaml
  kedro-datasets/.pre-commit-config.yaml
  kedro-docker/.pre-commit-config.yaml
  kedro-telemetry/.pre-commit-config.yaml
Due: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

fix relative paths
  .pre-commit-config.yaml
Due: none

add exclude regex
  .pre-commit-config.yaml
Due: none

rework pre-commit
  .pre-commit-config.yaml
Due: none

test
  .pre-commit-config.yaml
Due: none

Revert "test"
  .pre-commit-config.yaml
Due: none

Update Makefile
  Makefile
Due: none

Trigger datasets CI
  kedro-datasets/kedro_datasets/pandas/__init__.py
Due: run-build-kedro-datasets=false

TEST
  kedro-airflow/kedro_airflow/plugin.py
  kedro-datasets/kedro_datasets/api/api_dataset.py
  kedro-docker/kedro_docker/plugin.py
Due: run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

fix isort
  .pre-commit-config.yaml
Due: none

undo test
  kedro-airflow/kedro_airflow/plugin.py
  kedro-datasets/kedro_datasets/api/api_dataset.py
  kedro-docker/kedro_docker/plugin.py
Due: run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

lint
  kedro-docker/kedro_docker/plugin.py
Due: run-build-kedro-docker

add secret scan and bandit again
  .github/workflows/check-plugin.yml
  .pre-commit-config.yaml
Due: none

pass_filenames: true
  .pre-commit-config.yaml
  kedro-airflow/features/steps/cli_steps.py
  kedro-docker/tests/test_helpers.py
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/test_masking.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow

Update check-plugin.yml
  .github/workflows/check-plugin.yml
Due: none

Revert "pass_filenames: true"
  .pre-commit-config.yaml
  kedro-airflow/features/steps/cli_steps.py
  kedro-docker/tests/test_helpers.py
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/test_masking.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow

disable import errors
  .github/workflows/check-plugin.yml
  .pre-commit-config.yaml
Due: none

lint
  kedro-airflow/features/steps/cli_steps.py
  kedro-docker/tests/test_helpers.py
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/test_masking.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow

Minor docs tweaks
  kedro-docker/CONTRIBUTING.md
  kedro-telemetry/RELEASE.md
Due: run-build-kedro-telemetry, run-build-kedro-docker

Upgrade Polars
  kedro-datasets/setup.py
  kedro-datasets/test_requirements.txt
Due: run-build-kedro-datasets=false
