Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

feat: Dataset API add `save` method (#180)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/api/api_dataset.py
  kedro-datasets/kedro_datasets/pandas/generic_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_jdbc_dataset.py
  kedro-datasets/tests/api/test_api_dataset.py
Due: run-build-kedro-datasets=false

Update APIDataset docs and refactor
  kedro-datasets/kedro_datasets/api/api_dataset.py
Due: run-build-kedro-datasets=false

Acknowledge community contributor
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

Fix more broken doc
  kedro-datasets/kedro_datasets/api/api_dataset.py
Due: run-build-kedro-datasets=false

Lint
  kedro-datasets/kedro_datasets/api/api_dataset.py
Due: run-build-kedro-datasets=false

ci: Automatically extract release notes for GitHub Releases (#212)
  .github/workflows/check-release.yml
  tools/github_actions/extract_release_notes.py
Due: none

Add explicit check for database existence
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
Due: run-build-kedro-datasets=false

Remove character limit for table names
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
Due: run-build-kedro-datasets=false

Refactor validation steps in ManagedTable
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
Due: run-build-kedro-datasets=false

feat: Add metadata attribute to datasets (#189)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/api/api_dataset.py
  kedro-datasets/kedro_datasets/biosequence/biosequence_dataset.py
  kedro-datasets/kedro_datasets/dask/parquet_dataset.py
  kedro-datasets/kedro_datasets/email/message_dataset.py
  kedro-datasets/kedro_datasets/geopandas/geojson_dataset.py
  kedro-datasets/kedro_datasets/holoviews/holoviews_writer.py
  kedro-datasets/kedro_datasets/json/json_dataset.py
  kedro-datasets/kedro_datasets/matplotlib/matplotlib_writer.py
  kedro-datasets/kedro_datasets/networkx/gml_dataset.py
  kedro-datasets/kedro_datasets/networkx/graphml_dataset.py
  kedro-datasets/kedro_datasets/networkx/json_dataset.py
  kedro-datasets/kedro_datasets/pandas/csv_dataset.py
  kedro-datasets/kedro_datasets/pandas/excel_dataset.py
  kedro-datasets/kedro_datasets/pandas/feather_dataset.py
  kedro-datasets/kedro_datasets/pandas/gbq_dataset.py
  kedro-datasets/kedro_datasets/pandas/generic_dataset.py
  kedro-datasets/kedro_datasets/pandas/hdf_dataset.py
  kedro-datasets/kedro_datasets/pandas/json_dataset.py
  kedro-datasets/kedro_datasets/pandas/parquet_dataset.py
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
  kedro-datasets/kedro_datasets/pandas/xml_dataset.py
  kedro-datasets/kedro_datasets/pickle/pickle_dataset.py
  kedro-datasets/kedro_datasets/pillow/image_dataset.py
  kedro-datasets/kedro_datasets/plotly/json_dataset.py
  kedro-datasets/kedro_datasets/plotly/plotly_dataset.py
  kedro-datasets/kedro_datasets/polars/csv_dataset.py
  kedro-datasets/kedro_datasets/redis/redis_dataset.py
  kedro-datasets/kedro_datasets/snowflake/snowpark_dataset.py
  kedro-datasets/kedro_datasets/spark/deltatable_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_hive_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_jdbc_dataset.py
  kedro-datasets/kedro_datasets/svmlight/svmlight_dataset.py
  kedro-datasets/kedro_datasets/tensorflow/tensorflow_model_dataset.py
  kedro-datasets/kedro_datasets/text/text_dataset.py
  kedro-datasets/kedro_datasets/video/video_dataset.py
  kedro-datasets/kedro_datasets/yaml/yaml_dataset.py
Due: run-build-kedro-datasets=false

Remove spurious checks for table and schema name existence
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
Due: run-build-kedro-datasets=false

Fix release notes of upcoming kedro-datasets
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

feat: Add ManagedTableDataset for managed Delta Lake tables in Databricks (#206)
  Makefile
  kedro-datasets/.gitignore
  kedro-datasets/kedro_datasets/databricks/__init__.py
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
  kedro-datasets/setup.py
  kedro-datasets/test_requirements.txt
  kedro-datasets/tests/databricks/__init__.py
  kedro-datasets/tests/databricks/conftest.py
  kedro-datasets/tests/databricks/test_managed_table_dataset.py
Due: run-build-kedro-datasets=false

docs: Update APIDataset docs and refactor (#217)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/api/api_dataset.py
Due: run-build-kedro-datasets=false

Modify release version and RELEASE.md
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

Add proper name for ManagedTableDataSet
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

Update kedro-datasets/RELEASE.md
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

Revert lost semicolon for release 1.2.0
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

feat: Release `kedro-datasets` version `1.3.0` (#219)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

Add release notes
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

Fix APIDataSet docstring
  kedro-datasets/kedro_datasets/api/api_dataset.py
Due: run-build-kedro-datasets=false

Separate [docs] extras from [all] in kedro-datasets
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

fix streaming dataset configurations
  kedro-datasets/kedro_datasets/spark/spark_streaming_dataset.py
  kedro-datasets/tests/spark/test_spark_streaming_dataset.py
Due: run-build-kedro-datasets=false

docs: Fix APIDataSet docstring (#220)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/api/api_dataset.py
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

update streaming datasets doc
  kedro-datasets/kedro_datasets/spark/spark_streaming_dataset.py
Due: run-build-kedro-datasets=false

resolve comments re documentation
  kedro-datasets/kedro_datasets/spark/README.md
Due: run-build-kedro-datasets=false

bugfix lint
  kedro-datasets/kedro_datasets/spark/README.md
Due: run-build-kedro-datasets=false

update link
  kedro-datasets/kedro_datasets/spark/README.md
Due: run-build-kedro-datasets=false

revert the changes on CI
  tools/circleci/circleci_release.py
Due: none

chore: delete extra space ending check-release.yml (#210)
  .github/workflows/check-release.yml
Due: none

ci: ensure plugin requirements get installed in CI (#208)
  .circleci/continue_config.yml
  .github/workflows/check-plugin.yml
  .github/workflows/kedro-airflow.yml
  .github/workflows/kedro-datasets.yml
  .github/workflows/kedro-docker.yml
  .github/workflows/kedro-telemetry.yml
  kedro-datasets/pyproject.toml
  kedro-docker/pyproject.toml
  kedro-telemetry/pyproject.toml
Due: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-datasets=false

build: Relax Kedro bound for `kedro-datasets` (#140)
  kedro-datasets/RELEASE.md
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

ci: Remove the CircleCI setup (#209)
  .circleci/config.yml
  .circleci/continue_config.yml
  .github/workflows/merge-gatekeeper.yml
  kedro-telemetry/.circleci/config.yml
  kedro-telemetry/.github/ISSUE_TEMPLATE/bug-report.md
  kedro-telemetry/.github/ISSUE_TEMPLATE/feature-request.md
  kedro-telemetry/.github/PULL_REQUEST_TEMPLATE.md
  tools/circleci/circleci_release.py
  tools/circleci/github_release.py
  tools/circleci/utils/check_no_version_pypi.py
  tools/circleci/utils/package_version.py
Due: run-build-kedro-telemetry

test(docker): remove outdated logging-related step (#207)
  kedro-docker/features/docker.feature
  kedro-docker/features/docker_with_spark.feature
  kedro-docker/features/steps/cli_steps.py
Due: run-build-kedro-docker

ci: don't run checks on both `push`/`pull_request` (#192)
  .github/workflows/kedro-airflow.yml
  .github/workflows/kedro-datasets.yml
  .github/workflows/kedro-docker.yml
  .github/workflows/kedro-telemetry.yml
Due: none

ci: Create merge-gatekeeper.yml to make sure PR only merged when all tests checked. (#215)
  .github/workflows/merge-gatekeeper.yml
Due: none

ci: Migrate the release workflow from CircleCI to GitHub Actions (#203)
  .github/workflows/check-release.yml
  tools/github_actions/github_actions_release.py
Due: none

Path conditions:
  run-build-kedro-telemetry: any of: kedro-telemetry/.*
  run-build-kedro-docker: any of: kedro-docker/.*
  run-build-kedro-airflow: any of: kedro-airflow/.*
  run-build-kedro-datasets=false: any of: kedro-datasets/.*
