Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

.circleci/config.yml:

version: 2.1

setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            kedro-telemetry/.* run-build-kedro-telemetry true
            kedro-docker/.* run-build-kedro-docker true
            kedro-airflow/.* run-build-kedro-airflow true
            kedro-datasets/.* run-build-kedro-datasets false
          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

Linter
  kedro-telemetry/tests/integration/test_telemetry.py
Due: run-build-kedro-telemetry

renamed the val funcs of the ext tables
  kedro-datasets/kedro_datasets/databricks/external_table_dataset.py
Due: run-build-kedro-datasets=false

updated _save_overwrite() of ext tables to handle no existing tables
  kedro-datasets/kedro_datasets/databricks/external_table_dataset.py
Due: run-build-kedro-datasets=false

feat(telemetry): add integration tests (#771)
  kedro-telemetry/tests/integration/dummy-project/.gitignore
  kedro-telemetry/tests/integration/dummy-project/conf/README.md
  kedro-telemetry/tests/integration/dummy-project/conf/base/catalog.yml
  kedro-telemetry/tests/integration/dummy-project/conf/base/parameters.yml
  kedro-telemetry/tests/integration/dummy-project/conf/local/.gitkeep
  kedro-telemetry/tests/integration/dummy-project/pyproject.toml
  kedro-telemetry/tests/integration/dummy-project/requirements.txt
  kedro-telemetry/tests/integration/dummy-project/src/dummy_project/__init__.py
  kedro-telemetry/tests/integration/dummy-project/src/dummy_project/__main__.py
  kedro-telemetry/tests/integration/dummy-project/src/dummy_project/pipeline_registry.py
  kedro-telemetry/tests/integration/dummy-project/src/dummy_project/pipelines/__init__.py
  kedro-telemetry/tests/integration/dummy-project/src/dummy_project/pipelines/data_processing/__init__.py
  kedro-telemetry/tests/integration/dummy-project/src/dummy_project/pipelines/data_processing/pipeline.py
  kedro-telemetry/tests/integration/dummy-project/src/dummy_project/settings.py
  kedro-telemetry/tests/integration/test_telemetry.py
Due: run-build-kedro-telemetry

Add try except for import
  kedro-airflow/kedro_airflow/grouping.py
Due: run-build-kedro-airflow

Ignore bandit warnings
  kedro-datasets/kedro_datasets_experimental/pytorch/pytorch_dataset.py
Due: run-build-kedro-datasets=false

Remove any
  kedro-airflow/kedro_airflow/grouping.py
Due: run-build-kedro-airflow

ci(airflow): Replace type hints with CatalogProtocol (#845)
  kedro-airflow/kedro_airflow/grouping.py
  kedro-datasets/kedro_datasets_experimental/pytorch/pytorch_dataset.py
Due: run-build-kedro-airflow, run-build-kedro-datasets=false

chore: Added comments of changes in `RELEASE.md`
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

fix(datasets): Replace deprecated GBQDataset load/save funcs (#826)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/pandas/gbq_dataset.py
  kedro-datasets/tests/pandas/test_gbq_dataset.py
Due: run-build-kedro-datasets=false

fix(datasets): Use `put()` and `get()` instead of `copy` in `TensorFlowModelDataset`'s `_save` and `_load` methods. (#844)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/tensorflow/tensorflow_model_dataset.py
Due: run-build-kedro-datasets=false

Bandit
  .pre-commit-config.yaml
Due: none

Add nosec instead
  kedro-datasets/kedro_datasets_experimental/tests/prophet/test_prophet_dataset.py
Due: run-build-kedro-datasets=false

Add to release notes
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

feat: ProphetModelDataset (#720)
  kedro-datasets/RELEASE.md
  kedro-datasets/docs/source/api/kedro_datasets_experimental.rst
  kedro-datasets/docs/source/conf.py
  kedro-datasets/kedro_datasets_experimental/prophet/__init__.py
  kedro-datasets/kedro_datasets_experimental/prophet/prophet_dataset.py
  kedro-datasets/kedro_datasets_experimental/tests/conftest.py
  kedro-datasets/kedro_datasets_experimental/tests/prophet/__init__.py
  kedro-datasets/kedro_datasets_experimental/tests/prophet/test_prophet_dataset.py
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Move experimental tests
  kedro-datasets/kedro_datasets_experimental/tests/pytorch/__init__.py
  kedro-datasets/kedro_datasets_experimental/tests/pytorch/test_pytorch_dataset.py
  kedro-datasets/tests/kedro_datasets_experimental/pytorch/__init__.py
Due: run-build-kedro-datasets=false

chore(datasets): Move experimental `pytorch` tests (#858)
  kedro-datasets/kedro_datasets_experimental/tests/pytorch/__init__.py
  kedro-datasets/kedro_datasets_experimental/tests/pytorch/test_pytorch_dataset.py
  kedro-datasets/tests/kedro_datasets_experimental/pytorch/__init__.py
Due: run-build-kedro-datasets=false

Release 0.6.1
  kedro-docker/RELEASE.md
  kedro-docker/kedro_docker/__init__.py
Due: run-build-kedro-docker

Release kedro-telemetry 0.6.1
  kedro-telemetry/RELEASE.md
  kedro-telemetry/kedro_telemetry/__init__.py
Due: run-build-kedro-telemetry

Add release notes
  kedro-telemetry/RELEASE.md
Due: run-build-kedro-telemetry

Add release notes
  kedro-docker/RELEASE.md
Due: run-build-kedro-docker

Add additional change on release notes.
  kedro-telemetry/RELEASE.md
Due: run-build-kedro-telemetry

feat: Release kedro-docker 0.6.1 (#859)
  kedro-docker/RELEASE.md
  kedro-docker/kedro_docker/__init__.py
Due: run-build-kedro-docker

feat: Release kedro-telemetry 0.6.1 (#860)
  kedro-telemetry/RELEASE.md
  kedro-telemetry/kedro_telemetry/__init__.py
Due: run-build-kedro-telemetry

docs: Add pandas.DeltaSharingDataset to API documentation
  kedro-datasets/docs/source/api/kedro_datasets_experimental.rst
Due: run-build-kedro-datasets=false

fix: replace NotImplementedError with DatasetError in DeltaSharingDataset
  kedro-datasets/kedro_datasets_experimental/pandas/delta_sharing_dataset.py
Due: run-build-kedro-datasets=false

fix: remove version pinning for delta-sharing dependency
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

fix: example usage for the Python API
  kedro-datasets/kedro_datasets_experimental/pandas/delta_sharing_dataset.py
  kedro-datasets/test.py
Due: run-build-kedro-datasets=false

fix: fix identation and remove dummy file
  kedro-datasets/kedro_datasets_experimental/pandas/delta_sharing_dataset.py
  kedro-datasets/test.py
Due: run-build-kedro-datasets=false

Removed databricks-connect by default in notebooks
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/spark/spark_dataset.py
Due: run-build-kedro-datasets=false

removed the external table dataset
  kedro-datasets/kedro_datasets/databricks/__init__.py
  kedro-datasets/kedro_datasets/databricks/external_table_dataset.py
Due: run-build-kedro-datasets=false

fixed bug in supporting string partition cols
  kedro-datasets/kedro_datasets/databricks/_base_table_dataset.py
Due: run-build-kedro-datasets=false

Fixed DBR version constant
  kedro-datasets/kedro_datasets/spark/spark_dataset.py
Due: run-build-kedro-datasets=false

removed irrelevant attrs from describe() for managed tables
  kedro-datasets/kedro_datasets/databricks/_base_table_dataset.py
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
Due: run-build-kedro-datasets=false

preserved order of args
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
Due: run-build-kedro-datasets=false

Added parameter
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_dataset.py
Due: run-build-kedro-datasets=false

fix(datasets): fix incorrect `pandas` optional dependency
  kedro-datasets/RELEASE.md
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

fix(datasets): fix incorrect `pandas` optional dependency (#864)
  kedro-datasets/RELEASE.md
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

updated the tests for base table dataset and managed table dataset
  kedro-datasets/tests/databricks/test_base_table_dataset.py
  kedro-datasets/tests/databricks/test_managed_table_dataset.py
Due: run-build-kedro-datasets=false

fixed lint issues
  kedro-datasets/kedro_datasets/databricks/_base_table_dataset.py
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
  kedro-datasets/tests/databricks/test_base_table_dataset.py
  kedro-datasets/tests/databricks/test_managed_table_dataset.py
Due: run-build-kedro-datasets=false
