Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

chore(datasets): Fix more doctest issues (#451)
  Makefile
  kedro-datasets/kedro_datasets/partitions/incremental_dataset.py
  kedro-datasets/kedro_datasets/pillow/image_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_jdbc_dataset.py
  kedro-datasets/kedro_datasets/video/video_dataset.py
Due: run-build-kedro-datasets=false

feat: Add tools to heap event (#430)
  kedro-telemetry/RELEASE.md
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

chore(datasets): replace more "data_set" instances (#476)
  kedro-datasets/kedro_datasets/geopandas/README.md
  kedro-datasets/kedro_datasets/tensorflow/README.md
  kedro-datasets/tests/polars/test_lazy_polars_dataset.py
  kedro-datasets/tests/redis/test_redis_dataset.py
  kedro-datasets/tests/spark/test_spark_dataset.py
Due: run-build-kedro-datasets=false

ci(datasets): install deps in single `pip install` (#454)
  .github/workflows/kedro-datasets.yml
Due: none

docs(datasets): Improve documentation index (#428)
  kedro-datasets/README.md
  kedro-datasets/docs/source/api/kedro_datasets.rst
  kedro-datasets/docs/source/conf.py
  kedro-datasets/docs/source/index.md
  kedro-datasets/docs/source/index.rst
Due: run-build-kedro-datasets=false

chore(datasets): Fix delta + incremental dataset docstrings (#489)
  Makefile
  kedro-datasets/kedro_datasets/api/api_dataset.py
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
  kedro-datasets/kedro_datasets/partitions/incremental_dataset.py
  kedro-datasets/kedro_datasets/partitions/partitioned_dataset.py
  kedro-datasets/kedro_datasets/spark/deltatable_dataset.py
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

chore: Update scikit-learn version (#469)
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

build(airflow): Release 0.8.0 (#491)
  kedro-airflow/RELEASE.md
  kedro-airflow/kedro_airflow/__init__.py
Due: run-build-kedro-airflow

fix: Update tests on kedro-docker for 0.5.0 release. (#496)
  kedro-docker/RELEASE.md
  kedro-docker/features/docker.feature
  kedro-docker/features/docker_with_spark.feature
  kedro-docker/features/steps/cli_steps.py
  kedro-docker/kedro_docker/template/Dockerfile.simple
  kedro-docker/kedro_docker/template/Dockerfile.spark
Due: run-build-kedro-docker

chore(datasets): don't pollute dev env in doctests (#452)
  kedro-datasets/kedro_datasets/biosequence/biosequence_dataset.py
  kedro-datasets/kedro_datasets/email/message_dataset.py
  kedro-datasets/kedro_datasets/geopandas/geojson_dataset.py
  kedro-datasets/kedro_datasets/holoviews/holoviews_writer.py
  kedro-datasets/kedro_datasets/json/json_dataset.py
  kedro-datasets/kedro_datasets/networkx/gml_dataset.py
  kedro-datasets/kedro_datasets/networkx/graphml_dataset.py
  kedro-datasets/kedro_datasets/networkx/json_dataset.py
  kedro-datasets/kedro_datasets/pandas/csv_dataset.py
  kedro-datasets/kedro_datasets/pandas/deltatable_dataset.py
  kedro-datasets/kedro_datasets/pandas/excel_dataset.py
  kedro-datasets/kedro_datasets/pandas/feather_dataset.py
  kedro-datasets/kedro_datasets/pandas/generic_dataset.py
  kedro-datasets/kedro_datasets/pandas/hdf_dataset.py
  kedro-datasets/kedro_datasets/pandas/json_dataset.py
  kedro-datasets/kedro_datasets/pandas/parquet_dataset.py
  kedro-datasets/kedro_datasets/pandas/xml_dataset.py
  kedro-datasets/kedro_datasets/partitions/partitioned_dataset.py
  kedro-datasets/kedro_datasets/pickle/pickle_dataset.py
  kedro-datasets/kedro_datasets/plotly/json_dataset.py
  kedro-datasets/kedro_datasets/plotly/plotly_dataset.py
  kedro-datasets/kedro_datasets/polars/csv_dataset.py
  kedro-datasets/kedro_datasets/polars/eager_polars_dataset.py
  kedro-datasets/kedro_datasets/polars/lazy_polars_dataset.py
  kedro-datasets/kedro_datasets/spark/deltatable_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_dataset.py
  kedro-datasets/kedro_datasets/svmlight/svmlight_dataset.py
  kedro-datasets/kedro_datasets/tensorflow/tensorflow_model_dataset.py
  kedro-datasets/kedro_datasets/text/text_dataset.py
  kedro-datasets/kedro_datasets/tracking/json_dataset.py
  kedro-datasets/kedro_datasets/tracking/metrics_dataset.py
  kedro-datasets/kedro_datasets/video/video_dataset.py
  kedro-datasets/kedro_datasets/yaml/yaml_dataset.py
Due: run-build-kedro-datasets=false

docs(datasets): Document `IncrementalDataset` (#468)
  kedro-datasets/docs/source/kedro_datasets.rst
Due: run-build-kedro-datasets=false

test(datasets): fix failing doctests in Windows CI (#457)
  Makefile
  kedro-datasets/kedro_datasets/pillow/image_dataset.py
  kedro-datasets/kedro_datasets/video/video_dataset.py
Due: run-build-kedro-datasets=false

chore(datasets): Update partitioned dataset docstring (#502)
  kedro-datasets/kedro_datasets/partitions/partitioned_dataset.py
Due: run-build-kedro-datasets=false

amended docstring for example
  kedro-datasets/kedro_datasets/matlab/matlab_dataset.py
Due: run-build-kedro-datasets=false

added function _invalidate_cache
  kedro-datasets/kedro_datasets/matlab/matlab_dataset.py
Due: run-build-kedro-datasets=false

fix: airflow metadata (#498)
  kedro-airflow/tests/conftest.py
  kedro-docker/features/steps/cli_steps.py
Due: run-build-kedro-docker, run-build-kedro-airflow

Point before pull request.
  kedro-datasets/kedro_datasets/matlab/__init__.py
  kedro-datasets/kedro_datasets/pickle/__init__.py
Due: run-build-kedro-datasets=false

Added credentials, file save args to init
  kedro-datasets/kedro_datasets/matlab/matlab_dataset.py
Due: run-build-kedro-datasets=false

build: Release kedro-docker 0.5.0 (#497)
  kedro-docker/RELEASE.md
  kedro-docker/kedro_docker/__init__.py
Due: run-build-kedro-docker

fix(datasets): Relax pandas.HDFDataSet dependencies which are broken on Windows (#426)
  kedro-datasets/RELEASE.md
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

Reviewed and resolved errors in code 201123
  kedro-datasets/kedro_datasets/matlab/matlab_dataset.py
Due: run-build-kedro-datasets=false

rebase in progress onto d8f1fd5
  kedro-telemetry/RELEASE.md
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

docs: Add python version support policy to plugin `README.md`s (#425)
  kedro-datasets/README.md
Due: run-build-kedro-datasets=false

Pytest returns: No data to report
  kedro-datasets/kedro_datasets/matlab/matlab_dataset.py
Due: run-build-kedro-datasets=false

style: Add shared CSS and meganav to datasets docs (#400)
  kedro-datasets/docs/source/conf.py
Due: run-build-kedro-datasets=false

Completed pytest on the matlab dataset
  kedro-datasets/kedro_datasets/matlab/__init__.py
  kedro-datasets/kedro_datasets/matlab/matlab_dataset.py
  kedro-datasets/kedro_datasets/pickle/__init__.py
Due: run-build-kedro-datasets=false

matlab_dataset init
  kedro-datasets/kedro_datasets/matlab/__init__.py
  kedro-datasets/kedro_datasets/matlab/matlab_dataset.py
Due: run-build-kedro-datasets=false

feat(datasets): Add Hugging Face datasets (#344)
  kedro-datasets/docs/source/api/kedro_datasets.rst
  kedro-datasets/kedro_datasets/huggingface/hugging_face_dataset.py
  kedro-datasets/kedro_datasets/huggingface/transformer_pipeline_dataset.py
Due: run-build-kedro-datasets=false

Reviewed and resolved errors in code 201123
  kedro-datasets/kedro_datasets/matlab/__init__.py
  kedro-datasets/kedro_datasets/matlab/matlab_dataset.py
Due: run-build-kedro-datasets=false

test(datasets): fix `dask.ParquetDataset` doctests (#439)
  Makefile
  kedro-datasets/kedro_datasets/conftest.py
Due: run-build-kedro-datasets=false

test(datasets): make `api.APIDataset` doctests run (#448)
  Makefile
Due: none

test(datasets): add outputs to matplotlib doctests (#449)
  Makefile
Due: none

chore(datasets): fix accidental reference to NumPy (#450)
  kedro-datasets/kedro_datasets/conftest.py
Due: run-build-kedro-datasets=false

Path conditions:
  run-build-kedro-telemetry: any of: kedro-telemetry/.*
  run-build-kedro-docker: any of: kedro-docker/.*
  run-build-kedro-airflow: any of: kedro-airflow/.*
  run-build-kedro-datasets=false: any of: kedro-datasets/.*
