Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

fix(datasets): make connection config key hashable
  kedro-datasets/kedro_datasets/ibis/table_dataset.py
Due: run-build-kedro-datasets=false

chore(datasets): mark uncovered line with a pragma
  kedro-datasets/kedro_datasets/ibis/table_dataset.py
Due: run-build-kedro-datasets=false

Add mypy setup to makefile
  Makefile
Due: none

Add mypy to test reqs
  kedro-airflow/pyproject.toml
  kedro-datasets/pyproject.toml
  kedro-docker/pyproject.toml
  kedro-telemetry/pyproject.toml
Due: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

Fix mypy issues on docker
  kedro-docker/kedro_docker/helpers.py
  kedro-docker/kedro_docker/plugin.py
Due: run-build-kedro-docker

Fix mypy issues with kedro-telemetry
  kedro-telemetry/kedro_telemetry/masking.py
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

chore: Fix `mypy` issues on `kedro-docker` (#640)
  kedro-docker/kedro_docker/helpers.py
  kedro-docker/kedro_docker/plugin.py
Due: run-build-kedro-docker

chore: Fix `mypy` issues with `kedro-telemetry` (#641)
  kedro-telemetry/kedro_telemetry/masking.py
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Fix errors docker
  kedro-docker/kedro_docker/helpers.py
Due: run-build-kedro-docker

Add description of experimental and regular datasets and gradudation/demotion processes
  kedro-datasets/CONTRIBUTING.md
Due: run-build-kedro-datasets=false

test(datasets): add a test case for list in config
  kedro-datasets/kedro_datasets/ibis/table_dataset.py
  kedro-datasets/tests/ibis/test_table_dataset.py
Due: run-build-kedro-datasets=false

test(datasets): add bug reported by Iñigo to suite
  kedro-datasets/tests/ibis/test_table_dataset.py
Due: run-build-kedro-datasets=false

Import annotations
  kedro-telemetry/kedro_telemetry/masking.py
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Import annotations
  kedro-docker/kedro_docker/helpers.py
Due: run-build-kedro-docker

Drop support for pandas < 2.0
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Drop support for pyspark < 3.0
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

bump up kedro-datasets version to 3.0.0
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

Lift Dask version cap
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Add changes to release notes
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

fix: Drop support for `pandas < 2.0`, `pyspark < 3.0` on `kedro-datasets` (#643)
  kedro-datasets/RELEASE.md
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

feat(datasets): add dataset to load/save with Ibis (#560)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/ibis/__init__.py
  kedro-datasets/kedro_datasets/ibis/table_dataset.py
  kedro-datasets/pyproject.toml
  kedro-datasets/tests/ibis/__init__.py
  kedro-datasets/tests/ibis/test_table_dataset.py
Due: run-build-kedro-datasets=false

Reformatted release notes
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

Restore support for pandas 1 and PySpark 2
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Update release notes
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

Remove mypy check for datasets for now and fix airflow errors
  .github/workflows/lint.yml
  Makefile
  kedro-airflow/kedro_airflow/grouping.py
  kedro-airflow/kedro_airflow/plugin.py
Due: run-build-kedro-airflow

Fixed typo
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

fix(datasets): Restore support for pandas 1 and PySpark 2 (#646)
  kedro-datasets/RELEASE.md
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

feat: Release kedro-datasets version 3.0.0 (#644)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

add mypy setup for datasets
  .github/workflows/lint.yml
  Makefile
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Bump version
  kedro-telemetry/RELEASE.md
  kedro-telemetry/kedro_telemetry/__init__.py
Due: run-build-kedro-telemetry

Add mypy confg file
  kedro-docker/kedro_docker/plugin.py
  kedro-telemetry/kedro_telemetry/plugin.py
  mypy.ini
Due: run-build-kedro-telemetry, run-build-kedro-docker

Minor fixes and add config file
  kedro-datasets/kedro_datasets/api/api_dataset.py
  kedro-datasets/kedro_datasets/biosequence/biosequence_dataset.py
  kedro-datasets/kedro_datasets/dask/parquet_dataset.py
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
  kedro-datasets/kedro_datasets/huggingface/hugging_face_dataset.py
  kedro-datasets/kedro_datasets/huggingface/transformer_pipeline_dataset.py
  kedro-datasets/kedro_datasets/redis/redis_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_dataset.py
  mypy.ini
Due: run-build-kedro-datasets=false

docs: Add `experimental` directory (#635)
  kedro-datasets/experimental/README.md
Due: run-build-kedro-datasets=false

Move mypy config to toml file
  kedro-telemetry/pyproject.toml
  mypy.ini
Due: run-build-kedro-telemetry

Move mypy config
  Makefile
  kedro-datasets/pyproject.toml
  kedro-telemetry/pyproject.toml
Due: run-build-kedro-telemetry, run-build-kedro-datasets=false

First pass ManagedTableDataset
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
Due: run-build-kedro-datasets=false

First pass pandas/CSVDataset
  kedro-datasets/kedro_datasets/pandas/csv_dataset.py
Due: run-build-kedro-datasets=false

First pass pandas/ExcelDataset
  kedro-datasets/kedro_datasets/pandas/excel_dataset.py
Due: run-build-kedro-datasets=false

First pass pandas/FeatherDataset
  kedro-datasets/kedro_datasets/pandas/feather_dataset.py
Due: run-build-kedro-datasets=false

First pass pandas/GBQDataset
  kedro-datasets/kedro_datasets/pandas/gbq_dataset.py
Due: run-build-kedro-datasets=false

Path conditions:
  run-build-kedro-telemetry: any of: kedro-telemetry/.*
  run-build-kedro-docker: any of: kedro-docker/.*
  run-build-kedro-airflow: any of: kedro-airflow/.*
  run-build-kedro-datasets=false: any of: kedro-datasets/.*
