Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

Fix linter errors
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Updated release notes
  kedro-telemetry/RELEASE.md
Due: run-build-kedro-telemetry

feat(telemetry): Update telemetry to support both catalogs (#1075)
  kedro-telemetry/RELEASE.md
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Add mkdocs structure and necessary files
  kedro-datasets/docs/index.md
  kedro-datasets/docs/pages/api/kedro_datasets.rst
  kedro-datasets/docs/pages/api/kedro_datasets_experimental.rst
  kedro-datasets/docs/pages/api/kedro_datasets_experimental/databricks.ExternalTableDataset.md
  kedro-datasets/docs/pages/api/kedro_datasets_experimental/index.md
  kedro-datasets/docs/pages/api/kedro_datasets_experimental/langchain.ChatAnthropicDataset.md
  kedro-datasets/docs/pages/api/kedro_datasets_experimental/langchain.ChatCohereDataset.md
  kedro-datasets/docs/pages/api/kedro_datasets_experimental/langchain.ChatOpenAIDataset.md
  kedro-datasets/docs/pages/api/kedro_datasets_experimental/langchain.OpenAIEmbeddingsDataset.md
  kedro-datasets/docs/pages/api/kedro_datasets_experimental/netcdf.NetCDFDataset.md
  kedro-datasets/docs/pages/api/kedro_datasets_experimental/prophet.ProphetModelDataset.md
  kedro-datasets/docs/pages/api/kedro_datasets_experimental/pytorch.PyTorchDataset.md
  kedro-datasets/docs/pages/api/kedro_datasets_experimental/rioxarray.GeoTIFFDataset.md
  kedro-datasets/docs/pages/api/kedro_datasets_experimental/safetensors.SafetensorsDataset.md
  kedro-datasets/docs/pages/api/kedro_datasets_experimental/video.VideoDataset.md
  kedro-datasets/docs/readme.md
  kedro-datasets/docs/stylesheets/colors.css
  kedro-datasets/docs/stylesheets/globals.css
  kedro-datasets/docs/stylesheets/themes.css
  kedro-datasets/mkdocs.yml
  kedro-datasets/old-docs/source/_templates/autosummary/base.rst
  kedro-datasets/old-docs/source/_templates/autosummary/class.rst
  kedro-datasets/old-docs/source/_templates/autosummary/module.rst
  kedro-datasets/old-docs/source/_templates/breadcrumbs.html
  kedro-datasets/old-docs/source/api/kedro_datasets.rst
  kedro-datasets/old-docs/source/api/kedro_datasets_experimental.rst
  kedro-datasets/old-docs/source/conf.py
  kedro-datasets/old-docs/source/index.md
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Update experimental index file and mkdocs.yml
  kedro-datasets/docs/pages/api/kedro_datasets_experimental/index.md
  kedro-datasets/mkdocs.yml
Due: run-build-kedro-datasets=false

Update __init__ files for experimental datasets so docs can be rendered
  kedro-datasets/docs/pages/api/kedro_datasets.rst
  kedro-datasets/docs/pages/api/kedro_datasets_experimental.rst
  kedro-datasets/docs/pages/api/kedro_datasets_experimental/databricks.ExternalTableDataset.md
  kedro-datasets/docs/pages/api/kedro_datasets_experimental/prophet.ProphetModelDataset.md
  kedro-datasets/kedro_datasets_experimental/databricks/__init__.py
  kedro-datasets/kedro_datasets_experimental/langchain/__init__.py
  kedro-datasets/kedro_datasets_experimental/netcdf/__init__.py
  kedro-datasets/kedro_datasets_experimental/prophet/__init__.py
  kedro-datasets/kedro_datasets_experimental/pytorch/__init__.py
  kedro-datasets/kedro_datasets_experimental/rioxarray/__init__.py
  kedro-datasets/kedro_datasets_experimental/safetensors/__init__.py
  kedro-datasets/kedro_datasets_experimental/video/__init__.py
Due: run-build-kedro-datasets=false

Make sure dataset docstrings are rendered
  kedro-datasets/kedro_datasets/api/__init__.py
  kedro-datasets/kedro_datasets/biosequence/__init__.py
  kedro-datasets/kedro_datasets/dask/__init__.py
  kedro-datasets/kedro_datasets/databricks/__init__.py
  kedro-datasets/kedro_datasets/email/__init__.py
  kedro-datasets/kedro_datasets/geopandas/__init__.py
  kedro-datasets/kedro_datasets/holoviews/__init__.py
  kedro-datasets/kedro_datasets/huggingface/__init__.py
  kedro-datasets/kedro_datasets/ibis/__init__.py
  kedro-datasets/kedro_datasets/json/__init__.py
  kedro-datasets/kedro_datasets/matlab/__init__.py
  kedro-datasets/kedro_datasets/matplotlib/__init__.py
  kedro-datasets/kedro_datasets/networkx/__init__.py
  kedro-datasets/kedro_datasets/pandas/__init__.py
  kedro-datasets/kedro_datasets/partitions/__init__.py
  kedro-datasets/kedro_datasets/pickle/__init__.py
  kedro-datasets/kedro_datasets/pillow/__init__.py
  kedro-datasets/kedro_datasets/plotly/__init__.py
  kedro-datasets/kedro_datasets/polars/__init__.py
  kedro-datasets/kedro_datasets/redis/__init__.py
  kedro-datasets/kedro_datasets/snowflake/__init__.py
  kedro-datasets/kedro_datasets/spark/__init__.py
  kedro-datasets/kedro_datasets/svmlight/__init__.py
  kedro-datasets/kedro_datasets/tensorflow/__init__.py
  kedro-datasets/kedro_datasets/text/__init__.py
  kedro-datasets/kedro_datasets/yaml/__init__.py
Due: run-build-kedro-datasets=false

Markdown compatible formatting in docstrings
  kedro-datasets/kedro_datasets/huggingface/hugging_face_dataset.py
  kedro-datasets/kedro_datasets/huggingface/transformer_pipeline_dataset.py
  kedro-datasets/kedro_datasets/ibis/file_dataset.py
  kedro-datasets/kedro_datasets/ibis/table_dataset.py
  kedro-datasets/kedro_datasets_experimental/netcdf/netcdf_dataset.py
  kedro-datasets/kedro_datasets_experimental/pytorch/pytorch_dataset.py
Due: run-build-kedro-datasets=false

Make all experimental dataset docstrings md syntax
  kedro-datasets/kedro_datasets_experimental/databricks/external_table_dataset.py
  kedro-datasets/kedro_datasets_experimental/langchain/_anthropic.py
  kedro-datasets/kedro_datasets_experimental/langchain/_cohere.py
  kedro-datasets/kedro_datasets_experimental/langchain/_openai.py
  kedro-datasets/kedro_datasets_experimental/netcdf/netcdf_dataset.py
  kedro-datasets/kedro_datasets_experimental/prophet/prophet_dataset.py
  kedro-datasets/kedro_datasets_experimental/pytorch/pytorch_dataset.py
  kedro-datasets/kedro_datasets_experimental/rioxarray/geotiff_dataset.py
  kedro-datasets/kedro_datasets_experimental/safetensors/safetensors_dataset.py
  kedro-datasets/kedro_datasets_experimental/video/video_dataset.py
Due: run-build-kedro-datasets=false

Make sure yaml and python blocks are rendered correctly
  kedro-datasets/kedro_datasets/api/api_dataset.py
  kedro-datasets/kedro_datasets/biosequence/biosequence_dataset.py
  kedro-datasets/kedro_datasets/dask/csv_dataset.py
  kedro-datasets/kedro_datasets/dask/parquet_dataset.py
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
  kedro-datasets/kedro_datasets/email/message_dataset.py
  kedro-datasets/kedro_datasets/geopandas/generic_dataset.py
  kedro-datasets/kedro_datasets/holoviews/holoviews_writer.py
  kedro-datasets/kedro_datasets/ibis/file_dataset.py
  kedro-datasets/kedro_datasets/json/json_dataset.py
  kedro-datasets/kedro_datasets/matlab/matlab_dataset.py
  kedro-datasets/kedro_datasets/matplotlib/matplotlib_dataset.py
  kedro-datasets/kedro_datasets/networkx/gml_dataset.py
  kedro-datasets/kedro_datasets/networkx/graphml_dataset.py
  kedro-datasets/kedro_datasets/networkx/json_dataset.py
  kedro-datasets/kedro_datasets/pandas/csv_dataset.py
  kedro-datasets/kedro_datasets/pandas/deltatable_dataset.py
Due: run-build-kedro-datasets=false

Make sure yaml and python blocks are rendered correctly
  kedro-datasets/kedro_datasets/pandas/excel_dataset.py
  kedro-datasets/kedro_datasets/pandas/feather_dataset.py
  kedro-datasets/kedro_datasets/pandas/gbq_dataset.py
  kedro-datasets/kedro_datasets/pandas/generic_dataset.py
  kedro-datasets/kedro_datasets/pandas/hdf_dataset.py
  kedro-datasets/kedro_datasets/pandas/json_dataset.py
  kedro-datasets/kedro_datasets/pandas/parquet_dataset.py
Due: run-build-kedro-datasets=false

Make sure yaml and python blocks are rendered correctly
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
  kedro-datasets/kedro_datasets/pandas/xml_dataset.py
  kedro-datasets/kedro_datasets/partitions/incremental_dataset.py
  kedro-datasets/kedro_datasets/partitions/partitioned_dataset.py
  kedro-datasets/kedro_datasets/pickle/pickle_dataset.py
  kedro-datasets/kedro_datasets/pillow/image_dataset.py
  kedro-datasets/kedro_datasets/plotly/html_dataset.py
  kedro-datasets/kedro_datasets/plotly/json_dataset.py
  kedro-datasets/kedro_datasets/plotly/plotly_dataset.py
  kedro-datasets/kedro_datasets/polars/csv_dataset.py
  kedro-datasets/kedro_datasets/polars/eager_polars_dataset.py
  kedro-datasets/kedro_datasets/polars/lazy_polars_dataset.py
  kedro-datasets/kedro_datasets/redis/redis_dataset.py
  kedro-datasets/kedro_datasets/snowflake/snowpark_dataset.py
  kedro-datasets/kedro_datasets/spark/deltatable_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_hive_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_jdbc_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_streaming_dataset.py
  kedro-datasets/kedro_datasets/svmlight/svmlight_dataset.py
  kedro-datasets/kedro_datasets/tensorflow/tensorflow_model_dataset.py
  kedro-datasets/kedro_datasets/text/text_dataset.py
  kedro-datasets/kedro_datasets/yaml/yaml_dataset.py
  kedro-datasets/kedro_datasets_experimental/databricks/external_table_dataset.py
Due: run-build-kedro-datasets=false

Fix formatting
  kedro-datasets/kedro_datasets/dask/csv_dataset.py
  kedro-datasets/kedro_datasets/dask/parquet_dataset.py
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
  kedro-datasets/kedro_datasets/geopandas/generic_dataset.py
  kedro-datasets/kedro_datasets/json/json_dataset.py
  kedro-datasets/kedro_datasets/matlab/matlab_dataset.py
  kedro-datasets/kedro_datasets/matplotlib/matplotlib_dataset.py
  kedro-datasets/kedro_datasets/pandas/csv_dataset.py
  kedro-datasets/kedro_datasets/pandas/deltatable_dataset.py
  kedro-datasets/kedro_datasets/pandas/excel_dataset.py
  kedro-datasets/kedro_datasets/pandas/feather_dataset.py
  kedro-datasets/kedro_datasets/pandas/gbq_dataset.py
  kedro-datasets/kedro_datasets/pandas/generic_dataset.py
  kedro-datasets/kedro_datasets/pandas/hdf_dataset.py
  kedro-datasets/kedro_datasets/pandas/json_dataset.py
  kedro-datasets/kedro_datasets/pandas/parquet_dataset.py
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
  kedro-datasets/kedro_datasets/pandas/xml_dataset.py
  kedro-datasets/kedro_datasets/partitions/incremental_dataset.py
  kedro-datasets/kedro_datasets/partitions/partitioned_dataset.py
  kedro-datasets/kedro_datasets/pickle/pickle_dataset.py
  kedro-datasets/kedro_datasets/plotly/html_dataset.py
  kedro-datasets/kedro_datasets/plotly/json_dataset.py
  kedro-datasets/kedro_datasets/plotly/plotly_dataset.py
  kedro-datasets/kedro_datasets/polars/eager_polars_dataset.py
  kedro-datasets/kedro_datasets/polars/lazy_polars_dataset.py
  kedro-datasets/kedro_datasets/redis/redis_dataset.py
  kedro-datasets/kedro_datasets/snowflake/snowpark_dataset.py
  kedro-datasets/kedro_datasets/spark/deltatable_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_hive_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_jdbc_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_streaming_dataset.py
  kedro-datasets/kedro_datasets/svmlight/svmlight_dataset.py
  kedro-datasets/kedro_datasets/tensorflow/tensorflow_model_dataset.py
  kedro-datasets/kedro_datasets/text/text_dataset.py
  kedro-datasets/kedro_datasets/yaml/yaml_dataset.py
Due: run-build-kedro-datasets=false

Add assets
  kedro-datasets/docs/assets/kedro-horizontal-color-on-light.svg
  kedro-datasets/docs/assets/kedro_logo.svg
Due: run-build-kedro-datasets=false

Switch to new noge grouping API
  kedro-airflow/features/steps/util.py
  kedro-airflow/kedro_airflow/grouping.py
  kedro-airflow/kedro_airflow/plugin.py
  kedro-airflow/tests/test_node_grouping.py
Due: run-build-kedro-airflow

Update readthedocs.yaml
  kedro-datasets/.readthedocs.yaml
Due: run-build-kedro-datasets=false

Try fix RTD
  kedro-datasets/.readthedocs.yaml
Due: run-build-kedro-datasets=false

Try fix rtd build
  kedro-datasets/.readthedocs.yaml
Due: run-build-kedro-datasets=false

Update release notes
  kedro-datasets/RELEASE.md
  kedro-datasets/docs/index.md
Due: run-build-kedro-datasets=false

Update secrets baseline
  .secrets.baseline
Due: none

Add descriptions to all datasets in table
  kedro-datasets/docs/pages/api/kedro_datasets/index.md
Due: run-build-kedro-datasets=false

Fix imports
  kedro-datasets/kedro_datasets_experimental/tests/video/conftest.py
  kedro-datasets/kedro_datasets_experimental/tests/video/test_video_dataset.py
  kedro-datasets/kedro_datasets_experimental/tests/video/test_video_objects.py
Due: run-build-kedro-datasets=false

Fix test builds
  kedro-datasets/docs/source/conf.py
Due: run-build-kedro-datasets=false

Does this work?
  Makefile
Due: none

Fix lint
  Makefile
  kedro-datasets/kedro_datasets_experimental/tests/video/conftest.py
  kedro-datasets/kedro_datasets_experimental/tests/video/test_video_objects.py
Due: run-build-kedro-datasets=false

Don't run doctests
  Makefile
Due: none

Fix to properly propagate RDB password
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets_experimental/optuna/study_dataset.py
  kedro-datasets/kedro_datasets_experimental/tests/optuna/test_study_dataset.py
Due: run-build-kedro-datasets=false

Remove doctest commands and ignore __init__.py files in coverage
  Makefile
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Fix lint
  Makefile
Due: none

Remove mentions of doctest since it doesn't work with mkdocs format
  kedro-datasets/CONTRIBUTING.md
  kedro-datasets/kedro_datasets/conftest.py
  kedro-datasets/kedro_datasets/huggingface/hugging_face_dataset.py
  kedro-datasets/kedro_datasets/matplotlib/matplotlib_dataset.py
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
  kedro-datasets/kedro_datasets/pillow/image_dataset.py
  kedro-datasets/kedro_datasets/polars/csv_dataset.py
Due: run-build-kedro-datasets=false

feat(datasets): Implement `spark.GBQQueryDataset` for reading data from BigQuery as a spark dataframe using SQL query (#971)
  Makefile
  kedro-datasets/kedro_datasets/spark/__init__.py
  kedro-datasets/kedro_datasets/spark/gbq_dataset.py
  kedro-datasets/tests/spark/test_gbq_dataset.py
Due: run-build-kedro-datasets=false

Add docs for new spark.GBQQueryDataset in new format
  kedro-datasets/docs/pages/api/kedro_datasets/index.md
  kedro-datasets/docs/pages/api/kedro_datasets/spark.GBQQueryDataset.md
  kedro-datasets/kedro_datasets/spark/__init__.py
  kedro-datasets/kedro_datasets/spark/gbq_dataset.py
  kedro-datasets/mkdocs.yml
Due: run-build-kedro-datasets=false

Fix lint
  kedro-datasets/kedro_datasets/spark/__init__.py
  kedro-datasets/kedro_datasets/spark/gbq_dataset.py
Due: run-build-kedro-datasets=false

Path conditions:
  run-build-kedro-telemetry: any of: kedro-telemetry/.*
  run-build-kedro-docker: any of: kedro-docker/.*
  run-build-kedro-airflow: any of: kedro-airflow/.*
  run-build-kedro-datasets=false: any of: kedro-datasets/.*
