Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

linting
  kedro-datasets/kedro_datasets/ibis/table_dataset.py
Due: run-build-kedro-datasets=false

ignore mypy error
  kedro-datasets/kedro_datasets/pandas/json_dataset.py
Due: run-build-kedro-datasets=false

Fix merge conflict
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

fix(datasets): mask credentials in ibis dataset when printed (#786)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/ibis/table_dataset.py
  kedro-datasets/kedro_datasets/pandas/json_dataset.py
Due: run-build-kedro-datasets=false

feat(telemetry): Run telemetry outside of kedro projects (#775)
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

fix(telemetry): Update README.md for opt-out model (#790)
  kedro-telemetry/README.md
Due: run-build-kedro-telemetry

Updated release notes
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

Updates version
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

Updated release docs
  kedro-airflow/RELEASE.md
Due: run-build-kedro-airflow

Updated version
  kedro-airflow/kedro_airflow/__init__.py
Due: run-build-kedro-airflow

fix(telemetry): Let environment variables override consent from .telemetry file (#791)
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Updated release notes
  kedro-telemetry/RELEASE.md
Due: run-build-kedro-telemetry

Updated version
  kedro-telemetry/kedro_telemetry/__init__.py
Due: run-build-kedro-telemetry

Fixed the version number
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

Update release notes
  kedro-telemetry/RELEASE.md
Due: run-build-kedro-telemetry

Add notes about commands outside of Kedro project folder
  kedro-telemetry/RELEASE.md
Due: run-build-kedro-telemetry

Update kedro-datasets/RELEASE.md
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

build(airflow): Release 0.9.1 (#796)
  kedro-airflow/RELEASE.md
  kedro-airflow/kedro_airflow/__init__.py
Due: run-build-kedro-airflow

change api dataset _load type hint
  kedro-datasets/kedro_datasets/api/api_dataset.py
Due: run-build-kedro-datasets=false

try to add requests to intersphinx mapping
  kedro-datasets/docs/source/conf.py
  kedro-datasets/kedro_datasets/api/api_dataset.py
Due: run-build-kedro-datasets=false

add Dask to intersphinx_mapping
  kedro-datasets/docs/source/conf.py
Due: run-build-kedro-datasets=false

Docs fix
  kedro-datasets/docs/source/conf.py
Due: run-build-kedro-datasets=false

build(datasets): add target for xarray `DataArray`
  kedro-datasets/docs/source/conf.py
Due: run-build-kedro-datasets=false

build(datasets): add VersionNotFoundError exc type
  kedro-datasets/docs/source/conf.py
Due: run-build-kedro-datasets=false

build(datasets): add type target for Cohere models
  kedro-datasets/docs/source/conf.py
Due: run-build-kedro-datasets=false

build(datasets): add missing transformers.Pipeline
  kedro-datasets/docs/source/conf.py
Due: run-build-kedro-datasets=false

fix(datasets): pass `self` for `__wrapped__` calls
  kedro-datasets/kedro_datasets/json/json_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_hive_dataset.py
  kedro-datasets/kedro_datasets/yaml/yaml_dataset.py
  kedro-datasets/tests/api/test_api_dataset.py
Due: run-build-kedro-datasets=false

build(datasets): add a `numpy.ndarray` type target
  kedro-datasets/docs/source/conf.py
Due: run-build-kedro-datasets=false

build(datasets): create type target for csr_matrix
  kedro-datasets/docs/source/conf.py
Due: run-build-kedro-datasets=false

build(datasets): add missing DataFrame type target
  kedro-datasets/docs/source/conf.py
Due: run-build-kedro-datasets=false

build(datasets): add type target for Figure Widget
  kedro-datasets/docs/source/conf.py
Due: run-build-kedro-datasets=false

fix(datasets): replace calls to _meth with wrapped
  kedro-datasets/kedro_datasets/json/json_dataset.py
  kedro-datasets/kedro_datasets/pandas/json_dataset.py
  kedro-datasets/kedro_datasets/plotly/plotly_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_hive_dataset.py
  kedro-datasets/kedro_datasets/yaml/yaml_dataset.py
Due: run-build-kedro-datasets=false

build(datasets): add xarray dataset `type_targets`
  kedro-datasets/docs/source/conf.py
Due: run-build-kedro-datasets=false

build(datasets): add missing LazyFrame type target
  kedro-datasets/docs/source/conf.py
Due: run-build-kedro-datasets=false

build(datasets): add type target for `plt.Figure`s
  kedro-datasets/docs/source/conf.py
Due: run-build-kedro-datasets=false

build(datasets): add `PIL.Image.Image` type target
  kedro-datasets/docs/source/conf.py
Due: run-build-kedro-datasets=false

build(datasets): make `type_targets` for Anthropic
  kedro-datasets/docs/source/conf.py
Due: run-build-kedro-datasets=false

Path conditions:
  run-build-kedro-telemetry: any of: kedro-telemetry/.*
  run-build-kedro-docker: any of: kedro-docker/.*
  run-build-kedro-airflow: any of: kedro-airflow/.*
  run-build-kedro-datasets=false: any of: kedro-datasets/.*
