Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

perf(datasets): lazily load datasets in init files (pillow)
  kedro-datasets/kedro_datasets/pillow/__init__.py
Due: run-build-kedro-datasets=false

perf(datasets): lazily load datasets in init files (plotly)
  kedro-datasets/kedro_datasets/plotly/__init__.py
Due: run-build-kedro-datasets=false

perf(datasets): delay `Engine` creation until need
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
Due: run-build-kedro-datasets=false

perf(datasets): lazily load datasets in init files (polars)
  kedro-datasets/kedro_datasets/polars/__init__.py
Due: run-build-kedro-datasets=false

chore: don't check coverage in TYPE_CHECKING block
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

perf(datasets): don't connect in `__init__` method
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
Due: run-build-kedro-datasets=false

test(datasets): fix tests to touch `create_engine`
  kedro-datasets/tests/pandas/test_sql_dataset.py
Due: run-build-kedro-datasets=false

perf(datasets): lazily load datasets in init files (redis)
  kedro-datasets/kedro_datasets/redis/__init__.py
Due: run-build-kedro-datasets=false

add nightly build
  .github/workflows/kedro-airflow.yml
  .github/workflows/kedro-datasets.yml
  .github/workflows/kedro-docker.yml
  .github/workflows/kedro-telemetry.yml
Due: none

chore: Add nightly build (#283)
  .github/workflows/kedro-airflow.yml
  .github/workflows/kedro-datasets.yml
  .github/workflows/kedro-docker.yml
  .github/workflows/kedro-telemetry.yml
Due: none

bump dask version to the latest
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Consistent use of the __future__ annotations
  kedro-airflow/kedro_airflow/airflow_dag_template.j2
Due: run-build-kedro-airflow

feat(datasets): bump dask version to the latest (#282)
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

docs: Minor docs tweaks (#266)
  kedro-docker/CONTRIBUTING.md
  kedro-telemetry/RELEASE.md
Due: run-build-kedro-telemetry, run-build-kedro-docker

perf(datasets): lazily load datasets in init files (snowflake)
  kedro-datasets/kedro_datasets/snowflake/__init__.py
Due: run-build-kedro-datasets=false

perf(datasets): lazily load datasets in init files (spark)
  kedro-datasets/kedro_datasets/spark/__init__.py
Due: run-build-kedro-datasets=false

perf(datasets): lazily load datasets in init files (svmlight)
  kedro-datasets/kedro_datasets/svmlight/__init__.py
Due: run-build-kedro-datasets=false

perf(datasets): lazily load datasets in init files (tensorflow)
  kedro-datasets/kedro_datasets/tensorflow/__init__.py
Due: run-build-kedro-datasets=false

perf(datasets): lazily load datasets in init files (text)
  kedro-datasets/kedro_datasets/text/__init__.py
Due: run-build-kedro-datasets=false

perf(datasets): lazily load datasets in init files (tracking)
  kedro-datasets/kedro_datasets/tracking/__init__.py
Due: run-build-kedro-datasets=false

perf(datasets): lazily load datasets in init files (video)
  kedro-datasets/kedro_datasets/video/__init__.py
Due: run-build-kedro-datasets=false

perf(datasets): lazily load datasets in init files (yaml)
  kedro-datasets/kedro_datasets/yaml/__init__.py
Due: run-build-kedro-datasets=false

Update RELEASE.md
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

perf(datasets): lazily load datasets in init files (#277)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/api/__init__.py
  kedro-datasets/kedro_datasets/biosequence/__init__.py
  kedro-datasets/kedro_datasets/dask/__init__.py
  kedro-datasets/kedro_datasets/databricks/__init__.py
  kedro-datasets/kedro_datasets/email/__init__.py
  kedro-datasets/kedro_datasets/geopandas/__init__.py
  kedro-datasets/kedro_datasets/holoviews/__init__.py
  kedro-datasets/kedro_datasets/json/__init__.py
  kedro-datasets/kedro_datasets/matplotlib/__init__.py
  kedro-datasets/kedro_datasets/networkx/__init__.py
  kedro-datasets/kedro_datasets/pandas/__init__.py
  kedro-datasets/kedro_datasets/pickle/__init__.py
  kedro-datasets/kedro_datasets/pillow/__init__.py
  kedro-datasets/kedro_datasets/plotly/__init__.py
  kedro-datasets/kedro_datasets/polars/__init__.py
  kedro-datasets/kedro_datasets/redis/__init__.py
  kedro-datasets/kedro_datasets/snowflake/__init__.py
  kedro-datasets/kedro_datasets/spark/__init__.py
  kedro-datasets/kedro_datasets/svmlight/__init__.py
  kedro-datasets/kedro_datasets/tensorflow/__init__.py
  kedro-datasets/kedro_datasets/text/__init__.py
  kedro-datasets/kedro_datasets/tracking/__init__.py
  kedro-datasets/kedro_datasets/tracking/json_dataset.py
  kedro-datasets/kedro_datasets/tracking/metrics_dataset.py
  kedro-datasets/kedro_datasets/video/__init__.py
  kedro-datasets/kedro_datasets/yaml/__init__.py
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

build(datasets): Release 1.5.0
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

Update release notes
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

Update kedro-datasets/RELEASE.md
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

build(datasets): Release 1.5.0 (#285)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

Update deltatable_dataset.py
  kedro-datasets/kedro_datasets/pandas/deltatable_dataset.py
Due: run-build-kedro-datasets=false

Apply suggestions from code review
  kedro-airflow/README.md
Due: run-build-kedro-airflow

feat: kedro-airflow DAG kwarg configuration (#233)
  kedro-airflow/README.md
  kedro-airflow/RELEASE.md
  kedro-airflow/features/steps/cli_steps.py
  kedro-airflow/kedro_airflow/airflow_dag_template.j2
  kedro-airflow/kedro_airflow/plugin.py
  kedro-airflow/tests/conftest.py
  kedro-airflow/tests/test_plugin.py
Due: run-build-kedro-airflow

build(airflow): Release 0.6.0
  kedro-airflow/RELEASE.md
  kedro-airflow/kedro_airflow/__init__.py
Due: run-build-kedro-airflow

undo update
  kedro-datasets/kedro_datasets/pandas/deltatable_dataset.py
Due: run-build-kedro-datasets=false

Path conditions:
  run-build-kedro-telemetry: any of: kedro-telemetry/.*
  run-build-kedro-docker: any of: kedro-docker/.*
  run-build-kedro-airflow: any of: kedro-airflow/.*
  run-build-kedro-datasets=false: any of: kedro-datasets/.*
