Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

.circleci/config.yml:

version: 2.1

setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            kedro-telemetry/.* run-build-kedro-telemetry true
            kedro-docker/.* run-build-kedro-docker true
            kedro-airflow/.* run-build-kedro-airflow true
            kedro-datasets/.* run-build-kedro-datasets false
          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

Update kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
Due: run-build-kedro-datasets=false

added backticks to catalog
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
  kedro-datasets/tests/databricks/test_managed_table_dataset.py
Due: run-build-kedro-datasets=false

Add test coverage for validation methods
  kedro-datasets/tests/databricks/test_managed_table_dataset.py
Due: run-build-kedro-datasets=false

Remove unused versioning functions
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
Due: run-build-kedro-datasets=false

Require pandas < 2.0 for compatibility with spark < 3.4
  kedro-datasets/.gitignore
  kedro-datasets/test_requirements.txt
Due: run-build-kedro-datasets=false

Add tests/databricks to ignore for no-spark tests
  Makefile
Due: none

Replace use of walrus operator
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
Due: run-build-kedro-datasets=false

Add pylint ignore
  kedro-datasets/tests/databricks/test_managed_table_dataset.py
Due: run-build-kedro-datasets=false

Fix exception catching for invalid schema, add test for invalid schema
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
  kedro-datasets/tests/databricks/test_managed_table_dataset.py
Due: run-build-kedro-datasets=false

adding backticks to catalog
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
  kedro-datasets/tests/databricks/test_managed_table_dataset.py
Due: run-build-kedro-datasets=false

add additional test cases
  kedro-datasets/tests/spark/test_spark_streaming_dataset.py
Due: run-build-kedro-datasets=false

add s3 read test cases
  kedro-datasets/tests/spark/test_spark_streaming_dataset.py
Due: run-build-kedro-datasets=false

add s3 read test case
  kedro-datasets/tests/spark/test_spark_streaming_dataset.py
Due: run-build-kedro-datasets=false

test s3 read
  kedro-datasets/tests/spark/test_spark_streaming_dataset.py
Due: run-build-kedro-datasets=false

split into jobs and move version logic into script
  .github/workflows/check-release.yml
  tools/github_actions/github_actions_release.py
Due: none

update github actions output
  .github/workflows/check-release.yml
Due: none

lint
  .github/workflows/check-release.yml
Due: none

changes based on review
  .github/workflows/check-release.yml
  tools/github_actions/github_actions_release.py
Due: none

Add more description to RELEASE.md
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

remove redundant test cases
  kedro-datasets/tests/spark/test_spark_streaming_dataset.py
Due: run-build-kedro-datasets=false

fixkedro- docker e2e test
  kedro-docker/features/docker.feature
  kedro-docker/features/docker_with_spark.feature
  kedro-docker/features/steps/cli_steps.py
Due: run-build-kedro-docker

fix: add timeout to request to satisfy bandit lint
  tools/circleci/github_release.py
Due: none

test(docker): remove outdated logging-related step (#207)
  kedro-docker/features/docker.feature
  kedro-docker/features/docker_with_spark.feature
  kedro-docker/features/steps/cli_steps.py
Due: run-build-kedro-docker

ci: install the plugin alongside test requirements
  .circleci/continue_config.yml
Due: none

ci: install the plugin alongside test requirements
  .github/workflows/check-plugin.yml
Due: none

Update kedro-airflow.yml
  .github/workflows/kedro-airflow.yml
Due: none

Update kedro-datasets.yml
  .github/workflows/kedro-datasets.yml
Due: none

Update kedro-docker.yml
  .github/workflows/kedro-docker.yml
Due: none

Update kedro-telemetry.yml
  .github/workflows/kedro-telemetry.yml
Due: none
