Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

Release note and readme
  kedro-airflow/README.md
  kedro-airflow/RELEASE.md
Due: run-build-kedro-airflow

Add test for missing coverage, migration guide on readme
  kedro-airflow/README.md
  kedro-airflow/pyproject.toml
  kedro-airflow/tests/test_plugin.py
Due: run-build-kedro-airflow

Flattened datasets keys
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Updates tests
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Updated release notes
  kedro-telemetry/RELEASE.md
Due: run-build-kedro-telemetry

Fixed tools format
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Updated tests
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

fix(telemetry): Send dataset type counts in a Heap-compliant flat format (#1396)
  kedro-telemetry/RELEASE.md
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

unit tests
  kedro-telemetry/tests/test_masking.py
Due: run-build-kedro-telemetry

fix(telemetry): Correctly format selected tools sent to Heap (#1397)
  kedro-telemetry/RELEASE.md
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/test_masking.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

feat(api): add send_individually option
  kedro-datasets/kedro_datasets/api/api_dataset.py
  kedro-datasets/tests/api/test_api_dataset_send_individually.py
Due: run-build-kedro-datasets=false

style(tests): format APIDataset send_individually test
  kedro-datasets/tests/api/test_api_dataset_send_individually.py
Due: run-build-kedro-datasets=false

fix(api): satisfy mypy for send_individually save path
  kedro-datasets/kedro_datasets/api/api_dataset.py
Due: run-build-kedro-datasets=false

perf: add PartitionedDataset.load benchmarks
  kedro-datasets/asv.conf.json
  kedro-datasets/kedro_benchmarks/benchmark_partitioned_dataset.py
Due: run-build-kedro-datasets=false

chore(bench): ensure trailing newline in asv.conf.json
  kedro-datasets/asv.conf.json
Due: run-build-kedro-datasets=false

test(datasets): rewrite PolarsDatabaseDataset tests as real DB round-trips
  kedro-datasets/kedro_datasets_experimental/polars/polars_database_dataset.py
  kedro-datasets/kedro_datasets_experimental/tests/polars/test_polars_database_dataset.py
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

test(datasets): tighten PolarsDatabaseDataset test assertions and reuse table names
  kedro-datasets/kedro_datasets_experimental/tests/polars/test_polars_database_dataset.py
Due: run-build-kedro-datasets=false

refactor(datasets): remove dead mssql date-param adapter from PolarsDatabaseDataset
  kedro-datasets/kedro_datasets_experimental/polars/polars_database_dataset.py
Due: run-build-kedro-datasets=false

test(datasets): cover engine caching and credentials forwarding in PolarsDatabaseDataset
  kedro-datasets/kedro_datasets_experimental/tests/polars/test_polars_database_dataset.py
Due: run-build-kedro-datasets=false

test(datasets): route PolarsDatabaseDataset test SQL through a single helper
  kedro-datasets/kedro_datasets_experimental/tests/polars/test_polars_database_dataset.py
Due: run-build-kedro-datasets=false

fix(datasets): suppress bandit B608 on table-name SELECT in PolarsDatabaseDataset
  kedro-datasets/kedro_datasets_experimental/polars/polars_database_dataset.py
Due: run-build-kedro-datasets=false

Bump litellm version on Python 3.14 for chromadb compatibility
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Add CMP script to Kedro datasets docs
  kedro-datasets/docs/overrides/partials/copyright-legal-socials.html
  kedro-datasets/docs/stylesheets/footer.css
  kedro-datasets/mkdocs.yml
Due: run-build-kedro-datasets=false

fix(datasets): Bump litellm version on Python 3.14 for chromadb compatibility (#1401)
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

fix(benchmarks): address review suggestions for PartitionedDataset.load benchmarks
  kedro-datasets/asv.conf.json
  kedro-datasets/kedro_benchmarks/benchmark_partitioned_dataset.py
Due: run-build-kedro-datasets=false

draft fix for nightly build
  .github/workflows/unit-tests.yml
Due: none

fix test failures
  kedro-datasets/tests/networkx/test_json_dataset.py
Due: run-build-kedro-datasets=false

nightly build regression test
  .github/workflows/unit-tests.yml
Due: none

add fix
  .github/workflows/unit-tests.yml
Due: none

add fix for only linux
  .github/workflows/unit-tests.yml
Due: none

fix(datasets): Fix for nightly build failure (#1405)
  .github/workflows/unit-tests.yml
  kedro-datasets/tests/networkx/test_json_dataset.py
Due: run-build-kedro-datasets=false

fix(datasets): support PathLike in Pandas json dataset
  kedro-datasets/kedro_datasets/pandas/json_dataset.py
  kedro-datasets/tests/pandas/test_json_dataset.py
Due: run-build-kedro-datasets=false

fix(datasets): support PathLike in Pandas feather dataset
  kedro-datasets/kedro_datasets/pandas/feather_dataset.py
  kedro-datasets/tests/pandas/test_feather_dataset.py
Due: run-build-kedro-datasets=false

fix(datasets): support PathLike in Pandas hdf dataset
  kedro-datasets/kedro_datasets/pandas/hdf_dataset.py
  kedro-datasets/tests/pandas/test_hdf_dataset.py
Due: run-build-kedro-datasets=false

fix(datasets): support PathLike in Pandas parquet dataset
  kedro-datasets/kedro_datasets/pandas/parquet_dataset.py
  kedro-datasets/tests/pandas/test_parquet_dataset.py
Due: run-build-kedro-datasets=false

fix(datasets): support PathLike in Pandas generic dataset
  kedro-datasets/kedro_datasets/pandas/generic_dataset.py
  kedro-datasets/tests/pandas/test_generic_dataset.py
Due: run-build-kedro-datasets=false

fix(datasets): support PathLike in Pandas deltatable dataset
  kedro-datasets/kedro_datasets/pandas/deltatable_dataset.py
  kedro-datasets/tests/pandas/test_deltatable_dataset.py
Due: run-build-kedro-datasets=false

fix(datasets): support PathLike in Pandas sql dataset
  .secrets.baseline
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
  kedro-datasets/tests/pandas/test_sql_dataset.py
Due: run-build-kedro-datasets=false

Path conditions:
  run-build-kedro-telemetry: any of: kedro-telemetry/.*
  run-build-kedro-docker: any of: kedro-docker/.*
  run-build-kedro-airflow: any of: kedro-airflow/.*
  run-build-kedro-datasets=false: any of: kedro-datasets/.*
