Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

add pytest-xdist requirements
  kedro-airflow/test_requirements.txt
  kedro-docker/test_requirements.txt
  kedro-telemetry/test_requirements.txt
Due: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow

Fix lint
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

update requirements
  kedro-airflow/test_requirements.txt
  kedro-docker/test_requirements.txt
Due: run-build-kedro-docker, run-build-kedro-airflow

add empty end of line
  .circleci/continue_config.yml
Due: none

exclude security check for kedro-dataset in telemetry
  kedro-telemetry/.pre-commit-config.yaml
Due: run-build-kedro-telemetry

remove auto-release change & split PR
  .circleci/continue_config.yml
  env.py
Due: none

Ahhhhhhhh - trailing whitespace
  .circleci/continue_config.yml
Due: none

Loosen requests requirement (#42)
  .circleci/continue_config.yml
  kedro-telemetry/.pre-commit-config.yaml
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/requirements.txt
  kedro-telemetry/test_requirements.txt
Due: run-build-kedro-telemetry

remove empty lines
  .circleci/config.yml
Due: none

Generic typings abstract dataset (#1612)
  kedro/io/core.py
Due: none

add CI scripts
  tools/circleci/circleci_release.py
  tools/circleci/utils/check_no_version_pypi.py
  tools/circleci/utils/package_version.py
Due: none

Revert "add CI scripts"
  tools/circleci/circleci_release.py
  tools/circleci/utils/check_no_version_pypi.py
  tools/circleci/utils/package_version.py
Due: none

add test to cover loading csv in remote storage
  kedro-datasets/tests/datasets/pandas/test_csv_dataset.py
Due: run-build-kedro-datasets=false

Revert "add test to cover loading csv in remote storage"
  kedro-datasets/tests/datasets/pandas/test_csv_dataset.py
Due: run-build-kedro-datasets=false

Fixing coverage for testing loading CSVDataSet in remote storage
  .circleci/continue_config.yml
  kedro-datasets/tests/datasets/pandas/test_csv_dataset.py
Due: run-build-kedro-datasets=false

Fix import and linting
  kedro-datasets/tests/datasets/pandas/test_csv_dataset.py
Due: run-build-kedro-datasets=false

`kedro-datasets` CI setup (#40)
  .circleci/config.yml
  .circleci/continue_config.yml
  Makefile
  kedro-datasets/kedro_datasets/__init__.py
  kedro-datasets/pyproject.toml
  kedro-datasets/tests/datasets/pandas/test_csv_dataset.py
Due: run-build-kedro-datasets=false

add build scripts
  .circleci/continue_config.yml
  tools/circleci/circleci_release.py
  tools/circleci/github_release.py
  tools/circleci/utils/check_no_version_pypi.py
  tools/circleci/utils/package_version.py
Due: none

update file for permission issue
  kedro-datasets/kedro_datasets/__init__.py
  tools/circleci/circleci_release.py
Due: run-build-kedro-datasets=false

setup env
  .circleci/continue_config.yml
Due: none

update config
  .circleci/continue_config.yml
Due: none

Fix broken path
  .circleci/continue_config.yml
Due: none

update requirements
  .circleci/continue_config.yml
Due: none

bug fix
  tools/circleci/circleci_release.py
Due: none

Make the logging niceer
  tools/circleci/utils/check_no_version_pypi.py
Due: none

update parameter in circleci config
  .circleci/config.yml
Due: none

add condition to trigger main_updated so it won't be triggered in a dead loop
  .circleci/continue_config.yml
Due: none

add more logs
  tools/circleci/circleci_release.py
Due: none

update condition
  .circleci/continue_config.yml
Due: none

Try trigger release
  .circleci/continue_config.yml
  tools/circleci/github_release.py
Due: none

temporarily turn off the condition since unittest are not passing
  .circleci/continue_config.yml
Due: none

fix config
  .circleci/continue_config.yml
Due: none

fix plugin release
  .circleci/continue_config.yml
Due: none

Fix the argument for tag name
  tools/circleci/github_release.py
Due: none

tidy out the config a little bit
  .circleci/continue_config.yml
Due: none

more bug fix
  .circleci/continue_config.yml
Due: none

fix pypi folder
  .circleci/continue_config.yml
  Makefile
Due: none

remove the TWINE_REPOSITORY_URL argument
  Makefile
Due: none

update the CI config
  .circleci/continue_config.yml
Due: none

trigger a proper release
  .circleci/continue_config.yml
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

Path conditions:
  run-build-kedro-telemetry: any of: kedro-telemetry/.*
  run-build-kedro-docker: any of: kedro-docker/.*
  run-build-kedro-airflow: any of: kedro-airflow/.*
  run-build-kedro-datasets=false: any of: kedro-datasets/.*
