Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

doc: add documentation
  kedro-datasets/docs/pages/api/kedro_datasets_experimental/docx.DOCXDataset.md
  kedro-datasets/docs/pages/api/kedro_datasets_experimental/index.md
  kedro-datasets/mkdocs.yml
Due: run-build-kedro-datasets=false

fix: adapt tests
  kedro-datasets/kedro_datasets_experimental/tests/docx/test_docx_dataset.py
Due: run-build-kedro-datasets=false

build(airflow): Release 0.10.0 (#1097)
  kedro-airflow/RELEASE.md
  kedro-airflow/kedro_airflow/__init__.py
Due: run-build-kedro-airflow

chore: add python-docx as a dependency in pyproject.toml
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

fix(typo): correct typo from DOCX to Docx
  kedro-datasets/docs/pages/api/kedro_datasets_experimental/docx.DocxDataset.md
  kedro-datasets/docs/pages/api/kedro_datasets_experimental/index.md
  kedro-datasets/kedro_datasets_experimental/docx/__init__.py
  kedro-datasets/kedro_datasets_experimental/docx/docx_dataset.py
  kedro-datasets/kedro_datasets_experimental/tests/docx/test_docx_dataset.py
  kedro-datasets/mkdocs.yml
Due: run-build-kedro-datasets=false

fix: missing .md in index.md
  kedro-datasets/docs/pages/api/kedro_datasets_experimental/index.md
Due: run-build-kedro-datasets=false

fix: linting
  kedro-datasets/kedro_datasets_experimental/docx/docx_dataset.py
Due: run-build-kedro-datasets=false

remove old source folder
  kedro-datasets/docs/source/_templates/autosummary/base.rst
  kedro-datasets/docs/source/_templates/autosummary/class.rst
  kedro-datasets/docs/source/_templates/autosummary/module.rst
  kedro-datasets/docs/source/_templates/breadcrumbs.html
  kedro-datasets/docs/source/api/kedro_datasets.rst
  kedro-datasets/docs/source/api/kedro_datasets_experimental.rst
  kedro-datasets/docs/source/index.md
Due: run-build-kedro-datasets=false

remove pages from mkdocs
  kedro-datasets/mkdocs.yml
Due: run-build-kedro-datasets=false

include overview tab
  kedro-datasets/mkdocs.yml
Due: run-build-kedro-datasets=false

move the api/kedro_datasets/index.md to be the main index.md
  kedro-datasets/docs/api/kedro_datasets/index.md
  kedro-datasets/docs/index.md
Due: run-build-kedro-datasets=false

update links since index.md now lives outside API
  kedro-datasets/docs/index.md
Due: run-build-kedro-datasets=false

docs: add into RELEASE.md
  kedro-datasets/RELEASE.md
  kedro-datasets/docs/pages/api/kedro_datasets_experimental/index.md
  kedro-datasets/kedro_datasets_experimental/docx/docx_dataset.py
Due: run-build-kedro-datasets=false

fix: ci secret baseline
  .secrets.baseline
Due: none

fix: linting
  .secrets.baseline
Due: none

fix: remove file not changed
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
Due: run-build-kedro-datasets=false

use feature-branch-mkdocs for kedro-viz
  kedro-datasets/mkdocs.yml
Due: run-build-kedro-datasets=false

docs: move to kedro_datasets
  kedro-datasets/RELEASE.md
  kedro-datasets/docs/pages/api/kedro_datasets/docx.DocxDataset.md
  kedro-datasets/docs/pages/api/kedro_datasets/index.md
  kedro-datasets/docs/pages/api/kedro_datasets_experimental/docx.DocxDataset.md
  kedro-datasets/docs/pages/api/kedro_datasets_experimental/index.md
  kedro-datasets/mkdocs.yml
Due: run-build-kedro-datasets=false

refactor: move to kedro_datasets
  kedro-datasets/kedro_datasets/docx/__init__.py
  kedro-datasets/kedro_datasets/docx/docx_dataset.py
  kedro-datasets/tests/docx/__init__.py
  kedro-datasets/tests/docx/test_docx_dataset.py
Due: run-build-kedro-datasets=false

fix(pyproject.toml): add dependencies
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

docs(docx_dataset.py): add docstrings
  kedro-datasets/kedro_datasets/docx/docx_dataset.py
Due: run-build-kedro-datasets=false

fix(ci): fix unit test protocol windows
  kedro-datasets/tests/docx/test_docx_dataset.py
Due: run-build-kedro-datasets=false

refactor(test): simplify the code
  kedro-datasets/tests/docx/test_docx_dataset.py
Due: run-build-kedro-datasets=false

fix(ci): add str method path for test protocol windows
  kedro-datasets/tests/docx/test_docx_dataset.py
Due: run-build-kedro-datasets=false

fix(ci): ignore root drive prefixes
  kedro-datasets/tests/docx/test_docx_dataset.py
Due: run-build-kedro-datasets=false

fix(ci): change tmp
  kedro-datasets/tests/docx/test_docx_dataset.py
Due: run-build-kedro-datasets=false

First pass: try fixing
  kedro-telemetry/tests/test_masking.py
Due: run-build-kedro-telemetry

update fn
  kedro-telemetry/tests/test_masking.py
Due: run-build-kedro-telemetry

rest of the tests
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/integration/dummy-project/pyproject.toml
  kedro-telemetry/tests/test_masking.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

rest of the tests
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Make kedro-datasets compatible with 1.0.0rc
  kedro-datasets/kedro_datasets/partitions/incremental_dataset.py
  kedro-datasets/kedro_datasets/partitions/partitioned_dataset.py
  kedro-datasets/tests/partitions/test_incremental_dataset.py
  kedro-datasets/tests/partitions/test_partitioned_dataset.py
  kedro-datasets/tests/spark/test_deltatable_dataset.py
  kedro-datasets/tests/spark/test_spark_dataset.py
Due: run-build-kedro-datasets=false

Revert "Make kedro-datasets compatible with 1.0.0rc"
  kedro-datasets/kedro_datasets/partitions/incremental_dataset.py
  kedro-datasets/kedro_datasets/partitions/partitioned_dataset.py
  kedro-datasets/tests/partitions/test_incremental_dataset.py
  kedro-datasets/tests/partitions/test_partitioned_dataset.py
  kedro-datasets/tests/spark/test_deltatable_dataset.py
  kedro-datasets/tests/spark/test_spark_dataset.py
Due: run-build-kedro-datasets=false

Fix test
  kedro-datasets/tests/partitions/test_partitioned_dataset.py
Due: run-build-kedro-datasets=false

Update secrets baseline
  .secrets.baseline
Due: none

Update release notes
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

Path conditions:
  run-build-kedro-telemetry: any of: kedro-telemetry/.*
  run-build-kedro-docker: any of: kedro-docker/.*
  run-build-kedro-airflow: any of: kedro-airflow/.*
  run-build-kedro-datasets=false: any of: kedro-datasets/.*
