Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

Fix tests
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Un-ignore NetCDF doctest
  Makefile
Due: none

Wording improvements
  kedro-telemetry/README.md
Due: run-build-kedro-telemetry

Amend README section
  kedro-telemetry/README.md
Due: run-build-kedro-telemetry

docs(telemetry): Direct readers to Kedro documentation for further information on telemetry (#555)
  kedro-telemetry/README.md
Due: run-build-kedro-telemetry

fix: kedro-telemetry masking (#552)
  kedro-telemetry/kedro_telemetry/masking.py
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/test_masking.py
Due: run-build-kedro-telemetry

Update kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Fix linting
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Add fixture
  kedro-datasets/tests/netcdf/test_netcdf_dataset.py
Due: run-build-kedro-datasets=false

Debug remove failing test
  kedro-datasets/tests/netcdf/test_netcdf_dataset.py
Due: run-build-kedro-datasets=false

Revert pyproject_data
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Add check for ci environment
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Fix linkcheck and lint
  kedro-datasets/README.md
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry, run-build-kedro-datasets=false

Adjust existing tests
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Lint
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

allow additional sqlalchemy engine parameters
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
  kedro-datasets/tests/pandas/test_sql_dataset.py
Due: run-build-kedro-datasets=false

Add tests
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Add changes to release notes
  kedro-telemetry/RELEASE.md
Due: run-build-kedro-telemetry

Modify test to exclude parameters
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

fix: telemetry data and add example_pipeline (#557)
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Mark problematic test as xfail
  kedro-datasets/tests/netcdf/test_netcdf_dataset.py
Due: run-build-kedro-datasets=false

Rename ill-named CI check for docs
  .github/workflows/kedro-datasets.yml
  Makefile
Due: none

Skip problematic test instead of making it fail
  kedro-datasets/tests/netcdf/test_netcdf_dataset.py
Due: run-build-kedro-datasets=false

Normalise and move extras dependencies to pyproject.toml
  kedro-datasets/pyproject.toml
  kedro-datasets/setup.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry, run-build-kedro-datasets=false

Update kedro-datasets/pyproject.toml
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Use uv to accelerate dependency installation on CI
  .github/workflows/e2e-tests.yml
  .github/workflows/kedro-datasets.yml
  .github/workflows/lint.yml
  .github/workflows/unit-tests.yml
Due: none

Use smaller dataset for Hugging Face doctest
  kedro-datasets/kedro_datasets/huggingface/hugging_face_dataset.py
Due: run-build-kedro-datasets=false

Fix pytest invokation on Windows
  .github/workflows/unit-tests.yml
Due: none

Definitive fix to Hugging Face doctest
  kedro-datasets/kedro_datasets/huggingface/hugging_face_dataset.py
Due: run-build-kedro-datasets=false

Debug
  kedro-datasets/kedro_datasets/huggingface/hugging_face_dataset.py
Due: run-build-kedro-datasets=false

feat(airflow): make sure `kedro airflow create` is deterministic (#525)
  kedro-airflow/RELEASE.md
  kedro-airflow/kedro_airflow/plugin.py
Due: run-build-kedro-airflow

Update mock_s3 with mock_aws
  kedro-datasets/tests/dask/test_parquet_dataset.py
  kedro-datasets/tests/matplotlib/test_matplotlib_writer.py
  kedro-datasets/tests/pandas/test_csv_dataset.py
  kedro-datasets/tests/partitions/test_incremental_dataset.py
  kedro-datasets/tests/partitions/test_partitioned_dataset.py
  kedro-datasets/tests/polars/test_csv_dataset.py
  kedro-datasets/tests/polars/test_lazy_polars_dataset.py
  kedro-datasets/tests/spark/test_spark_dataset.py
  kedro-datasets/tests/spark/test_spark_streaming_dataset.py
  kedro-datasets/tests/video/test_video_dataset.py
Due: run-build-kedro-datasets=false

Address review comments
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Update tests
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Try use same moto for all python versions
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

Clean up moto deps
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

Debug test
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Path conditions:
  run-build-kedro-telemetry: any of: kedro-telemetry/.*
  run-build-kedro-docker: any of: kedro-docker/.*
  run-build-kedro-airflow: any of: kedro-airflow/.*
  run-build-kedro-datasets=false: any of: kedro-datasets/.*
