Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

Bump version only if python 3.13
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Add fix to release notes
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

fix(datasets): Bump lxml version for xmldataset requirements if Python>=3.13 (#1270)
  kedro-datasets/RELEASE.md
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Bump version
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

build(datasets): Patch release 9.1.1 (#1272)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

Check if Airflow version is the issue for other Python versions
  kedro-airflow/pyproject.toml
Due: run-build-kedro-airflow

Lint
  kedro-airflow/pyproject.toml
Due: run-build-kedro-airflow

pyproject
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

fix(datasets): pass database to check table exists
  kedro-datasets/kedro_datasets/ibis/table_dataset.py
  kedro-datasets/tests/ibis/test_table_dataset.py
Due: run-build-kedro-datasets=false

test(datasets): clean up the Claude-generated test
  kedro-datasets/tests/ibis/test_table_dataset.py
Due: run-build-kedro-datasets=false

test(datasets): test `exists` with custom database
  kedro-datasets/tests/ibis/test_table_dataset.py
Due: run-build-kedro-datasets=false

docs(datasets): add a release note on `exists` fix
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

Video dataset
  kedro-datasets/kedro_datasets_experimental/tests/video/test_video_dataset.py
  kedro-datasets/kedro_datasets_experimental/tests/video/test_video_objects.py
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

safetensors and rioxarray
  .coverage
  kedro-datasets/kedro_datasets_experimental/tests/rioxarray/test_geotiff_dataset.py
  kedro-datasets/kedro_datasets_experimental/tests/safetensors/test_safetensors_dataset.py
Due: run-build-kedro-datasets=false

prophet
  .coverage
  coverage.xml
  kedro-datasets/kedro_datasets_experimental/tests/prophet/test_prophet_dataset.py
Due: run-build-kedro-datasets=false

optuna
  kedro-datasets/kedro_datasets_experimental/tests/optuna/test_study_dataset.py
Due: run-build-kedro-datasets=false

netcdf, langfuse, chromadb
  .coverage
  coverage.xml
  kedro-datasets/kedro_datasets_experimental/tests/chromadb/test_chromadb_dataset.py
  kedro-datasets/kedro_datasets_experimental/tests/langfuse/test_langfuse_prompt_dataset.py
  kedro-datasets/kedro_datasets_experimental/tests/netcdf/test_netcdf_dataset.py
Due: run-build-kedro-datasets=false

databricks
  .github/workflows/kedro-datasets-experimental.yml
  kedro-datasets/kedro_datasets_experimental/tests/databricks/test_external_table_dataset.py
Due: run-build-kedro-datasets=false

pyproject and workflow
  .github/workflows/kedro-datasets-experimental.yml
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

fix(datasets): pass database to check table exists (#1273)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/ibis/table_dataset.py
  kedro-datasets/tests/ibis/test_table_dataset.py
Due: run-build-kedro-datasets=false

docs(datasets): standardise RELEASE.md, its tables
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

docs(datasets): standardise RELEASE.md, its tables (#1274)
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

pin netcdf4
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Update Dockerfile.spark
  kedro-docker/kedro_docker/template/Dockerfile.spark
Due: run-build-kedro-docker

lint
  kedro-docker/kedro_docker/template/Dockerfile.spark
Due: run-build-kedro-docker

Update __init__.py
  kedro-docker/kedro_docker/__init__.py
Due: run-build-kedro-docker

Fix Kedro-datasets documentation telemetry
  kedro-datasets/docs/hooks.py
  kedro-datasets/docs/overrides/main.html
  kedro-datasets/mkdocs.yml
Due: run-build-kedro-datasets=false

changes based on review
  kedro-docker/kedro_docker/template/Dockerfile.spark
Due: run-build-kedro-docker

Path conditions:
  run-build-kedro-telemetry: any of: kedro-telemetry/.*
  run-build-kedro-docker: any of: kedro-docker/.*
  run-build-kedro-airflow: any of: kedro-airflow/.*
  run-build-kedro-datasets=false: any of: kedro-datasets/.*
