Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

fix(datasets): normalize Redis PathLike keys
  kedro-datasets/kedro_datasets/redis/redis_dataset.py
  kedro-datasets/tests/redis/test_redis_dataset.py
Due: run-build-kedro-datasets=false

test(datasets): split pathlike coverage by dataset
  kedro-datasets/tests/partitions/test_incremental_dataset.py
  kedro-datasets/tests/partitions/test_partitioned_dataset.py
Due: run-build-kedro-datasets=false

chore: refresh secrets baseline
  .secrets.baseline
Due: none

docs(datasets): add Tanmay Singh to upcoming RELEASE community list
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

feat(datasets): add os.PathLike support for GeoPandas GenericDataset (#1489)
  kedro-datasets/RELEASE.md
  kedro-datasets/tests/geopandas/test_generic_dataset.py
Due: run-build-kedro-datasets=false

fix(datasets): pass os.PathLike through SparkDatasetV2 helpers
  kedro-datasets/kedro_datasets/_utils/databricks_utils.py
  kedro-datasets/kedro_datasets/spark/spark_dataset_v2.py
  kedro-datasets/tests/spark/test_spark_dataset_v2.py
Due: run-build-kedro-datasets=false

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Fix lint
  CONTRIBUTING.md
Due: none

feat(datasets): add os.PathLike support for SparkDatasetV2 (#1493)
  kedro-datasets/kedro_datasets/_utils/databricks_utils.py
  kedro-datasets/kedro_datasets/spark/spark_dataset_v2.py
  kedro-datasets/tests/spark/test_spark_dataset_v2.py
Due: run-build-kedro-datasets=false

feat(datasets): add PathLike support for Redis keys (#1496)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/redis/redis_dataset.py
  kedro-datasets/tests/redis/test_redis_dataset.py
Due: run-build-kedro-datasets=false

Apply suggestions from code review
  kedro-telemetry/pyproject.toml
Due: run-build-kedro-telemetry

feat(datasets): add os.PathLike support for EmailMessageDataset (#1488)
  kedro-datasets/tests/email/test_message_dataset.py
Due: run-build-kedro-datasets=false

fix(datasets): bypass s3fs listing cache when globbing in SparkDatasetV2 (#1494)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/spark/spark_dataset_v2.py
  kedro-datasets/tests/spark/test_spark_dataset_v2.py
Due: run-build-kedro-datasets=false

Support PathLike paths in partitioned datasets
  kedro-datasets/kedro_datasets/partitions/incremental_dataset.py
  kedro-datasets/kedro_datasets/partitions/partitioned_dataset.py
  kedro-datasets/tests/partitions/test_incremental_dataset.py
Due: run-build-kedro-datasets=false

chore: update secrets baseline
  .secrets.baseline
Due: none

docs(datasets): add SparkHiveDataset release note
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

kedro telemetry api
  kedro-telemetry/README.md
  kedro-telemetry/RELEASE.md
  kedro-telemetry/kedro_telemetry/api.py
  kedro-telemetry/tests/test_api.py
Due: run-build-kedro-telemetry

changes based on review
  kedro-telemetry/README.md
  kedro-telemetry/kedro_telemetry/api.py
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/test_api.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

update release notes
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

fix(datasets): address final PR review feedback for schema generator
  kedro-datasets/kedro_datasets/_generate_catalog_schema.py
  kedro-datasets/kedro_datasets/_schema_overrides.py
  kedro-datasets/static/jsonschema/kedro-catalog-1.0.0.json
  kedro-datasets/tests/test_generate_catalog_schema.py
Due: run-build-kedro-datasets=false

feat(datasets): add versioning support to NetCDFDataset (#1470)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets_experimental/netcdf/netcdf_dataset.py
  kedro-datasets/kedro_datasets_experimental/tests/netcdf/test_netcdf_dataset.py
Due: run-build-kedro-datasets=false

feat(datasets): support external Spark Hive table locations (#1481)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/spark/spark_hive_dataset.py
  kedro-datasets/tests/spark/test_spark_hive_dataset.py
Due: run-build-kedro-datasets=false

fix: apply ruff format and regenerate schema after merge
  kedro-datasets/kedro_datasets/_schema_overrides.py
  kedro-datasets/static/jsonschema/kedro-catalog-1.0.0.json
Due: run-build-kedro-datasets=false

feat(telemetry): add public event API and kedro skills usage events (#1502)
  kedro-telemetry/README.md
  kedro-telemetry/RELEASE.md
  kedro-telemetry/kedro_telemetry/api.py
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/test_api.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

feat(datasets): add Apache Iceberg dataset support for polars
  Makefile
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/polars/__init__.py
  kedro-datasets/kedro_datasets/polars/iceberg_dataset.py
  kedro-datasets/pyproject.toml
  kedro-datasets/tests/polars/test_iceberg_dataset.py
Due: run-build-kedro-datasets=false

track validator keys
  kedro-telemetry/RELEASE.md
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

feat(datasets): add PaginatedAPIDataset
  kedro-datasets/docs/api/kedro_datasets/api.PaginatedAPIDataset.md
  kedro-datasets/docs/index.md
  kedro-datasets/kedro_datasets/api/__init__.py
  kedro-datasets/kedro_datasets/api/api_dataset.py
  kedro-datasets/mkdocs.yml
  kedro-datasets/static/jsonschema/kedro-catalog-0.19.json
  kedro-datasets/static/jsonschema/kedro-catalog-1.0.0.json
  kedro-datasets/tests/api/test_paginated_api_dataset.py
Due: run-build-kedro-datasets=false

fix(datasets): secure paginated API pagination
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/api/api_dataset.py
  kedro-datasets/static/jsonschema/kedro-catalog-0.19.json
  kedro-datasets/static/jsonschema/kedro-catalog-1.0.0.json
  kedro-datasets/tests/api/test_paginated_api_dataset.py
Due: run-build-kedro-datasets=false

test(datasets): cover paginated API validation
  kedro-datasets/tests/api/test_paginated_api_dataset.py
Due: run-build-kedro-datasets=false

docs: clarify absolute URL requirement and _exists() scope in PaginatedAPIDataset
  kedro-datasets/kedro_datasets/api/api_dataset.py
Due: run-build-kedro-datasets=false

added PaginatedAPIDataset entry to Upcoming release section
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

feat(telemetry): Count validator declarations in project statistics (#1505)
  kedro-telemetry/RELEASE.md
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

feat(datasets): support PathLike paths in partitioned datasets (#1501)
  .secrets.baseline
  kedro-datasets/kedro_datasets/partitions/incremental_dataset.py
  kedro-datasets/kedro_datasets/partitions/partitioned_dataset.py
  kedro-datasets/tests/partitions/test_incremental_dataset.py
Due: run-build-kedro-datasets=false

pump telemetry release to 0.9.0
  kedro-telemetry/kedro_telemetry/__init__.py
Due: run-build-kedro-telemetry

update version in release note
  kedro-telemetry/RELEASE.md
Due: run-build-kedro-telemetry

Update RELEASE.md
  kedro-telemetry/RELEASE.md
Due: run-build-kedro-telemetry

build(telemetry): Release 0.9.0 (#1507)
  kedro-telemetry/RELEASE.md
  kedro-telemetry/kedro_telemetry/__init__.py
Due: run-build-kedro-telemetry

Add release note
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

Apply batched suggestions from code review
  kedro-datasets/RELEASE.md
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Path conditions:
  run-build-kedro-telemetry: any of: kedro-telemetry/.*
  run-build-kedro-docker: any of: kedro-docker/.*
  run-build-kedro-airflow: any of: kedro-airflow/.*
  run-build-kedro-datasets=false: any of: kedro-datasets/.*
