Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

Final cleanup
  kedro-airflow/features/airflow.feature
  kedro-airflow/features/steps/cli_steps.py
  kedro-airflow/kedro_airflow/airflow_dag_template.j2
Due: run-build-kedro-airflow

Fix doctests for managed table dataset
  Makefile
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
Due: run-build-kedro-datasets=false

Try pin delta spark differently
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

Update kedro-airflow/pyproject.toml
  kedro-airflow/pyproject.toml
Due: run-build-kedro-airflow

Pin apache-airflow again
  kedro-airflow/pyproject.toml
Due: run-build-kedro-airflow

Unpin apache-airflow
  kedro-airflow/pyproject.toml
Due: run-build-kedro-airflow

Fix incrementaldataset and local partitioneddataset
  Makefile
  kedro-datasets/kedro_datasets/partitions/incremental_dataset.py
  kedro-datasets/kedro_datasets/partitions/partitioned_dataset.py
Due: run-build-kedro-datasets=false

remove pendulum constraint
  kedro-airflow/pyproject.toml
Due: run-build-kedro-airflow

Update kedro-datasets/kedro_datasets/tensorflow/tensorflow_model_dataset.py
  kedro-datasets/kedro_datasets/tensorflow/tensorflow_model_dataset.py
Due: run-build-kedro-datasets=false

chore(datasets): Fix doctests (#488)
  Makefile
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
  kedro-datasets/kedro_datasets/pandas/deltatable_dataset.py
  kedro-datasets/kedro_datasets/pandas/gbq_dataset.py
  kedro-datasets/kedro_datasets/polars/lazy_polars_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_jdbc_dataset.py
  kedro-datasets/kedro_datasets/tensorflow/tensorflow_model_dataset.py
Due: run-build-kedro-datasets=false

Change version to 2.7
  kedro-airflow/pyproject.toml
Due: run-build-kedro-airflow

Fix docstring for spark deltatable
  Makefile
  kedro-datasets/kedro_datasets/spark/deltatable_dataset.py
Due: run-build-kedro-datasets=false

Update todo comment in Makefile
  Makefile
Due: none

Fix broken doc link
  kedro-datasets/kedro_datasets/api/api_dataset.py
Due: run-build-kedro-datasets=false

chore(datasets): Fix delta + incremental dataset docstrings (#489)
  Makefile
  kedro-datasets/kedro_datasets/api/api_dataset.py
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
  kedro-datasets/kedro_datasets/partitions/incremental_dataset.py
  kedro-datasets/kedro_datasets/partitions/partitioned_dataset.py
  kedro-datasets/kedro_datasets/spark/deltatable_dataset.py
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

chore(airflow): Post 0.19 cleanup (#478)
  kedro-airflow/features/airflow.feature
  kedro-airflow/features/steps/cli_steps.py
  kedro-airflow/kedro_airflow/airflow_dag_template.j2
  kedro-airflow/kedro_airflow/plugin.py
  kedro-airflow/pyproject.toml
  kedro-airflow/tests/conftest.py
  kedro-airflow/tests/test_plugin.py
Due: run-build-kedro-airflow

Alter test for custom GID and UID
  kedro-docker/features/docker.feature
Due: run-build-kedro-docker

Bump version
  kedro-airflow/RELEASE.md
  kedro-airflow/kedro_airflow/__init__.py
Due: run-build-kedro-airflow

build(airflow): Release 0.8.0 (#491)
  kedro-airflow/RELEASE.md
  kedro-airflow/kedro_airflow/__init__.py
Due: run-build-kedro-airflow

Update release notes
  kedro-docker/RELEASE.md
Due: run-build-kedro-docker

Fix telemetry metadata
  kedro-telemetry/tests/test_masking.py
Due: run-build-kedro-telemetry

Fix telemetry metadata2
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Revert version bump to put in in separate PR
  kedro-docker/RELEASE.md
  kedro-docker/kedro_docker/__init__.py
Due: run-build-kedro-docker

Bump kedro-docker to 0.5.0
  kedro-docker/RELEASE.md
  kedro-docker/kedro_docker/__init__.py
Due: run-build-kedro-docker

Fix telemetry metadata3
  kedro-telemetry/tests/test_masking.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

fix: telemetry metadata (#495)
  kedro-telemetry/tests/test_masking.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Add tools to config
  kedro-airflow/tests/conftest.py
Due: run-build-kedro-airflow

Revert "Add tools to config"
  kedro-airflow/tests/conftest.py
Due: run-build-kedro-airflow

Fix entry
  kedro-airflow/tests/conftest.py
Due: run-build-kedro-airflow

Make entries consistent
  kedro-airflow/tests/conftest.py
Due: run-build-kedro-airflow

Add example pipeline entry to metadata declaration
  kedro-airflow/tests/conftest.py
Due: run-build-kedro-airflow

fix: Update tests on kedro-docker for 0.5.0 release. (#496)
  kedro-docker/RELEASE.md
  kedro-docker/features/docker.feature
  kedro-docker/features/docker_with_spark.feature
  kedro-docker/features/steps/cli_steps.py
  kedro-docker/kedro_docker/template/Dockerfile.simple
  kedro-docker/kedro_docker/template/Dockerfile.spark
Due: run-build-kedro-docker

Add release notes
  kedro-docker/RELEASE.md
Due: run-build-kedro-docker

Update kedro-docker/RELEASE.md
  kedro-docker/RELEASE.md
Due: run-build-kedro-docker

build: Release kedro-docker 0.5.0 (#497)
  kedro-docker/RELEASE.md
  kedro-docker/kedro_docker/__init__.py
Due: run-build-kedro-docker

Quick fix
  kedro-airflow/tests/conftest.py
Due: run-build-kedro-airflow

Lint
  kedro-airflow/tests/conftest.py
Due: run-build-kedro-airflow

Update partitioned dataset docstring
  kedro-datasets/kedro_datasets/partitions/partitioned_dataset.py
Due: run-build-kedro-datasets=false

Test fix
  kedro-airflow/tests/conftest.py
Due: run-build-kedro-airflow

Path conditions:
  run-build-kedro-telemetry: any of: kedro-telemetry/.*
  run-build-kedro-docker: any of: kedro-docker/.*
  run-build-kedro-airflow: any of: kedro-airflow/.*
  run-build-kedro-datasets=false: any of: kedro-datasets/.*
