Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

styling for the source button
  kedro-datasets/docs/stylesheets/source-buttons.css
  kedro-datasets/mkdocs.yml
Due: run-build-kedro-datasets=false

add the observer back for dynamic content
  kedro-datasets/docs/javascript/source-links.js
Due: run-build-kedro-datasets=false

fix lint
  kedro-datasets/docs/javascript/source-links.js
  kedro-datasets/docs/stylesheets/source-buttons.css
Due: run-build-kedro-datasets=false

use variable for the timeout
  kedro-datasets/docs/javascript/source-links.js
Due: run-build-kedro-datasets=false

using textContent = '' or removeChild() for safer DOM manipulation.
  kedro-datasets/docs/javascript/source-links.js
Due: run-build-kedro-datasets=false

remove edit_uri
  kedro-datasets/mkdocs.yml
Due: run-build-kedro-datasets=false

use edit_uri instead
  kedro-datasets/mkdocs.yml
Due: run-build-kedro-datasets=false

try removing the extra kedro-datasets
  kedro-datasets/docs/javascript/source-links.js
Due: run-build-kedro-datasets=false

fix lint
  kedro-datasets/docs/javascript/source-links.js
Due: run-build-kedro-datasets=false

remove makeSourcePathsClickable as its handle directly in the button
  kedro-datasets/docs/javascript/source-links.js
Due: run-build-kedro-datasets=false

include black and ruff in the docs
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

remove edit uri as its throwing error
  kedro-datasets/mkdocs.yml
Due: run-build-kedro-datasets=false

docs: add source link (#1167)
  kedro-datasets/docs/javascript/source-links.js
  kedro-datasets/docs/stylesheets/source-buttons.css
  kedro-datasets/mkdocs.yml
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

build(datasets): Release 8.1.0 (#1166)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

Add llms.txt plugin
  kedro-datasets/mkdocs.yml
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

lint
  kedro-datasets/mkdocs.yml
Due: run-build-kedro-datasets=false

chore(datasets): Add llm.txt with mkdocs to kedro-datasets (#1168)
  kedro-datasets/mkdocs.yml
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

chore(datasets): Remove `behave` setup, because we don't have e2e tests (#1163)
  .pre-commit-config.yaml
  kedro-datasets/features/__init__.py
  kedro-datasets/features/steps/dummy.feature
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Kedro-docker CI build fix
  .github/workflows/e2e-tests.yml
Due: none

Manual workflow
  .github/workflows/e2e-tests.yml
  kedro-docker/features/docker.feature
Due: run-build-kedro-docker

manual workflow
  .github/workflows/kedro-docker.yml
  .github/workflows/nightly-build.yml
Due: none

Set telemetry consent to false on CI/CD setup
  .github/workflows/unit-tests.yml
Due: none

Separate kedro-telemetry tests from others
  .github/workflows/unit-tests.yml
Due: none

Fix indentation error
  .github/workflows/unit-tests.yml
Due: none

Fix double definition
  .github/workflows/unit-tests.yml
Due: none

Add missing ' symbol
  .github/workflows/unit-tests.yml
Due: none

update copy right and remove T&C
  kedro-datasets/docs/overrides/partials/copyright-legal-socials.html
Due: run-build-kedro-datasets=false

docs: update copy right and remove T&C (#1176)
  kedro-datasets/docs/overrides/partials/copyright-legal-socials.html
Due: run-build-kedro-datasets=false

Disable telemetry for kedro-org repositories CI/CD environments
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

adding tests to cover the kedro-org scenarios
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

mock GITHUB_REPOSITORY_OWNER to not "kedro-org" by default
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Lint
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Lint again
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

feat(telemetry): disable collection in Kedro CI/CD (#1178)
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

fix: replace NotImplementedError with DatasetError for unsupported insert mode
  kedro-datasets/kedro_datasets/ibis/table_dataset.py
Due: run-build-kedro-datasets=false

fix(table_dataset): Improve error message for invalid save mode
  kedro-datasets/kedro_datasets/ibis/table_dataset.py
Due: run-build-kedro-datasets=false

fix(ibis): Validate save mode during initialization and restrict to a predefined set of allowed values
  kedro-datasets/kedro_datasets/ibis/table_dataset.py
Due: run-build-kedro-datasets=false

ibis: improve connection/credentials handling and defaults
  kedro-datasets/kedro_datasets/ibis/table_dataset.py
Due: run-build-kedro-datasets=false

ibis: accept ibis.Table for save and treat empty tables as no-op
  kedro-datasets/kedro_datasets/ibis/table_dataset.py
Due: run-build-kedro-datasets=false

Path conditions:
  run-build-kedro-telemetry: any of: kedro-telemetry/.*
  run-build-kedro-docker: any of: kedro-docker/.*
  run-build-kedro-airflow: any of: kedro-airflow/.*
  run-build-kedro-datasets=false: any of: kedro-datasets/.*
