Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

Try fix polars.GenericDataSet docstring
  kedro-datasets/kedro_datasets/polars/generic_dataset.py
Due: run-build-kedro-datasets=false

Update kedro-datasets/RELEASE.md
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

Update setup.py with polars version
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

build(datasets): Release `kedro-datasets` 1.7.0 (#326)
  kedro-datasets/RELEASE.md
  kedro-datasets/docs/source/kedro_datasets.rst
  kedro-datasets/kedro_datasets/__init__.py
  kedro-datasets/kedro_datasets/polars/generic_dataset.py
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

Fix typos
  .github/workflows/e2e-tests.yml
  .github/workflows/kedro-airflow.yml
  .github/workflows/kedro-datasets.yml
  .github/workflows/kedro-docker.yml
  .github/workflows/kedro-telemetry.yml
Due: none

Add 3.11 to ci
  .github/workflows/kedro-airflow.yml
  .github/workflows/kedro-docker.yml
  .github/workflows/kedro-telemetry.yml
Due: none

ci: Refactor the workflows (#322)
  .github/workflows/check-plugin.yml
  .github/workflows/check-release.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/kedro-airflow.yml
  .github/workflows/kedro-datasets.yml
  .github/workflows/kedro-docker.yml
  .github/workflows/kedro-telemetry.yml
  .github/workflows/lint.yml
  .github/workflows/nightly-build.yml
  .github/workflows/unit-tests.yml
Due: none

Add 3.11 to telemetry
  .github/workflows/kedro-telemetry.yml
  kedro-telemetry/tests/test_masking.py
Due: run-build-kedro-telemetry

Remove extra lint tests
  .github/workflows/kedro-telemetry.yml
Due: none

Initial commit
  kedro-datasets/kedro_datasets/influx/__init__.py
  kedro-datasets/kedro_datasets/influx/influx_dataset.py
Due: run-build-kedro-datasets=false

Added load_args and save_args handling.
  kedro-datasets/kedro_datasets/influx/influx_dataset.py
Due: run-build-kedro-datasets=false

Add 3.11 to CI for airflow
  .github/workflows/kedro-airflow.yml
  .github/workflows/kedro-datasets.yml
  .github/workflows/kedro-docker.yml
  .github/workflows/kedro-telemetry.yml
  kedro-airflow/pyproject.toml
Due: run-build-kedro-airflow

Comemnt paths ignore
  .github/workflows/kedro-telemetry.yml
Due: none

Typo
  .github/workflows/kedro-airflow.yml
Due: none

Add other python versions
  .github/workflows/kedro-airflow.yml
Due: none

Update e2e test
  kedro-airflow/features/steps/cli_steps.py
  kedro-airflow/pyproject.toml
Due: run-build-kedro-airflow

Corrected naming in _save. Added class typing.
  kedro-datasets/kedro_datasets/influx/influx_dataset.py
Due: run-build-kedro-datasets=false

Revert changes to other workflows
  .github/workflows/kedro-airflow.yml
  .github/workflows/kedro-datasets.yml
  .github/workflows/kedro-docker.yml
  .github/workflows/kedro-telemetry.yml
Due: none

Changed save behaviour to properly use save_args.
  kedro-datasets/kedro_datasets/influx/influx_dataset.py
Due: run-build-kedro-datasets=false

Added example usage to save doc string.
  kedro-datasets/kedro_datasets/influx/influx_dataset.py
Due: run-build-kedro-datasets=false

Revert telemetry wf
  .github/workflows/kedro-telemetry.yml
Due: none

Added optional influxdb-client requirement.
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

Added influx to docu
  kedro-datasets/docs/source/kedro_datasets.rst
Due: run-build-kedro-datasets=false

Remove bandit version pin
  kedro-airflow/pyproject.toml
Due: run-build-kedro-airflow

Undo prev commit
  .github/workflows/e2e-tests.yml
  .github/workflows/unit-tests.yml
  kedro-docker/features/environment.py
Due: run-build-kedro-docker

Change python version on docker
  kedro-docker/pyproject.toml
Due: run-build-kedro-docker

Comment out plugins not of focus
  .github/workflows/kedro-datasets.yml
  .github/workflows/kedro-telemetry.yml
Due: none

Bump pre-commit hook version
  .pre-commit-config.yaml
Due: none

Try something else
  kedro-docker/pyproject.toml
Due: run-build-kedro-docker

Drop Python upper bound
  kedro-airflow/pyproject.toml
  kedro-docker/pyproject.toml
Due: run-build-kedro-docker, run-build-kedro-airflow

Unpin precommit
  .github/workflows/lint.yml
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

Try unpin docker
  .github/workflows/kedro-telemetry.yml
  kedro-docker/pyproject.toml
Due: run-build-kedro-docker

Try something
  kedro-docker/pyproject.toml
Due: run-build-kedro-docker

Add 3.11 to version matrices
  .github/workflows/kedro-airflow.yml
  .github/workflows/kedro-docker.yml
  .github/workflows/kedro-telemetry.yml
Due: none

Restore other files
  .github/workflows/kedro-airflow.yml
  .github/workflows/kedro-datasets.yml
  .github/workflows/kedro-docker.yml
  .github/workflows/kedro-telemetry.yml
  kedro-airflow/pyproject.toml
Due: run-build-kedro-airflow

Fix typo
  kedro-docker/pyproject.toml
Due: run-build-kedro-docker

Revert lint version
  .github/workflows/kedro-airflow.yml
  .github/workflows/kedro-docker.yml
Due: none

Include 3.11 in pyproject.toml
  kedro-airflow/pyproject.toml
  kedro-docker/pyproject.toml
Due: run-build-kedro-docker, run-build-kedro-airflow

Add changes to RELEASE.md
  kedro-docker/RELEASE.md
Due: run-build-kedro-docker

Path conditions:
  run-build-kedro-telemetry: any of: kedro-telemetry/.*
  run-build-kedro-docker: any of: kedro-docker/.*
  run-build-kedro-airflow: any of: kedro-airflow/.*
  run-build-kedro-datasets=false: any of: kedro-datasets/.*
