Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

Lint
  kedro-telemetry/kedro_telemetry/__init__.py
Due: run-build-kedro-telemetry

Unbump version and clean test
  kedro-airflow/kedro_airflow/__init__.py
  kedro-airflow/tests/test_plugin.py
Due: run-build-kedro-airflow

update e2e tests to use new starters
  kedro-docker/features/docker_with_spark.feature
Due: run-build-kedro-docker

fix test path for e2e tests
  kedro-docker/features/steps/cli_steps.py
Due: run-build-kedro-docker

chore(datasets): replace more "data_set" instances (#476)
  kedro-datasets/kedro_datasets/geopandas/README.md
  kedro-datasets/kedro_datasets/tensorflow/README.md
  kedro-datasets/tests/polars/test_lazy_polars_dataset.py
  kedro-datasets/tests/redis/test_redis_dataset.py
  kedro-datasets/tests/spark/test_spark_dataset.py
Due: run-build-kedro-datasets=false

fix requirements path on dockerfiles
  kedro-docker/kedro_docker/template/Dockerfile.simple
  kedro-docker/kedro_docker/template/Dockerfile.spark
Due: run-build-kedro-docker

Update e2e tests
  kedro-airflow/features/steps/cli_steps.py
Due: run-build-kedro-airflow

Update e2e tests
  kedro-airflow/features/airflow.feature
Due: run-build-kedro-airflow

update tests to fit with current log format
  kedro-docker/features/docker.feature
  kedro-docker/features/docker_with_spark.feature
Due: run-build-kedro-docker

update tests to fit with current log format
  kedro-docker/features/docker.feature
  kedro-docker/features/steps/cli_steps.py
Due: run-build-kedro-docker

update tests to fit with current log format
  kedro-docker/features/docker.feature
Due: run-build-kedro-docker

Remove redundant test
  kedro-docker/features/docker.feature
Due: run-build-kedro-docker

Split big test into smaller tests
  kedro-airflow/tests/test_plugin.py
Due: run-build-kedro-airflow

Update conftest
  kedro-airflow/tests/conftest.py
Due: run-build-kedro-airflow

Update starters and requirements to make e2e run
  kedro-docker/features/docker.feature
  kedro-docker/features/docker_with_spark.feature
  kedro-docker/features/steps/cli_steps.py
  kedro-docker/kedro_docker/template/Dockerfile.simple
  kedro-docker/kedro_docker/template/Dockerfile.spark
Due: run-build-kedro-docker

update e2e
  kedro-docker/features/docker.feature
  kedro-docker/features/docker_with_spark.feature
Due: run-build-kedro-docker

force old version of kedro
  .github/workflows/e2e-tests.yml
Due: none

Revert "force old version of kedro"
  .github/workflows/e2e-tests.yml
Due: none

force kedro version in e2e only
  kedro-docker/features/environment.py
Due: run-build-kedro-docker

Fix coverage
  kedro-airflow/kedro_airflow/plugin.py
  kedro-airflow/tests/conftest.py
Due: run-build-kedro-airflow

Try unpin airflow
  kedro-airflow/pyproject.toml
Due: run-build-kedro-airflow

remove datacatalog step
  kedro-airflow/features/airflow.feature
Due: run-build-kedro-airflow

Change node
  kedro-airflow/features/airflow.feature
Due: run-build-kedro-airflow

update tasks test step
  kedro-airflow/features/airflow.feature
Due: run-build-kedro-airflow

Revert to older airflow and constraint pendulum
  kedro-airflow/pyproject.toml
Due: run-build-kedro-airflow

Try local example for incremental dataset
  Makefile
  kedro-datasets/kedro_datasets/partitions/incremental_dataset.py
Due: run-build-kedro-datasets=false

Try fix tensorflow dataset
  Makefile
  kedro-datasets/kedro_datasets/partitions/incremental_dataset.py
  kedro-datasets/kedro_datasets/tensorflow/tensorflow_model_dataset.py
Due: run-build-kedro-datasets=false

Undo incremental dataset changes
  Makefile
  kedro-datasets/kedro_datasets/partitions/incremental_dataset.py
Due: run-build-kedro-datasets=false

Fix pandas deltatable dataset + minor edits for others
  Makefile
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
  kedro-datasets/kedro_datasets/pandas/deltatable_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_jdbc_dataset.py
Due: run-build-kedro-datasets=false

Fix lazy polars dataset
  Makefile
  kedro-datasets/kedro_datasets/pandas/gbq_dataset.py
  kedro-datasets/kedro_datasets/polars/lazy_polars_dataset.py
Due: run-build-kedro-datasets=false

Try frame equal for polars dataset
  kedro-datasets/kedro_datasets/polars/lazy_polars_dataset.py
Due: run-build-kedro-datasets=false

Revert "update e2e"
  kedro-docker/features/docker.feature
  kedro-docker/features/docker_with_spark.feature
Due: run-build-kedro-docker

add logging conf
  kedro-docker/features/steps/cli_steps.py
Due: run-build-kedro-docker

lint
  kedro-docker/features/steps/cli_steps.py
Due: run-build-kedro-docker

Update template
  kedro-airflow/kedro_airflow/airflow_dag_template.j2
Due: run-build-kedro-airflow

config need to be string
  kedro-docker/features/steps/cli_steps.py
Due: run-build-kedro-docker

Update message in e2e step
  kedro-airflow/features/airflow.feature
Due: run-build-kedro-airflow

Path conditions:
  run-build-kedro-telemetry: any of: kedro-telemetry/.*
  run-build-kedro-docker: any of: kedro-docker/.*
  run-build-kedro-airflow: any of: kedro-airflow/.*
  run-build-kedro-datasets=false: any of: kedro-datasets/.*
