Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

debug
  kedro-docker/features/steps/cli_steps.py
  kedro-docker/kedro_docker/template/Dockerfile.spark
Due: run-build-kedro-docker

more debug
  kedro-docker/features/docker.feature
  kedro-docker/kedro_docker/template/Dockerfile.spark
Due: run-build-kedro-docker

attempt 2
  kedro-docker/features/docker.feature
  kedro-docker/features/docker_with_spark.feature
  kedro-docker/features/steps/cli_steps.py
Due: run-build-kedro-docker

try java 11
  kedro-docker/features/docker_with_spark.feature
  kedro-docker/kedro_docker/template/Dockerfile.spark
Due: run-build-kedro-docker

Update Dockerfile.spark
  kedro-docker/kedro_docker/template/Dockerfile.spark
Due: run-build-kedro-docker

Change validation function to not try to validate the template format
  kedro-datasets/kedro_datasets_experimental/langchain/langchain_prompt_dataset.py
Due: run-build-kedro-datasets=false

Add unit tests for LangChainPromptDataset
  kedro-datasets/kedro_datasets_experimental/langchain/__init__.py
  kedro-datasets/kedro_datasets_experimental/langchain/langchain_prompt_dataset.py
  kedro-datasets/kedro_datasets_experimental/tests/langchain/__init__.py
  kedro-datasets/kedro_datasets_experimental/tests/langchain/test_langchain_prompt_dataset.py
Due: run-build-kedro-datasets=false

Map constant template type to function
  kedro-datasets/kedro_datasets_experimental/langchain/langchain_prompt_dataset.py
Due: run-build-kedro-datasets=false

Better docstrings
  kedro-datasets/kedro_datasets_experimental/langchain/langchain_prompt_dataset.py
Due: run-build-kedro-datasets=false

Add LangChainPromptDataset to release notes
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

Add new dataset to docs
  kedro-datasets/docs/api/kedro_datasets_experimental/langchain.LangChainPromptDataset.md
Due: run-build-kedro-datasets=false

Add new dataset to docs index
  kedro-datasets/docs/api/kedro_datasets_experimental/index.md
Due: run-build-kedro-datasets=false

Fix mkdocs error
  kedro-datasets/kedro_datasets_experimental/langchain/langchain_prompt_dataset.py
  kedro-datasets/mkdocs.yml
Due: run-build-kedro-datasets=false

Add preview method
  kedro-datasets/kedro_datasets_experimental/langchain/langchain_prompt_dataset.py
  kedro-datasets/kedro_datasets_experimental/tests/langchain/test_langchain_prompt_dataset.py
Due: run-build-kedro-datasets=false

Fix preview method, should work on Viz now
  kedro-datasets/kedro_datasets_experimental/langchain/langchain_prompt_dataset.py
  kedro-datasets/kedro_datasets_experimental/tests/langchain/test_langchain_prompt_dataset.py
Due: run-build-kedro-datasets=false

feat(datasets): powerpoint dataset
  kedro-datasets/kedro_datasets/openxml/pptx_dataset.py
Due: run-build-kedro-datasets=false

test(datasets): powerpoint dataset tests
  kedro-datasets/tests/openxml/test_pptx_dataset.py
Due: run-build-kedro-datasets=false

chore(datasets): update dependencies for powerpoint dataset
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

docs(datasets): update documentation and create new one for powerpoint dataset
  kedro-datasets/RELEASE.md
  kedro-datasets/docs/api/kedro_datasets/openxml.PptxDataset.md
  kedro-datasets/docs/index.md
  kedro-datasets/mkdocs.yml
Due: run-build-kedro-datasets=false

chore(datasets): update init file for poxerpoint dataset
  kedro-datasets/kedro_datasets/openxml/__init__.py
Due: run-build-kedro-datasets=false

style(datasets): ruff and black formatting
  kedro-datasets/kedro_datasets/openxml/pptx_dataset.py
  kedro-datasets/tests/openxml/test_pptx_dataset.py
Due: run-build-kedro-datasets=false

style(datasets): precommit hook
  kedro-datasets/tests/openxml/test_pptx_dataset.py
Due: run-build-kedro-datasets=false

style(datasets): precommit hook
  kedro-datasets/RELEASE.md
  kedro-datasets/docs/api/kedro_datasets/openxml.PptxDataset.md
  kedro-datasets/kedro_datasets/openxml/__init__.py
Due: run-build-kedro-datasets=false

Update e2e-tests.yml
  .github/workflows/e2e-tests.yml
Due: none

Update kedro-docker.yml
  .github/workflows/kedro-docker.yml
Due: none

use specific versions
  .github/workflows/kedro-docker.yml
  kedro-docker/kedro_docker/template/Dockerfile.spark
Due: run-build-kedro-docker

revert
  .github/workflows/e2e-tests.yml
  kedro-docker/kedro_docker/template/Dockerfile.spark
Due: run-build-kedro-docker

Add requirements to pyproject.toml
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Improve docstrings
  kedro-datasets/kedro_datasets_experimental/langchain/langchain_prompt_dataset.py
Due: run-build-kedro-datasets=false

Cleanup
  kedro-datasets/kedro_datasets_experimental/langchain/langchain_prompt_dataset.py
Due: run-build-kedro-datasets=false

Add credential handling
  kedro-datasets/kedro_datasets_experimental/langchain/langchain_prompt_dataset.py
Due: run-build-kedro-datasets=false

Lint
  kedro-datasets/kedro_datasets_experimental/langchain/langchain_prompt_dataset.py
Due: run-build-kedro-datasets=false

Add LangchainPromptDataset to experimental datasets
  kedro-datasets/kedro_datasets_experimental/langchain/langchain_prompt_dataset.py
Due: run-build-kedro-datasets=false

Path conditions:
  run-build-kedro-telemetry: any of: kedro-telemetry/.*
  run-build-kedro-docker: any of: kedro-docker/.*
  run-build-kedro-airflow: any of: kedro-airflow/.*
  run-build-kedro-datasets=false: any of: kedro-datasets/.*
