Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

.circleci/config.yml:

version: 2.1

setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            kedro-telemetry/.* run-build-kedro-telemetry true
            kedro-docker/.* run-build-kedro-docker true
            kedro-airflow/.* run-build-kedro-airflow true
            kedro-datasets/.* run-build-kedro-datasets false
          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

docs(datasets): Document `IncrementalDataset` (#468)
  kedro-datasets/docs/source/kedro_datasets.rst
Due: run-build-kedro-datasets=false

fix(datasets): correct pandas-gbq as py311 dependency (#460)
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

test(datasets): make SQL dataset examples runnable (#455)
  Makefile
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
Due: run-build-kedro-datasets=false

docs(datasets): update wrong docstring about `con` (#461)
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
Due: run-build-kedro-datasets=false

feat(datasets): support versioning data partitions (#447)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/partitions/incremental_dataset.py
  kedro-datasets/kedro_datasets/partitions/partitioned_dataset.py
  kedro-datasets/tests/partitions/test_incremental_dataset.py
  kedro-datasets/tests/partitions/test_partitioned_dataset.py
Due: run-build-kedro-datasets=false

docs(datasets): Improve documentation index (#428)
  kedro-datasets/README.md
  kedro-datasets/docs/source/api/kedro_datasets.rst
  kedro-datasets/docs/source/conf.py
  kedro-datasets/docs/source/index.md
  kedro-datasets/docs/source/index.rst
Due: run-build-kedro-datasets=false

build(telemetry): Release 0.3.1 (#475)
  kedro-telemetry/RELEASE.md
  kedro-telemetry/kedro_telemetry/__init__.py
  kedro-telemetry/pyproject.toml
  kedro-telemetry/tests/test_masking.py
Due: run-build-kedro-telemetry

build(datasets): Release `2.0.0` (#472)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

docs(datasets): Fix broken links in README (#477)
  kedro-datasets/README.md
Due: run-build-kedro-datasets=false

ci(telemetry): Pin `PyYAML` (#474)
  kedro-telemetry/pyproject.toml
Due: run-build-kedro-telemetry

build(airflow): Release 0.8.0 (#491)
  kedro-airflow/RELEASE.md
  kedro-airflow/kedro_airflow/__init__.py
Due: run-build-kedro-airflow

fix: Update tests on kedro-docker for 0.5.0 release. (#496)
  kedro-docker/RELEASE.md
  kedro-docker/features/docker.feature
  kedro-docker/features/docker_with_spark.feature
  kedro-docker/features/steps/cli_steps.py
  kedro-docker/kedro_docker/template/Dockerfile.simple
  kedro-docker/kedro_docker/template/Dockerfile.spark
Due: run-build-kedro-docker

chore(airflow): Post 0.19 cleanup (#478)
  kedro-airflow/features/airflow.feature
  kedro-airflow/features/steps/cli_steps.py
  kedro-airflow/kedro_airflow/airflow_dag_template.j2
  kedro-airflow/kedro_airflow/plugin.py
  kedro-airflow/pyproject.toml
  kedro-airflow/tests/conftest.py
  kedro-airflow/tests/test_plugin.py
Due: run-build-kedro-airflow

fix: telemetry metadata (#495)
  kedro-telemetry/tests/test_masking.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

chore(datasets): Fix delta + incremental dataset docstrings (#489)
  Makefile
  kedro-datasets/kedro_datasets/api/api_dataset.py
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
  kedro-datasets/kedro_datasets/partitions/incremental_dataset.py
  kedro-datasets/kedro_datasets/partitions/partitioned_dataset.py
  kedro-datasets/kedro_datasets/spark/deltatable_dataset.py
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

chore(datasets): replace more "data_set" instances (#476)
  kedro-datasets/kedro_datasets/geopandas/README.md
  kedro-datasets/kedro_datasets/tensorflow/README.md
  kedro-datasets/tests/polars/test_lazy_polars_dataset.py
  kedro-datasets/tests/redis/test_redis_dataset.py
  kedro-datasets/tests/spark/test_spark_dataset.py
Due: run-build-kedro-datasets=false

chore(datasets): Fix doctests (#488)
  Makefile
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
  kedro-datasets/kedro_datasets/pandas/deltatable_dataset.py
  kedro-datasets/kedro_datasets/pandas/gbq_dataset.py
  kedro-datasets/kedro_datasets/polars/lazy_polars_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_jdbc_dataset.py
  kedro-datasets/kedro_datasets/tensorflow/tensorflow_model_dataset.py
Due: run-build-kedro-datasets=false

chore(datasets): Update partitioned dataset docstring (#502)
  kedro-datasets/kedro_datasets/partitions/partitioned_dataset.py
Due: run-build-kedro-datasets=false

build: Release kedro-docker 0.5.0 (#497)
  kedro-docker/RELEASE.md
  kedro-docker/kedro_docker/__init__.py
Due: run-build-kedro-docker

Fix GeotiffDataset import + casing
  kedro-datasets/kedro_datasets/xarray/geotiff_dataset.py
Due: run-build-kedro-datasets=false

ci(airflow): Pin `Flask-Session` version (#521)
  kedro-airflow/features/steps/cli_steps.py
  kedro-airflow/pyproject.toml
Due: run-build-kedro-airflow

Fix lint
  kedro-datasets/kedro_datasets/xarray/geotiff_dataset.py
Due: run-build-kedro-datasets=false

feat(datasets): Add `MatlabDataset` to `kedro-datasets` (#515)
  kedro-datasets/RELEASE.md
  kedro-datasets/docs/source/api/kedro_datasets.rst
  kedro-datasets/kedro_datasets/matlab/__init__.py
  kedro-datasets/kedro_datasets/matlab/matlab_dataset.py
  kedro-datasets/setup.py
  kedro-datasets/tests/matlab/__init__.py
  kedro-datasets/tests/matlab/test_matlab_dataset.py
Due: run-build-kedro-datasets=false

chore(airflow): Bump `apache-airflow` version (#511)
  kedro-airflow/features/airflow.feature
  kedro-airflow/features/steps/cli_steps.py
  kedro-airflow/pyproject.toml
Due: run-build-kedro-airflow

ci(datasets): Unpin dask (#522)
  kedro-datasets/kedro_datasets/dask/parquet_dataset.py
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

fix: airflow metadata (#498)
  kedro-airflow/tests/conftest.py
  kedro-docker/features/steps/cli_steps.py
Due: run-build-kedro-docker, run-build-kedro-airflow

fix(datasets): Relax pandas.HDFDataSet dependencies which are broken on Windows (#426)
  kedro-datasets/RELEASE.md
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

feat: `kedro-airflow` group in memory nodes (#241)
  kedro-airflow/README.md
  kedro-airflow/RELEASE.md
  kedro-airflow/kedro_airflow/airflow_dag_template.j2
  kedro-airflow/kedro_airflow/grouping.py
  kedro-airflow/kedro_airflow/plugin.py
  kedro-airflow/pyproject.toml
  kedro-airflow/tests/test_node_grouping.py
  kedro-airflow/tests/test_plugin.py
Due: run-build-kedro-airflow

ci(datasets): Update pyproject.toml to pin Kedro 0.19 for kedro-datasets (#526)
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

fix(datasets): Debug and fix `kedro-datasets` nightly build failures (#541)
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

feat(airflow): include environment name in DAG filename (#492)
  kedro-airflow/RELEASE.md
  kedro-airflow/kedro_airflow/plugin.py
  kedro-airflow/tests/test_plugin.py
Due: run-build-kedro-airflow

feat(datasets): Enable search-as-you type on Kedro-datasets docs (#532)
  kedro-datasets/docs/source/_templates/layout.html
Due: run-build-kedro-datasets=false

feat(datasets): Dataset Preview Refactor (#504)
  kedro-datasets/RELEASE.md
  kedro-datasets/docs/source/conf.py
  kedro-datasets/kedro_datasets/_typing.py
  kedro-datasets/kedro_datasets/matplotlib/matplotlib_writer.py
  kedro-datasets/kedro_datasets/pandas/csv_dataset.py
  kedro-datasets/kedro_datasets/pandas/excel_dataset.py
  kedro-datasets/kedro_datasets/plotly/json_dataset.py
  kedro-datasets/kedro_datasets/plotly/plotly_dataset.py
  kedro-datasets/kedro_datasets/tracking/json_dataset.py
  kedro-datasets/kedro_datasets/tracking/metrics_dataset.py
  kedro-datasets/tests/matplotlib/test_matplotlib_writer.py
  kedro-datasets/tests/pandas/test_csv_dataset.py
  kedro-datasets/tests/pandas/test_excel_dataset.py
  kedro-datasets/tests/plotly/test_json_dataset.py
  kedro-datasets/tests/plotly/test_plotly_dataset.py
  kedro-datasets/tests/tracking/test_json_dataset.py
  kedro-datasets/tests/tracking/test_metrics_dataset.py
Due: run-build-kedro-datasets=false

docs(telemetry): Direct readers to Kedro documentation for further information on telemetry (#555)
  kedro-telemetry/README.md
Due: run-build-kedro-telemetry

fix: telemetry data and add example_pipeline (#557)
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

docs: Update kedro-telemetry docs on which data is collected (#546)
  kedro-telemetry/README.md
Due: run-build-kedro-telemetry

fix(datasets): Drop pyarrow constraint when using snowpark (#538)
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

ci(docker): Trying to fix e2e tests (#548)
  kedro-docker/features/docker.feature
  kedro-docker/features/environment.py
  kedro-docker/kedro_docker/template/Dockerfile.simple
  kedro-docker/kedro_docker/template/Dockerfile.spark
Due: run-build-kedro-docker

fix: kedro-telemetry masking (#552)
  kedro-telemetry/kedro_telemetry/masking.py
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/test_masking.py
Due: run-build-kedro-telemetry
