Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

chore: bump actions versions (#539)
  .github/workflows/check-release.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/kedro-datasets.yml
  .github/workflows/lint.yml
  .github/workflows/unit-tests.yml
Due: none

feat(telemetry): Add is_ci_env environment to reported project telemetry (#565)
  kedro-telemetry/RELEASE.md
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

feat(airflow): make sure `kedro airflow create` is deterministic (#525)
  kedro-airflow/RELEASE.md
  kedro-airflow/kedro_airflow/plugin.py
Due: run-build-kedro-airflow

feat(datasets): Add NetCDFDataSet class (#360)
  kedro-datasets/RELEASE.md
  kedro-datasets/docs/source/api/kedro_datasets.rst
  kedro-datasets/kedro_datasets/netcdf/__init__.py
  kedro-datasets/kedro_datasets/netcdf/netcdf_dataset.py
  kedro-datasets/pyproject.toml
  kedro-datasets/setup.py
  kedro-datasets/tests/netcdf/__init__.py
  kedro-datasets/tests/netcdf/test_netcdf_dataset.py
Due: run-build-kedro-datasets=false

feat(datasets): allow additional parameters for sqlalchemy engine when using sql dataset (#564)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
  kedro-datasets/tests/pandas/test_sql_dataset.py
Due: run-build-kedro-datasets=false

chore(datasets): Update setup.py moto dependency (#537)
  kedro-datasets/setup.py
  kedro-datasets/tests/dask/test_parquet_dataset.py
  kedro-datasets/tests/matplotlib/test_matplotlib_writer.py
  kedro-datasets/tests/pandas/test_csv_dataset.py
  kedro-datasets/tests/partitions/test_incremental_dataset.py
  kedro-datasets/tests/partitions/test_partitioned_dataset.py
  kedro-datasets/tests/polars/test_csv_dataset.py
  kedro-datasets/tests/polars/test_lazy_polars_dataset.py
  kedro-datasets/tests/spark/test_spark_dataset.py
  kedro-datasets/tests/spark/test_spark_streaming_dataset.py
  kedro-datasets/tests/video/test_video_dataset.py
Due: run-build-kedro-datasets=false

build(datasets): Release `kedro-datasets` 2.1.0 (#575)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

Fix Geotiff dataset docstring
  kedro-datasets/kedro_datasets/xarray/geotiff_dataset.py
Due: run-build-kedro-datasets=false

Improve test coverage
  kedro-datasets/tests/xarray/test_geotiff_dataset.py
Due: run-build-kedro-datasets=false

build(telemetry): Release 0.3.2 (#588)
  kedro-telemetry/RELEASE.md
  kedro-telemetry/kedro_telemetry/__init__.py
Due: run-build-kedro-telemetry

chore(datasets): Normalise optional requirements names and move them to `pyproject.toml` (#570)
  kedro-datasets/RELEASE.md
  kedro-datasets/pyproject.toml
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

fix(datasets): sql_dataset load_args:params must be a tuple (MSSQL only) (#556)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
  kedro-datasets/tests/pandas/test_sql_dataset.py
Due: run-build-kedro-datasets=false

ci(docker): Only run one pipeline with the `ParallelRunner` in the e2e test (#591)
  kedro-docker/features/docker.feature
Due: run-build-kedro-docker

fix(datasets): Various fixes (#608)
  kedro-datasets/.readthedocs.yaml
  kedro-datasets/kedro_datasets/huggingface/transformer_pipeline_dataset.py
  kedro-datasets/kedro_datasets/tensorflow/tensorflow_model_dataset.py
  kedro-datasets/pyproject.toml
  kedro-datasets/tests/tensorflow/test_tensorflow_model_dataset.py
Due: run-build-kedro-datasets=false

build(datasets): fix typos in definition of extras (#593)
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

fix(airflow): Fix incorrect node names (#594)
  kedro-airflow/kedro_airflow/airflow_dag_template.j2
Due: run-build-kedro-airflow

ci(datasets): Accelerate CI using `uv` (#569)
  .github/workflows/e2e-tests.yml
  .github/workflows/kedro-datasets.yml
  .github/workflows/lint.yml
  .github/workflows/unit-tests.yml
  Makefile
  kedro-datasets/kedro_datasets/huggingface/hugging_face_dataset.py
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

refactor(airflow): Remove `bootstrap_project` (#599)
  kedro-airflow/kedro_airflow/plugin.py
  kedro-airflow/tests/conftest.py
  kedro-airflow/tests/test_plugin.py
Due: run-build-kedro-airflow

feat(telemetry): Unique User IDs in kedro-telemetry - merge only for kedro-telemetry release 0.4.0 (#596)
  kedro-telemetry/RELEASE.md
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/pyproject.toml
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

chore(telemetry): Remove dummy e2e test (#622)
  .github/workflows/kedro-telemetry.yml
  kedro-telemetry/features/__init__.py
  kedro-telemetry/features/steps/dummy.feature
  kedro-telemetry/pyproject.toml
Due: run-build-kedro-telemetry

build(telemetry): Add python 3.12 support (#615)
  .github/workflows/e2e-tests.yml
  .github/workflows/kedro-datasets.yml
  .github/workflows/kedro-telemetry.yml
  .github/workflows/lint.yml
  .github/workflows/unit-tests.yml
  kedro-datasets/.readthedocs.yaml
  kedro-telemetry/RELEASE.md
Due: run-build-kedro-telemetry, run-build-kedro-datasets=false

build(datasets): Add Python 3.12 support (#617)
  .github/workflows/e2e-tests.yml
  .github/workflows/kedro-datasets.yml
  .github/workflows/lint.yml
  .github/workflows/unit-tests.yml
  kedro-datasets/.readthedocs.yaml
  kedro-datasets/RELEASE.md
  kedro-datasets/pyproject.toml
  kedro-datasets/tests/pandas/test_deltatable_dataset.py
  kedro-datasets/tests/partitions/test_incremental_dataset.py
  kedro-datasets/tests/partitions/test_partitioned_dataset.py
Due: run-build-kedro-datasets=false

fix(datasets): make connection_args optional (#586)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
Due: run-build-kedro-datasets=false

feat(airflow): add --tags option for node filtering in airflow create (#607)
  kedro-airflow/kedro_airflow/plugin.py
  kedro-airflow/tests/conftest.py
  kedro-airflow/tests/test_plugin.py
Due: run-build-kedro-airflow

fix: Add `--telemetry` flag to to kedro-telemetry CLI masking tests. (#637)
  kedro-telemetry/tests/test_masking.py
Due: run-build-kedro-telemetry

feat(datasets): Extend preview mechanism (#595)
  kedro-datasets/kedro_datasets/json/json_dataset.py
  kedro-datasets/kedro_datasets/pandas/json_dataset.py
  kedro-datasets/kedro_datasets/pandas/parquet_dataset.py
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
  kedro-datasets/tests/json/test_json_dataset.py
  kedro-datasets/tests/pandas/test_json_dataset.py
  kedro-datasets/tests/pandas/test_parquet_dataset.py
  kedro-datasets/tests/pandas/test_sql_dataset.py
Due: run-build-kedro-datasets=false

feat: Release kedro-datasets version 3.0.0 (#644)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

docs: Add `experimental` directory (#635)
  kedro-datasets/experimental/README.md
Due: run-build-kedro-datasets=false

fix: Drop support for `pandas < 2.0`, `pyspark < 3.0` on `kedro-datasets` (#643)
  kedro-datasets/RELEASE.md
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

feat(datasets): add dataset to load/save with Ibis (#560)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/ibis/__init__.py
  kedro-datasets/kedro_datasets/ibis/table_dataset.py
  kedro-datasets/pyproject.toml
  kedro-datasets/tests/ibis/__init__.py
  kedro-datasets/tests/ibis/test_table_dataset.py
Due: run-build-kedro-datasets=false

fix(datasets): Restore support for pandas 1 and PySpark 2 (#646)
  kedro-datasets/RELEASE.md
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

chore: Add `mypy` setup to Makefile (#638)
  .github/workflows/lint.yml
  Makefile
  kedro-airflow/kedro_airflow/grouping.py
  kedro-airflow/kedro_airflow/plugin.py
  kedro-airflow/pyproject.toml
  kedro-datasets/pyproject.toml
  kedro-docker/kedro_docker/helpers.py
  kedro-docker/kedro_docker/plugin.py
  kedro-docker/pyproject.toml
  kedro-telemetry/kedro_telemetry/masking.py
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/pyproject.toml
Due: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

build(docker): Add Python 3.12 support (#616)
  .github/workflows/kedro-docker.yml
  kedro-docker/RELEASE.md
  kedro-docker/features/environment.py
  kedro-docker/features/steps/cli_steps.py
Due: run-build-kedro-docker

build(telemetry): Release 0.4.0 (#648)
  kedro-telemetry/RELEASE.md
  kedro-telemetry/kedro_telemetry/__init__.py
Due: run-build-kedro-telemetry

docs: Add description of experimental and core datasets to contribution guide (#642)
  kedro-datasets/CONTRIBUTING.md
  kedro-datasets/experimental/README.md
Due: run-build-kedro-datasets=false

build(docker): Release 0.6.0 (#659)
  kedro-docker/RELEASE.md
  kedro-docker/kedro_docker/__init__.py
Due: run-build-kedro-docker

build(airflow): Add python 3.12 support (#614)
  .github/workflows/kedro-airflow.yml
  kedro-airflow/RELEASE.md
  kedro-airflow/pyproject.toml
Due: run-build-kedro-airflow

build: use new `exclude_also` over `exclude_lines` (#666)
  kedro-airflow/pyproject.toml
  kedro-datasets/pyproject.toml
  kedro-docker/pyproject.toml
Due: run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

fix(airflow): Fix nodes grouping (#664)
  kedro-airflow/kedro_airflow/grouping.py
  kedro-airflow/kedro_airflow/plugin.py
  kedro-airflow/tests/conftest.py
  kedro-airflow/tests/test_node_grouping.py
  kedro-airflow/tests/test_plugin.py
Due: run-build-kedro-airflow

Path conditions:
  run-build-kedro-telemetry: any of: kedro-telemetry/.*
  run-build-kedro-docker: any of: kedro-docker/.*
  run-build-kedro-airflow: any of: kedro-airflow/.*
  run-build-kedro-datasets=false: any of: kedro-datasets/.*
