Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

.circleci/config.yml:

version: 2.1

setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            kedro-telemetry/.* run-build-kedro-telemetry true
            kedro-docker/.* run-build-kedro-docker true
            kedro-airflow/.* run-build-kedro-airflow true
            kedro-datasets/.* run-build-kedro-datasets false
          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

Fix lint and test
  kedro-datasets/kedro_datasets/dask/csv_dataset.py
Due: run-build-kedro-datasets=false

Mypy
  kedro-datasets/kedro_datasets/dask/csv_dataset.py
Due: run-build-kedro-datasets=false

docs test
  kedro-datasets/kedro_datasets/dask/csv_dataset.py
Due: run-build-kedro-datasets=false

Fix unit tests
  kedro-datasets/kedro_datasets/dask/csv_dataset.py
  kedro-datasets/tests/dask/test_csv_dataset.py
Due: run-build-kedro-datasets=false

Remove extra comments
  kedro-datasets/tests/dask/test_csv_dataset.py
Due: run-build-kedro-datasets=false

Try fix test
  kedro-datasets/tests/dask/test_csv_dataset.py
Due: run-build-kedro-datasets=false

fix(datasets): add metadata parameter to datasets (#708)
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
  kedro-datasets/kedro_datasets/huggingface/hugging_face_dataset.py
  kedro-datasets/kedro_datasets/huggingface/transformer_pipeline_dataset.py
  kedro-datasets/kedro_datasets/ibis/table_dataset.py
  kedro-datasets/kedro_datasets/polars/eager_polars_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_streaming_dataset.py
Due: run-build-kedro-datasets=false

Added PyTorchDataset
  kedro-datasets/kedro_datasets_experimental/pytorch/__init__.py
  kedro-datasets/kedro_datasets_experimental/pytorch/pytorch_dataset.py
  kedro-datasets/tests/kedro_datasets_experimental/__init__.py
  kedro-datasets/tests/kedro_datasets_experimental/pytorch/__init__.py
  kedro-datasets/tests/kedro_datasets_experimental/pytorch/test_pytorch_dataset.py
Due: run-build-kedro-datasets=false

updated RELEASE.md
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

Move NetCDFDataset to experimental
  kedro-datasets/kedro_datasets_experimental/netcdf/__init__.py
  kedro-datasets/kedro_datasets_experimental/netcdf/netcdf_dataset.py
  kedro-datasets/kedro_datasets_experimental/tests/__init__.py
  kedro-datasets/kedro_datasets_experimental/tests/netcdf/__init__.py
  kedro-datasets/kedro_datasets_experimental/tests/netcdf/test_netcdf_dataset.py
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

release notes and fix reqs
  kedro-datasets/RELEASE.md
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Docs test
  kedro-datasets/docs/source/api/kedro_datasets.rst
  kedro-datasets/docs/source/api/kedro_datasets_experimental.rst
Due: run-build-kedro-datasets=false

Release notes + test
  kedro-datasets/RELEASE.md
  kedro-datasets/tests/dask/test_csv_dataset.py
Due: run-build-kedro-datasets=false

refactor(datasets): Move `NetCDFDataset` to experimental (#739)
  kedro-datasets/RELEASE.md
  kedro-datasets/docs/source/api/kedro_datasets.rst
  kedro-datasets/docs/source/api/kedro_datasets_experimental.rst
  kedro-datasets/kedro_datasets_experimental/netcdf/__init__.py
  kedro-datasets/kedro_datasets_experimental/netcdf/netcdf_dataset.py
  kedro-datasets/kedro_datasets_experimental/tests/__init__.py
  kedro-datasets/kedro_datasets_experimental/tests/netcdf/__init__.py
  kedro-datasets/kedro_datasets_experimental/tests/netcdf/test_netcdf_dataset.py
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Suggestion from code review
  kedro-datasets/kedro_datasets/dask/csv_dataset.py
Due: run-build-kedro-datasets=false

feat(datasets): Add CSVDataset to dask module (#627)
  kedro-datasets/RELEASE.md
  kedro-datasets/docs/source/api/kedro_datasets.rst
  kedro-datasets/kedro_datasets/dask/__init__.py
  kedro-datasets/kedro_datasets/dask/csv_dataset.py
  kedro-datasets/kedro_datasets_experimental/netcdf/netcdf_dataset.py
  kedro-datasets/tests/dask/test_csv_dataset.py
Due: run-build-kedro-datasets=false

add favicon
  kedro-datasets/docs/source/conf.py
Due: run-build-kedro-datasets=false

fix(datasets): add favicon to kedro-datasets doc (#742)
  kedro-datasets/docs/source/conf.py
Due: run-build-kedro-datasets=false

Bump up version
  kedro-telemetry/RELEASE.md
  kedro-telemetry/kedro_telemetry/__init__.py
Due: run-build-kedro-telemetry

build(telemetry): Release 0.5.0 (#743)
  kedro-telemetry/RELEASE.md
  kedro-telemetry/kedro_telemetry/__init__.py
Due: run-build-kedro-telemetry

Removed consent confirmation
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Updated tests
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Fixed ruff
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Update deprecated ruff API .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Use get_filepath_str instead
  kedro-datasets/kedro_datasets_experimental/rioxarray/geotiff_dataset.py
Due: run-build-kedro-datasets=false

Revert "Use get_filepath_str instead"
  kedro-datasets/kedro_datasets_experimental/rioxarray/geotiff_dataset.py
Due: run-build-kedro-datasets=false

unpin gcsfs test dependencies
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

bump uv
  .github/workflows/e2e-tests.yml
  .github/workflows/kedro-datasets.yml
  .github/workflows/lint.yml
  .github/workflows/unit-tests.yml
  kedro-datasets/.readthedocs.yaml
Due: run-build-kedro-datasets=false

Fixed docstring
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Removed debug output
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Dummy commit
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Updated huggingface-hub version
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Update readthedocs
  kedro-datasets/.readthedocs.yaml
Due: run-build-kedro-datasets=false

Update huggingface
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

pin accelerate
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false
