Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

Skip another test
  kedro-datasets/tests/databricks/test_base_table_dataset.py
Due: run-build-kedro-datasets=false

Try run dataset tests sequentially instead of in parallel
  Makefile
Due: none

Try again
  Makefile
Due: none

Run databricks tests sequentially and the rest in parallel
  Makefile
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

revert
  kedro-datasets/tests/databricks/test_base_table_dataset.py
Due: run-build-kedro-datasets=false

Update release notes
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

build: Run `databricks` dataset tests sequentially instead of in parallel (#1037)
  Makefile
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

fix(datasets): Session handling for `SnowParkDataset` (#1036)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/snowflake/snowpark_dataset.py
Due: run-build-kedro-datasets=false

Attempt to fix dependency assignments
  kedro-airflow/kedro_airflow/grouping.py
Due: run-build-kedro-airflow

Align text fixture with Pipeline.grouped_nodes_by_namespace behavior
  kedro-airflow/tests/test_node_grouping.py
Due: run-build-kedro-airflow

Fix typo
  kedro-airflow/tests/test_node_grouping.py
Due: run-build-kedro-airflow

Apply suggestions from code review
  kedro-datasets/kedro_datasets_experimental/optuna/study_dataset.py
Due: run-build-kedro-datasets=false

Update type_targets and remove docstrings
  kedro-datasets/docs/source/conf.py
  kedro-datasets/kedro_datasets_experimental/optuna/study_dataset.py
Due: run-build-kedro-datasets=false

Change group-by option
  kedro-airflow/kedro_airflow/plugin.py
  kedro-airflow/tests/test_plugin.py
Due: run-build-kedro-airflow

Add tests for group-by command
  kedro-airflow/tests/test_plugin.py
Due: run-build-kedro-airflow

Use KedroDeprecationWarning
  kedro-datasets/kedro_datasets/matplotlib/matplotlib_writer.py
  kedro-datasets/tests/matplotlib/test_matplotlib_dataset.py
Due: run-build-kedro-datasets=false

changes based on review
  kedro-datasets/kedro_datasets/matplotlib/matplotlib_dataset.py
Due: run-build-kedro-datasets=false

Update RELEASE.md
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

Change test fixtures for group-by namespace, align logic with Kedro API function
  kedro-airflow/kedro_airflow/grouping.py
  kedro-airflow/tests/test_node_grouping.py
  kedro-airflow/tests/test_plugin.py
Due: run-build-kedro-airflow

Extend err message
  kedro-datasets/kedro_datasets/_utils/spark_utils.py
Due: run-build-kedro-datasets=false

Refactor
  kedro-datasets/kedro_datasets/_utils/spark_utils.py
Due: run-build-kedro-datasets=false

Add missing re-raise
  kedro-datasets/kedro_datasets/_utils/spark_utils.py
Due: run-build-kedro-datasets=false

Format
  kedro-datasets/kedro_datasets/_utils/spark_utils.py
Due: run-build-kedro-datasets=false

address PR comments
  kedro-datasets/kedro_datasets/spark/spark_gbq_dataset.py
  kedro-datasets/tests/spark/test_spark_gbq_dataset.py
Due: run-build-kedro-datasets=false

address PR comments
  kedro-datasets/kedro_datasets/spark/spark_gbq_dataset.py
Due: run-build-kedro-datasets=false

Fix database validation and docstring example
  kedro-datasets/kedro_datasets_experimental/optuna/study_dataset.py
  kedro-datasets/kedro_datasets_experimental/tests/optuna/test_study_dataset.py
Due: run-build-kedro-datasets=false

refactor: Rename `MatplotlibWriter` to `MatplotlibDataset` (#1027)
  kedro-datasets/RELEASE.md
  kedro-datasets/docs/source/api/kedro_datasets.rst
  kedro-datasets/kedro_datasets/matplotlib/__init__.py
  kedro-datasets/kedro_datasets/matplotlib/matplotlib_dataset.py
  kedro-datasets/kedro_datasets/matplotlib/matplotlib_writer.py
  kedro-datasets/pyproject.toml
  kedro-datasets/tests/matplotlib/test_matplotlib_dataset.py
Due: run-build-kedro-datasets=false

chore(datasets): pin Polars to avoid build failure
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Change fixtures to make more sense
  kedro-airflow/tests/test_node_grouping.py
Due: run-build-kedro-airflow

Make sure node dependencies are always sorted
  kedro-airflow/kedro_airflow/grouping.py
  kedro-airflow/tests/test_plugin.py
Due: run-build-kedro-airflow

chore(datasets): pin Polars to avoid build failure (#1042)
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Use lists instead of sets
  kedro-airflow/kedro_airflow/grouping.py
Due: run-build-kedro-airflow

feat(kedro_datasets_experimental): versioned_netcdf_dataset
  kedro-datasets/kedro_datasets_experimental/netcdf/__init__.py
  kedro-datasets/kedro_datasets_experimental/netcdf/versioned_netcdf_dataset.py
  kedro-datasets/kedro_datasets_experimental/tests/netcdf/test_versioned_netcdf_dataset.py
Due: run-build-kedro-datasets=false

address PR comments + fix tests
  kedro-datasets/kedro_datasets/spark/__init__.py
  kedro-datasets/kedro_datasets/spark/gbq_dataset.py
  kedro-datasets/tests/spark/test_gbq_dataset.py
Due: run-build-kedro-datasets=false

fix doctest ignore make target
  Makefile
Due: none

fix credentials handling in pandas GBQ datasets
  kedro-datasets/kedro_datasets/pandas/gbq_dataset.py
  kedro-datasets/tests/pandas/test_gbq_dataset.py
Due: run-build-kedro-datasets=false

update RELEASE.md
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

Fix pipeline checks: - add # noqa: PLR0913 to constructor - remove example credentials - fix lib nameu u8darts-all -> 8darts[all]
  kedro-datasets/kedro_datasets_experimental/darts/darts_torch_model_dataset.py
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Path conditions:
  run-build-kedro-telemetry: any of: kedro-telemetry/.*
  run-build-kedro-docker: any of: kedro-docker/.*
  run-build-kedro-airflow: any of: kedro-airflow/.*
  run-build-kedro-datasets=false: any of: kedro-datasets/.*
