Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

.circleci/config.yml:

version: 2.1

setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            kedro-telemetry/.* run-build-kedro-telemetry true
            kedro-docker/.* run-build-kedro-docker true
            kedro-airflow/.* run-build-kedro-airflow true
            kedro-datasets/.* run-build-kedro-datasets false
          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

rioxarray 0.14
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

rioxarray 0.15
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

rioxarray 0.12
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

rioxarray 0.9
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

fixed dataset typo
  kedro-datasets/kedro_datasets/xarray/geotiff_dataset.py
Due: run-build-kedro-datasets=false

fixed docstring for sphinx
  kedro-datasets/kedro_datasets/xarray/geotiff_dataset.py
Due: run-build-kedro-datasets=false

run black
  kedro-datasets/kedro_datasets/xarray/geotiff_dataset.py
Due: run-build-kedro-datasets=false

sort imports
  kedro-datasets/tests/xarray/test_geotiff_dataset.py
Due: run-build-kedro-datasets=false

Add ruff to pre-commit for telemetry
  .pre-commit-config.yaml
  Makefile
Due: none

class docstring
  kedro-datasets/kedro_datasets/xarray/geotiff_dataset.py
Due: run-build-kedro-datasets=false

Add ruff setup to kedro-airflow
  .pre-commit-config.yaml
  kedro-airflow/.pylintrc
  kedro-airflow/CONTRIBUTING.md
  kedro-airflow/features/environment.py
  kedro-airflow/features/steps/cli_steps.py
  kedro-airflow/features/steps/sh_run.py
  kedro-airflow/kedro_airflow/plugin.py
  kedro-airflow/pyproject.toml
  kedro-airflow/tests/conftest.py
  kedro-airflow/tests/test_plugin.py
Due: run-build-kedro-airflow

black
  kedro-datasets/kedro_datasets/xarray/geotiff_dataset.py
Due: run-build-kedro-datasets=false

fixed pylint
  kedro-datasets/tests/xarray/test_geotiff_dataset.py
Due: run-build-kedro-datasets=false

Add ruff setup to kedro-docker
  .pre-commit-config.yaml
  kedro-docker/.pylintrc
  kedro-docker/CONTRIBUTING.md
  kedro-docker/features/environment.py
  kedro-docker/features/steps/sh_run.py
  kedro-docker/features/steps/util.py
  kedro-docker/kedro_docker/helpers.py
  kedro-docker/kedro_docker/plugin.py
  kedro-docker/pyproject.toml
Due: run-build-kedro-docker

Run ruff in make lint command
  Makefile
Due: none

Add ruff to test requirements
  kedro-airflow/pyproject.toml
  kedro-datasets/setup.py
  kedro-docker/pyproject.toml
Due: run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

Remove all mentions of pylint
  .pre-commit-config.yaml
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
  kedro-datasets/kedro_datasets/pandas/csv_dataset.py
  kedro-datasets/kedro_datasets/pandas/deltatable_dataset.py
  kedro-datasets/kedro_datasets/pandas/excel_dataset.py
  kedro-datasets/kedro_datasets/pandas/gbq_dataset.py
  kedro-datasets/kedro_datasets/pandas/hdf_dataset.py
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
  kedro-datasets/kedro_datasets/polars/generic_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_hive_dataset.py
  kedro-datasets/setup.py
  kedro-datasets/tests/api/test_api_dataset.py
  kedro-datasets/tests/databricks/conftest.py
  kedro-datasets/tests/databricks/test_managed_table_dataset.py
  kedro-datasets/tests/matplotlib/test_matplotlib_writer.py
  kedro-datasets/tests/pandas/test_gbq_dataset.py
  kedro-datasets/tests/pandas/test_generic_dataset.py
  kedro-datasets/tests/pandas/test_hdf_dataset.py
  kedro-datasets/tests/pandas/test_sql_dataset.py
  kedro-datasets/tests/spark/test_spark_dataset.py
  kedro-datasets/tests/spark/test_spark_hive_dataset.py
  kedro-datasets/tests/tensorflow/test_tensorflow_model_dataset.py
Due: run-build-kedro-datasets=false

Fix linting in tensorflow dataset
  kedro-datasets/kedro_datasets/tensorflow/tensorflow_model_dataset.py
Due: run-build-kedro-datasets=false

Run linting on python 3.11
  .github/workflows/kedro-airflow.yml
  .github/workflows/kedro-docker.yml
  .github/workflows/kedro-telemetry.yml
Due: none

Bump pre-commit version
  .pre-commit-config.yaml
Due: none

added release notes
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

Bump pre-commit version
  kedro-airflow/pyproject.toml
  kedro-datasets/setup.py
  kedro-docker/features/steps/sh_run.py
  kedro-docker/kedro_docker/plugin.py
  kedro-docker/pyproject.toml
  kedro-telemetry/pyproject.toml
Due: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

Try bump
  kedro-docker/pyproject.toml
Due: run-build-kedro-docker

Update bump
  kedro-airflow/pyproject.toml
  kedro-datasets/setup.py
  kedro-docker/pyproject.toml
  kedro-telemetry/pyproject.toml
Due: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

Remove upperbound precommit
  kedro-datasets/setup.py
  kedro-docker/pyproject.toml
  kedro-telemetry/pyproject.toml
Due: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-datasets=false

added yaml example
  kedro-datasets/kedro_datasets/xarray/geotiff_dataset.py
Due: run-build-kedro-datasets=false

feat(datasets): create custom `DeprecationWarning`
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

chore(datasets): show Kedro's deprecation warnings
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

fix(datasets): remove unused imports in test files
  kedro-datasets/tests/holoviews/test_holoviews_writer.py
  kedro-datasets/tests/matplotlib/test_matplotlib_writer.py
Due: run-build-kedro-datasets=false

docs(datasets): add note about DataSet deprecation
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

cloudpickle is an interesting extension of the pickle functionality.
  kedro-datasets/kedro_datasets/pickle/pickle_dataset.py
  kedro-datasets/kedro_datasets/redis/redis_dataset.py
  kedro-datasets/setup.py
  kedro-datasets/tests/pickle/test_pickle_dataset.py
  kedro-datasets/tests/redis/test_redis_dataset.py
Due: run-build-kedro-datasets=false

fix: changed version
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

fix: removed Anchors in links in docs (otherwise sphinx crashes)
  kedro-datasets/kedro_datasets/pickle/pickle_dataset.py
Due: run-build-kedro-datasets=false

fix: removed some more Anchors in links in docs (otherwise sphinx crashes)
  kedro-datasets/kedro_datasets/redis/redis_dataset.py
Due: run-build-kedro-datasets=false

removed trailing whitespace
  kedro-datasets/kedro_datasets/redis/redis_dataset.py
Due: run-build-kedro-datasets=false

Fix(datasets): linting errors
  kedro-datasets/tests/conftest.py
  kedro-datasets/tests/dask/test_parquet_dataset.py
Due: run-build-kedro-datasets=false

Fix(datasets): rename PolarsDataSet to PolarsDataSet
  kedro-datasets/kedro_datasets/polars/polars_dataset.py
Due: run-build-kedro-datasets=false
