Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

.circleci/config.yml:

version: 2.1

setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            kedro-telemetry/.* run-build-kedro-telemetry true
            kedro-docker/.* run-build-kedro-docker true
            kedro-airflow/.* run-build-kedro-airflow true
            kedro-datasets/.* run-build-kedro-datasets false
          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

docs(datasets): fix code blocks and `data_set` use (#417)
  kedro-datasets/kedro_datasets/dask/parquet_dataset.py
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
  kedro-datasets/kedro_datasets/geopandas/geojson_dataset.py
  kedro-datasets/kedro_datasets/pandas/gbq_dataset.py
  kedro-datasets/kedro_datasets/partitions/incremental_dataset.py
  kedro-datasets/kedro_datasets/partitions/partitioned_dataset.py
  kedro-datasets/kedro_datasets/polars/lazy_polars_dataset.py
  kedro-datasets/kedro_datasets/spark/deltatable_dataset.py
Due: run-build-kedro-datasets=false

Remove redundant 3.8 markers
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

fix: TF model load failure when model is saved as a TensorFlow Saved Model format (#410)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/tensorflow/tensorflow_model_dataset.py
Due: run-build-kedro-datasets=false

chore(datasets): ignore non-passing tests to make CI pass
  Makefile
  kedro-datasets/kedro_datasets/polars/__init__.py
Due: run-build-kedro-datasets=false

chore(datasets): fix comment location
  Makefile
Due: none

chore(datasets): fix .py.py
  Makefile
Due: none

chore(datasets): don't measure coverage on doctest run
  Makefile
Due: none

build(datasets): fix windows and snowflake stuff in Makefile
  Makefile
Due: none

chore: Drop support for Python 3.7 on kedro-datasets (#419)
  kedro-datasets/README.md
  kedro-datasets/RELEASE.md
  kedro-datasets/pyproject.toml
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

test(datasets): run doctests to check examples run (#416)
  Makefile
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
  kedro-datasets/kedro_datasets/polars/__init__.py
Due: run-build-kedro-datasets=false

update release notes
  kedro-telemetry/RELEASE.md
Due: run-build-kedro-telemetry

fix tests
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

remove double execution by moving to after catalog created hook
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

remove unsued fixture
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Remove nav_version next to Kedro logo in top left; add Kedro logo
  kedro-datasets/docs/source/_templates/layout.html
  kedro-datasets/docs/source/kedro_logo.svg
Due: run-build-kedro-datasets=false

Revise project name and author name
  kedro-datasets/docs/source/conf.py
Due: run-build-kedro-datasets=false

Use full kedro icon and type for logo
  kedro-datasets/docs/source/_templates/layout.html
  kedro-datasets/docs/source/conf.py
  kedro-datasets/docs/source/kedro-horizontal-color-on-light.svg
Due: run-build-kedro-datasets=false

add doctest for the new datasets
  Makefile
Due: none

Update release notes
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

feat(datasets): Add support for `databricks-connect>=13.0` (#352)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
  kedro-datasets/kedro_datasets/spark/deltatable_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_hive_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_jdbc_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_streaming_dataset.py
  kedro-datasets/tests/spark/test_deltatable_dataset.py
  kedro-datasets/tests/spark/test_spark_dataset.py
  kedro-datasets/tests/spark/test_spark_jdbc_dataset.py
  kedro-datasets/tests/spark/test_spark_streaming_dataset.py
Due: run-build-kedro-datasets=false

Consistently write "PySpark" rather than "Pyspark"
  kedro-datasets/kedro_datasets/spark/README.md
Due: run-build-kedro-datasets=false

fix(telemetry): remove double execution by moving to after catalog created hook (#422)
  kedro-telemetry/RELEASE.md
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Add close btn to mobile nav
  kedro-datasets/docs/source/_templates/layout.html
Due: run-build-kedro-datasets=false

Add css for mobile nav logo image
  kedro-datasets/docs/source/_templates/layout.html
Due: run-build-kedro-datasets=false

Add python version support policy to plugin readmes
  kedro-airflow/README.md
  kedro-datasets/README.md
  kedro-docker/README.md
  kedro-telemetry/README.md
Due: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

Fix commit mistake
  kedro-airflow/README.md
  kedro-datasets/README.md
  kedro-docker/README.md
  kedro-telemetry/README.md
Due: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

Temporarily pin connexion
  kedro-airflow/pyproject.toml
Due: run-build-kedro-airflow

docs: Add python version support policy to plugin `README.md`s (#425)
  kedro-airflow/README.md
  kedro-airflow/pyproject.toml
  kedro-datasets/README.md
  kedro-docker/README.md
  kedro-telemetry/README.md
Due: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

Update RELEASE.md
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

Relax pandas.HDFDataSet dependencies which are broken on Window (#402)
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

Update close button for mobile nav
  kedro-datasets/docs/source/_templates/layout.html
Due: run-build-kedro-datasets=false

Add open button to mobile nav
  kedro-datasets/docs/source/_templates/layout.html
Due: run-build-kedro-datasets=false

Delete kedro-datasets/docs/source/kedro-horizontal-color-on-light.svg
  kedro-datasets/docs/source/kedro-horizontal-color-on-light.svg
Due: run-build-kedro-datasets=false

Update conf.py
  kedro-datasets/docs/source/conf.py
Due: run-build-kedro-datasets=false

Update layout.html
  kedro-datasets/docs/source/_templates/layout.html
Due: run-build-kedro-datasets=false

Remove svg from docs -- not needed??
  kedro-datasets/docs/source/kedro_logo.svg
Due: run-build-kedro-datasets=false

linter error fix
  kedro-datasets/docs/source/_templates/layout.html
Due: run-build-kedro-datasets=false

docs(airflow): Use new docs link (#393)
  kedro-airflow/README.md
Due: run-build-kedro-airflow

style: Add shared CSS and meganav to datasets docs (#400)
  kedro-datasets/docs/source/_templates/layout.html
  kedro-datasets/docs/source/conf.py
Due: run-build-kedro-datasets=false

feat(datasets): make `HoloviewsWriter.__init__` keyword only
  kedro-datasets/kedro_datasets/holoviews/holoviews_writer.py
  kedro-datasets/tests/holoviews/test_holoviews_writer.py
Due: run-build-kedro-datasets=false
