Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

Backfill static assets for version kedro-datasets-2.0.0
  kedro-datasets/.readthedocs.yaml
  kedro-datasets/docs/source/_templates/layout.html
  kedro-datasets/docs/source/conf.py
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

Update badges for kedro-datasets
  kedro-datasets/README.md
Due: run-build-kedro-datasets=false

(telemetry) Update badges and remove support for python3.8
  kedro-telemetry/README.md
Due: run-build-kedro-telemetry

Update pyproject.toml
  kedro-telemetry/pyproject.toml
Due: run-build-kedro-telemetry

Update README.md
  kedro-docker/README.md
Due: run-build-kedro-docker

Update pyproject.toml
  kedro-docker/pyproject.toml
Due: run-build-kedro-docker

(airflow) drop python 3.8 support and update badge
  kedro-airflow/pyproject.toml
Due: run-build-kedro-airflow

Drop python 3.8 support and update badge
  kedro-airflow/README.md
Due: run-build-kedro-airflow

Update pyproject.toml
  kedro-airflow/pyproject.toml
Due: run-build-kedro-airflow

feat(datasets): `NetCDFDataset` support for `engine="h5netcdf"` [#620] (#631)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/netcdf/netcdf_dataset.py
  kedro-datasets/pyproject.toml
  kedro-datasets/tests/netcdf/test_netcdf_dataset.py
Due: run-build-kedro-datasets=false

Update README.md
  kedro-airflow/README.md
Due: run-build-kedro-airflow

Update README.md
  kedro-telemetry/README.md
Due: run-build-kedro-telemetry

Update README.md
  kedro-datasets/README.md
Due: run-build-kedro-datasets=false

Update pyproject.toml
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

revert
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
Due: run-build-kedro-datasets=false

initial sqlframe table version
  kedro-datasets/kedro_datasets_experimental/sqlframe/__init__.py
  kedro-datasets/kedro_datasets_experimental/sqlframe/resolvers.py
  kedro-datasets/kedro_datasets_experimental/sqlframe/sqlframe.py
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

initial sqlframe filepath version
  kedro-datasets/kedro_datasets_experimental/sqlframe/sqlframe.py
Due: run-build-kedro-datasets=false

Update managed_table_dataset.py
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
Due: run-build-kedro-datasets=false

update docstring
  kedro-datasets/kedro_datasets_experimental/sqlframe/sqlframe.py
Due: run-build-kedro-datasets=false

docs(telemetry): Update badges (#690)
  kedro-telemetry/README.md
Due: run-build-kedro-telemetry

fix tests
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
  kedro-datasets/tests/databricks/test_managed_table_dataset.py
Due: run-build-kedro-datasets=false

docs(airflow): update badge (#693)
  kedro-airflow/README.md
Due: run-build-kedro-airflow

build(datasets):Make sure experimental dependencies are installed for check builds step (#688)
  .github/workflows/kedro-datasets.yml
Due: none

build(datasets): Update badges for kedro-datasets (#689)
  kedro-datasets/README.md
Due: run-build-kedro-datasets=false

Add async load and save methods
  kedro-datasets/kedro_datasets/partitions/partitioned_dataset.py
Due: run-build-kedro-datasets=false

Update lint
  kedro-datasets/kedro_datasets/partitions/partitioned_dataset.py
Due: run-build-kedro-datasets=false

Fix mypy
  kedro-datasets/kedro_datasets/partitions/partitioned_dataset.py
Due: run-build-kedro-datasets=false

Update tests
  kedro-datasets/kedro_datasets/partitions/partitioned_dataset.py
  kedro-datasets/tests/partitions/test_partitioned_dataset.py
Due: run-build-kedro-datasets=false

Update formatting
  kedro-datasets/docs/source/conf.py
  kedro-datasets/tests/partitions/test_partitioned_dataset.py
Due: run-build-kedro-datasets=false

Update RELEASE.md
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

Update Readme
  kedro-airflow/README.md
Due: run-build-kedro-airflow

Bump version
  kedro-airflow/RELEASE.md
  kedro-airflow/kedro_airflow/__init__.py
Due: run-build-kedro-airflow

Path conditions:
  run-build-kedro-telemetry: any of: kedro-telemetry/.*
  run-build-kedro-docker: any of: kedro-docker/.*
  run-build-kedro-airflow: any of: kedro-airflow/.*
  run-build-kedro-datasets=false: any of: kedro-datasets/.*
