Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

fix(datasets): Drop pyarrow constraint when using snowpark (#538)
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

pip ruamel
  kedro-docker/pyproject.toml
Due: run-build-kedro-docker

Try something
  kedro-docker/features/docker.feature
Due: run-build-kedro-docker

Revert "Try something"
  kedro-docker/features/docker.feature
Due: run-build-kedro-docker

Try install test reqs
  kedro-docker/features/environment.py
Due: run-build-kedro-docker

Undo trials
  kedro-docker/features/environment.py
Due: run-build-kedro-docker

Unpin kedro from main
  .github/workflows/e2e-tests.yml
Due: none

Undo unpin kedro from main
  .github/workflows/e2e-tests.yml
Due: none

Pin ruamel.yaml
  kedro-docker/pyproject.toml
Due: run-build-kedro-docker

Add missing comma
  kedro-docker/pyproject.toml
Due: run-build-kedro-docker

Test explicit install
  kedro-docker/pyproject.toml
Due: run-build-kedro-docker

change pip v
  kedro-docker/features/environment.py
  kedro-docker/features/steps/cli_steps.py
Due: run-build-kedro-docker

change pip v
  kedro-docker/features/environment.py
Due: run-build-kedro-docker

show stdout
  kedro-docker/features/steps/cli_steps.py
Due: run-build-kedro-docker

use no cache dir
  kedro-docker/features/steps/cli_steps.py
  kedro-docker/kedro_docker/template/Dockerfile.simple
  kedro-docker/kedro_docker/template/Dockerfile.spark
Due: run-build-kedro-docker

revert extra changes
  kedro-docker/features/steps/cli_steps.py
  kedro-docker/pyproject.toml
Due: run-build-kedro-docker

pin pip
  kedro-docker/features/docker.feature
  kedro-docker/features/environment.py
Due: run-build-kedro-docker

gitpod
  .gitpod.yml
Due: none

Fix masking
  kedro-telemetry/kedro_telemetry/masking.py
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

pip inside dockerfile
  kedro-docker/kedro_docker/template/Dockerfile.simple
  kedro-docker/kedro_docker/template/Dockerfile.spark
Due: run-build-kedro-docker

docs: Update kedro-telemetry docs on which data is collected (#546)
  kedro-telemetry/README.md
Due: run-build-kedro-telemetry

Change masking approach
  kedro-telemetry/kedro_telemetry/masking.py
Due: run-build-kedro-telemetry

pip pip inside dockerfile
  .gitpod.yml
  kedro-docker/kedro_docker/template/Dockerfile.simple
  kedro-docker/kedro_docker/template/Dockerfile.spark
Due: run-build-kedro-docker

Fix tests
  kedro-telemetry/tests/test_masking.py
Due: run-build-kedro-telemetry

ci(docker): Trying to fix e2e tests (#548)
  kedro-docker/features/docker.feature
  kedro-docker/features/environment.py
  kedro-docker/kedro_docker/template/Dockerfile.simple
  kedro-docker/kedro_docker/template/Dockerfile.spark
Due: run-build-kedro-docker

Fix tests
  kedro-telemetry/kedro_telemetry/masking.py
  kedro-telemetry/tests/test_masking.py
Due: run-build-kedro-telemetry

MSSQL multiple params must be a tuple
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
Due: run-build-kedro-datasets=false

Fix tests
  kedro-telemetry/kedro_telemetry/masking.py
Due: run-build-kedro-telemetry

Revert unpinning of pip
  .github/workflows/kedro-datasets.yml
  .github/workflows/lint.yml
  .github/workflows/unit-tests.yml
Due: none

chore: bump actions versions (#539)
  .github/workflows/check-release.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/kedro-datasets.yml
  .github/workflows/lint.yml
  .github/workflows/unit-tests.yml
Due: none

Direct readers to Kedro documentation for further information on telemetry
  kedro-telemetry/README.md
Due: run-build-kedro-telemetry

fix(datasets): sql_dataset load_args:params must be a tuple (MSSQL only)
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
Due: run-build-kedro-datasets=false

Fix telemetry data and add example_pipeline
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Fix tests
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Path conditions:
  run-build-kedro-telemetry: any of: kedro-telemetry/.*
  run-build-kedro-docker: any of: kedro-docker/.*
  run-build-kedro-airflow: any of: kedro-airflow/.*
  run-build-kedro-datasets=false: any of: kedro-datasets/.*
