Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

.circleci/config.yml:

version: 2.1

setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            kedro-telemetry/.* run-build-kedro-telemetry true
            kedro-docker/.* run-build-kedro-docker true
            kedro-airflow/.* run-build-kedro-airflow true
            kedro-datasets/.* run-build-kedro-datasets false
          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

Try upgrade pip
  .github/workflows/e2e-tests.yml
  .github/workflows/unit-tests.yml
Due: none

Restore other files pt 2
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

Lint
  .github/workflows/kedro-airflow.yml
Due: none

Remove bandit pin airflow
  kedro-airflow/pyproject.toml
Due: run-build-kedro-airflow

Temp change for faster CI
  .github/workflows/kedro-airflow.yml
  .github/workflows/kedro-docker.yml
Due: none

Try unpinned bandit
  kedro-airflow/pyproject.toml
  kedro-docker/features/environment.py
  kedro-docker/pyproject.toml
Due: run-build-kedro-docker, run-build-kedro-airflow

Revert "Drop Python upper bound"
  kedro-airflow/pyproject.toml
  kedro-docker/pyproject.toml
Due: run-build-kedro-docker, run-build-kedro-airflow

Apply suggestions from code review
  .github/workflows/kedro-docker.yml
Due: none

build(docker): Add 3.11 support to kedro-docker (#329)
  .github/workflows/kedro-docker.yml
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  kedro-datasets/setup.py
  kedro-docker/RELEASE.md
  kedro-docker/pyproject.toml
Due: run-build-kedro-docker, run-build-kedro-datasets=false

Add changes to RELEASE.md
  kedro-telemetry/RELEASE.md
Due: run-build-kedro-telemetry

Add changes to RELEASE.md
  kedro-airflow/RELEASE.md
Due: run-build-kedro-airflow

build(airflow): Add python 3.11 to airflow (#332)
  .github/workflows/kedro-airflow.yml
  kedro-airflow/RELEASE.md
  kedro-airflow/features/steps/cli_steps.py
  kedro-airflow/pyproject.toml
Due: run-build-kedro-airflow

build(telemetry): Add python 3.11 to telemetry (#330)
  .github/workflows/kedro-telemetry.yml
  kedro-telemetry/RELEASE.md
  kedro-telemetry/tests/test_masking.py
Due: run-build-kedro-telemetry

refactor(datasets): deprecate "DataSet" type names (dask)
  kedro-datasets/docs/source/kedro_datasets.rst
  kedro-datasets/kedro_datasets/dask/__init__.py
  kedro-datasets/kedro_datasets/dask/parquet_dataset.py
  kedro-datasets/tests/dask/test_parquet_dataset.py
Due: run-build-kedro-datasets=false

refactor(datasets): deprecate "DataSet" type names (databricks)
  kedro-datasets/docs/source/kedro_datasets.rst
  kedro-datasets/kedro_datasets/databricks/__init__.py
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
  kedro-datasets/tests/databricks/test_managed_table_dataset.py
Due: run-build-kedro-datasets=false

refactor(datasets): deprecate "DataSet" type names (biosequence)
  kedro-datasets/docs/source/kedro_datasets.rst
  kedro-datasets/kedro_datasets/biosequence/__init__.py
  kedro-datasets/kedro_datasets/biosequence/biosequence_dataset.py
  kedro-datasets/tests/biosequence/__init__.py
  kedro-datasets/tests/biosequence/test_biosequence_dataset.py
Due: run-build-kedro-datasets=false

refactor(datasets): deprecate "DataSet" type names (api)
  kedro-datasets/docs/source/kedro_datasets.rst
  kedro-datasets/kedro_datasets/api/__init__.py
  kedro-datasets/kedro_datasets/api/api_dataset.py
  kedro-datasets/tests/api/test_api_dataset.py
Due: run-build-kedro-datasets=false

refactor(datasets): deprecate "DataSet" type names (email)
  kedro-datasets/docs/source/kedro_datasets.rst
  kedro-datasets/kedro_datasets/email/__init__.py
  kedro-datasets/kedro_datasets/email/message_dataset.py
  kedro-datasets/tests/email/test_message_dataset.py
Due: run-build-kedro-datasets=false

refactor(datasets): deprecate "DataSet" type names (geopandas)
  kedro-datasets/docs/source/kedro_datasets.rst
  kedro-datasets/kedro_datasets/geopandas/__init__.py
  kedro-datasets/kedro_datasets/geopandas/geojson_dataset.py
  kedro-datasets/tests/geopandas/__init__.py
  kedro-datasets/tests/geopandas/test_geojson_dataset.py
Due: run-build-kedro-datasets=false

refactor(datasets): deprecate "DataSet" type names (holoviews)
  kedro-datasets/kedro_datasets/holoviews/__init__.py
  kedro-datasets/kedro_datasets/holoviews/holoviews_writer.py
  kedro-datasets/tests/holoviews/test_holoviews_writer.py
Due: run-build-kedro-datasets=false

refactor(datasets): deprecate "DataSet" type names (json)
  kedro-datasets/docs/source/kedro_datasets.rst
  kedro-datasets/kedro_datasets/json/__init__.py
  kedro-datasets/kedro_datasets/json/json_dataset.py
  kedro-datasets/tests/json/test_json_dataset.py
Due: run-build-kedro-datasets=false

refactor(datasets): deprecate "DataSet" type names (matplotlib)
  kedro-datasets/kedro_datasets/matplotlib/__init__.py
  kedro-datasets/kedro_datasets/matplotlib/matplotlib_writer.py
  kedro-datasets/tests/matplotlib/test_matplotlib_writer.py
Due: run-build-kedro-datasets=false

refactor(datasets): deprecate "DataSet" type names (networkx)
  kedro-datasets/docs/source/kedro_datasets.rst
  kedro-datasets/kedro_datasets/networkx/__init__.py
  kedro-datasets/kedro_datasets/networkx/gml_dataset.py
  kedro-datasets/kedro_datasets/networkx/graphml_dataset.py
  kedro-datasets/kedro_datasets/networkx/json_dataset.py
  kedro-datasets/tests/networkx/test_gml_dataset.py
  kedro-datasets/tests/networkx/test_graphml_dataset.py
  kedro-datasets/tests/networkx/test_json_dataset.py
Due: run-build-kedro-datasets=false

refactor(datasets): deprecate "DataSet" type names (pandas)
  kedro-datasets/docs/source/kedro_datasets.rst
  kedro-datasets/kedro_datasets/pandas/__init__.py
Due: run-build-kedro-datasets=false

Update condition for failure
  .github/workflows/nightly-build.yml
Due: none

refactor(datasets): deprecate "DataSet" type names (pandas.csv_dataset)
  kedro-datasets/kedro_datasets/pandas/csv_dataset.py
  kedro-datasets/tests/pandas/test_csv_dataset.py
Due: run-build-kedro-datasets=false

refactor(datasets): deprecate "DataSet" type names (pandas.deltatable_dataset)
  kedro-datasets/kedro_datasets/pandas/__init__.py
  kedro-datasets/kedro_datasets/pandas/deltatable_dataset.py
  kedro-datasets/tests/pandas/test_deltatable_dataset.py
Due: run-build-kedro-datasets=false

refactor(datasets): deprecate "DataSet" type names (pandas.excel_dataset)
  kedro-datasets/kedro_datasets/pandas/excel_dataset.py
  kedro-datasets/tests/pandas/test_excel_dataset.py
Due: run-build-kedro-datasets=false

refactor(datasets): deprecate "DataSet" type names (pandas.feather_dataset)
  kedro-datasets/kedro_datasets/pandas/feather_dataset.py
  kedro-datasets/tests/pandas/test_feather_dataset.py
Due: run-build-kedro-datasets=false

refactor(datasets): deprecate "DataSet" type names (pandas.gbq_dataset)
  kedro-datasets/kedro_datasets/pandas/gbq_dataset.py
  kedro-datasets/tests/pandas/test_gbq_dataset.py
Due: run-build-kedro-datasets=false

refactor(datasets): deprecate "DataSet" type names (pandas.json_dataset)
  kedro-datasets/kedro_datasets/pandas/json_dataset.py
  kedro-datasets/tests/pandas/test_json_dataset.py
Due: run-build-kedro-datasets=false

refactor(datasets): deprecate "DataSet" type names (pandas.generic_dataset)
  kedro-datasets/kedro_datasets/pandas/generic_dataset.py
  kedro-datasets/tests/pandas/test_generic_dataset.py
Due: run-build-kedro-datasets=false

refactor(datasets): deprecate "DataSet" type names (pandas.xml_dataset)
  kedro-datasets/kedro_datasets/pandas/xml_dataset.py
  kedro-datasets/tests/pandas/test_xml_dataset.py
Due: run-build-kedro-datasets=false

refactor(datasets): deprecate "DataSet" type names (pandas.hdf_dataset)
  kedro-datasets/kedro_datasets/pandas/hdf_dataset.py
  kedro-datasets/tests/pandas/test_hdf_dataset.py
Due: run-build-kedro-datasets=false

refactor(datasets): deprecate "DataSet" type names (pandas.sql_dataset)
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
  kedro-datasets/tests/pandas/test_sql_dataset.py
Due: run-build-kedro-datasets=false

refactor(datasets): deprecate "DataSet" type names (pandas.parquet_dataset)
  kedro-datasets/kedro_datasets/pandas/parquet_dataset.py
  kedro-datasets/tests/pandas/test_parquet_dataset.py
Due: run-build-kedro-datasets=false

refactor(datasets): deprecate "DataSet" type names (pickle)
  kedro-datasets/docs/source/kedro_datasets.rst
  kedro-datasets/kedro_datasets/pickle/__init__.py
  kedro-datasets/kedro_datasets/pickle/pickle_dataset.py
  kedro-datasets/kedro_datasets/pillow/__init__.py
  kedro-datasets/tests/pickle/test_pickle_dataset.py
Due: run-build-kedro-datasets=false

refactor(datasets): deprecate "DataSet" type names (pillow)
  kedro-datasets/docs/source/kedro_datasets.rst
  kedro-datasets/kedro_datasets/pickle/__init__.py
  kedro-datasets/kedro_datasets/pillow/image_dataset.py
  kedro-datasets/tests/pillow/test_image_dataset.py
Due: run-build-kedro-datasets=false

refactor(datasets): deprecate "DataSet" type names (plotly)
  kedro-datasets/docs/source/kedro_datasets.rst
  kedro-datasets/kedro_datasets/plotly/__init__.py
  kedro-datasets/kedro_datasets/plotly/json_dataset.py
  kedro-datasets/kedro_datasets/plotly/plotly_dataset.py
  kedro-datasets/tests/plotly/test_json_dataset.py
  kedro-datasets/tests/plotly/test_plotly_dataset.py
Due: run-build-kedro-datasets=false

fix(datasets): Don't warn for SparkDataset on Databricks when using s3
  kedro-datasets/kedro_datasets/spark/spark_dataset.py
  kedro-datasets/tests/spark/test_spark_dataset.py
Due: run-build-kedro-datasets=false
