Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

.circleci/config.yml:

version: 2.1

setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            kedro-telemetry/.* run-build-kedro-telemetry true
            kedro-docker/.* run-build-kedro-docker true
            kedro-airflow/.* run-build-kedro-airflow true
            kedro-datasets/.* run-build-kedro-datasets false
          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

Update kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
Due: run-build-kedro-datasets=false

changes based on review
  .github/workflows/check-release.yml
  tools/github_actions/github_actions_release.py
Due: none

fix script to not append continuously
  tools/github_actions/github_actions_release.py
Due: none

ci(telemetry): update isort config to correct sort
  kedro-telemetry/pyproject.toml
Due: run-build-kedro-telemetry

Don't use profile ¯\_(ツ)_/¯
  kedro-telemetry/pyproject.toml
Due: run-build-kedro-telemetry

chore(datasets): remove empty `tool.black` section
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

chore(docker): remove empty `tool.black` section
  kedro-docker/pyproject.toml
Due: run-build-kedro-docker

Update release notes
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

Lower pinned Kedro version in pyproject.toml
  kedro-datasets/pyproject.toml
  kedro-datasets/requirements.txt
Due: run-build-kedro-datasets=false

change pypi api token logic
  .github/workflows/check-release.yml
Due: none

ci: ensure plugin requirements get installed in CI (#208)
  .circleci/continue_config.yml
  .github/workflows/check-plugin.yml
  .github/workflows/kedro-airflow.yml
  .github/workflows/kedro-datasets.yml
  .github/workflows/kedro-docker.yml
  .github/workflows/kedro-telemetry.yml
  kedro-datasets/pyproject.toml
  kedro-docker/pyproject.toml
  kedro-telemetry/pyproject.toml
Due: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-datasets=false

ci: Migrate the release workflow from CircleCI to GitHub Actions (#203)
  .github/workflows/check-release.yml
  tools/github_actions/github_actions_release.py
Due: none

build: Relax Kedro bound for `kedro-datasets` (#140)
  kedro-datasets/RELEASE.md
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

remove circleci configs in kedro-telemetry
  kedro-telemetry/.circleci/config.yml
Due: run-build-kedro-telemetry

remove circleci setup files and utils
  .circleci/config.yml
  tools/circleci/circleci_release.py
  tools/circleci/github_release.py
  tools/circleci/utils/check_no_version_pypi.py
  tools/circleci/utils/package_version.py
Due: none

Delete continue_config.yml
  .circleci/continue_config.yml
Due: none

remove redundant .github in kedro-telemetry
  kedro-telemetry/.github/ISSUE_TEMPLATE/bug-report.md
  kedro-telemetry/.github/ISSUE_TEMPLATE/feature-request.md
  kedro-telemetry/.github/PULL_REQUEST_TEMPLATE.md
Due: run-build-kedro-telemetry

Update check-release.yml
  .github/workflows/check-release.yml
Due: none

ci: don't run checks on both `push`/`pull_request` (#192)
  .github/workflows/kedro-airflow.yml
  .github/workflows/kedro-datasets.yml
  .github/workflows/kedro-docker.yml
  .github/workflows/kedro-telemetry.yml
Due: none

chore: delete extra space ending check-release.yml
  .github/workflows/check-release.yml
Due: none

Remove spurious mlflow test dependency
  kedro-datasets/test_requirements.txt
Due: run-build-kedro-datasets=false

Revert additon of underscore to metadata attribute
  kedro-datasets/kedro_datasets/api/api_dataset.py
  kedro-datasets/kedro_datasets/biosequence/biosequence_dataset.py
  kedro-datasets/kedro_datasets/dask/parquet_dataset.py
  kedro-datasets/kedro_datasets/email/message_dataset.py
  kedro-datasets/kedro_datasets/geopandas/geojson_dataset.py
  kedro-datasets/kedro_datasets/holoviews/holoviews_writer.py
  kedro-datasets/kedro_datasets/json/json_dataset.py
  kedro-datasets/kedro_datasets/matplotlib/matplotlib_writer.py
  kedro-datasets/kedro_datasets/networkx/gml_dataset.py
  kedro-datasets/kedro_datasets/networkx/graphml_dataset.py
  kedro-datasets/kedro_datasets/networkx/json_dataset.py
  kedro-datasets/kedro_datasets/pandas/csv_dataset.py
  kedro-datasets/kedro_datasets/pandas/excel_dataset.py
  kedro-datasets/kedro_datasets/pandas/feather_dataset.py
  kedro-datasets/kedro_datasets/pandas/gbq_dataset.py
  kedro-datasets/kedro_datasets/pandas/generic_dataset.py
  kedro-datasets/kedro_datasets/pandas/hdf_dataset.py
  kedro-datasets/kedro_datasets/pandas/json_dataset.py
  kedro-datasets/kedro_datasets/pandas/parquet_dataset.py
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
  kedro-datasets/kedro_datasets/pandas/xml_dataset.py
  kedro-datasets/kedro_datasets/pickle/pickle_dataset.py
  kedro-datasets/kedro_datasets/pillow/image_dataset.py
  kedro-datasets/kedro_datasets/plotly/json_dataset.py
  kedro-datasets/kedro_datasets/plotly/plotly_dataset.py
  kedro-datasets/kedro_datasets/polars/csv_dataset.py
  kedro-datasets/kedro_datasets/redis/redis_dataset.py
  kedro-datasets/kedro_datasets/snowflake/snowpark_dataset.py
  kedro-datasets/kedro_datasets/spark/deltatable_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_hive_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_jdbc_dataset.py
  kedro-datasets/kedro_datasets/svmlight/svmlight_dataset.py
  kedro-datasets/kedro_datasets/tensorflow/tensorflow_model_dataset.py
  kedro-datasets/kedro_datasets/text/text_dataset.py
  kedro-datasets/kedro_datasets/video/video_dataset.py
  kedro-datasets/kedro_datasets/yaml/yaml_dataset.py
Due: run-build-kedro-datasets=false

Fix lint
  .github/workflows/check-release.yml
Due: none

[FIX] reorder arguments
  kedro-datasets/kedro_datasets/api/api_dataset.py
Due: run-build-kedro-datasets=false

Trigger build
  kedro-telemetry/kedro_telemetry/masking.py
Due: run-build-kedro-telemetry

ci: Automatically extract release notes
  .github/workflows/check-release.yml
  tools/github_actions/extract_release_notes.py
Due: none

Update __init__.py
  kedro-telemetry/kedro_telemetry/__init__.py
Due: run-build-kedro-telemetry

Create merge_pr_gatekeeper.yml
  merge_pr_gatekeeper.yml
Due: none

fix lint
  .github/workflows/check-release.yml
Due: none

update
  kedro-docker/kedro_docker/__init__.py
Due: run-build-kedro-docker

Create merge-gatekeeper.yml
  .github/workflows/merge-gatekeeper.yml
Due: none

chore: delete extra space ending check-release.yml (#210)
  .github/workflows/check-release.yml
Due: none

Update .github/workflows/merge-gatekeeper.yml
  .github/workflows/merge-gatekeeper.yml
Due: none

ci: Create merge-gatekeeper.yml to make sure PR only merged when all tests checked. (#215)
  .github/workflows/merge-gatekeeper.yml
Due: none

lint
  .github/workflows/merge-gatekeeper.yml
Due: none

increase timeout to 40 mins for docker e2e tests
  .github/workflows/merge-gatekeeper.yml
Due: none

ci: Remove the CircleCI setup (#209)
  .circleci/config.yml
  .circleci/continue_config.yml
  .github/workflows/merge-gatekeeper.yml
  kedro-telemetry/.circleci/config.yml
  kedro-telemetry/.github/ISSUE_TEMPLATE/bug-report.md
  kedro-telemetry/.github/ISSUE_TEMPLATE/feature-request.md
  kedro-telemetry/.github/PULL_REQUEST_TEMPLATE.md
  tools/circleci/circleci_release.py
  tools/circleci/github_release.py
  tools/circleci/utils/check_no_version_pypi.py
  tools/circleci/utils/package_version.py
Due: run-build-kedro-telemetry

Raise exceptions
  tools/github_actions/extract_release_notes.py
Due: none

Lint
  tools/github_actions/extract_release_notes.py
Due: none
