Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

Mention rename to PartionedDataset and IncrementalDataset and use new names in implementations + tests
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/partitions/incremental_dataset.py
  kedro-datasets/tests/partitions/test_incremental_dataset.py
Due: run-build-kedro-datasets=false

Acknowledge contributor in release notes
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

fix(datasets): Don't warn for SparkDataset on Databricks when using s3
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/spark/spark_dataset.py
  kedro-datasets/tests/spark/test_spark_dataset.py
Due: run-build-kedro-datasets=false

removed whitespace
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

docs: release docs
  kedro-airflow/RELEASE.md
Due: run-build-kedro-airflow

feat: Kedro-Airflow convert all pipelines option (#335)
  kedro-airflow/README.md
  kedro-airflow/RELEASE.md
  kedro-airflow/kedro_airflow/plugin.py
  kedro-airflow/tests/test_plugin.py
Due: run-build-kedro-airflow

fix: backwards compatibility
  kedro-airflow/RELEASE.md
  kedro-airflow/kedro_airflow/plugin.py
Due: run-build-kedro-airflow

test: add test for backwards compatibility
  kedro-airflow/kedro_airflow/plugin.py
  kedro-airflow/tests/test_plugin.py
Due: run-build-kedro-airflow

perf(datasets): don't connect in `__init__` method
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
  kedro-datasets/tests/pandas/test_sql_dataset.py
Due: run-build-kedro-datasets=false

style(datasets): exec Ruff on sql_dataset.py :dog:
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
Due: run-build-kedro-datasets=false

Undo changes to `engines` values type (for Sphinx)
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
Due: run-build-kedro-datasets=false

Patch Sphinx build by removing `Engine` references
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
Due: run-build-kedro-datasets=false

Update release notes
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

docs: cloudpickle is an interesting extension of the pickle functionality (#361)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/pickle/pickle_dataset.py
  kedro-datasets/kedro_datasets/redis/redis_dataset.py
  kedro-datasets/setup.py
  kedro-datasets/tests/pickle/test_pickle_dataset.py
  kedro-datasets/tests/redis/test_redis_dataset.py
Due: run-build-kedro-datasets=false

Rename DataSet mentions to Dataset in kedro-airflow
  kedro-airflow/features/steps/cli_steps.py
Due: run-build-kedro-airflow

Fix secret scan entropy error
  kedro-datasets/kedro_datasets/pickle/pickle_dataset.py
  kedro-datasets/kedro_datasets/redis/redis_dataset.py
Due: run-build-kedro-datasets=false

Rename DataSet mentions to Dataset in kedro-telemetry
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Apply suggestions from code review
  kedro-datasets/tests/partitions/test_incremental_dataset.py
Due: run-build-kedro-datasets=false

fix(datasets): Fix secret scan entropy error (#383)
  kedro-datasets/kedro_datasets/pickle/pickle_dataset.py
  kedro-datasets/kedro_datasets/redis/redis_dataset.py
Due: run-build-kedro-datasets=false

style: Rename mentions of `DataSet` to `Dataset` in `kedro-airflow` and `kedro-telemetry` (#384)
  kedro-airflow/features/steps/cli_steps.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry, run-build-kedro-airflow

feat(datasets): Migrated `PartitionedDataSet` and `IncrementalDataSet` from main repository to kedro-datasets (#253)
  kedro-datasets/RELEASE.md
  kedro-datasets/docs/source/kedro_datasets.rst
  kedro-datasets/kedro_datasets/partitions/__init__.py
  kedro-datasets/kedro_datasets/partitions/incremental_dataset.py
  kedro-datasets/kedro_datasets/partitions/partitioned_dataset.py
  kedro-datasets/tests/partitions/__init__.py
  kedro-datasets/tests/partitions/test_incremental_dataset.py
  kedro-datasets/tests/partitions/test_partitioned_dataset.py
Due: run-build-kedro-datasets=false

Fix(datasets): apply ruff linting rules
  kedro-datasets/kedro_datasets/polars/polars_dataset.py
Due: run-build-kedro-datasets=false

Fix(datasets): Correct pattern matching when Raising exceptions
  kedro-datasets/tests/polars/test_polars_dataset.py
Due: run-build-kedro-datasets=false

added example and test it
  kedro-datasets/kedro_datasets/xarray/geotiff_dataset.py
  kedro-datasets/tests/xarray/test_geotiff_dataset.py
Due: run-build-kedro-datasets=false

deleted duplications
  kedro-datasets/docs/source/kedro_datasets.rst
Due: run-build-kedro-datasets=false

fixed position of example
  kedro-datasets/kedro_datasets/xarray/geotiff_dataset.py
Due: run-build-kedro-datasets=false

Mention contributor in release notes
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

fix: backwards compatibility for `kedro-airflow` (#381)
  kedro-airflow/RELEASE.md
  kedro-airflow/kedro_airflow/plugin.py
  kedro-airflow/tests/test_plugin.py
Due: run-build-kedro-airflow

fix(datasets): Don't warn for SparkDataset on Databricks when using s3 (#341)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/spark/spark_dataset.py
  kedro-datasets/tests/spark/test_spark_dataset.py
Due: run-build-kedro-datasets=false

fix(datasets): set correct CalVer for s3fs in setup.py
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

fix(datasets): clean up PolarsDataset related code
  kedro-datasets/kedro_datasets/polars/__init__.py
  kedro-datasets/kedro_datasets/polars/polars_dataset.py
  kedro-datasets/setup.py
  kedro-datasets/tests/polars/test_polars_dataset.py
Due: run-build-kedro-datasets=false

perf(datasets): don't connect in `__init__` method
  kedro-datasets/kedro_datasets/snowflake/snowpark_dataset.py
Due: run-build-kedro-datasets=false

chore(datasets): don't require coverage for import
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

chore(datasets): del unused `TYPE_CHECKING` import
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
Due: run-build-kedro-datasets=false

docs(datasets): document lazy connection in README
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

feat(datasets): Rename Polars Datasets to better describe their intent
  kedro-datasets/kedro_datasets/polars/__init__.py
  kedro-datasets/kedro_datasets/polars/eager_polars_dataset.py
  kedro-datasets/kedro_datasets/polars/lazy_polars_dataset.py
  kedro-datasets/setup.py
  kedro-datasets/tests/polars/test_eager_polars_dataset.py
  kedro-datasets/tests/polars/test_lazy_polars_dataset.py
Due: run-build-kedro-datasets=false

black
  kedro-datasets/tests/xarray/test_geotiff_dataset.py
Due: run-build-kedro-datasets=false

[FIX] Mask all arguments if last argument was a parameter
  kedro-telemetry/kedro_telemetry/masking.py
  kedro-telemetry/tests/test_masking.py
Due: run-build-kedro-telemetry

add in credentials
  kedro-datasets/kedro_datasets/netcdf/__init__.py
  kedro-datasets/kedro_datasets/netcdf/netcdf_dataset.py
Due: run-build-kedro-datasets=false

Path conditions:
  run-build-kedro-telemetry: any of: kedro-telemetry/.*
  run-build-kedro-docker: any of: kedro-docker/.*
  run-build-kedro-airflow: any of: kedro-airflow/.*
  run-build-kedro-datasets=false: any of: kedro-datasets/.*
