Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

unpin duckdb
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Update release notes
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

chore(datasets): unpin duckdb (#1240)
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

feat(datasets): Unpin spark and delta-spark (#1228)
  kedro-datasets/kedro_datasets/conftest.py
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
  kedro-datasets/kedro_datasets_experimental/databricks/external_table_dataset.py
  kedro-datasets/kedro_datasets_experimental/tests/databricks/conftest.py
  kedro-datasets/pyproject.toml
  kedro-datasets/tests/conftest.py
  kedro-datasets/tests/databricks/conftest.py
  kedro-datasets/tests/spark/test_memory_dataset.py
  kedro-datasets/tests/spark/test_spark_hive_dataset.py
Due: run-build-kedro-datasets=false

Add tests for langchain datasets
  kedro-datasets/kedro_datasets_experimental/tests/langchain/test_chat_anthropic_dataset.py
  kedro-datasets/kedro_datasets_experimental/tests/langchain/test_chat_cohere_dataset.py
  kedro-datasets/kedro_datasets_experimental/tests/langchain/test_openai_dataset.py
Due: run-build-kedro-datasets=false

add allow secret
  kedro-datasets/kedro_datasets_experimental/tests/langchain/test_chat_anthropic_dataset.py
  kedro-datasets/kedro_datasets_experimental/tests/langchain/test_chat_cohere_dataset.py
  kedro-datasets/kedro_datasets_experimental/tests/langchain/test_openai_dataset.py
Due: run-build-kedro-datasets=false

Update text/dependencies to 3.10
  kedro-datasets/kedro_datasets_experimental/langfuse/README.md
  kedro-docker/README.md
  kedro-docker/features/steps/sh_run.py
  kedro-docker/features/steps/util.py
  kedro-docker/kedro_docker/template/Dockerfile.simple
  kedro-docker/kedro_docker/template/Dockerfile.spark
  kedro-docker/pyproject.toml
  kedro-telemetry/pyproject.toml
  kedro-telemetry/tests/integration/dummy-project/requirements.txt
Due: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-datasets=false

Bump ruff
  kedro-airflow/pyproject.toml
  kedro-datasets/pyproject.toml
  kedro-docker/pyproject.toml
  kedro-telemetry/pyproject.toml
Due: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

cleaned anthropic dataset and made credentials optional
  .secrets.baseline
  kedro-datasets/kedro_datasets_experimental/langchain/_anthropic.py
  kedro-datasets/kedro_datasets_experimental/tests/langchain/test_chat_anthropic_dataset.py
Due: run-build-kedro-datasets=false

cleaned cohere dataset and made credentials optional
  .secrets.baseline
  kedro-datasets/kedro_datasets_experimental/langchain/_cohere.py
  kedro-datasets/kedro_datasets_experimental/tests/langchain/test_chat_cohere_dataset.py
Due: run-build-kedro-datasets=false

cleaned openai dataset and made credentials optional
  kedro-datasets/kedro_datasets_experimental/langchain/_anthropic.py
  kedro-datasets/kedro_datasets_experimental/langchain/_cohere.py
  kedro-datasets/kedro_datasets_experimental/langchain/_openai.py
  kedro-datasets/kedro_datasets_experimental/tests/langchain/test_openai_dataset.py
Due: run-build-kedro-datasets=false

Add explicit permissions block to GitHub Actions workflows
  .github/workflows/check-release.yml
  .github/workflows/check-tsc-vote.yml
  .github/workflows/detect-secrets.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/kedro-airflow.yml
  .github/workflows/kedro-datasets.yml
  .github/workflows/kedro-docker.yml
  .github/workflows/kedro-telemetry.yml
  .github/workflows/label-community-issues.yml
  .github/workflows/lint.yml
  .github/workflows/no-response.yml
  .github/workflows/unit-tests.yml
Due: none

Align credentials with langchain api
  kedro-datasets/kedro_datasets_experimental/langchain/_anthropic.py
  kedro-datasets/kedro_datasets_experimental/langchain/_cohere.py
  kedro-datasets/kedro_datasets_experimental/langchain/_openai.py
  kedro-datasets/kedro_datasets_experimental/tests/langchain/test_chat_anthropic_dataset.py
  kedro-datasets/kedro_datasets_experimental/tests/langchain/test_chat_cohere_dataset.py
  kedro-datasets/kedro_datasets_experimental/tests/langchain/test_openai_dataset.py
Due: run-build-kedro-datasets=false

Update with suggestions
  kedro-datasets/kedro_datasets_experimental/langchain/_anthropic.py
  kedro-datasets/kedro_datasets_experimental/langchain/_cohere.py
  kedro-datasets/kedro_datasets_experimental/langchain/_openai.py
Due: run-build-kedro-datasets=false

Update kedro-datasets/kedro_datasets_experimental/langchain/_anthropic.py
  kedro-datasets/kedro_datasets_experimental/langchain/_anthropic.py
Due: run-build-kedro-datasets=false

Update describe tests
  kedro-datasets/kedro_datasets_experimental/tests/langchain/test_chat_anthropic_dataset.py
  kedro-datasets/kedro_datasets_experimental/tests/langchain/test_chat_cohere_dataset.py
  kedro-datasets/kedro_datasets_experimental/tests/langchain/test_openai_dataset.py
Due: run-build-kedro-datasets=false

chore: Drop 3.9 from `pyproject.toml` where missed (#1242)
  kedro-airflow/pyproject.toml
  kedro-datasets/kedro_datasets_experimental/langfuse/README.md
  kedro-datasets/pyproject.toml
  kedro-docker/README.md
  kedro-docker/features/steps/sh_run.py
  kedro-docker/features/steps/util.py
  kedro-docker/kedro_docker/template/Dockerfile.simple
  kedro-docker/kedro_docker/template/Dockerfile.spark
  kedro-docker/pyproject.toml
  kedro-telemetry/pyproject.toml
  kedro-telemetry/tests/integration/dummy-project/requirements.txt
Due: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

Fixed airflow tests to be compatible with click >= 8.3
  kedro-airflow/tests/test_plugin.py
Due: run-build-kedro-airflow

Fixed test_custom_template_nonexistent
  kedro-airflow/tests/test_plugin.py
Due: run-build-kedro-airflow

Fixed the rest
  kedro-airflow/tests/test_plugin.py
Due: run-build-kedro-airflow

Apply suggestions from code review
  kedro-datasets/kedro_datasets_experimental/langchain/_anthropic.py
  kedro-datasets/kedro_datasets_experimental/langchain/_cohere.py
Due: run-build-kedro-datasets=false

fix(airflow): Fixed airflow tests to be compatible with click >= 8.3 (#1245)
  kedro-airflow/tests/test_plugin.py
Due: run-build-kedro-airflow

secrets baseline fix
  .secrets.baseline
Due: none

Add manual conversion from dict to ensure compatibility
  kedro-datasets/kedro_datasets_experimental/langchain/langchain_prompt_dataset.py
  kedro-datasets/kedro_datasets_experimental/tests/langchain/test_langchain_prompt_dataset.py
Due: run-build-kedro-datasets=false

Increase required version of LangChainPromptDataset to 0.3.0
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Update spark_dataset_v2.py
  kedro-datasets/kedro_datasets/spark/spark_dataset_v2.py
Due: run-build-kedro-datasets=false

revert
  kedro-datasets/kedro_datasets/spark/spark_dataset_v2.py
Due: run-build-kedro-datasets=false

"Check-tsc-vote" workflow removed
  .github/reviewers.json
  .github/workflows/check-tsc-vote.yml
  .github/workflows/merge-gatekeeper.yml
Due: none

fix(datasets): Increase required version of LangChainPromptDataset to 0.3.0 (#1247)
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

clean-up SparkDatasetV2
  kedro-datasets/kedro_datasets/_utils/databricks_utils.py
  kedro-datasets/kedro_datasets/_utils/spark_utils.py
  kedro-datasets/kedro_datasets/spark/spark_dataset_v2.py
  kedro-datasets/tests/spark/test_spark_dataset_v2.py
Due: run-build-kedro-datasets=false

type check fix
  kedro-datasets/kedro_datasets/spark/spark_dataset_v2.py
Due: run-build-kedro-datasets=false

Update databricks_utils.py
  kedro-datasets/kedro_datasets/_utils/databricks_utils.py
Due: run-build-kedro-datasets=false

chore(datasets): Add tests for langchain datasets (#1241)
  .secrets.baseline
  kedro-datasets/kedro_datasets_experimental/langchain/_anthropic.py
  kedro-datasets/kedro_datasets_experimental/langchain/_cohere.py
  kedro-datasets/kedro_datasets_experimental/langchain/_openai.py
  kedro-datasets/kedro_datasets_experimental/tests/langchain/test_chat_anthropic_dataset.py
  kedro-datasets/kedro_datasets_experimental/tests/langchain/test_chat_cohere_dataset.py
  kedro-datasets/kedro_datasets_experimental/tests/langchain/test_openai_dataset.py
Due: run-build-kedro-datasets=false

Graduate langchain datasets
  kedro-datasets/RELEASE.md
  kedro-datasets/docs/api/kedro_datasets/langchain.ChatAnthropicDataset.md
  kedro-datasets/docs/api/kedro_datasets/langchain.ChatCohereDataset.md
  kedro-datasets/docs/api/kedro_datasets/langchain.ChatOpenAIDataset.md
  kedro-datasets/docs/api/kedro_datasets/langchain.OpenAIEmbeddingsDataset.md
  kedro-datasets/docs/api/kedro_datasets_experimental/index.md
  kedro-datasets/docs/index.md
  kedro-datasets/kedro_datasets/_utils/abstract_openai_dataset.py
  kedro-datasets/kedro_datasets/langchain/__init__.py
  kedro-datasets/kedro_datasets/langchain/chat_anthropic_dataset.py
  kedro-datasets/kedro_datasets/langchain/chat_cohere_dataset.py
  kedro-datasets/kedro_datasets/langchain/chat_openai_dataset.py
  kedro-datasets/kedro_datasets/langchain/openai_embeddings_dataset.py
  kedro-datasets/kedro_datasets_experimental/langchain/_openai.py
  kedro-datasets/pyproject.toml
  kedro-datasets/tests/langchain/__init__.py
  kedro-datasets/tests/langchain/test_chat_anthropic_dataset.py
  kedro-datasets/tests/langchain/test_chat_cohere_dataset.py
  kedro-datasets/tests/langchain/test_openai_dataset.py
Due: run-build-kedro-datasets=false

Lint partial
  kedro-datasets/kedro_datasets/_utils/abstract_openai_dataset.py
  kedro-datasets/kedro_datasets/langchain/chat_anthropic_dataset.py
  kedro-datasets/kedro_datasets/langchain/chat_cohere_dataset.py
  kedro-datasets/kedro_datasets/langchain/chat_openai_dataset.py
  kedro-datasets/kedro_datasets/langchain/openai_embeddings_dataset.py
  kedro-datasets/kedro_datasets_experimental/langchain/__init__.py
  kedro-datasets/tests/langchain/test_chat_anthropic_dataset.py
  kedro-datasets/tests/langchain/test_chat_cohere_dataset.py
  kedro-datasets/tests/langchain/test_openai_dataset.py
Due: run-build-kedro-datasets=false

Update mkdocs.yml
  kedro-datasets/mkdocs.yml
Due: run-build-kedro-datasets=false

Update mkdocs.yml
  kedro-datasets/docs/index.md
Due: run-build-kedro-datasets=false

Path conditions:
  run-build-kedro-telemetry: any of: kedro-telemetry/.*
  run-build-kedro-docker: any of: kedro-docker/.*
  run-build-kedro-airflow: any of: kedro-airflow/.*
  run-build-kedro-datasets=false: any of: kedro-datasets/.*
