Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

test: increase coverage for pandas delta table dataset
  kedro-datasets/tests/pandas/test_deltatable_dataset.py
Due: run-build-kedro-datasets=false

chore: lint
  kedro-datasets/tests/pandas/test_deltatable_dataset.py
Due: run-build-kedro-datasets=false

isort
  kedro-telemetry/test_requirements.txt
Due: run-build-kedro-telemetry

Add unit test + lint
  kedro-datasets/kedro_datasets/pillow/image_dataset.py
  kedro-datasets/kedro_datasets/video/video_dataset.py
  kedro-datasets/tests/pillow/test_image_dataset.py
Due: run-build-kedro-datasets=false

Update Release notes
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

feat(datasets): Add format for ImageDataSet save (#77)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/pillow/image_dataset.py
  kedro-datasets/kedro_datasets/video/video_dataset.py
  kedro-datasets/tests/pillow/test_image_dataset.py
Due: run-build-kedro-datasets=false

instructions on custom Airflow Operators
  kedro-airflow/README.md
Due: run-build-kedro-airflow

docs: Instructions on custom Airflow Operators (#267)
  kedro-airflow/README.md
Due: run-build-kedro-airflow

feature: kedro-airflow DAG kwarg configuration
  kedro-airflow/README.md
  kedro-airflow/RELEASE.md
  kedro-airflow/features/steps/cli_steps.py
  kedro-airflow/kedro_airflow/airflow_dag_template.j2
  kedro-airflow/kedro_airflow/plugin.py
  kedro-airflow/test_requirements.txt
  kedro-airflow/tests/conftest.py
  kedro-airflow/tests/test_plugin.py
Due: run-build-kedro-airflow

Upgrade Polars
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

polars generic dataset
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/polars/__init__.py
  kedro-datasets/kedro_datasets/polars/generic_dataset.py
  kedro-datasets/setup.py
  kedro-datasets/test_requirements.txt
  kedro-datasets/tests/polars/test_generic_dataset.py
Due: run-build-kedro-datasets=false

100 coverage generic dataset
  kedro-datasets/kedro_datasets/polars/generic_dataset.py
  kedro-datasets/tests/polars/test_generic_dataset.py
Due: run-build-kedro-datasets=false

Change example test to parquet from csv
  kedro-datasets/kedro_datasets/polars/generic_dataset.py
Due: run-build-kedro-datasets=false

chore: bump semver
  kedro-airflow/pyproject.toml
Due: run-build-kedro-airflow

feat: `kedro-airflow` DAG kwarg configuration
  kedro-airflow/README.md
  kedro-airflow/RELEASE.md
  kedro-airflow/features/steps/cli_steps.py
  kedro-airflow/kedro_airflow/airflow_dag_template.j2
  kedro-airflow/kedro_airflow/plugin.py
  kedro-airflow/test_requirements.txt
  kedro-airflow/tests/conftest.py
  kedro-airflow/tests/test_plugin.py
Due: run-build-kedro-airflow

chore(airflow): relax `semver` requirement bound (#270)
  kedro-airflow/pyproject.toml
Due: run-build-kedro-airflow

Added initial skeleton for dremio dataset
  kedro-datasets/kedro_datasets/dremio/dremio_flight.py
  kedro-datasets/kedro_datasets/dremio/flight_dataset.py
Due: run-build-kedro-datasets=false

try running hooks seperatley
  .github/workflows/check-plugin.yml
  .pre-commit-config.yaml
  kedro-telemetry/test_requirements.txt
Due: run-build-kedro-telemetry

revert telemetry isort
  .pre-commit-config.yaml
  kedro-telemetry/test_requirements.txt
Due: run-build-kedro-telemetry

fix ga yaml
  .github/workflows/check-plugin.yml
  .pre-commit-config.yaml
Due: none

Update check-plugin.yml
  .github/workflows/check-plugin.yml
Due: none

add hook stage
  .github/workflows/check-plugin.yml
Due: none

Added initial version of dremio dataset for kedro
  kedro-datasets/kedro_datasets/dremio/flight_dataset.py
Due: run-build-kedro-datasets=false

Added unit tests for base auth classes
  kedro-datasets/kedro_datasets/dremio/__init__.py
  kedro-datasets/kedro_datasets/dremio/flight_dataset.py
  kedro-datasets/tests/dremio/__init__.py
  kedro-datasets/tests/dremio/test_flight_dataset.py
Due: run-build-kedro-datasets=false

Create issue_metrics.yml
  .github/workflows/issue_metrics.yml
Due: none

Added more test cases for dremio dataset
  kedro-datasets/kedro_datasets/dremio/flight_dataset.py
  kedro-datasets/tests/dremio/test_flight_dataset.py
Due: run-build-kedro-datasets=false

Fixed some failed test cases
  kedro-datasets/tests/dremio/test_flight_dataset.py
Due: run-build-kedro-datasets=false

Finally was able to get mocked arrow server run
  kedro-datasets/kedro_datasets/dremio/flight_dataset.py
  kedro-datasets/tests/dremio/test_flight_dataset.py
Due: run-build-kedro-datasets=false

Added test cases and code base to support authentication
  kedro-datasets/kedro_datasets/dremio/flight_dataset.py
  kedro-datasets/tests/dremio/test_flight_dataset.py
Due: run-build-kedro-datasets=false

changes based on review
  .github/workflows/check-plugin.yml
  .pre-commit-config.yaml
  Makefile
  kedro-telemetry/test_requirements.txt
Due: run-build-kedro-telemetry

add features and tests for docker, airflow and telemetry
  .pre-commit-config.yaml
Due: none

Update Makefile
  Makefile
Due: none

indent
  Makefile
Due: none

lint
  kedro-airflow/features/steps/cli_steps.py
  kedro-airflow/tests/test_plugin.py
  kedro-docker/features/steps/cli_steps.py
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/test_masking.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow

lint for airflow and docker
  kedro-airflow/tests/test_plugin.py
  kedro-docker/features/steps/cli_steps.py
  kedro-docker/tests/test_helpers.py
Due: run-build-kedro-docker, run-build-kedro-airflow

undo plugin lint
  kedro-docker/kedro_docker/plugin.py
Due: run-build-kedro-docker

chore: Move pre-commit config to the top level of kedro-plugins (#259)
  .github/workflows/check-plugin.yml
  .pre-commit-config.yaml
  Makefile
  kedro-airflow/.pre-commit-config.yaml
  kedro-datasets/.pre-commit-config.yaml
  kedro-docker/.pre-commit-config.yaml
  kedro-telemetry/.pre-commit-config.yaml
Due: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

Unpin pytest-xdist to avoid deprecation error
  kedro-datasets/test_requirements.txt
Due: run-build-kedro-datasets=false

Typo
  kedro-datasets/kedro_datasets/_io.py
Due: run-build-kedro-datasets=false

Path conditions:
  run-build-kedro-telemetry: any of: kedro-telemetry/.*
  run-build-kedro-docker: any of: kedro-docker/.*
  run-build-kedro-airflow: any of: kedro-airflow/.*
  run-build-kedro-datasets=false: any of: kedro-datasets/.*
