Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

.circleci/config.yml:

version: 2.1

setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            kedro-telemetry/.* run-build-kedro-telemetry true
            kedro-docker/.* run-build-kedro-docker true
            kedro-airflow/.* run-build-kedro-airflow true
            kedro-datasets/.* run-build-kedro-datasets false
          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

temporarily disable docs tests
  Makefile
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

unpin deltalake
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Update json_dataset.py
  kedro-datasets/kedro_datasets/json/json_dataset.py
Due: run-build-kedro-datasets=false

unpin pandas-gbq
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Update tests
  Makefile
  kedro-datasets/tests/pandas/test_deltatable_dataset.py
  kedro-datasets/tests/partitions/test_incremental_dataset.py
  kedro-datasets/tests/partitions/test_partitioned_dataset.py
Due: run-build-kedro-datasets=false

remove doctest again
  Makefile
Due: none

unpin sqlalchemy
  Makefile
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

bump uv and cleanup pyproject.toml
  .github/workflows/e2e-tests.yml
  .github/workflows/kedro-datasets.yml
  .github/workflows/lint.yml
  .github/workflows/unit-tests.yml
  .gitpod.yml
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Revert bump of pyarrow
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Update json_dataset.py
  kedro-datasets/kedro_datasets/pandas/json_dataset.py
Due: run-build-kedro-datasets=false

Revert unpinning of uv
  .github/workflows/e2e-tests.yml
  .github/workflows/kedro-datasets.yml
  .github/workflows/lint.yml
  .github/workflows/unit-tests.yml
Due: none

Bump uv timeouts
  .github/workflows/e2e-tests.yml
  .github/workflows/kedro-datasets.yml
  .github/workflows/lint.yml
  .github/workflows/unit-tests.yml
  kedro-datasets/.readthedocs.yaml
Due: run-build-kedro-datasets=false

Apply suggestions from code review
  kedro-datasets/.readthedocs.yaml
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

build(datasets): Add Python 3.12 support (#617)
  .github/workflows/e2e-tests.yml
  .github/workflows/kedro-datasets.yml
  .github/workflows/lint.yml
  .github/workflows/unit-tests.yml
  kedro-datasets/.readthedocs.yaml
  kedro-datasets/RELEASE.md
  kedro-datasets/pyproject.toml
  kedro-datasets/tests/pandas/test_deltatable_dataset.py
  kedro-datasets/tests/partitions/test_incremental_dataset.py
  kedro-datasets/tests/partitions/test_partitioned_dataset.py
Due: run-build-kedro-datasets=false

Add to documentation and release notes
  kedro-datasets/RELEASE.md
  kedro-datasets/docs/source/api/kedro_datasets.rst
Due: run-build-kedro-datasets=false

pass lines=true and nrows
  kedro-datasets/kedro_datasets/pandas/json_dataset.py
  kedro-datasets/tests/pandas/test_json_dataset.py
Due: run-build-kedro-datasets=false

update docstring
  kedro-datasets/kedro_datasets/json/json_dataset.py
Due: run-build-kedro-datasets=false

Update test_json_dataset.py
  kedro-datasets/tests/json/test_json_dataset.py
Due: run-build-kedro-datasets=false

revert change
  kedro-datasets/tests/json/test_json_dataset.py
Due: run-build-kedro-datasets=false

use sqlalchemy instead of query
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
Due: run-build-kedro-datasets=false

fix sql tests
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
  kedro-datasets/tests/pandas/test_sql_dataset.py
Due: run-build-kedro-datasets=false

feat(datasets): Extend preview mechanism (#595)
  kedro-datasets/kedro_datasets/json/json_dataset.py
  kedro-datasets/kedro_datasets/pandas/json_dataset.py
  kedro-datasets/kedro_datasets/pandas/parquet_dataset.py
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
  kedro-datasets/tests/json/test_json_dataset.py
  kedro-datasets/tests/pandas/test_json_dataset.py
  kedro-datasets/tests/pandas/test_parquet_dataset.py
  kedro-datasets/tests/pandas/test_sql_dataset.py
Due: run-build-kedro-datasets=false

Add experimental datasets directory with README.md
  kedro-datasets/experimental/README.md
Due: run-build-kedro-datasets=false

Fix lint
  kedro-datasets/kedro_datasets/dask/__init__.py
  kedro-datasets/kedro_datasets/dask/csv_dataset.py
Due: run-build-kedro-datasets=false

Try fix netcdfdataset doctest
  kedro-datasets/kedro_datasets/netcdf/netcdf_dataset.py
Due: run-build-kedro-datasets=false

Try fix netcdfdataset doctest pointing at file
  kedro-datasets/kedro_datasets/netcdf/netcdf_dataset.py
Due: run-build-kedro-datasets=false

Fix moto mock_aws import
  kedro-datasets/tests/dask/test_csv_dataset.py
Due: run-build-kedro-datasets=false

Revert extra changes
  .gitpod.yml
  kedro-airflow/features/environment.py
Due: run-build-kedro-airflow

update install kedro-datasets step
  kedro-airflow/features/steps/cli_steps.py
Due: run-build-kedro-airflow

try remove install kedro-datasets step
  kedro-airflow/features/airflow.feature
Due: run-build-kedro-airflow

Install kedro from main
  kedro-airflow/pyproject.toml
Due: run-build-kedro-airflow

Revert changes
  kedro-airflow/features/airflow.feature
  kedro-airflow/features/steps/cli_steps.py
  kedro-airflow/pyproject.toml
Due: run-build-kedro-airflow

add telemetry flag to kedro new cli structure tests
  kedro-telemetry/tests/test_masking.py
Due: run-build-kedro-telemetry

fix: Add `--telemetry` flag to to kedro-telemetry CLI masking tests. (#637)
  kedro-telemetry/tests/test_masking.py
Due: run-build-kedro-telemetry

test(datasets): don't require network for examples
  kedro-datasets/tests/ibis/test_table_dataset.py
Due: run-build-kedro-datasets=false

docs(datasets): add Python, YAML examples for Ibis
  kedro-datasets/kedro_datasets/ibis/table_dataset.py
Due: run-build-kedro-datasets=false

fix(datasets): make connection config key hashable
  kedro-datasets/kedro_datasets/ibis/table_dataset.py
Due: run-build-kedro-datasets=false

docs(datasets): expand on how `TableDataset` works
  kedro-datasets/kedro_datasets/ibis/table_dataset.py
Due: run-build-kedro-datasets=false

revert(datasets): don't `json.dumps` to create key
  kedro-datasets/kedro_datasets/ibis/table_dataset.py
Due: run-build-kedro-datasets=false
