Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

Fix lint
  kedro-docker/.pre-commit-config.yaml
  kedro-docker/kedro_docker/plugin.py
  kedro-docker/tests/test_helpers.py
Due: run-build-kedro-docker

Keep Kedro-Docker plugin docstring from appearing in `kedro -h` (#56)
  kedro-docker/.pre-commit-config.yaml
  kedro-docker/kedro_docker/plugin.py
  kedro-docker/tests/test_helpers.py
Due: run-build-kedro-docker

Fix docs
  kedro-datasets/kedro_datasets/polars/csv_dataset.py
Due: run-build-kedro-datasets=false

Change describe to remove dict call
  kedro-datasets/kedro_datasets/snowflake/snowpark_dataset.py
Due: run-build-kedro-datasets=false

Remove pylint too many args suppression
  kedro-datasets/kedro_datasets/video/video_dataset.py
Due: run-build-kedro-datasets=false

Fix linting
  kedro-datasets/kedro_datasets/polars/csv_dataset.py
Due: run-build-kedro-datasets=false

[kedro-datasets ] Add `Polars.CSVDataSet` (#95)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/polars/__init__.py
  kedro-datasets/kedro_datasets/polars/csv_dataset.py
  kedro-datasets/setup.py
  kedro-datasets/test_requirements.txt
  kedro-datasets/tests/polars/__init__.py
  kedro-datasets/tests/polars/test_csv_dataset.py
Due: run-build-kedro-datasets=false

Remove deprecated `test_requires` from `setup.py` in Kedro-Docker (#54)
  kedro-docker/setup.py
Due: run-build-kedro-docker

Update SnowparkTableDataSet and env vars
  kedro-datasets/kedro_datasets/snowflake/__init__.py
  kedro-datasets/kedro_datasets/snowflake/snowpark_dataset.py
  kedro-datasets/setup.py
  kedro-datasets/tests/snowflake/README.md
  kedro-datasets/tests/snowflake/test_snowpark_dataset.py
Due: run-build-kedro-datasets=false

polars generic dataset
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/polars/__init__.py
  kedro-datasets/kedro_datasets/polars/csv_dataset.py
  kedro-datasets/kedro_datasets/polars/generic_dataset.py
  kedro-datasets/setup.py
  kedro-datasets/test_requirements.txt
  kedro-datasets/tests/polars/test_generic_dataset.py
Due: run-build-kedro-datasets=false

removing non needed changes
  kedro-datasets/kedro_datasets/polars/csv_dataset.py
Due: run-build-kedro-datasets=false

add missing dependency for polars unit test
  kedro-datasets/test_requirements.txt
Due: run-build-kedro-datasets=false

fix -add missing dependency for polars unit test
  kedro-datasets/test_requirements.txt
Due: run-build-kedro-datasets=false

100 coverage generic dataset, update polars version, still not fixed test-reqs dep hell
  kedro-datasets/kedro_datasets/polars/generic_dataset.py
  kedro-datasets/setup.py
  kedro-datasets/test_requirements.txt
  kedro-datasets/tests/polars/test_generic_dataset.py
Due: run-build-kedro-datasets=false

Move tests into single method to appease linter
  kedro-datasets/tests/spark/test_spark_dataset.py
Due: run-build-kedro-datasets=false

Modify prefix check to /dbfs/
  kedro-datasets/kedro_datasets/spark/spark_dataset.py
Due: run-build-kedro-datasets=false

Modify prefix check to /dbfs/
  kedro-datasets/kedro_datasets/spark/spark_dataset.py
  kedro-datasets/tests/spark/test_spark_dataset.py
Due: run-build-kedro-datasets=false

Make warning message clearer
  kedro-datasets/kedro_datasets/spark/spark_dataset.py
  kedro-datasets/tests/spark/test_spark_dataset.py
Due: run-build-kedro-datasets=false

Add release note
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

Fix linting
  kedro-datasets/tests/spark/test_spark_dataset.py
Due: run-build-kedro-datasets=false

Update warning message
  kedro-datasets/kedro_datasets/spark/spark_dataset.py
Due: run-build-kedro-datasets=false

Modify log warning level to error
  kedro-datasets/kedro_datasets/spark/spark_dataset.py
  kedro-datasets/tests/spark/test_spark_dataset.py
Due: run-build-kedro-datasets=false

Modify message back to warning, refer to undefined behaviour
  kedro-datasets/kedro_datasets/spark/spark_dataset.py
  kedro-datasets/tests/spark/test_spark_dataset.py
Due: run-build-kedro-datasets=false

Modify required prefix to /dbfs/
  kedro-datasets/kedro_datasets/spark/spark_dataset.py
  kedro-datasets/tests/spark/test_spark_dataset.py
Due: run-build-kedro-datasets=false

Modify doc string
  kedro-datasets/kedro_datasets/spark/spark_dataset.py
Due: run-build-kedro-datasets=false

Modify warning message
  kedro-datasets/kedro_datasets/spark/spark_dataset.py
  kedro-datasets/tests/spark/test_spark_dataset.py
Due: run-build-kedro-datasets=false

Keep Kedro-Airflow plugin docstring from appearing in `kedro -h`
  kedro-airflow/kedro_airflow/plugin.py
Due: run-build-kedro-airflow

Pass the `kedro_init_version` to `ProjectMetadata`
  kedro-airflow/tests/conftest.py
Due: run-build-kedro-airflow

Trigger Docker tests
  kedro-docker/kedro_docker/__init__.py
Due: run-build-kedro-docker

Trigger Telemetry tests
  kedro-telemetry/kedro_telemetry/__init__.py
Due: run-build-kedro-telemetry

Pass the `kedro_init_version` to `ProjectMetadata`
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Pass the `kedro_init_version` to `ProjectMetadata`
  kedro-telemetry/tests/test_masking.py
Due: run-build-kedro-telemetry

Trigger Airflow tests
  kedro-airflow/kedro_airflow/__init__.py
Due: run-build-kedro-airflow

Pass the `kedro_init_version` to `ProjectMetadata` (#119)
  kedro-airflow/kedro_airflow/__init__.py
  kedro-airflow/tests/conftest.py
  kedro-docker/kedro_docker/__init__.py
  kedro-telemetry/kedro_telemetry/__init__.py
  kedro-telemetry/tests/test_masking.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow

Split tests and add filepath to warning
  kedro-datasets/kedro_datasets/spark/spark_dataset.py
  kedro-datasets/tests/spark/test_spark_dataset.py
Due: run-build-kedro-datasets=false

Modify f string in logging call
  kedro-datasets/kedro_datasets/spark/spark_dataset.py
Due: run-build-kedro-datasets=false

Fix tests
  kedro-datasets/tests/spark/test_spark_dataset.py
Due: run-build-kedro-datasets=false

Lint
  kedro-datasets/kedro_datasets/spark/spark_dataset.py
Due: run-build-kedro-datasets=false

Keep Kedro-Airflow plugin docstring from appearing in `kedro -h` (#118)
  kedro-airflow/kedro_airflow/plugin.py
Due: run-build-kedro-airflow

Changed to delta-rs native reader
  kedro-datasets/kedro_datasets/spark/deltatable_dataset.py
  kedro-datasets/setup.py
  kedro-datasets/test_requirements.txt
  kedro-datasets/tests/spark/test_deltatable_dataset.py
Due: run-build-kedro-datasets=false

Path conditions:
  run-build-kedro-telemetry: any of: kedro-telemetry/.*
  run-build-kedro-docker: any of: kedro-docker/.*
  run-build-kedro-airflow: any of: kedro-airflow/.*
  run-build-kedro-datasets=false: any of: kedro-datasets/.*
