Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

Updated class description
  kedro-datasets/kedro_datasets/huggingface/hugging_face_dataset.py
Due: run-build-kedro-datasets=false

Fixed tensorflow dataset
  kedro-datasets/tests/tensorflow/test_tensorflow_model_dataset.py
Due: run-build-kedro-datasets=false

Added test_revision_passed
  kedro-datasets/tests/huggingface/test_hugging_face_dataset.py
Due: run-build-kedro-datasets=false

add upperbound and update lowerbounds
  kedro-datasets/pyproject.toml
  kedro-docker/pyproject.toml
  kedro-telemetry/pyproject.toml
Due: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-datasets=false

Updating solution
  kedro-datasets/kedro_datasets/huggingface/hugging_face_dataset.py
  kedro-datasets/tests/huggingface/test_hugging_face_dataset.py
Due: run-build-kedro-datasets=false

Supressed bandit warning
  kedro-datasets/kedro_datasets/huggingface/hugging_face_dataset.py
Due: run-build-kedro-datasets=false

Update pyproject.toml
  kedro-docker/pyproject.toml
Due: run-build-kedro-docker

Updated logging.yml path
  kedro-docker/features/steps/cli_steps.py
Due: run-build-kedro-docker

Commented overriding
  kedro-docker/features/steps/cli_steps.py
Due: run-build-kedro-docker

Removed logging.yml overwriting
  kedro-docker/features/steps/cli_steps.py
Due: run-build-kedro-docker

Returned back telemetry
  kedro-docker/features/steps/cli_steps.py
Due: run-build-kedro-docker

Supressed bandit error
  kedro-datasets/kedro_datasets/huggingface/hugging_face_dataset.py
Due: run-build-kedro-datasets=false

Updated project directory
  kedro-docker/features/steps/cli_steps.py
Due: run-build-kedro-docker

Debug output
  kedro-docker/features/steps/cli_steps.py
Due: run-build-kedro-docker

Removed debug output
  kedro-docker/features/steps/cli_steps.py
Due: run-build-kedro-docker

Moved assert
  kedro-docker/features/steps/cli_steps.py
Due: run-build-kedro-docker

fix(docker): Fix e2e tests (#1134)
  kedro-datasets/kedro_datasets/huggingface/hugging_face_dataset.py
  kedro-docker/features/steps/cli_steps.py
Due: run-build-kedro-docker, run-build-kedro-datasets=false

test(datasets): Fix tests after `__str__` removal (#1124)
  .secrets.baseline
  kedro-datasets/tests/biosequence/test_biosequence_dataset.py
  kedro-datasets/tests/dask/test_csv_dataset.py
  kedro-datasets/tests/dask/test_parquet_dataset.py
  kedro-datasets/tests/email/test_message_dataset.py
  kedro-datasets/tests/geopandas/test_generic_dataset.py
  kedro-datasets/tests/holoviews/test_holoviews_writer.py
  kedro-datasets/tests/ibis/test_file_dataset.py
  kedro-datasets/tests/json/test_json_dataset.py
  kedro-datasets/tests/matlab/test_matlab_dataset.py
  kedro-datasets/tests/matplotlib/test_matplotlib_dataset.py
  kedro-datasets/tests/networkx/test_gml_dataset.py
  kedro-datasets/tests/networkx/test_graphml_dataset.py
  kedro-datasets/tests/networkx/test_json_dataset.py
  kedro-datasets/tests/pandas/test_csv_dataset.py
  kedro-datasets/tests/pandas/test_excel_dataset.py
  kedro-datasets/tests/pandas/test_feather_dataset.py
  kedro-datasets/tests/pandas/test_gbq_dataset.py
  kedro-datasets/tests/pandas/test_generic_dataset.py
  kedro-datasets/tests/pandas/test_hdf_dataset.py
  kedro-datasets/tests/pandas/test_json_dataset.py
  kedro-datasets/tests/pandas/test_parquet_dataset.py
  kedro-datasets/tests/pandas/test_sql_dataset.py
  kedro-datasets/tests/pandas/test_xml_dataset.py
  kedro-datasets/tests/partitions/test_partitioned_dataset.py
  kedro-datasets/tests/pickle/test_pickle_dataset.py
  kedro-datasets/tests/pillow/test_image_dataset.py
  kedro-datasets/tests/plotly/test_json_dataset.py
  kedro-datasets/tests/plotly/test_plotly_dataset.py
  kedro-datasets/tests/polars/test_csv_dataset.py
  kedro-datasets/tests/polars/test_eager_polars_dataset.py
  kedro-datasets/tests/polars/test_lazy_polars_dataset.py
  kedro-datasets/tests/spark/test_memory_dataset.py
  kedro-datasets/tests/spark/test_spark_dataset.py
  kedro-datasets/tests/svmlight/test_svmlight_dataset.py
  kedro-datasets/tests/tensorflow/test_tensorflow_model_dataset.py
  kedro-datasets/tests/text/test_text_dataset.py
  kedro-datasets/tests/yaml/test_yaml_dataset.py
Due: run-build-kedro-datasets=false

Made revision parameter mandatory
  kedro-datasets/kedro_datasets/huggingface/hugging_face_dataset.py
  kedro-datasets/tests/huggingface/test_hugging_face_dataset.py
Due: run-build-kedro-datasets=false

Updated docstring example
  kedro-datasets/kedro_datasets/huggingface/hugging_face_dataset.py
Due: run-build-kedro-datasets=false

Changed the revision
  kedro-datasets/kedro_datasets/huggingface/hugging_face_dataset.py
Due: run-build-kedro-datasets=false

Changed the revision
  kedro-datasets/kedro_datasets/huggingface/hugging_face_dataset.py
  kedro-datasets/tests/huggingface/test_hugging_face_dataset.py
Due: run-build-kedro-datasets=false

Updated test
  kedro-datasets/kedro_datasets/huggingface/hugging_face_dataset.py
  kedro-datasets/tests/huggingface/test_hugging_face_dataset.py
Due: run-build-kedro-datasets=false

fix: fix test
  kedro-datasets/tests/openxml/test_docx_dataset.py
Due: run-build-kedro-datasets=false

docs - fixed docstrings in APIDataset
  kedro-datasets/kedro_datasets/api/api_dataset.py
Due: run-build-kedro-datasets=false

feat(datasets): add docx dataset (#1095)
  kedro-datasets/RELEASE.md
  kedro-datasets/docs/api/kedro_datasets/openxml.DocxDataset.md
  kedro-datasets/docs/index.md
  kedro-datasets/kedro_datasets/openxml/__init__.py
  kedro-datasets/kedro_datasets/openxml/docx_dataset.py
  kedro-datasets/mkdocs.yml
  kedro-datasets/pyproject.toml
  kedro-datasets/tests/openxml/__init__.py
  kedro-datasets/tests/openxml/test_docx_dataset.py
Due: run-build-kedro-datasets=false

Rolling back to the original solution
  kedro-datasets/kedro_datasets/huggingface/hugging_face_dataset.py
  kedro-datasets/tests/huggingface/test_hugging_face_dataset.py
Due: run-build-kedro-datasets=false

Release 8.0.0
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/__init__.py
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

docs: update stable links (#1130)
  kedro-datasets/README.md
  kedro-datasets/mkdocs.yml
Due: run-build-kedro-datasets=false

Update api_dataset.py - removed commas
  kedro-datasets/kedro_datasets/api/api_dataset.py
Due: run-build-kedro-datasets=false

docs: fixed incorrect docstring in APIDataset (#1138)
  kedro-datasets/kedro_datasets/api/api_dataset.py
Due: run-build-kedro-datasets=false

update datasets lower bound
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

airflow upperbound
  kedro-airflow/pyproject.toml
Due: run-build-kedro-airflow

chore: Update Kedro dependency pins in plugins (#1133)
  kedro-airflow/pyproject.toml
  kedro-datasets/pyproject.toml
  kedro-docker/pyproject.toml
  kedro-telemetry/pyproject.toml
Due: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

Revert removal of MatplotlibWriter
  kedro-datasets/RELEASE.md
  kedro-datasets/docs/api/kedro_datasets/matplotlib.MatplotlibWriter.md
  kedro-datasets/docs/index.md
  kedro-datasets/kedro_datasets/matplotlib/__init__.py
  kedro-datasets/kedro_datasets/matplotlib/matplotlib_writer.py
  kedro-datasets/mkdocs.yml
  kedro-datasets/pyproject.toml
  kedro-datasets/tests/matplotlib/test_matplotlib_dataset.py
Due: run-build-kedro-datasets=false

chore(datasets): Revert removal of MatplotlibWriter (#1141)
  kedro-datasets/RELEASE.md
  kedro-datasets/docs/api/kedro_datasets/matplotlib.MatplotlibWriter.md
  kedro-datasets/docs/index.md
  kedro-datasets/kedro_datasets/matplotlib/__init__.py
  kedro-datasets/kedro_datasets/matplotlib/matplotlib_writer.py
  kedro-datasets/mkdocs.yml
  kedro-datasets/pyproject.toml
  kedro-datasets/tests/matplotlib/test_matplotlib_dataset.py
Due: run-build-kedro-datasets=false

add pk for managed table dataset
  kedro-datasets/kedro_datasets/databricks/_base_table_dataset.py
Due: run-build-kedro-datasets=false

Path conditions:
  run-build-kedro-telemetry: any of: kedro-telemetry/.*
  run-build-kedro-docker: any of: kedro-docker/.*
  run-build-kedro-airflow: any of: kedro-airflow/.*
  run-build-kedro-datasets=false: any of: kedro-datasets/.*
