Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

Update spark_dataset_v2.py
  kedro-datasets/kedro_datasets/spark/spark_dataset_v2.py
Due: run-build-kedro-datasets=false

auto convert pandas to spark dataframe
  kedro-datasets/kedro_datasets/spark/spark_dataset_v2.py
  kedro-datasets/tests/spark/test_spark_dataset_v2.py
Due: run-build-kedro-datasets=false

revert conftest
  kedro-datasets/tests/spark/conftest.py
Due: run-build-kedro-datasets=false

lint
  Makefile
  kedro-datasets/kedro_datasets/_utils/databricks_utils.py
  kedro-datasets/kedro_datasets/_utils/spark_utils.py
  kedro-datasets/tests/_utils/test_databricks_util.py
Due: run-build-kedro-datasets=false

add docs and release notes
  kedro-datasets/RELEASE.md
  kedro-datasets/docs/api/kedro_datasets/spark.SparkDatasetV2.md
  kedro-datasets/docs/index.md
  kedro-datasets/kedro_datasets/spark/README.md
  kedro-datasets/mkdocs.yml
Due: run-build-kedro-datasets=false

pin mkdocsstrings 2.0 has breaking changes
  kedro-datasets/mkdocs.yml
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

feat(datasets): SparkDataset Rewrite (#1185)
  kedro-datasets/RELEASE.md
  kedro-datasets/docs/api/kedro_datasets/spark.SparkDatasetV2.md
  kedro-datasets/docs/index.md
  kedro-datasets/kedro_datasets/_utils/databricks_utils.py
  kedro-datasets/kedro_datasets/_utils/spark_utils.py
  kedro-datasets/kedro_datasets/spark/README.md
  kedro-datasets/kedro_datasets/spark/__init__.py
  kedro-datasets/kedro_datasets/spark/spark_dataset_v2.py
  kedro-datasets/mkdocs.yml
  kedro-datasets/pyproject.toml
  kedro-datasets/tests/_utils/test_databricks_util.py
  kedro-datasets/tests/_utils/test_spark_util.py
  kedro-datasets/tests/spark/test_spark_dataset_v2.py
Due: run-build-kedro-datasets=false

Update mkdocs.yml
  kedro-datasets/mkdocs.yml
Due: run-build-kedro-datasets=false

Update pyproject.toml
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

fix(datasets): Update `mkdocs.yml` to support `mkdocstrings-python` 2.0 (#1262)
  kedro-datasets/mkdocs.yml
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Move added dataset to latest release notes section
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

feat(datasets): add experimental chromadb dataset (#1216)
  kedro-datasets/RELEASE.md
  kedro-datasets/docs/api/kedro_datasets_experimental/chromadb.ChromaDBDataset.md
  kedro-datasets/docs/api/kedro_datasets_experimental/index.md
  kedro-datasets/kedro_datasets_experimental/chromadb/__init__.py
  kedro-datasets/kedro_datasets_experimental/chromadb/chromadb_dataset.py
  kedro-datasets/kedro_datasets_experimental/tests/chromadb/__init__.py
  kedro-datasets/kedro_datasets_experimental/tests/chromadb/test_chromadb_dataset.py
  kedro-datasets/mkdocs.yml
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Fix release notes
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

fix: update DeltaTableDataset.py updating the from data catalog metho… (#1202)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/pandas/deltatable_dataset.py
  kedro-datasets/pyproject.toml
  kedro-datasets/tests/pandas/test_deltatable_dataset.py
Due: run-build-kedro-datasets=false

Fix test
  kedro-datasets/tests/plotly/test_json_dataset.py
Due: run-build-kedro-datasets=false

Run CI tests on Python 3.13
  .github/workflows/kedro-airflow.yml
  .github/workflows/kedro-datasets.yml
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Change airflow version on pyproject.toml
  kedro-airflow/pyproject.toml
Due: run-build-kedro-airflow

Typo
  kedro-airflow/pyproject.toml
Due: run-build-kedro-airflow

Invalid syntax
  kedro-airflow/pyproject.toml
Due: run-build-kedro-airflow

Bump airflow version
  kedro-airflow/pyproject.toml
Due: run-build-kedro-airflow

Remove Airflow changes, keep this PR just for Datasets
  .github/workflows/kedro-airflow.yml
  kedro-airflow/pyproject.toml
Due: run-build-kedro-airflow

Update readme/release notes
  kedro-datasets/README.md
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

Bump lxml version to 5
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Bump airflow version
  .github/workflows/kedro-airflow.yml
  kedro-airflow/README.md
  kedro-airflow/RELEASE.md
  kedro-airflow/pyproject.toml
Due: run-build-kedro-airflow

chore(datasets): Add support to Python 3.13 to kedro-datasets (#1263)
  .github/workflows/kedro-datasets.yml
  kedro-datasets/README.md
  kedro-datasets/RELEASE.md
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Update release notes
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/plotly/json_dataset.py
Due: run-build-kedro-datasets=false

fix(datasets): default `plotly.JSONDataset` save encoding to UTF-8 (#1205)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/plotly/json_dataset.py
  kedro-datasets/tests/plotly/test_json_dataset.py
Due: run-build-kedro-datasets=false

Bump version
  kedro-telemetry/RELEASE.md
  kedro-telemetry/kedro_telemetry/__init__.py
Due: run-build-kedro-telemetry

build(telemetry): Release 0.7.0 (#1266)
  kedro-telemetry/RELEASE.md
  kedro-telemetry/kedro_telemetry/__init__.py
Due: run-build-kedro-telemetry

Update opencv
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Update langchain imports
  .github/workflows/kedro-datasets-experimental.yml
  kedro-datasets/kedro_datasets_experimental/README.md
  kedro-datasets/kedro_datasets_experimental/tests/langchain/test_langchain_prompt_dataset.py
Due: run-build-kedro-datasets=false

reqs
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

pyproject
  .github/workflows/kedro-datasets-experimental.yml
Due: none

done
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Bump version
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

Add comment
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

fix(datasets): `nightly-builds` failing (#1268)
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

build(datasets): Release 9.1.0 (#1269)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

See if bumping lxml breaks xmldataset
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Path conditions:
  run-build-kedro-telemetry: any of: kedro-telemetry/.*
  run-build-kedro-docker: any of: kedro-docker/.*
  run-build-kedro-airflow: any of: kedro-airflow/.*
  run-build-kedro-datasets=false: any of: kedro-datasets/.*
