Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

.circleci/config.yml:

version: 2.1

setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            kedro-telemetry/.* run-build-kedro-telemetry true
            kedro-docker/.* run-build-kedro-docker true
            kedro-airflow/.* run-build-kedro-airflow true
            kedro-datasets/.* run-build-kedro-datasets false
          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

fix(airflow): fix the link to correct deployment manual (#697)
  kedro-airflow/README.md
Due: run-build-kedro-airflow

Moved pyproject config name to constant
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

build(airflow): Release 0.9.0 (#698)
  kedro-airflow/RELEASE.md
  kedro-airflow/kedro_airflow/__init__.py
Due: run-build-kedro-airflow

Implemented _get_or_create_project_uuid
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Refactored _get_project_properties
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Fixed tests from hanging
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Fixed _is_known_ci_env
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Fixed test_before_command_run
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Fixed TestKedroTelemetryCLIHooks
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Fixed TestKedroTelemetryProjectHooks
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Fixed writing to pyproject.toml
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Fixed write mock
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Removed debug output
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Refactored _add_tool_properties
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Added debug message when pyproject_path does not exist
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Updated release notes
  kedro-telemetry/RELEASE.md
Due: run-build-kedro-telemetry

bump version
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

Return None as project UUID in case of not generated
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Fixed pre-commit errors
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

build(datasets): Release kedro-datasets 3.0.1 (#704)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

Improve Cohere dataset
  kedro-datasets/kedro_datasets_experimental/langchain/_cohere.py
Due: run-build-kedro-datasets=false

Make credentials consistent + fix openai examples
  kedro-datasets/kedro_datasets_experimental/langchain/_anthropic.py
  kedro-datasets/kedro_datasets_experimental/langchain/_openai.py
Due: run-build-kedro-datasets=false

Turn cohere dataset into chatcohere dataset
  kedro-datasets/kedro_datasets_experimental/langchain/_cohere.py
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Updated the way project UUID is stored
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Clean up cohere dataset
  kedro-datasets/kedro_datasets_experimental/langchain/_cohere.py
Due: run-build-kedro-datasets=false

Update release notes + init
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets_experimental/langchain/__init__.py
Due: run-build-kedro-datasets=false

Update __init__.py
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

Switch to after_command_run hook
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

fix(datasets): add metadata parameter to datasets
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
  kedro-datasets/kedro_datasets/huggingface/hugging_face_dataset.py
  kedro-datasets/kedro_datasets/huggingface/transformer_pipeline_dataset.py
  kedro-datasets/kedro_datasets/ibis/table_dataset.py
  kedro-datasets/kedro_datasets/polars/eager_polars_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_streaming_dataset.py
Due: run-build-kedro-datasets=false

Renamed project_uuid -> project_id
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Check if pyproject file relates to kedro
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Changed debug message as suggested
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Apply suggestions from code review
  kedro-datasets/kedro_datasets_experimental/langchain/_openai.py
Due: run-build-kedro-datasets=false

Add version pins for langchain dependencies
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Update kedro-datasets/kedro_datasets_experimental/langchain/_anthropic.py
  kedro-datasets/kedro_datasets_experimental/langchain/_anthropic.py
Due: run-build-kedro-datasets=false

Try loosen pin on langchain-cohere
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Only pin dependencies of dataset def in pyproject.toml
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Added OSError handling
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry
