Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

.circleci/config.yml:

version: 2.1

setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            kedro-telemetry/.* run-build-kedro-telemetry true
            kedro-docker/.* run-build-kedro-docker true
            kedro-airflow/.* run-build-kedro-airflow true
            kedro-datasets/.* run-build-kedro-datasets false
          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

First pass pandas/GenericDataset
  kedro-datasets/kedro_datasets/pandas/generic_dataset.py
Due: run-build-kedro-datasets=false

First pass pandas/HDFDataset
  kedro-datasets/kedro_datasets/pandas/hdf_dataset.py
Due: run-build-kedro-datasets=false

First pass pandas/JSONDataset
  kedro-datasets/kedro_datasets/pandas/json_dataset.py
Due: run-build-kedro-datasets=false

First pass pandas/ParquetDataset
  kedro-datasets/kedro_datasets/pandas/parquet_dataset.py
Due: run-build-kedro-datasets=false

First pass pandas/SQLDataset
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
Due: run-build-kedro-datasets=false

First pass pandas/XMLDataset
  kedro-datasets/kedro_datasets/pandas/xml_dataset.py
Due: run-build-kedro-datasets=false

Address implicit optional
  kedro-datasets/kedro_datasets/email/message_dataset.py
  kedro-datasets/kedro_datasets/geopandas/geojson_dataset.py
  kedro-datasets/kedro_datasets/holoviews/holoviews_writer.py
  kedro-datasets/kedro_datasets/json/json_dataset.py
  kedro-datasets/kedro_datasets/matlab/matlab_dataset.py
  kedro-datasets/kedro_datasets/matplotlib/matplotlib_writer.py
  kedro-datasets/kedro_datasets/netcdf/netcdf_dataset.py
  kedro-datasets/kedro_datasets/networkx/gml_dataset.py
  kedro-datasets/kedro_datasets/networkx/graphml_dataset.py
  kedro-datasets/kedro_datasets/networkx/json_dataset.py
  kedro-datasets/kedro_datasets/pandas/csv_dataset.py
  kedro-datasets/kedro_datasets/pandas/excel_dataset.py
  kedro-datasets/kedro_datasets/pandas/feather_dataset.py
  kedro-datasets/kedro_datasets/pandas/generic_dataset.py
  kedro-datasets/kedro_datasets/pandas/hdf_dataset.py
  kedro-datasets/kedro_datasets/pandas/json_dataset.py
  kedro-datasets/kedro_datasets/pandas/parquet_dataset.py
  kedro-datasets/kedro_datasets/pandas/xml_dataset.py
  kedro-datasets/kedro_datasets/partitions/incremental_dataset.py
  kedro-datasets/kedro_datasets/partitions/partitioned_dataset.py
  kedro-datasets/kedro_datasets/pickle/pickle_dataset.py
  kedro-datasets/kedro_datasets/pillow/image_dataset.py
  kedro-datasets/kedro_datasets/plotly/json_dataset.py
  kedro-datasets/kedro_datasets/plotly/plotly_dataset.py
  kedro-datasets/kedro_datasets/polars/csv_dataset.py
  kedro-datasets/kedro_datasets/polars/eager_polars_dataset.py
  kedro-datasets/kedro_datasets/polars/lazy_polars_dataset.py
  kedro-datasets/kedro_datasets/snowflake/snowpark_dataset.py
  kedro-datasets/kedro_datasets/spark/deltatable_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_hive_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_jdbc_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_streaming_dataset.py
  kedro-datasets/kedro_datasets/svmlight/svmlight_dataset.py
  kedro-datasets/kedro_datasets/tensorflow/tensorflow_model_dataset.py
  kedro-datasets/kedro_datasets/text/text_dataset.py
  kedro-datasets/kedro_datasets/video/video_dataset.py
  kedro-datasets/kedro_datasets/yaml/yaml_dataset.py
  kedro-docker/kedro_docker/helpers.py
Due: run-build-kedro-docker, run-build-kedro-datasets=false

Rename mentions of Dict to dict
  kedro-datasets/kedro_datasets/polars/eager_polars_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_streaming_dataset.py
Due: run-build-kedro-datasets=false

Update mypy command and move config to pyproject.toml
  Makefile
  kedro-airflow/pyproject.toml
  kedro-docker/pyproject.toml
  kedro-telemetry/pyproject.toml
  mypy.ini
Due: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow

Apply suggestions from code review
  kedro-datasets/CONTRIBUTING.md
Due: run-build-kedro-datasets=false

Use 3.12 gitpod
  .gitpod.yml
Due: none

Move back to top level config
  Makefile
  kedro-airflow/pyproject.toml
  kedro-docker/pyproject.toml
  kedro-telemetry/pyproject.toml
  mypy.ini
Due: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow

Revert to top level config
  Makefile
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
  kedro-datasets/kedro_datasets/pandas/gbq_dataset.py
  kedro-datasets/kedro_datasets/polars/lazy_polars_dataset.py
  kedro-datasets/kedro_datasets/spark/deltatable_dataset.py
  kedro-datasets/pyproject.toml
  mypy.ini
Due: run-build-kedro-datasets=false

revert changes to docker, fix link issue in apidataset
  kedro-datasets/kedro_datasets/api/api_dataset.py
  kedro-datasets/kedro_datasets/netcdf/__init__.py
  kedro-docker/kedro_docker/helpers.py
Due: run-build-kedro-docker, run-build-kedro-datasets=false

fix optional errors
  .github/workflows/lint.yml
  kedro-datasets/kedro_datasets/api/api_dataset.py
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
  kedro-datasets/kedro_datasets/email/message_dataset.py
  kedro-datasets/kedro_datasets/geopandas/geojson_dataset.py
  kedro-datasets/kedro_datasets/ibis/table_dataset.py
  kedro-datasets/kedro_datasets/json/json_dataset.py
  kedro-datasets/kedro_datasets/matlab/matlab_dataset.py
  kedro-datasets/kedro_datasets/matplotlib/matplotlib_writer.py
  kedro-datasets/kedro_datasets/networkx/gml_dataset.py
  kedro-datasets/kedro_datasets/networkx/graphml_dataset.py
  kedro-datasets/kedro_datasets/networkx/json_dataset.py
  kedro-datasets/kedro_datasets/pandas/csv_dataset.py
  kedro-datasets/kedro_datasets/pandas/feather_dataset.py
  kedro-datasets/kedro_datasets/pandas/generic_dataset.py
  kedro-datasets/kedro_datasets/pandas/hdf_dataset.py
  kedro-datasets/kedro_datasets/pandas/json_dataset.py
  kedro-datasets/kedro_datasets/pandas/parquet_dataset.py
  kedro-datasets/kedro_datasets/pandas/xml_dataset.py
  kedro-datasets/kedro_datasets/pickle/pickle_dataset.py
  kedro-datasets/kedro_datasets/pillow/image_dataset.py
  kedro-datasets/kedro_datasets/plotly/json_dataset.py
  kedro-datasets/kedro_datasets/plotly/plotly_dataset.py
  kedro-datasets/kedro_datasets/polars/csv_dataset.py
  kedro-datasets/kedro_datasets/polars/eager_polars_dataset.py
  kedro-datasets/kedro_datasets/polars/lazy_polars_dataset.py
  kedro-datasets/kedro_datasets/snowflake/snowpark_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_dataset.py
  kedro-datasets/kedro_datasets/tensorflow/tensorflow_model_dataset.py
  kedro-datasets/kedro_datasets/text/text_dataset.py
  kedro-datasets/kedro_datasets/yaml/yaml_dataset.py
Due: run-build-kedro-datasets=false

Some more errors
  kedro-datasets/kedro_datasets/api/api_dataset.py
  kedro-datasets/kedro_datasets/biosequence/biosequence_dataset.py
  kedro-datasets/kedro_datasets/dask/parquet_dataset.py
  kedro-datasets/kedro_datasets/email/message_dataset.py
  kedro-datasets/kedro_datasets/geopandas/geojson_dataset.py
  kedro-datasets/kedro_datasets/holoviews/holoviews_writer.py
  kedro-datasets/kedro_datasets/json/json_dataset.py
  kedro-datasets/kedro_datasets/matlab/matlab_dataset.py
  kedro-datasets/kedro_datasets/netcdf/netcdf_dataset.py
  kedro-datasets/kedro_datasets/pandas/excel_dataset.py
  kedro-datasets/kedro_datasets/pandas/hdf_dataset.py
  kedro-datasets/kedro_datasets/pandas/json_dataset.py
  kedro-datasets/kedro_datasets/pandas/parquet_dataset.py
  kedro-datasets/kedro_datasets/pickle/pickle_dataset.py
  kedro-datasets/kedro_datasets/pillow/image_dataset.py
  kedro-datasets/kedro_datasets/plotly/json_dataset.py
  kedro-datasets/kedro_datasets/polars/csv_dataset.py
  kedro-datasets/kedro_datasets/polars/eager_polars_dataset.py
  kedro-datasets/kedro_datasets/polars/lazy_polars_dataset.py
  kedro-datasets/kedro_datasets/redis/redis_dataset.py
  kedro-datasets/kedro_datasets/snowflake/snowpark_dataset.py
  kedro-datasets/kedro_datasets/spark/deltatable_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_hive_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_jdbc_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_streaming_dataset.py
  kedro-datasets/kedro_datasets/svmlight/svmlight_dataset.py
  kedro-datasets/kedro_datasets/video/video_dataset.py
Due: run-build-kedro-datasets=false

try fix unit tests
  kedro-datasets/kedro_datasets/matplotlib/matplotlib_writer.py
  kedro-datasets/kedro_datasets/networkx/gml_dataset.py
  kedro-datasets/kedro_datasets/networkx/graphml_dataset.py
  kedro-datasets/kedro_datasets/networkx/json_dataset.py
  kedro-datasets/kedro_datasets/pandas/csv_dataset.py
  kedro-datasets/kedro_datasets/pandas/feather_dataset.py
  kedro-datasets/kedro_datasets/pandas/generic_dataset.py
Due: run-build-kedro-datasets=false

More errors
  kedro-datasets/kedro_datasets/netcdf/netcdf_dataset.py
  kedro-datasets/kedro_datasets/pandas/csv_dataset.py
  kedro-datasets/kedro_datasets/pandas/deltatable_dataset.py
  kedro-datasets/kedro_datasets/pandas/excel_dataset.py
  kedro-datasets/kedro_datasets/pandas/json_dataset.py
  mypy.ini
Due: run-build-kedro-datasets=false

revert netcdf + fix managedtable & sparksteaming ds
  kedro-datasets/kedro_datasets/__init__.py
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
  kedro-datasets/kedro_datasets/netcdf/netcdf_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_streaming_dataset.py
Due: run-build-kedro-datasets=false

Address review comments
  kedro-datasets/CONTRIBUTING.md
Due: run-build-kedro-datasets=false

Update mention of 'regular' dataset to 'core' dataset
  kedro-datasets/experimental/README.md
Due: run-build-kedro-datasets=false

docs: Add description of experimental and core datasets to contribution guide (#642)
  kedro-datasets/CONTRIBUTING.md
  kedro-datasets/experimental/README.md
Due: run-build-kedro-datasets=false

Make sure experimental datasets are packaged
  kedro-datasets/experimental/__init__.py
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Change starter on docker e2e tests
  kedro-docker/features/docker.feature
  kedro-docker/features/docker_with_spark.feature
Due: run-build-kedro-docker

Rename experimental dir to kedro_datasets_experimental
  kedro-datasets/kedro_datasets_experimental/README.md
  kedro-datasets/kedro_datasets_experimental/__init__.py
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Update .gitpod.yml
  .gitpod.yml
Due: none

change docker image
  kedro-docker/features/steps/cli_steps.py
Due: run-build-kedro-docker

Cleanup
  kedro-docker/features/environment.py
Due: run-build-kedro-docker

Get rid of config for flag
  Makefile
  mypy.ini
Due: none

Update kedro-docker/features/steps/cli_steps.py
  kedro-docker/features/steps/cli_steps.py
Due: run-build-kedro-docker

build(airflow): Add python 3.12 support (#614)
  .github/workflows/kedro-airflow.yml
  kedro-airflow/RELEASE.md
  kedro-airflow/pyproject.toml
Due: run-build-kedro-airflow

add mypy type stubs to test reqs
  kedro-airflow/pyproject.toml
  kedro-telemetry/pyproject.toml
Due: run-build-kedro-telemetry, run-build-kedro-airflow

build(docker): Add Python 3.12 support (#616)
  .github/workflows/kedro-docker.yml
  kedro-docker/RELEASE.md
  kedro-docker/features/environment.py
  kedro-docker/features/steps/cli_steps.py
Due: run-build-kedro-docker

Update telemetry reqs
  kedro-telemetry/pyproject.toml
Due: run-build-kedro-telemetry

chore: Add `mypy` setup to Makefile (#638)
  .github/workflows/lint.yml
  Makefile
  kedro-airflow/kedro_airflow/grouping.py
  kedro-airflow/kedro_airflow/plugin.py
  kedro-airflow/pyproject.toml
  kedro-datasets/pyproject.toml
  kedro-docker/kedro_docker/helpers.py
  kedro-docker/kedro_docker/plugin.py
  kedro-docker/pyproject.toml
  kedro-telemetry/kedro_telemetry/masking.py
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/pyproject.toml
Due: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

Add future import
  kedro-datasets/kedro_datasets/pandas/gbq_dataset.py
Due: run-build-kedro-datasets=false

Update mypy config
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Update automated mypy check
  .github/workflows/lint.yml
  Makefile
Due: none
