Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

.circleci/config.yml:

version: 2.1

setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            kedro-telemetry/.* run-build-kedro-telemetry true
            kedro-docker/.* run-build-kedro-docker true
            kedro-airflow/.* run-build-kedro-airflow true
            kedro-datasets/.* run-build-kedro-datasets false
          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

build(datasets): `numpy` 2 compatibility (#915)
  kedro-datasets/kedro_datasets/networkx/json_dataset.py
  kedro-datasets/pyproject.toml
  kedro-datasets/tests/networkx/test_json_dataset.py
Due: run-build-kedro-datasets=false

Changes to fix bug with table_args & save_args
  kedro-datasets/kedro_datasets/ibis/table_dataset.py
Due: run-build-kedro-datasets=false

fixed the imports of the file based utility funcs
  kedro-datasets/kedro_datasets/spark/deltatable_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_streaming_dataset.py
Due: run-build-kedro-datasets=false

moved the file based utility funcs to databricks_utils
  kedro-datasets/kedro_datasets/_utils/databricks_utils.py
  kedro-datasets/kedro_datasets/_utils/file_utils.py
Due: run-build-kedro-datasets=false

fixed lint issues
  kedro-datasets/kedro_datasets/spark/deltatable_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_streaming_dataset.py
Due: run-build-kedro-datasets=false

fixed the use of _get_spark() in tests
  kedro-datasets/tests/spark/test_deltatable_dataset.py
  kedro-datasets/tests/spark/test_spark_dataset.py
  kedro-datasets/tests/spark/test_spark_jdbc_dataset.py
  kedro-datasets/tests/spark/test_spark_streaming_dataset.py
Due: run-build-kedro-datasets=false

fixed uses of databricks utils in tests
  kedro-datasets/tests/spark/test_spark_dataset.py
Due: run-build-kedro-datasets=false

fixed more tests
  kedro-datasets/tests/spark/test_spark_dataset.py
Due: run-build-kedro-datasets=false

fixed more lint issues
  kedro-datasets/tests/spark/test_spark_dataset.py
Due: run-build-kedro-datasets=false

improved type hints for spark & databricks utility funcs
  kedro-datasets/kedro_datasets/_utils/databricks_utils.py
  kedro-datasets/kedro_datasets/_utils/spark_utils.py
Due: run-build-kedro-datasets=false

further improved type hints for utility funcs
  kedro-datasets/kedro_datasets/_utils/databricks_utils.py
Due: run-build-kedro-datasets=false

fixed more lint issues
  kedro-datasets/kedro_datasets/_utils/databricks_utils.py
  kedro-datasets/kedro_datasets/_utils/spark_utils.py
Due: run-build-kedro-datasets=false

fixed a couple of incorrect type hints
  kedro-datasets/kedro_datasets/_utils/databricks_utils.py
Due: run-build-kedro-datasets=false

fixed several incorrect type hints
  kedro-datasets/kedro_datasets/_utils/databricks_utils.py
  kedro-datasets/kedro_datasets/_utils/spark_utils.py
Due: run-build-kedro-datasets=false

Linting on table_dataset.py
  kedro-datasets/kedro_datasets/ibis/table_dataset.py
Due: run-build-kedro-datasets=false

Add GH action to label community issues automatically
  .github/workflows/label-community-issues.yml
Due: none

build: Add GH action to label community issues automatically (#922)
  .github/workflows/label-community-issues.yml
Due: none

Add wizard gh action to remove label or close info needed issues
  .github/workflows/no-response.yml
Due: none

Update token
  .github/workflows/no-response.yml
Due: none

Update job to run only once a day
  .github/workflows/no-response.yml
Due: none

updated Dockerfile to use uv for dep management
  kedro-docker/kedro_docker/template/Dockerfile.simple
Due: run-build-kedro-docker

added the --system flag to allow installation across the system
  kedro-docker/kedro_docker/template/Dockerfile.simple
  kedro-docker/kedro_docker/template/Dockerfile.spark
Due: run-build-kedro-docker

updated Spark Dockerfile to use uv for dep management
  kedro-docker/kedro_docker/template/Dockerfile.spark
Due: run-build-kedro-docker

build: Add wizard GH action to remove label or close info needed issues (#927)
  .github/workflows/no-response.yml
Due: none

Ran table_dataset through black
  kedro-datasets/kedro_datasets/ibis/table_dataset.py
Due: run-build-kedro-datasets=false

updated the release doc
  kedro-docker/RELEASE.md
Due: run-build-kedro-docker

updated the release notes
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

feat(docker): Updated Dependency Manager for `kedro-docker` to `uv` (#929)
  kedro-docker/RELEASE.md
  kedro-docker/kedro_docker/template/Dockerfile.simple
  kedro-docker/kedro_docker/template/Dockerfile.spark
Due: run-build-kedro-docker

Cleanup release notes with correct headers
  kedro-airflow/RELEASE.md
  kedro-docker/RELEASE.md
  kedro-telemetry/RELEASE.md
Due: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow

style: Cleanup release notes with correct headers (#930)
  kedro-airflow/RELEASE.md
  kedro-docker/RELEASE.md
  kedro-telemetry/RELEASE.md
Due: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow

Reorder release notes
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

feat(datasets): Improved Dependency Management for Spark-based Datasets (#911)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/_utils/__init__.py
  kedro-datasets/kedro_datasets/_utils/databricks_utils.py
  kedro-datasets/kedro_datasets/_utils/spark_utils.py
  kedro-datasets/kedro_datasets/databricks/_base_table_dataset.py
  kedro-datasets/kedro_datasets/spark/deltatable_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_hive_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_jdbc_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_streaming_dataset.py
  kedro-datasets/pyproject.toml
  kedro-datasets/tests/spark/test_deltatable_dataset.py
  kedro-datasets/tests/spark/test_spark_dataset.py
  kedro-datasets/tests/spark/test_spark_jdbc_dataset.py
  kedro-datasets/tests/spark/test_spark_streaming_dataset.py
Due: run-build-kedro-datasets=false

add python3.13 support
  .github/workflows/kedro-airflow.yml
  .github/workflows/kedro-datasets.yml
  .github/workflows/kedro-docker.yml
  .github/workflows/kedro-telemetry.yml
  kedro-airflow/RELEASE.md
  kedro-datasets/RELEASE.md
  kedro-docker/RELEASE.md
  kedro-telemetry/RELEASE.md
Due: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

test kedro python3.13
  .github/workflows/e2e-tests.yml
  .github/workflows/lint.yml
  .github/workflows/unit-tests.yml
Due: none

update kedro installation path
  .github/workflows/e2e-tests.yml
  .github/workflows/lint.yml
  .github/workflows/unit-tests.yml
Due: none

add python3.13 support for kedro-telemetry
  .github/workflows/kedro-telemetry.yml
  kedro-telemetry/RELEASE.md
Due: run-build-kedro-telemetry

add python3.13 support on docker
  .github/workflows/kedro-docker.yml
  kedro-docker/RELEASE.md
Due: run-build-kedro-docker
