Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

.circleci/config.yml:

version: 2.1

setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            kedro-telemetry/.* run-build-kedro-telemetry true
            kedro-docker/.* run-build-kedro-docker true
            kedro-airflow/.* run-build-kedro-airflow true
            kedro-datasets/.* run-build-kedro-datasets false
          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

Added skill file
  .agents/skills/kedro-plugins-security-review/SKILL.md
Due: none

Added post script
  .agents/scripts/post_github_review.sh
Due: none

Fixed script moved from kedro repo
  .agents/scripts/post_github_review.sh
  .agents/skills/kedro-plugins-security-review/SKILL.md
  .agents/skills/kedro-plugins-security-review/reference.md
  .agents/skills/kedro-plugins-security-review/rules/kedro-plugins-security-patterns.yml
Due: none

Changed target to datasets only
  .agents/skills/kedro-plugins-security-review/SKILL.md
Due: none

Updated rule
  .agents/skills/kedro-plugins-security-review/rules/kedro-plugins-security-patterns.yml
Due: none

Extended custom rules
  .agents/skills/kedro-plugins-security-review/reference.md
  .agents/skills/kedro-plugins-security-review/rules/kedro-plugins-security-patterns.yml
Due: none

Fixed mlrun dataset
  kedro-datasets/kedro_datasets_experimental/mlrun/model.py
  kedro-datasets/kedro_datasets_experimental/mlrun/result.py
Due: run-build-kedro-datasets=false

Updated release notes
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

Set default as save_mode
  kedro-datasets/kedro_datasets/tensorflow/tensorflow_model_dataset.py
Due: run-build-kedro-datasets=false

Updated unit tests
  kedro-datasets/tests/tensorflow/test_tensorflow_model_dataset.py
Due: run-build-kedro-datasets=false

Fix spelling of 'doesn't'.
  kedro-airflow/features/environment.py
Due: run-build-kedro-airflow

fix: spelling of 'doesn't'. (#1449)
  kedro-airflow/features/environment.py
Due: run-build-kedro-airflow

Added nosec justifications
  kedro-datasets/kedro_datasets/databricks/_base_table_dataset.py
  kedro-datasets/kedro_datasets/huggingface/_base.py
  kedro-datasets/kedro_datasets/huggingface/hugging_face_dataset.py
  kedro-datasets/kedro_datasets/pandas/gbq_dataset.py
  kedro-datasets/kedro_datasets_experimental/polars/polars_database_dataset.py
Due: run-build-kedro-datasets=false

Update release note
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

Remove comments
  kedro-datasets/kedro_datasets_experimental/tests/vectorstore_base/test_vectorstore_base.py
Due: run-build-kedro-datasets=false

Added risk warnings
  kedro-datasets/kedro_datasets/geopandas/generic_dataset.py
  kedro-datasets/kedro_datasets/matlab/matlab_dataset.py
  kedro-datasets/kedro_datasets/pandas/generic_dataset.py
  kedro-datasets/kedro_datasets/pickle/pickle_dataset.py
  kedro-datasets/kedro_datasets/redis/redis_dataset.py
  kedro-datasets/kedro_datasets_experimental/darts/darts_torch_model_dataset.py
Due: run-build-kedro-datasets=false

Fix nested property unwrapping
  kedro-datasets/kedro_datasets_experimental/tests/weaviate/test_weaviate_vector_store_dataset.py
  kedro-datasets/kedro_datasets_experimental/weaviate/weaviate_vector_store_dataset.py
Due: run-build-kedro-datasets=false

Fixed warnings rendering issues
  kedro-datasets/kedro_datasets/geopandas/generic_dataset.py
  kedro-datasets/kedro_datasets/matlab/matlab_dataset.py
  kedro-datasets/kedro_datasets/pandas/generic_dataset.py
  kedro-datasets/kedro_datasets/pickle/pickle_dataset.py
  kedro-datasets/kedro_datasets/redis/redis_dataset.py
  kedro-datasets/kedro_datasets_experimental/darts/darts_torch_model_dataset.py
Due: run-build-kedro-datasets=false

Updated format
  kedro-datasets/kedro_datasets/geopandas/generic_dataset.py
  kedro-datasets/kedro_datasets/matlab/matlab_dataset.py
  kedro-datasets/kedro_datasets/pandas/generic_dataset.py
  kedro-datasets/kedro_datasets/pickle/pickle_dataset.py
  kedro-datasets/kedro_datasets/redis/redis_dataset.py
  kedro-datasets/kedro_datasets_experimental/darts/darts_torch_model_dataset.py
  kedro-datasets/kedro_datasets_experimental/pytorch/pytorch_dataset.py
Due: run-build-kedro-datasets=false

Fixed warning rendering issue
  kedro-datasets/kedro_datasets_experimental/mlrun/model.py
Due: run-build-kedro-datasets=false

Fixed warning rendering issue
  kedro-datasets/kedro_datasets/tensorflow/tensorflow_model_dataset.py
Due: run-build-kedro-datasets=false

Removed stale todo
  kedro-datasets/kedro_datasets/huggingface/hugging_face_dataset.py
Due: run-build-kedro-datasets=false

fix(datasets): Document undocumented `# nosec` suppressions (#1450)
  kedro-datasets/kedro_datasets/databricks/_base_table_dataset.py
  kedro-datasets/kedro_datasets/huggingface/_base.py
  kedro-datasets/kedro_datasets/huggingface/hugging_face_dataset.py
  kedro-datasets/kedro_datasets/pandas/gbq_dataset.py
  kedro-datasets/kedro_datasets_experimental/polars/polars_database_dataset.py
Due: run-build-kedro-datasets=false

Revert "fix(datasets): Document undocumented `# nosec` suppressions (#1450)"
  kedro-datasets/kedro_datasets/databricks/_base_table_dataset.py
  kedro-datasets/kedro_datasets/huggingface/_base.py
  kedro-datasets/kedro_datasets/huggingface/hugging_face_dataset.py
  kedro-datasets/kedro_datasets/pandas/gbq_dataset.py
  kedro-datasets/kedro_datasets_experimental/polars/polars_database_dataset.py
Due: run-build-kedro-datasets=false

fix(datasets): Revert document undocumented `# nosec` suppressions (#1452)
  kedro-datasets/kedro_datasets/databricks/_base_table_dataset.py
  kedro-datasets/kedro_datasets/huggingface/_base.py
  kedro-datasets/kedro_datasets/huggingface/hugging_face_dataset.py
  kedro-datasets/kedro_datasets/pandas/gbq_dataset.py
  kedro-datasets/kedro_datasets_experimental/polars/polars_database_dataset.py
Due: run-build-kedro-datasets=false

feat(datasets): Add security review skill for dataset code scanning (#1446)
  .agents/scripts/post_github_review.sh
  .agents/skills/kedro-plugins-security-review/SKILL.md
  .agents/skills/kedro-plugins-security-review/reference.md
  .agents/skills/kedro-plugins-security-review/rules/kedro-plugins-security-patterns.yml
Due: none

fix(datasets): Add untrusted-file warnings to dataset docstrings (#1451)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/geopandas/generic_dataset.py
  kedro-datasets/kedro_datasets/matlab/matlab_dataset.py
  kedro-datasets/kedro_datasets/pandas/generic_dataset.py
  kedro-datasets/kedro_datasets/pickle/pickle_dataset.py
  kedro-datasets/kedro_datasets/redis/redis_dataset.py
  kedro-datasets/kedro_datasets_experimental/darts/darts_torch_model_dataset.py
  kedro-datasets/kedro_datasets_experimental/pytorch/pytorch_dataset.py
Due: run-build-kedro-datasets=false

fix(datasets): Document undocumented `# nosec` suppressions (#1453)
  kedro-datasets/kedro_datasets/databricks/_base_table_dataset.py
  kedro-datasets/kedro_datasets/huggingface/_base.py
  kedro-datasets/kedro_datasets/huggingface/hugging_face_dataset.py
  kedro-datasets/kedro_datasets/pandas/gbq_dataset.py
  kedro-datasets/kedro_datasets_experimental/polars/polars_database_dataset.py
Due: run-build-kedro-datasets=false

Change dataset name on pyproject.toml to shorter version
  kedro-datasets/kedro_datasets_experimental/weaviate/weaviate_vector_store_dataset.py
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

fix(datasets): Default `safe_mode=True` in `TensorFlowModelDataset` (#1448)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/tensorflow/tensorflow_model_dataset.py
  kedro-datasets/tests/tensorflow/test_tensorflow_model_dataset.py
Due: run-build-kedro-datasets=false

fix(datasets): Fix silent `load_args` drop in `MLRunModel` and `MLRunResult` (#1447)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets_experimental/mlrun/model.py
  kedro-datasets/kedro_datasets_experimental/mlrun/result.py
Due: run-build-kedro-datasets=false

Improve docstrings/more information
  kedro-datasets/kedro_datasets_experimental/weaviate/weaviate_vector_store_dataset.py
Due: run-build-kedro-datasets=false

Account for QUERY_MAXIMUM_RESULTS
  kedro-datasets/kedro_datasets_experimental/tests/weaviate/test_weaviate_vector_store_dataset.py
  kedro-datasets/kedro_datasets_experimental/weaviate/weaviate_vector_store_dataset.py
Due: run-build-kedro-datasets=false

Remove leftover task breakdown comments
  kedro-datasets/kedro_datasets_experimental/tests/weaviate/test_weaviate_vector_store_dataset.py
Due: run-build-kedro-datasets=false

Add delete_batch_size to describe, fix bug
  kedro-datasets/kedro_datasets_experimental/tests/weaviate/test_weaviate_vector_store_dataset.py
  kedro-datasets/kedro_datasets_experimental/weaviate/weaviate_vector_store_dataset.py
Due: run-build-kedro-datasets=false

feat(datasets): Add WeaviateVectorStoreDataset (#1444)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets_experimental/tests/weaviate/__init__.py
  kedro-datasets/kedro_datasets_experimental/tests/weaviate/test_weaviate_vector_store_dataset.py
  kedro-datasets/kedro_datasets_experimental/weaviate/__init__.py
  kedro-datasets/kedro_datasets_experimental/weaviate/weaviate_vector_store_dataset.py
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

feat(datasets): Add VectorStore abstractions (#1430)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets_experimental/tests/vectorstore_base/__init__.py
  kedro-datasets/kedro_datasets_experimental/tests/vectorstore_base/test_vectorstore_base.py
  kedro-datasets/kedro_datasets_experimental/tests/weaviate/__init__.py
  kedro-datasets/kedro_datasets_experimental/tests/weaviate/test_weaviate_vector_store_dataset.py
  kedro-datasets/kedro_datasets_experimental/vectorstore_base/__init__.py
  kedro-datasets/kedro_datasets_experimental/vectorstore_base/abstract_vector_store_dataset.py
  kedro-datasets/kedro_datasets_experimental/vectorstore_base/vector_store_handle.py
  kedro-datasets/kedro_datasets_experimental/weaviate/__init__.py
  kedro-datasets/kedro_datasets_experimental/weaviate/weaviate_vector_store_dataset.py
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false
