Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

secret fix
  kedro-datasets/kedro_datasets_experimental/tests/opik/test_evaluation_dataset.py
  kedro-datasets/kedro_datasets_experimental/tests/opik/test_prompt_dataset.py
Due: run-build-kedro-datasets=false

lint
  kedro-datasets/kedro_datasets_experimental/opik/_common.py
  kedro-datasets/kedro_datasets_experimental/tests/opik/test_evaluation_dataset.py
  kedro-datasets/kedro_datasets_experimental/tests/opik/test_prompt_dataset.py
Due: run-build-kedro-datasets=false

lint
  kedro-datasets/kedro_datasets_experimental/opik/_common.py
  kedro-datasets/kedro_datasets_experimental/tests/opik/test_prompt_dataset.py
Due: run-build-kedro-datasets=false

docs: add community contribution entry to upcoming release section
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

Use --pipelines flag correctly
  kedro-airflow/README.md
  kedro-airflow/kedro_airflow/plugin.py
  kedro-airflow/tests/test_plugin.py
Due: run-build-kedro-airflow

Add python 3.14 to badge
  kedro-airflow/README.md
Due: run-build-kedro-airflow

chore: re-trigger CI for transient network failure
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/api/api_dataset.py
  kedro-datasets/tests/api/test_api_dataset.py
  kedro-datasets/tests/api/test_api_dataset_send_individually.py
Due: run-build-kedro-datasets=false

Apply suggestions from review
  kedro-airflow/kedro_airflow/airflow_dag_template.j2
  kedro-airflow/tests/test_plugin.py
Due: run-build-kedro-airflow

Lint
  kedro-airflow/tests/test_plugin.py
Due: run-build-kedro-airflow

docs(benchmarks): add readme and clarify measurement scope
  kedro-datasets/kedro_datasets_benchmarks/README.md
  kedro-datasets/kedro_datasets_benchmarks/benchmark_partitioned_dataset.py
Due: run-build-kedro-datasets=false

chore(benchmarks): add trailing newline to README
  kedro-datasets/kedro_datasets_benchmarks/README.md
Due: run-build-kedro-datasets=false

Skip network doctest in HFTransformerPipelineDataset to fix nightly failures
  kedro-datasets/kedro_datasets/huggingface/transformer_pipeline_dataset.py
Due: run-build-kedro-datasets=false

fix(datasets): Explicitly convert paths to str in ibis.FileDataset (#1380)
  kedro-datasets/kedro_datasets/ibis/file_dataset.py
  kedro-datasets/tests/ibis/test_file_dataset.py
Due: run-build-kedro-datasets=false

forward project name
  kedro-datasets/kedro_datasets_experimental/opik/trace_dataset.py
  kedro-datasets/kedro_datasets_experimental/tests/opik/test_trace_dataset.py
Due: run-build-kedro-datasets=false

add os.Pathlike support for spark datasets
  kedro-datasets/kedro_datasets/spark/deltatable_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_streaming_dataset.py
Due: run-build-kedro-datasets=false

add test for os.Pathlike filepath
  kedro-datasets/kedro_datasets/spark/spark_dataset.py
  kedro-datasets/tests/spark/test_deltatable_dataset.py
  kedro-datasets/tests/spark/test_spark_dataset.py
  kedro-datasets/tests/spark/test_spark_streaming_dataset.py
Due: run-build-kedro-datasets=false

fix(api): apply reviewer suggestions for empty lists and test assertions
  kedro-datasets/kedro_datasets/api/api_dataset.py
  kedro-datasets/tests/api/test_api_dataset.py
Due: run-build-kedro-datasets=false

Skip doc tests in the Makefile
  Makefile
  kedro-datasets/kedro_datasets/huggingface/transformer_pipeline_dataset.py
Due: run-build-kedro-datasets=false

Test commit due to Github API issue
  Makefile
Due: none

fix(datasets): correct darts extra to u8darts[all] to close dependency-confusion gap
  kedro-datasets/RELEASE.md
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Update release note
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

docs: clarify build_opik_client_kwargs is not used by TraceDataset
  kedro-datasets/kedro_datasets_experimental/opik/_common.py
Due: run-build-kedro-datasets=false

fix(datasets): support delta file_format in EagerPolarsDataset
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/polars/eager_polars_dataset.py
  kedro-datasets/tests/polars/test_eager_polars_dataset.py
Due: run-build-kedro-datasets=false

Update kedro-airflow/README.md
  kedro-airflow/README.md
Due: run-build-kedro-airflow

pin opik >= 1.11
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets_experimental/opik/trace_dataset.py
  kedro-datasets/kedro_datasets_experimental/tests/opik/test_trace_dataset.py
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Update trace_dataset.py
  kedro-datasets/kedro_datasets_experimental/opik/trace_dataset.py
Due: run-build-kedro-datasets=false

feat(datasets): add send_individually option (#1398)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/api/api_dataset.py
  kedro-datasets/tests/api/test_api_dataset.py
Due: run-build-kedro-datasets=false

re-add warning
  kedro-datasets/kedro_datasets_experimental/opik/trace_dataset.py
  kedro-datasets/kedro_datasets_experimental/tests/opik/test_trace_dataset.py
Due: run-build-kedro-datasets=false

perf: add PartitionedDataset.load benchmarks (#1399)
  kedro-datasets/.gitignore
  kedro-datasets/RELEASE.md
  kedro-datasets/asv.conf.json
  kedro-datasets/kedro_datasets_benchmarks/README.md
  kedro-datasets/kedro_datasets_benchmarks/__init__.py
  kedro-datasets/kedro_datasets_benchmarks/benchmark_partitioned_dataset.py
Due: run-build-kedro-datasets=false

Update kedro-airflow/kedro_airflow/airflow_dag_template.j2
  kedro-airflow/kedro_airflow/airflow_dag_template.j2
Due: run-build-kedro-airflow

Avoid deprecation warning
  .pre-commit-config.yaml
Due: none

Avoid deprecation warning
  kedro-airflow/kedro_airflow/airflow_dag_template.j2
Due: run-build-kedro-airflow

feat(airflow): Migrate kedro-airflow DAG template to Airflow 3.x (#1395)
  .github/workflows/kedro-airflow.yml
  .pre-commit-config.yaml
  kedro-airflow/README.md
  kedro-airflow/RELEASE.md
  kedro-airflow/kedro_airflow/airflow_dag_template.j2
  kedro-airflow/kedro_airflow/plugin.py
  kedro-airflow/pyproject.toml
  kedro-airflow/tests/test_plugin.py
Due: run-build-kedro-airflow

Update pyproject.toml
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

fix(datasets): pin `scipy>=1.16` on Python 3.14 in experimental_test extra (#1427)
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

fix(datasets): Conform OpikDatasets to Tolerate extra credentials (#1416)
  kedro-datasets/kedro_datasets_experimental/opik/_common.py
  kedro-datasets/kedro_datasets_experimental/opik/evaluation_dataset.py
  kedro-datasets/kedro_datasets_experimental/opik/prompt_dataset.py
  kedro-datasets/kedro_datasets_experimental/tests/opik/test_evaluation_dataset.py
  kedro-datasets/kedro_datasets_experimental/tests/opik/test_prompt_dataset.py
Due: run-build-kedro-datasets=false

fix(datasets): Forward project_name in Opik langchain-mode tracer (#1422)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets_experimental/opik/trace_dataset.py
  kedro-datasets/kedro_datasets_experimental/tests/opik/test_trace_dataset.py
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

remove duplicate bug fixes text
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

fix(datasets): make PolarsDatabaseDataset usable end-to-end (#1400)
  kedro-datasets/RELEASE.md
  kedro-datasets/docs/api/kedro_datasets_experimental/index.md
  kedro-datasets/kedro_datasets_experimental/polars/polars_database_dataset.py
  kedro-datasets/kedro_datasets_experimental/tests/polars/__init__.py
  kedro-datasets/kedro_datasets_experimental/tests/polars/test_polars_database_dataset.py
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Path conditions:
  run-build-kedro-telemetry: any of: kedro-telemetry/.*
  run-build-kedro-docker: any of: kedro-docker/.*
  run-build-kedro-airflow: any of: kedro-airflow/.*
  run-build-kedro-datasets=false: any of: kedro-datasets/.*
