Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

chore(datasets): ignore almost everything, isolate
  Makefile
Due: none

test(datasets): update moto/aiobotocore test patch
  kedro-datasets/tests/conftest.py
Due: run-build-kedro-datasets=false

chore(datasets): remove old upper bound on `gcsfs`
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

chore(datasets): add release note, and standardize
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

chore(datasets): make release note wording natural
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

test(datasets): don't try pandas 3.x with Dask yet
  Makefile
  kedro-datasets/tests/dask/__init__.py
  kedro-datasets/tests/spark/test_spark_hive_dataset.py
Due: run-build-kedro-datasets=false

chore(datasets): don't check coverage against Dask
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

chore(datasets): import pytestmark into Dask tests
  .secrets.baseline
  kedro-datasets/tests/dask/test_csv_dataset.py
  kedro-datasets/tests/dask/test_parquet_dataset.py
Due: run-build-kedro-datasets=false

feat(datasets): relax all `gcsfs` upper-bound pins
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

chore(datasets): add pandas 3.0 compatibility note
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

test(datasets): update moto/aiobotocore test patch (#1312)
  kedro-datasets/RELEASE.md
  kedro-datasets/pyproject.toml
  kedro-datasets/tests/conftest.py
Due: run-build-kedro-datasets=false

build(datasets): update list of extras for Ibis 12 (#1311)
  kedro-datasets/RELEASE.md
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Try bump api version
  kedro-docker/features/steps/util.py
Due: run-build-kedro-docker

Try fix docker jupyter lab run by passing token
  kedro-docker/features/docker.feature
  kedro-docker/features/steps/cli_steps.py
Due: run-build-kedro-docker

Update url & string check
  kedro-docker/features/steps/cli_steps.py
Due: run-build-kedro-docker

Try increase timeout
  kedro-docker/features/steps/cli_steps.py
Due: run-build-kedro-docker

Lower timeout
  kedro-docker/features/steps/cli_steps.py
Due: run-build-kedro-docker

Pass token from test
  kedro-docker/features/docker.feature
  kedro-docker/features/steps/cli_steps.py
Due: run-build-kedro-docker

build(docker): Fix docker build, newer API (#1318)
  kedro-docker/features/docker.feature
  kedro-docker/features/steps/cli_steps.py
  kedro-docker/features/steps/util.py
Due: run-build-kedro-docker

Fix ManagedTableDataset [CONFIG_NOT_AVAILABLE] on Databricks
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/databricks/_base_table_dataset.py
Due: run-build-kedro-datasets=false

Lint
  kedro-datasets/kedro_datasets/databricks/_base_table_dataset.py
Due: run-build-kedro-datasets=false

Lock delta-spark version to prevent NoSuchMethodError
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Remove duplication of self._table.full_table_location() calls
  kedro-datasets/kedro_datasets/databricks/_base_table_dataset.py
Due: run-build-kedro-datasets=false

Pin delta-spark upper bound to 4.1
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

update docstring for dask to point out filepath
  kedro-datasets/kedro_datasets/dask/csv_dataset.py
  kedro-datasets/kedro_datasets/dask/parquet_dataset.py
Due: run-build-kedro-datasets=false

feat(datasets): add os.PathLike support for Text, JSON, YAML and Pickle datasets
  kedro-datasets/kedro_datasets/json/json_dataset.py
  kedro-datasets/kedro_datasets/pickle/pickle_dataset.py
  kedro-datasets/kedro_datasets/text/text_dataset.py
  kedro-datasets/kedro_datasets/yaml/yaml_dataset.py
  kedro-datasets/tests/json/test_json_dataset.py
  kedro-datasets/tests/pickle/test_pickle_dataset.py
  kedro-datasets/tests/text/test_text_dataset.py
  kedro-datasets/tests/yaml/test_yaml_dataset.py
Due: run-build-kedro-datasets=false

changed str in str | os.pathlike
  kedro-datasets/kedro_datasets/json/json_dataset.py
Due: run-build-kedro-datasets=false

Geopandas dataset filepath type update
  kedro-datasets/kedro_datasets/geopandas/generic_dataset.py
Due: run-build-kedro-datasets=false

fix(datasets): Pin delta-spark upper bound to 4.1 (#1325)
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

fix(datasets): add str | os.PathLike for filepath in polars datasets
  kedro-datasets/kedro_datasets/polars/csv_dataset.py
  kedro-datasets/kedro_datasets/polars/eager_polars_dataset.py
  kedro-datasets/kedro_datasets/polars/lazy_polars_dataset.py
Due: run-build-kedro-datasets=false

Fix/improve OpenXML docx and pptx datasets (OSS-1317)
  kedro-datasets/kedro_datasets/openxml/docx_dataset.py
  kedro-datasets/kedro_datasets/openxml/pptx_dataset.py
Due: run-build-kedro-datasets=false

added DCO
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

feat(datasets): add os.PathLike support for Text, JSON, YAML and Pickle datasets (#1324)
  kedro-datasets/kedro_datasets/json/json_dataset.py
  kedro-datasets/kedro_datasets/pickle/pickle_dataset.py
  kedro-datasets/kedro_datasets/text/text_dataset.py
  kedro-datasets/kedro_datasets/yaml/yaml_dataset.py
  kedro-datasets/tests/json/test_json_dataset.py
  kedro-datasets/tests/pickle/test_pickle_dataset.py
  kedro-datasets/tests/text/test_text_dataset.py
  kedro-datasets/tests/yaml/test_yaml_dataset.py
Due: run-build-kedro-datasets=false

add import os library for datasets
  kedro-datasets/kedro_datasets/dask/csv_dataset.py
  kedro-datasets/kedro_datasets/dask/parquet_dataset.py
Due: run-build-kedro-datasets=false

Revert "fix(datasets): add os import to support os.PathLike objects in geopandas"
  kedro-datasets/kedro_datasets/json/json_dataset.py
  kedro-datasets/kedro_datasets/pickle/pickle_dataset.py
  kedro-datasets/kedro_datasets/text/text_dataset.py
  kedro-datasets/kedro_datasets/yaml/yaml_dataset.py
  kedro-datasets/pyproject.toml
  kedro-datasets/tests/json/test_json_dataset.py
  kedro-datasets/tests/pickle/test_pickle_dataset.py
  kedro-datasets/tests/text/test_text_dataset.py
  kedro-datasets/tests/yaml/test_yaml_dataset.py
Due: run-build-kedro-datasets=false

chore: Fix/improve OpenXML docx and pptx datasets (OSS-1317) (#1331)
  kedro-datasets/kedro_datasets/openxml/docx_dataset.py
  kedro-datasets/kedro_datasets/openxml/pptx_dataset.py
Due: run-build-kedro-datasets=false

Geopandas dataset filepath os library imported
  kedro-datasets/kedro_datasets/geopandas/generic_dataset.py
Due: run-build-kedro-datasets=false

Path conditions:
  run-build-kedro-telemetry: any of: kedro-telemetry/.*
  run-build-kedro-docker: any of: kedro-docker/.*
  run-build-kedro-airflow: any of: kedro-airflow/.*
  run-build-kedro-datasets=false: any of: kedro-datasets/.*
