Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

Update contribution guide to reflect mkdocs documentation process
  kedro-datasets/CONTRIBUTING.md
Due: run-build-kedro-datasets=false

chore: Remove mentions of doctest since it doesn't work with mkdocs format (#1078)
  kedro-datasets/CONTRIBUTING.md
  kedro-datasets/kedro_datasets/conftest.py
  kedro-datasets/kedro_datasets/huggingface/hugging_face_dataset.py
  kedro-datasets/kedro_datasets/matplotlib/matplotlib_dataset.py
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
  kedro-datasets/kedro_datasets/pillow/image_dataset.py
  kedro-datasets/kedro_datasets/polars/csv_dataset.py
Due: run-build-kedro-datasets=false

Use extended node grouping API
  kedro-airflow/.gitignore
  kedro-airflow/features/steps/util.py
  kedro-airflow/kedro_airflow/airflow_dag_template.j2
  kedro-airflow/kedro_airflow/grouping.py
  kedro-airflow/kedro_airflow/plugin.py
  kedro-airflow/tests/test_node_grouping.py
Due: run-build-kedro-airflow

done
  kedro-datasets/kedro_datasets/_typing.py
  kedro-datasets/kedro_datasets/huggingface/hugging_face_dataset.py
Due: run-build-kedro-datasets=false

done
  kedro-datasets/kedro_datasets/huggingface/hugging_face_dataset.py
Due: run-build-kedro-datasets=false

build(datasets): make Kedro-Datasets 7.0.0 release (#1064)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

feat(datasets): add encoding parameter on SQLQueryDataset
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
Due: run-build-kedro-datasets=false

feat(datasets): add test on the added encoding parameter
  kedro-datasets/tests/pandas/test_sql_dataset.py
Due: run-build-kedro-datasets=false

fix: delete test in error
  kedro-datasets/tests/pandas/test_sql_dataset.py
Due: run-build-kedro-datasets=false

fix(datasets): Fix HFDataset to extend to AbstractDataset instead of AbstractVersionedDataset (#1083)
  kedro-datasets/kedro_datasets/huggingface/hugging_face_dataset.py
Due: run-build-kedro-datasets=false

wip
  kedro-datasets/kedro_datasets/_utils/databricks_utils.py
  kedro-datasets/kedro_datasets/spark/spark_dataset.py
  kedro-datasets/tests/spark/test_spark_dataset.py
Due: run-build-kedro-datasets=false

fix tests, and lint
  kedro-datasets/kedro_datasets/_utils/databricks_utils.py
  kedro-datasets/kedro_datasets/spark/spark_dataset.py
  kedro-datasets/tests/spark/test_gbq_dataset.py
  kedro-datasets/tests/spark/test_spark_dataset.py
Due: run-build-kedro-datasets=false

add secrets
  .secrets.baseline
Due: none

fix lint and tests
  kedro-datasets/tests/spark/test_spark_dataset.py
Due: run-build-kedro-datasets=false

removed func
  kedro-datasets/kedro_datasets/_utils/databricks_utils.py
  kedro-datasets/kedro_datasets/spark/spark_dataset.py
  kedro-datasets/tests/spark/test_spark_dataset.py
Due: run-build-kedro-datasets=false

fix typo
  kedro-datasets/tests/spark/test_spark_dataset.py
Due: run-build-kedro-datasets=false

Change to group_nodes_by func name
  kedro-airflow/kedro_airflow/plugin.py
Due: run-build-kedro-airflow

feat(datasets): Support Unity Catalog Volumes in SparkDataset on Databricks (#1084)
  .secrets.baseline
  kedro-datasets/kedro_datasets/spark/spark_dataset.py
  kedro-datasets/tests/spark/test_gbq_dataset.py
  kedro-datasets/tests/spark/test_spark_dataset.py
Due: run-build-kedro-datasets=false

chore: Update contribution guide to reflect mkdocs documentation process (#1079)
  kedro-datasets/CONTRIBUTING.md
Due: run-build-kedro-datasets=false

added to the docs index
  kedro-datasets/docs/pages/api/kedro_datasets_experimental/index.md
Due: run-build-kedro-datasets=false

fix(LazyPolarsDataset) to support partitioned Parquet writes via PyArrow
  kedro-datasets/kedro_datasets/polars/lazy_polars_dataset.py
Due: run-build-kedro-datasets=false

install pytest-doctest-mkdocstrings and apply doctest
  Makefile
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Fix lint
  Makefile
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Update linkcheck
  Makefile
Due: none

Add pytest-doctest-mkdocstrings to test deps
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Use lychee GH action
  .github/workflows/kedro-datasets.yml
  Makefile
Due: none

Fix command
  .github/workflows/kedro-datasets.yml
Due: none

Fix path
  .github/workflows/kedro-datasets.yml
Due: none

Try change lychee settings
  .github/workflows/kedro-datasets.yml
Due: none

Fix command and temporarily fail build
  .github/workflows/kedro-datasets.yml
  Makefile
Due: none

Fix doctest command
  Makefile
  kedro-datasets/kedro_datasets_experimental/darts/darts_torch_model_dataset.py
Due: run-build-kedro-datasets=false

Debug doctest and ignore fail for links for the time being
  .github/workflows/kedro-datasets.yml
  Makefile
Due: none

fix lint
  Makefile
Due: none

clean up
  Makefile
Due: none

Revert adding doctest, doesn't work with new docs format
  Makefile
Due: none

Clean up makefile
  Makefile
Due: none

add fix md command and fix lint
  .github/workflows/kedro-datasets.yml
  Makefile
  kedro-datasets/docs/index.md
  kedro-datasets/docs/pages/api/kedro_datasets/api.APIDataset.md
  kedro-datasets/docs/pages/api/kedro_datasets/index.md
  kedro-datasets/docs/pages/api/kedro_datasets_experimental/index.md
  kedro-datasets/docs/readme.md
Due: run-build-kedro-datasets=false

Add md linter config
  kedro-datasets/.markdownlint.yaml
Due: run-build-kedro-datasets=false

Path conditions:
  run-build-kedro-telemetry: any of: kedro-telemetry/.*
  run-build-kedro-docker: any of: kedro-docker/.*
  run-build-kedro-airflow: any of: kedro-airflow/.*
  run-build-kedro-datasets=false: any of: kedro-datasets/.*
