Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

.circleci/config.yml:

version: 2.1

setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            kedro-telemetry/.* run-build-kedro-telemetry true
            kedro-docker/.* run-build-kedro-docker true
            kedro-airflow/.* run-build-kedro-airflow true
            kedro-datasets/.* run-build-kedro-datasets false
          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

Break new HF datasets into multiple files, address PR comments.
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/huggingface/__init__.py
  kedro-datasets/kedro_datasets/huggingface/_base.py
  kedro-datasets/kedro_datasets/huggingface/arrow_dataset.py
  kedro-datasets/kedro_datasets/huggingface/csv_dataset.py
  kedro-datasets/kedro_datasets/huggingface/hdf5_dataset.py
  kedro-datasets/kedro_datasets/huggingface/hugging_face_dataset.py
  kedro-datasets/kedro_datasets/huggingface/json_dataset.py
  kedro-datasets/kedro_datasets/huggingface/lance_dataset.py
  kedro-datasets/kedro_datasets/huggingface/parquet_dataset.py
  kedro-datasets/static/jsonschema/kedro-catalog-1.0.0.json
  kedro-datasets/tests/huggingface/conftest.py
  kedro-datasets/tests/huggingface/test_arrow_dataset.py
  kedro-datasets/tests/huggingface/test_csv_dataset.py
  kedro-datasets/tests/huggingface/test_hdf5_dataset.py
  kedro-datasets/tests/huggingface/test_hugging_face_dataset.py
  kedro-datasets/tests/huggingface/test_json_dataset.py
  kedro-datasets/tests/huggingface/test_lance_dataset.py
  kedro-datasets/tests/huggingface/test_parquet_dataset.py
Due: run-build-kedro-datasets=false

Udpate docs.
  kedro-datasets/RELEASE.md
  kedro-datasets/docs/api/kedro_datasets/huggingface.ArrowDataset.md
  kedro-datasets/docs/api/kedro_datasets/huggingface.CSVDataset.md
  kedro-datasets/docs/api/kedro_datasets/huggingface.HDF5Dataset.md
  kedro-datasets/docs/api/kedro_datasets/huggingface.JSONDataset.md
  kedro-datasets/docs/api/kedro_datasets/huggingface.LanceDataset.md
  kedro-datasets/docs/api/kedro_datasets/huggingface.LocalHFDataset.md
  kedro-datasets/docs/api/kedro_datasets/huggingface.ParquetDataset.md
  kedro-datasets/mkdocs.yml
Due: run-build-kedro-datasets=false

Clean up deleted file.
  kedro-datasets/docs/api/kedro_datasets_experimental/opik.OpikEvaluationDataset.md
Due: run-build-kedro-datasets=false

Fix doc references to iterables and data_files loading logic.
  kedro-datasets/kedro_datasets/huggingface/_base.py
  kedro-datasets/kedro_datasets/huggingface/arrow_dataset.py
  kedro-datasets/kedro_datasets/huggingface/csv_dataset.py
  kedro-datasets/kedro_datasets/huggingface/json_dataset.py
  kedro-datasets/kedro_datasets/huggingface/parquet_dataset.py
  kedro-datasets/tests/huggingface/test_filesystem_datasets.py
Due: run-build-kedro-datasets=false

Add documentation and a error check for mispatched data_files and datasetdict key names.
  kedro-datasets/kedro_datasets/huggingface/_base.py
  kedro-datasets/tests/huggingface/test_filesystem_datasets.py
Due: run-build-kedro-datasets=false

Fix doctests.
  kedro-datasets/kedro_datasets/huggingface/csv_dataset.py
  kedro-datasets/kedro_datasets/huggingface/json_dataset.py
  kedro-datasets/kedro_datasets/huggingface/parquet_dataset.py
Due: run-build-kedro-datasets=false

Fix multiple definitions of DatasetLike.
  kedro-datasets/kedro_datasets/huggingface/hugging_face_dataset.py
Due: run-build-kedro-datasets=false

Fix RELEASE.md.
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

Add support for Python 3.14
  .github/workflows/kedro-docker.yml
  kedro-docker/pyproject.toml
Due: run-build-kedro-docker

Change docker base image
  kedro-docker/features/environment.py
  kedro-docker/features/steps/cli_steps.py
Due: run-build-kedro-docker

Silence warning temporarily
  kedro-docker/features/environment.py
Due: run-build-kedro-docker

Remove temp warning
  kedro-docker/features/environment.py
Due: run-build-kedro-docker

fix(datasets): Add top level structure and OpikTraceDataset to Opik datasets README.mb (#1388)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets_experimental/opik/README.md
Due: run-build-kedro-datasets=false

feat(datasets): Add support for Python 3.14 (#1387)
  .github/workflows/kedro-datasets-experimental.yml
  .github/workflows/kedro-datasets.yml
  kedro-datasets/README.md
  kedro-datasets/RELEASE.md
  kedro-datasets/docs/index.md
  kedro-datasets/kedro_datasets/conftest.py
  kedro-datasets/kedro_datasets/geopandas/generic_dataset.py
  kedro-datasets/kedro_datasets/partitions/partitioned_dataset.py
  kedro-datasets/kedro_datasets/tensorflow/tensorflow_model_dataset.py
  kedro-datasets/pyproject.toml
  kedro-datasets/tests/geopandas/test_generic_dataset.py
  kedro-datasets/tests/tensorflow/test_tensorflow_model_dataset.py
Due: run-build-kedro-datasets=false

Release kedro-datasets v9.4.0
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

Add support for Python 3.14
  .github/workflows/kedro-telemetry.yml
  kedro-telemetry/RELEASE.md
Due: run-build-kedro-telemetry

Version on README banner
  kedro-telemetry/README.md
Due: run-build-kedro-telemetry

Release notes and readme
  kedro-docker/README.md
  kedro-docker/RELEASE.md
Due: run-build-kedro-docker

Just for tests
  kedro-docker/RELEASE.md
Due: run-build-kedro-docker

Remove temp warning
  kedro-docker/pyproject.toml
Due: run-build-kedro-docker

fix: exclude .secrets.baseline from CI workflow triggers
  .github/workflows/docs-linkcheck.yml
  .github/workflows/kedro-airflow.yml
  .github/workflows/kedro-datasets.yml
  .github/workflows/kedro-docker.yml
  .github/workflows/kedro-telemetry.yml
Due: none

feat(telemetry): Add support for Python 3.14 (#1391)
  .github/workflows/kedro-telemetry.yml
  kedro-telemetry/README.md
  kedro-telemetry/RELEASE.md
Due: run-build-kedro-telemetry

Fix errors on release notes
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

Add unit test
  kedro-datasets/tests/ibis/test_file_dataset.py
Due: run-build-kedro-datasets=false

Lint
  kedro-datasets/tests/ibis/test_file_dataset.py
Due: run-build-kedro-datasets=false

Add path validation to IncrementalDataset
  kedro-datasets/kedro_datasets/partitions/incremental_dataset.py
  kedro-datasets/tests/partitions/test_incremental_dataset.py
Due: run-build-kedro-datasets=false

Test coverage
  kedro-datasets/tests/partitions/test_incremental_dataset.py
Due: run-build-kedro-datasets=false

Release note
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

Put tests in a class
  kedro-datasets/tests/partitions/test_incremental_dataset.py
Due: run-build-kedro-datasets=false

Fix tests
  kedro-datasets/tests/partitions/test_incremental_dataset.py
Due: run-build-kedro-datasets=false

Fix windows tests issues
  kedro-datasets/kedro_datasets/partitions/incremental_dataset.py
Due: run-build-kedro-datasets=false

Lint
  kedro-datasets/kedro_datasets/partitions/incremental_dataset.py
Due: run-build-kedro-datasets=false

fix: exclude `.secrets.baseline` from CI workflow triggers (#1392)
  .github/workflows/docs-linkcheck.yml
  .github/workflows/kedro-airflow.yml
  .github/workflows/kedro-datasets.yml
  .github/workflows/kedro-docker.yml
  .github/workflows/kedro-telemetry.yml
Due: none

Remove leftover import
  kedro-datasets/kedro_datasets/partitions/incremental_dataset.py
Due: run-build-kedro-datasets=false

Prefix check
  kedro-datasets/kedro_datasets/partitions/incremental_dataset.py
  kedro-datasets/tests/partitions/test_incremental_dataset.py
Due: run-build-kedro-datasets=false

fix(datasets): Add path validation to IncrementalDataset (#1393)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/partitions/incremental_dataset.py
  kedro-datasets/tests/partitions/test_incremental_dataset.py
Due: run-build-kedro-datasets=false

Use kedro-airflow 3
  .github/workflows/kedro-airflow.yml
  kedro-airflow/features/airflow.feature
  kedro-airflow/kedro_airflow/airflow_dag_template.j2
  kedro-airflow/pyproject.toml
  kedro-airflow/tests/test_plugin.py
Due: run-build-kedro-airflow

Bump airflow to 3.2 so it supports python 3.14
  kedro-airflow/features/airflow.feature
  kedro-airflow/pyproject.toml
Due: run-build-kedro-airflow
