Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

.circleci/config.yml:

version: 2.1

setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            kedro-telemetry/.* run-build-kedro-telemetry true
            kedro-docker/.* run-build-kedro-docker true
            kedro-airflow/.* run-build-kedro-airflow true
            kedro-datasets/.* run-build-kedro-datasets false
          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

revert
  kedro-datasets/tests/databricks/conftest.py
Due: run-build-kedro-datasets=false

fix(datasets): Revert the optional dependencies back to setup.py (#310)
  kedro-datasets/pyproject.toml
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

Apply minor changes on CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Set delta version base on delta-spark version
  kedro-datasets/tests/databricks/conftest.py
Due: run-build-kedro-datasets=false

add ruff config in pyproject.toml
  kedro-airflow/pyproject.toml
  kedro-datasets/pyproject.toml
  kedro-docker/pyproject.toml
  kedro-telemetry/pyproject.toml
Due: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

fix whitespace
  kedro-airflow/pyproject.toml
  kedro-datasets/pyproject.toml
  kedro-docker/pyproject.toml
  kedro-telemetry/pyproject.toml
Due: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

Fix telemetry base on ruff lint
  .pre-commit-config.yaml
  kedro-telemetry/kedro_telemetry/masking.py
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

kedro-docker ruff lint
  kedro-docker/kedro_docker/helpers.py
  kedro-docker/kedro_docker/plugin.py
Due: run-build-kedro-docker

Update setup.py
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

open-bound
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

update version
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

update release note
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

scikit pin
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

Update pyproject.toml
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

align with framework setup
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

importlib_metadata backport
  kedro-datasets/tests/databricks/conftest.py
Due: run-build-kedro-datasets=false

add deltalake
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

update holoviews pin
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

build(datasets): Release/kedro datasets 1.5.3 (#312)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

remove miniconda and conda pytables
  .github/workflows/check-plugin.yml
Due: none

add windows test back in running all parallel no spark
  .github/workflows/check-plugin.yml
Due: none

Update check-plugin.yml
  .github/workflows/check-plugin.yml
Due: none

add msbuild and run only windows
  .github/workflows/check-plugin.yml
Due: none

lint
  kedro-datasets/kedro_datasets/spark/spark_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_streaming_dataset.py
  kedro-datasets/tests/databricks/conftest.py
  kedro-datasets/tests/spark/test_deltatable_dataset.py
  kedro-datasets/tests/spark/test_spark_dataset.py
  kedro-datasets/tests/spark/test_spark_streaming_dataset.py
Due: run-build-kedro-datasets=false

Cleanup unneeded write_mode
  kedro-datasets/kedro_datasets/polars/generic_dataset.py
  kedro-datasets/tests/polars/test_generic_dataset.py
Due: run-build-kedro-datasets=false

Simplify data access detection
  kedro-datasets/kedro_datasets/polars/generic_dataset.py
Due: run-build-kedro-datasets=false

lint
  .github/workflows/check-plugin.yml
  kedro-datasets/kedro_datasets/spark/deltatable_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_dataset.py
  kedro-datasets/kedro_datasets/spark/spark_streaming_dataset.py
Due: run-build-kedro-datasets=false

Push code of conduct text block to the top on CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Fix trailing whitespace lint error
  CONTRIBUTING.md
Due: none

Pin airflow version
  kedro-airflow/pyproject.toml
Due: run-build-kedro-airflow

update pandas pin
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

replace semver with packaging
  kedro-datasets/setup.py
  kedro-datasets/tests/spark/test_deltatable_dataset.py
  kedro-datasets/tests/spark/test_spark_dataset.py
  kedro-datasets/tests/spark/test_spark_streaming_dataset.py
Due: run-build-kedro-datasets=false

Add comment
  kedro-airflow/pyproject.toml
Due: run-build-kedro-airflow

lint
  kedro-datasets/tests/spark/test_deltatable_dataset.py
  kedro-datasets/tests/spark/test_spark_dataset.py
  kedro-datasets/tests/spark/test_spark_streaming_dataset.py
Due: run-build-kedro-datasets=false

ci(airflow): Pin apache-airflow version (#314)
  kedro-airflow/pyproject.toml
Due: run-build-kedro-airflow

docs: Add CONTRIBUTING.md file to the Kedro-Plugins repository (#294)
  CONTRIBUTING.md
Due: none
