Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

also skipifs for fixtures
  kedro-datasets/tests/snowflake/test_snowpark_dataset.py
Due: run-build-kedro-datasets=false

echo python version in cicd
  Makefile
Due: none

try with different make rule
  Makefile
Due: none

build: fix paths filter for triggering TSC vote check (#902)
  .github/workflows/check-tsc-vote.yml
Due: none

revert changes to makefile
  Makefile
Due: none

Trying to fix lint
  kedro-datasets/kedro_datasets/polars/lazy_polars_dataset.py
Due: run-build-kedro-datasets=false

skip entire module pytest
  kedro-datasets/pyproject.toml
  kedro-datasets/tests/snowflake/test_snowpark_dataset.py
Due: run-build-kedro-datasets=false

revert local changes
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

make docstrings look nicer
  kedro-datasets/kedro_datasets/snowflake/snowpark_dataset.py
Due: run-build-kedro-datasets=false

improve docstring and remove ignore from dataset-doctest
  Makefile
  kedro-datasets/kedro_datasets/snowflake/snowpark_dataset.py
Due: run-build-kedro-datasets=false

feat: Separated the Lint Dependencies for the Plugins (#901)
  .github/workflows/lint.yml
  Makefile
  kedro-airflow/pyproject.toml
  kedro-datasets/kedro_datasets/polars/lazy_polars_dataset.py
  kedro-datasets/pyproject.toml
  kedro-docker/pyproject.toml
  kedro-telemetry/pyproject.toml
Due: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

add back ignore snowflake for doctesting and remove unexpected additions to pyproject.toml
  Makefile
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

only skip for python 3.12 or higher
  kedro-datasets/tests/snowflake/test_snowpark_dataset.py
Due: run-build-kedro-datasets=false

remove separate pytest skips as we have a module wide one
  kedro-datasets/tests/snowflake/test_snowpark_dataset.py
Due: run-build-kedro-datasets=false

remove test from omit in pytproject.toml
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Bump matplotlib test dependency
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Fix matplotlib test
  kedro-datasets/tests/matplotlib/test_matplotlib_writer.py
Due: run-build-kedro-datasets=false

100 test coverage
  kedro-datasets/kedro_datasets/snowflake/snowpark_dataset.py
  kedro-datasets/tests/snowflake/test_snowpark_dataset.py
Due: run-build-kedro-datasets=false

bump matplotlib to prevent installing test requirements from failing
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

revert matplotlib version bump
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

exclude lines from coverage
  kedro-datasets/pyproject.toml
  kedro-datasets/tests/snowflake/test_snowpark_dataset.py
Due: run-build-kedro-datasets=false

only test python 3.12
  .github/workflows/kedro-datasets.yml
Due: none

omit snowflake testing from python 3.12
  Makefile
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

add python version check
  Makefile
Due: none

fix bug in ignoreopts and add back python versions 3.10 and 3.11 in matrix
  Makefile
  kedro-datasets/pyproject.toml
  kedro-datasets/tests/snowflake/test_snowpark_dataset.py
Due: run-build-kedro-datasets=false

fix bug in ignoreopts and add back python versions 3.10 and 3.11 in matrix
  .github/workflows/kedro-datasets.yml
  Makefile
Due: none

revert requires-python to 3.10
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

build: Bump matplotlib test dependency (#904)
  kedro-datasets/pyproject.toml
  kedro-datasets/tests/matplotlib/test_matplotlib_writer.py
Due: run-build-kedro-datasets=false

feat(datasets): add wrapped dataset to store the response from a POST/PUT request
  kedro-datasets/kedro_datasets/api/api_dataset.py
Due: run-build-kedro-datasets=false

ignore entire folder
  Makefile
Due: none

add back omit for snowflake as python 3.12 is not supported, hence cicd fails on coverage
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

revert makefile to original state
  Makefile
Due: none

remove commented out setters
  kedro-datasets/kedro_datasets/snowflake/snowpark_dataset.py
Due: run-build-kedro-datasets=false

remove commented out fixtures
  kedro-datasets/tests/snowflake/test_snowpark_dataset.py
Due: run-build-kedro-datasets=false

Skip instead of xfail
  Makefile
  kedro-datasets/tests/snowflake/test_snowpark_dataset.py
Due: run-build-kedro-datasets=false

clean up
  Makefile
Due: none

Try skip import
  kedro-datasets/tests/snowflake/test_snowpark_dataset.py
Due: run-build-kedro-datasets=false

Try only import skip
  kedro-datasets/tests/snowflake/test_snowpark_dataset.py
Due: run-build-kedro-datasets=false

Fix lint
  kedro-datasets/tests/snowflake/test_snowpark_dataset.py
Due: run-build-kedro-datasets=false

Path conditions:
  run-build-kedro-telemetry: any of: kedro-telemetry/.*
  run-build-kedro-docker: any of: kedro-docker/.*
  run-build-kedro-airflow: any of: kedro-airflow/.*
  run-build-kedro-datasets=false: any of: kedro-datasets/.*
