Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

.circleci/config.yml:

version: 2.1

setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            kedro-telemetry/.* run-build-kedro-telemetry true
            kedro-docker/.* run-build-kedro-docker true
            kedro-airflow/.* run-build-kedro-airflow true
            kedro-datasets/.* run-build-kedro-datasets false
          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

Fix tests
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Linting
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Bump moto
  kedro-datasets/setup.py
  kedro-datasets/tests/netcdf/test_netcdf_dataset.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry, run-build-kedro-datasets=false

feat(telemetry): Add is_ci_env environment to reported project telemetry (#565)
  kedro-telemetry/RELEASE.md
  kedro-telemetry/kedro_telemetry/plugin.py
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Remove multi tests
  kedro-datasets/tests/netcdf/test_netcdf_dataset.py
Due: run-build-kedro-datasets=false

Remove other tests
  kedro-datasets/tests/netcdf/test_netcdf_dataset.py
Due: run-build-kedro-datasets=false

Change path stuff
  kedro-datasets/kedro_datasets/netcdf/netcdf_dataset.py
  kedro-datasets/tests/netcdf/test_netcdf_dataset.py
Due: run-build-kedro-datasets=false

Update aws
  kedro-datasets/tests/dask/test_parquet_dataset.py
  kedro-datasets/tests/matplotlib/test_matplotlib_writer.py
  kedro-datasets/tests/pandas/test_csv_dataset.py
  kedro-datasets/tests/partitions/test_incremental_dataset.py
  kedro-datasets/tests/partitions/test_partitioned_dataset.py
  kedro-datasets/tests/polars/test_lazy_polars_dataset.py
  kedro-datasets/tests/spark/test_spark_dataset.py
  kedro-datasets/tests/spark/test_spark_streaming_dataset.py
  kedro-datasets/tests/video/test_video_dataset.py
Due: run-build-kedro-datasets=false

chore(datasets): Update setup.py moto dependency (#537)
  kedro-datasets/setup.py
  kedro-datasets/tests/dask/test_parquet_dataset.py
  kedro-datasets/tests/matplotlib/test_matplotlib_writer.py
  kedro-datasets/tests/pandas/test_csv_dataset.py
  kedro-datasets/tests/partitions/test_incremental_dataset.py
  kedro-datasets/tests/partitions/test_partitioned_dataset.py
  kedro-datasets/tests/polars/test_csv_dataset.py
  kedro-datasets/tests/polars/test_lazy_polars_dataset.py
  kedro-datasets/tests/spark/test_spark_dataset.py
  kedro-datasets/tests/spark/test_spark_streaming_dataset.py
  kedro-datasets/tests/video/test_video_dataset.py
Due: run-build-kedro-datasets=false

Uncomment some tests
  kedro-datasets/kedro_datasets/netcdf/netcdf_dataset.py
  kedro-datasets/tests/netcdf/test_netcdf_dataset.py
Due: run-build-kedro-datasets=false

Update RELEASE.md
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

Bump versions kedro-datasets
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

feat(datasets): allow additional parameters for sqlalchemy engine when using sql dataset (#564)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/pandas/sql_dataset.py
  kedro-datasets/tests/pandas/test_sql_dataset.py
Due: run-build-kedro-datasets=false

Update release notes
  kedro-datasets/RELEASE.md
Due: run-build-kedro-datasets=false

Use mock_aws
  kedro-datasets/kedro_datasets/netcdf/netcdf_dataset.py
  kedro-datasets/tests/netcdf/test_netcdf_dataset.py
Due: run-build-kedro-datasets=false

build(datasets): Release `kedro-datasets` 2.1.0 (#575)
  kedro-datasets/RELEASE.md
  kedro-datasets/kedro_datasets/__init__.py
Due: run-build-kedro-datasets=false

Change filepath stuff
  kedro-datasets/kedro_datasets/netcdf/netcdf_dataset.py
Due: run-build-kedro-datasets=false

issue #574
  kedro-datasets/kedro_datasets/huggingface/hugging_face_dataset.py
Due: run-build-kedro-datasets=false

Comment problematic tests
  kedro-datasets/kedro_datasets/netcdf/netcdf_dataset.py
  kedro-datasets/tests/netcdf/test_netcdf_dataset.py
Due: run-build-kedro-datasets=false

Chance to #574 issue
  kedro-datasets/kedro_datasets/huggingface/hugging_face_dataset.py
Due: run-build-kedro-datasets=false

Update test save multi
  kedro-datasets/tests/netcdf/test_netcdf_dataset.py
Due: run-build-kedro-datasets=false

Mark credentials test xfail
  kedro-datasets/tests/netcdf/test_netcdf_dataset.py
Due: run-build-kedro-datasets=false

Skip problematic tests
  kedro-datasets/kedro_datasets/netcdf/netcdf_dataset.py
  kedro-datasets/tests/netcdf/test_netcdf_dataset.py
Due: run-build-kedro-datasets=false

Skip problematic tests and fix failing tests
  kedro-datasets/kedro_datasets/netcdf/netcdf_dataset.py
  kedro-datasets/pyproject.toml
  kedro-datasets/tests/netcdf/test_netcdf_dataset.py
Due: run-build-kedro-datasets=false

Remove comment
  kedro-datasets/kedro_datasets/netcdf/netcdf_dataset.py
Due: run-build-kedro-datasets=false

feat(datasets): Add NetCDFDataSet class (#360)
  kedro-datasets/RELEASE.md
  kedro-datasets/docs/source/api/kedro_datasets.rst
  kedro-datasets/kedro_datasets/netcdf/__init__.py
  kedro-datasets/kedro_datasets/netcdf/netcdf_dataset.py
  kedro-datasets/pyproject.toml
  kedro-datasets/setup.py
  kedro-datasets/tests/netcdf/__init__.py
  kedro-datasets/tests/netcdf/test_netcdf_dataset.py
Due: run-build-kedro-datasets=false

Fix Geotiff dataset docstring
  kedro-datasets/kedro_datasets/xarray/geotiff_dataset.py
Due: run-build-kedro-datasets=false

Bump to next uv version
  .github/workflows/e2e-tests.yml
  .github/workflows/kedro-datasets.yml
  .github/workflows/lint.yml
  .github/workflows/unit-tests.yml
Due: none

Restore pytest invokation
  .github/workflows/unit-tests.yml
Due: none

Improve test coverage
  kedro-datasets/tests/xarray/test_geotiff_dataset.py
Due: run-build-kedro-datasets=false

Fix mssql test
  kedro-datasets/tests/pandas/test_sql_dataset.py
Due: run-build-kedro-datasets=false

Update release notes + lint
  kedro-datasets/RELEASE.md
  kedro-datasets/tests/pandas/test_sql_dataset.py
Due: run-build-kedro-datasets=false

lint tool implementation fixes for the second time
  kedro-airflow/kedro_airflow/plugin.py
  kedro-airflow/tests/conftest.py
  kedro-datasets/kedro_datasets/databricks/managed_table_dataset.py
  kedro-datasets/kedro_datasets/huggingface/transformer_pipeline_dataset.py
  kedro-datasets/kedro_datasets/pandas/gbq_dataset.py
  kedro-datasets/kedro_datasets/partitions/incremental_dataset.py
  kedro-datasets/kedro_datasets/pillow/image_dataset.py
  kedro-datasets/kedro_datasets/tensorflow/tensorflow_model_dataset.py
  kedro-docker/features/steps/cli_steps.py
  kedro-docker/features/steps/util.py
  kedro-docker/kedro_docker/plugin.py
  kedro-telemetry/kedro_telemetry/masking.py
  kedro-telemetry/tests/test_masking.py
Due: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

Bump version
  kedro-telemetry/RELEASE.md
  kedro-telemetry/kedro_telemetry/__init__.py
Due: run-build-kedro-telemetry

build(telemetry): Release 0.3.2 (#588)
  kedro-telemetry/RELEASE.md
  kedro-telemetry/kedro_telemetry/__init__.py
Due: run-build-kedro-telemetry

Update pyproject and release notes
  kedro-datasets/RELEASE.md
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false
