Repository kedro-org/kedro-plugins: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-kedro-telemetry, run-build-kedro-docker, run-build-kedro-airflow, run-build-kedro-datasets=false

.circleci/config.yml:

version: 2.1

setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            kedro-telemetry/.* run-build-kedro-telemetry true
            kedro-docker/.* run-build-kedro-docker true
            kedro-airflow/.* run-build-kedro-airflow true
            kedro-datasets/.* run-build-kedro-datasets false
          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          config-path: .circleci/continue_config.yml

feat(datasets): make `HDFDataset.__init__` keyword only
  kedro-datasets/kedro_datasets/pandas/hdf_dataset.py
Due: run-build-kedro-datasets=false

feat(datasets): make pandas `ParquerDataset.__init__` keyword only
  kedro-datasets/kedro_datasets/pandas/parquet_dataset.py
Due: run-build-kedro-datasets=false

docs(datasets): update doctests for HoloviewsWriter
  kedro-datasets/kedro_datasets/holoviews/holoviews_writer.py
Due: run-build-kedro-datasets=false

Apply suggestions from code review
  kedro-datasets/kedro_datasets/huggingface/transformer_pipeline_dataset.py
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

Add HuggingFace datasets
  kedro-datasets/docs/source/kedro_datasets.rst
  kedro-datasets/kedro_datasets/huggingface/__init__.py
  kedro-datasets/kedro_datasets/huggingface/hugging_face_dataset.py
  kedro-datasets/kedro_datasets/huggingface/transformer_pipeline_dataset.py
  kedro-datasets/setup.py
  kedro-datasets/tests/huggingface/__init__.py
  kedro-datasets/tests/huggingface/conftest.py
  kedro-datasets/tests/huggingface/test_hugging_face_dataset.py
  kedro-datasets/tests/huggingface/test_transformer_pipeline_dataset.py
Due: run-build-kedro-datasets=false

Typo
  kedro-datasets/kedro_datasets/huggingface/__init__.py
Due: run-build-kedro-datasets=false

Fix docstring
  kedro-datasets/kedro_datasets/huggingface/__init__.py
Due: run-build-kedro-datasets=false

Add docstring for HFTransformerPipelineDataset
  kedro-datasets/kedro_datasets/huggingface/transformer_pipeline_dataset.py
Due: run-build-kedro-datasets=false

Use intersphinx for cross references in Hugging Face docstrings
  kedro-datasets/docs/source/conf.py
  kedro-datasets/kedro_datasets/huggingface/transformer_pipeline_dataset.py
Due: run-build-kedro-datasets=false

Add missing test dependencies
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

Add tests for huggingface datasets
  kedro-datasets/tests/huggingface/test_hugging_face_dataset.py
  kedro-datasets/tests/huggingface/test_transformer_pipeline_dataset.py
Due: run-build-kedro-datasets=false

Add docstring for HFDataset
  kedro-datasets/kedro_datasets/huggingface/hugging_face_dataset.py
Due: run-build-kedro-datasets=false

Fix HFDataset.save
  kedro-datasets/kedro_datasets/huggingface/hugging_face_dataset.py
Due: run-build-kedro-datasets=false

Add test for HFDataset.list_datasets
  kedro-datasets/kedro_datasets/huggingface/hugging_face_dataset.py
  kedro-datasets/tests/huggingface/test_hugging_face_dataset.py
Due: run-build-kedro-datasets=false

Use new name
  kedro-datasets/kedro_datasets/huggingface/hugging_face_dataset.py
Due: run-build-kedro-datasets=false

Consolidate imports
  kedro-datasets/kedro_datasets/huggingface/transformer_pipeline_dataset.py
Due: run-build-kedro-datasets=false

feat(datasets): Add Hugging Face datasets (#344)
  kedro-datasets/docs/source/conf.py
  kedro-datasets/docs/source/kedro_datasets.rst
  kedro-datasets/kedro_datasets/huggingface/__init__.py
  kedro-datasets/kedro_datasets/huggingface/hugging_face_dataset.py
  kedro-datasets/kedro_datasets/huggingface/transformer_pipeline_dataset.py
  kedro-datasets/setup.py
  kedro-datasets/tests/huggingface/__init__.py
  kedro-datasets/tests/huggingface/conftest.py
  kedro-datasets/tests/huggingface/test_hugging_face_dataset.py
  kedro-datasets/tests/huggingface/test_transformer_pipeline_dataset.py
Due: run-build-kedro-datasets=false

Add add-on data to heap event
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Move addons logic to _get_project_property
  kedro-telemetry/RELEASE.md
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

Add filename argument to create DAG function
  kedro-airflow/kedro_airflow/plugin.py
Due: run-build-kedro-airflow

Add openai datasets.
  kedro-datasets/kedro_datasets/langchain/__init__.py
  kedro-datasets/kedro_datasets/langchain/openai.py
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

Add anthropic and cohere
  kedro-datasets/kedro_datasets/langchain/__init__.py
  kedro-datasets/kedro_datasets/langchain/anthropic.py
  kedro-datasets/kedro_datasets/langchain/base.py
  kedro-datasets/kedro_datasets/langchain/cohere.py
  kedro-datasets/kedro_datasets/langchain/openai.py
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

Add condition for pyproject.toml
  kedro-telemetry/kedro_telemetry/plugin.py
Due: run-build-kedro-telemetry

test(datasets): fix `dask.ParquetDataset` doctests
  Makefile
  kedro-datasets/kedro_datasets/dask/parquet_dataset.py
Due: run-build-kedro-datasets=false

test(datasets): use `tmp_path` fixture in doctests
  kedro-datasets/kedro_datasets/conftest.py
  kedro-datasets/kedro_datasets/dask/parquet_dataset.py
Due: run-build-kedro-datasets=false

test(datasets): simplify by not passing the schema
  kedro-datasets/kedro_datasets/dask/parquet_dataset.py
Due: run-build-kedro-datasets=false

test(datasets): ignore conftest for doctests cover
  kedro-datasets/pyproject.toml
Due: run-build-kedro-datasets=false

Create MANIFEST.in
  kedro-datasets/MANIFEST.in
Due: run-build-kedro-datasets=false

Fix tests
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

Replace DataSet with Dataset in setup.py
  kedro-datasets/README.md
  kedro-datasets/kedro_datasets/databricks/__init__.py
  kedro-datasets/kedro_datasets/pillow/__init__.py
  kedro-datasets/kedro_datasets/tensorflow/__init__.py
  kedro-datasets/setup.py
Due: run-build-kedro-datasets=false

Try pin kedro to develop
  kedro-airflow/pyproject.toml
Due: run-build-kedro-airflow

try again
  kedro-airflow/pyproject.toml
Due: run-build-kedro-airflow

Update test to use spaceflights instead of pandas-iris
  kedro-airflow/features/steps/cli_steps.py
Due: run-build-kedro-airflow

Update kedro-airflow/pyproject.toml
  kedro-airflow/pyproject.toml
Due: run-build-kedro-airflow

add tools to mock
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry

lint
  kedro-telemetry/tests/test_plugin.py
Due: run-build-kedro-telemetry
